<div class="modal-header bg-inverse">
	<div class="row">
		<div class="col-md-11">
		<table class="col-md-12">
		<tr>
		<td class="col-md-2"><label for="fileNameBox" class="control-label text-white">File Name:</label></td>
		<td class="col-md-10">
			<div class="text-white" ng-if="parentScope.disableRichEditor">{{parentScope.textAttachment.nameFile}}</div>
			<input ng-if="!parentScope.disableRichEditor" type="text" ng-required="true"
			class="form-control" id="fileNameBox" name="fileNameBox" 
			ng-model="parentScope.textAttachment.nameFile" ng-disabled="!parentScope.isTextUpdatable">
		</td>
		</tr>
		</table>
		</div>
		<div class="col-md-1">
			<button class="btn btn-white pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="row">
		<input type="textarea" ui-tinymce="tinymceOptions" ng-model="parentScope.textAttachment.text">
	</div>

</div>