<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div
			class="widget widget-stat widget-stat-right bg-primary text-white">
			<div class="widget-stat-icon">
				<i class="fa fa-calculator"></i>
			</div>
			<div class="widget-stat-info">
				<div class="widget-stat-title">Total Posted IV</div>
				<div class="widget-stat-number">
					<small>{{postedIVAmount | currency}}</small>
				</div>
			</div>
			<div class="widget-stat-progress">
				<div class="progress">
					<div class="progress-bar" style="width: 100%"></div>
				</div>
			</div>
			<div class="widget-stat-footer text-left"></div>
		</div>


	</div>
	<!-- /.col -->

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div
			class="widget widget-stat widget-stat-right bg-primary text-white">
			<div class="widget-stat-icon">
				<i class="fa fa-calculator"></i>
			</div>
			<div class="widget-stat-info">
				<div class="widget-stat-title">Total Cumulative IV</div>
				<div class="widget-stat-number">
					<small>{{cumulativeIVAmount | currency}}</small>
				</div>
			</div>
			<div class="widget-stat-progress">
				<div class="progress">
					<div class="progress-bar" style="width: 100%"></div>
				</div>
			</div>
			<div class="widget-stat-footer text-left"></div>
		</div>
	</div>
	<!-- /.col -->

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div
			class="widget widget-stat widget-stat-right bg-primary text-white">
			<div class="widget-stat-icon">
				<i class="fa fa-calculator"></i>
			</div>
			<div class="widget-stat-info">
				<div class="widget-stat-title">Movement</div>
				<div class="widget-stat-number">
					<small>{{nonFinalizedMovementAmount | currency}}</small>
				</div>
			</div>
			<div class="widget-stat-progress">
				<div class="progress">
					<div class="progress-bar" style="width: 100%"></div>
				</div>
			</div>
			<div class="widget-stat-footer text-left">Non - Finalized
				Subcontract</div>
		</div>

	</div>
	<!-- /.col -->

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div
			class="widget widget-stat widget-stat-right bg-primary text-white">
			<div class="widget-stat-icon">
				<i class="fa fa-calculator"></i>
			</div>
			<div class="widget-stat-info">
				<div class="widget-stat-title">Movement</div>
				<div class="widget-stat-number">
					<small>{{finalizedMovementAmount | currency}}</small>
				</div>
			</div>
			<div class="widget-stat-progress">
				<div class="progress">
					<div class="progress-bar" style="width: 100%"></div>
				</div>
			</div>
			<div class="widget-stat-footer text-left">Finalized Subcontract</div>
		</div>


	</div>
	<!-- /.col -->



	<div class="col-md-12">
		<div id="grid" save-and-restore-grid-state="iv_post" ui-grid-save-state ui-grid="gridOptions" ui-grid-selection
			ui-grid-resize-columns
			ui-grid-exporter class="grid" resize ng-style="resizeWithOffset(450)"></div>
	</div>
	<div class="col-md-12">
		<!-- <a class="btn btn-twitter btn-block">Update <i class="fa fa-floppy-o"></i></a> -->
		<button type="button" class="btn bg-primary btn-block"
			ng-click="post()">
			<i class="fa fa-floppy-o"></i> Post
		</button>
	</div>
</div>

