<div class="m-t-20 m-l-20 m-r-20">
	<div class="row">
		<div class="col-md-9">
			<h1 class="page-header">
				{{jobNo}}<small> {{jobDescription}}</small>
			</h1>
		</div>
	
		<div class="col-md-3">
			<ol class="breadcrumb pull-right">
				<li><a ui-sref="job.dashboard"><i class="fa fa-home"></i>
						Home</a></li>
			</ol>
		</div>
	</div>

	<div id="wizard" class="bwizard clearfix">
		<div class="hidden-print">
			<ul class="bwizard-steps clearfix setup-panel">
				<li ui-sref-active="active">
					<a ui-sref="iv.update"><span class="label badge-inverse">1</span> 
						Update Internal Valuation <small></small>
					</a>
				</li>
				<li ui-sref-active="active"><a ui-sref="iv.post" > <span class="label">2</span>
						Post Internal Valuation  <small></small>
				</a></li>
				<li ui-sref-active="active"><a ui-sref="iv.final" > <span class="label">3</span>
						Post Internal Valuation <small>Finalized Subcontract Only</small>
				</a></li>
			</ul>
		</div>

		<div class="tab-content">
			<div ui-view=""></div>
		</div>

		
	</div>

	<!-- end #wizard -->
</div>

