<div class="modal-header">
	<div class="row">
		<div class="col-md-11">
			<h3 class="modal-title">Add New Resource</h3>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body bg-gray-light">

	<div class="animated fadeIn">
		<form name="form-validate" id="form-validate"
			class="form-input-flat ng-pristine ng-valid">
			<fieldset>
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<h3 class="form-header form-header-lg m-b-10">
							<span class="icon text-primary"><i class="fa fa-star"></i></span>
						</h3>
						<p class="m-b-20">Please input the required fields below.</p>
						<div class="form-group">
							<label>Resource Description</label> <input id="description"
								type="text" class="form-control "
								ng-model="resourceSummary.resourceDescription" required />
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Object Code</label> <input type="text" placeholder=""
										class="form-control " ng-model="resourceSummary.objectCode" required />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Subsidiary Code</label> <input type="text"
										placeholder="" class="form-control "
										ng-model="resourceSummary.subsidiaryCode" required />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Unit</label> 
									<select class="form-control"
										ng-model="units.selected"
										ng-options="o as o for o in units" required></select>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>Quantity</label> 
									<input data-parsley-type="number" class="form-control"
										ng-change="calculate('quantity')"
										ng-paste="calculate('quantity')"
										ng-model-options='{ debounce: 1000 }'
										ng-model="resourceSummary.quantity" required />
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>Budget Rate</label> 
									<input data-parsley-type="number"  
										ng-change="calculate('rate')" 
										ng-model-options='{ debounce: 1000 }'
										ng-paste="calculate('rate')"
										class="form-control " 
										ng-model="resourceSummary.rate" 
										required />
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>Total Amount</label> 
										<input data-parsley-type="number"  
											ng-model="resourceSummary.amountBudget" 
											ng-change="calculate('totalAmount')" 
											ng-paste="calculate('totalAmount')"
											ng-model-options='{ debounce: 1000 }'
											class="form-control" 
											required />
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>Type</label> 
									<select class="form-control"
										ng-model="types.selected"
										ng-options="o as o for o in types.options" required></select>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>Levy</label> 
									<select class="form-control" ng-model="excludes.levySelected"
										ng-options="key as value for (key, value) in excludes.options"
										required></select>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group">
									<label>Defect</label> 
									<select class="form-control" ng-model="excludes.defectSelected"
										ng-options="key as value for (key, value) in excludes.options"
										required></select>
								</div>
							</div>

						</div>


					</div>



				</div>
			</fieldset>
		</form>

	</div>





</div>
<div class="modal-footer">
	<button class="btn btn-primary btn-block" type="button"
		ng-click="save()" ng-hide = "disableButtons" ng-disabled="disableButtons">
		<span class="fa fa-save"></span> Add
	</button>
</div>
