.control-section {
  height: calc(100vh - 56px);
  position: relative;
  transition: all 0.5s;
}
.control-section .e-sidebar-context {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.control-section .left-sidebar {
  flex: 0;
}
.siderbar-btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 50px;
  margin-left: 0;
  background-color: #efefef;
  transition: all 0.5s;
}
.siderbar-btn-content span {
  padding: 10px;
}
.siderbar-btn-content span:hover {
  color: var(--blue);
}
.control-section .listView {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}
.control-section .breadcrumb {
  text-align: right;
  flex: 0;
  background-color: #eee;
  padding: 5px;
}
.sidebar-title {
  margin: 0;
  font-size: 12px;
  padding: 15px 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #eee;
}
.main-treeview.e-treeview .e-ul {
  padding: 0;
}
.chevron-container {
  text-align: center;
  padding: 5px;
}
.main-treeview.e-treeview .e-ul .e-list-parent .e-text-content .e-icons.e-radio-button::before {
  content: "\e7b2";
}
.e-treeview .e-list-item div.e-icons.e-folder::before {
  content: "\e83c";
}
.e-treeview .e-list-item div.e-icons.e-form-field::before {
  content: "\e7cd";
}
.e-treeview .e-list-item div.e-icons.e-edit-2::before {
  content: "\e81e";
}
.e-treeview .e-list-item div.e-icons.e-page-columns:before {
  content: "\e8b4";
}
.e-treeview .e-list-item div.e-icons.e-activities:before {
  content: "\e8ce";
}
.e-treeview .e-list-item div.e-icons.e-month:before {
  content: "\e7c5";
}
.e-treeview .e-list-item div.e-icons.e-comments:before {
  content: "\ec10";
}
.e-treeview .e-list-item div.e-icons.e-circle-info:before {
  content: "\e800";
}
.e-treeview .e-list-item div.e-icons.e-zoom-in-2:before {
  content: "\ec0a";
}
.paddingL50 {
  padding-left: 50px;
}