<div class="modal-header bg-primary text-white">
	<div class="row">
		<div class="col-md-11">
			<h4 class="modal-title">Transit Status Enquiry</h4>
		</div>
		<div class="col-md-1">
			<button class="btn btn-white pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body bg-white">
	<div class="row">

		<div class="animated fadeIn">
			<div class="row">
				<div class="col-md-12">
					<div id="" save-and-restore-grid-state="transit_enquiryModal" ui-grid-save-state ui-grid="gridOptions" ui-grid-selection
						ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter
						class="grid "></div>
				</div>
			</div>

		</div>

	</div>
</div>

