

<!-- Addendum -->
<div class="animated fadeIn">
	<form name="form-wizard-step-2" id="form-wizard-step-2"
		class="form-input-flat ng-pristine ng-valid">
		<fieldset>
			<div class="row">
				<div class="col-md-7 col-md-offset-1">
					<h3 class="form-header form-header-lg m-b-10">
						<span class="icon text-primary"><i
							class="fa fa-shopping-cart"></i></span> Addendum
					</h3>
					<p class="m-b-20">Please input the required fields below.</p>
					<div class="form-group">
						<label>SC Line Type - <strong>{{lineTypes[subcontractorNature]}}</strong>
						</label>
						<!-- <div class="controls">
											<select class="form-control " ng-model="addendum.selected"
												ng-options="obj.value as obj.text for obj in addendum.lineTypes"></select>
										</div> -->
						<div class="btn-group btn-group-justified">
							<label class="btn"
								ng-class="{'btn-primary' : subcontractorNature == 'V1', 'btn-inverse' : subcontractorNature != 'V1'}"
								ng-model="subcontractorNature" uib-btn-radio="'V1'">V1</label> <label
								class="btn"
								ng-class="{'btn-primary' : subcontractorNature == 'V2', 'btn-inverse' : subcontractorNature != 'V2'}"
								ng-model="subcontractorNature" uib-btn-radio="'V2'">V2</label> <label
								class="btn"
								ng-class="{'btn-primary' : subcontractorNature == 'V3', 'btn-inverse' : subcontractorNature != 'V3'}"
								ng-model="subcontractorNature" uib-btn-radio="'V3'">V3</label> <label
								class="btn"
								ng-class="{'btn-primary' : subcontractorNature == 'L1', 'btn-inverse' : subcontractorNature != 'L1'}"
								ng-model="subcontractorNature" uib-btn-radio="'L1'">L1</label> <label
								class="btn"
								ng-class="{'btn-primary' : subcontractorNature == 'L2', 'btn-inverse' : subcontractorNature != 'L2'}"
								ng-model="subcontractorNature" uib-btn-radio="'L2'">L2</label> <label
								class="btn"
								ng-class="{'btn-primary' : subcontractorNature == 'D1', 'btn-inverse' : subcontractorNature != 'D1'}"
								ng-model="subcontractorNature" uib-btn-radio="'D1'">D1</label> <label
								class="btn"
								ng-class="{'btn-primary' : subcontractorNature == 'D2', 'btn-inverse' : subcontractorNature != 'D2'}"
								ng-model="subcontractorNature" uib-btn-radio="'D2'">D2</label> <label
								class="btn"
								ng-class="{'btn-primary' : subcontractorNature == 'CF', 'btn-inverse' : subcontractorNature != 'CF'}"
								ng-model="subcontractorNature" uib-btn-radio="'CF'">CF</label>
						</div>

					</div>
					<div class="form-group">
						<label>Description</label>
						<div class="controls">
							<input id="description" type="text" class="form-control "
								ng-model="addendum.description" required />
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label>Object Code</label>
								<div class="controls">
									<input type="text" placeholder="" class="form-control "
										ng-model="addendum.objectCode" required />
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Subsidiary Code</label>
								<div class="controls">
									<input type="text" placeholder="" class="form-control "
										ng-model="addendum.subsidiaryCode" required />
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Unit</label>
								<div class="controls">
									<input type="text" placeholder="" class="form-control "
										ng-model="addendum.unit" required />
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Quantity</label>
								<div class="controls">
									<input data-parsley-type="number" step="0.01"
										class="form-control" ng-model="addendum.quantity"
										data-parsley-pattern="^[0-9]*\.[0-9]{2}$"
										data-parsley-error-message="Max. 4 decimal places only"
										required />
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>SC Rate</label>
								<div class="controls">
									<input type="number" placeholder="" class="form-control "
										ng-model="addendum.scRate" required />
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Total Amount</label>
								<div class="controls">
									<input type="number" placeholder="" class="form-control "
										ng-model="addendum.totalAmount" required />
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Corresponding SC No.</label>
								<div class="controls">
									<input type="number" placeholder="" class="form-control "
										ng-model="addendum.corrSCNo"
										data-ng-required="lineTypes.selected=='D2'" />
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Alternative Object Code</label>
								<div class="controls">
									<input type="number" placeholder="" class="form-control "
										ng-model="addendum.altObjectCode"
										ng-disabled="lineTypes.selected!='D1'"
										data-ng-required="lineTypes.selected=='D1'" />
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="form-group">
								<label>Remark</label>
								<div class="controls">
									<input type="text" placeholder="" class="form-control "
										ng-model="addendum.remark" />
								</div>
							</div>
						</div>

					</div>
					<div class="f-s-12 text-muted">
						<div>
							<span class="text-danger">*</span> Corresponding SC No. must be
							provided for D2 and L2.
						</div>
						<div>
							<span class="text-danger">*</span> Alternative Object Code must
							be provided for D1.
						</div>
					</div>

					<button class="m-t-5 btn btn-primary btn-block"
						ui-sref="subcontract.addendumDetails.details">
						Next <span class="fa fa-arrow-right"></span>
					</button>
				</div>


				<div class="col-md-3 m-l-20">
					<div class="box no-border">
						<div class="box-body">
							<div class="widget widget-stat bg-primary text-white">
								<div class="widget-stat-btn">
									<a href="#" data-click="widget-reload"><i
										class="fa fa-repeat"></i></a>
								</div>
								<div class="widget-stat-icon">
									<i class="fa fa-calculator"></i>
								</div>
								<div class="widget-stat-info">
									<div class="widget-stat-title">Total Addendum Amount</div>
									<div class="widget-stat-number">$10,000.00</div>
									<div class="widget-stat-text">(Not Approved)</div>
								</div>
							</div>
							<ul class="list-group list-group-unbordered">
								<li class="list-group-item"><b>V1</b> <b class="pull-right">0</b></li>
								<li class="list-group-item"><b>V2</b> <b class="pull-right">10000</b></li>
								<li class="list-group-item"><b>V3</b> <b class="pull-right">0</b></li>
								<li class="list-group-item"><b>L1</b> <b class="pull-right">0</b></li>
								<li class="list-group-item"><b>L2</b> <b class="pull-right">0</b></li>
								<li class="list-group-item"><b>D1</b> <b class="pull-right">0</b></li>
								<li class="list-group-item"><b>D2</b> <b class="pull-right">0</b></li>
								<li class="list-group-item"><b>CF</b> <b class="pull-right">0</b></li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>

</div>

