<div id="content" class="content">
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small> - Subcontract
		{{subcontractNo}}<small> {{subcontractDescription}} 
	</h1>

	<div id="wizard" class="bwizard clearfix">
		<ul class="bwizard-steps clearfix setup-panel">
			<li class="active">
				<a href="#step1">
					<span class="label badge-inverse">1</span> 
					Addendum Title <small>Add/Edit Addendum Title here</small>
				</a>
			</li>
			<li class="disabled"><a href="#step2"> <span class="label">2</span>
					Addendum <small>Variation Order, Day Work, Labour, CPF</small>
			</a></li>
			<li class="disabled"><a href="#step3"> <span class="label">3</span>
					Addendum Details <small>View Addendum Details here</small>
			</a></li>
			<li class="disabled"><a href="#step4"> <span class="label">4</span>
					Add Attachment <small>Add attachment here</small>
			</a></li>
			<li class="disabled"><a href="#step5"> <span class="label">5</span>
					Addendum Summary <small>View Addendum Summary here</small>
			</a></li>
			<li class="disabled"><a href="#step6"> <span class="label">6</span>
					Print Addendum <small></small>
			</a></li>
		</ul>

		<div class="tab-content">
			<!-- Addendum Title -->
			<div class="setup-content" id="step1">
				<form name="form-wizard-step-1" id="form-wizard-step-1"
					class="form-input-flat ng-pristine ng-valid">
					<fieldset>
						<div class="row">
							<div class="col-md-5 col-md-offset-3">
								<h3 class="form-header form-header-lg m-b-10">
									<span class="icon text-primary"><i
										class="fa fa-shopping-cart"></i></span> Addendum Title
								</h3>
								<p class="m-b-20">Please input Addendum Title below.</p>
								<div class="form-group">
									<label>Addendum Title</label>
									<div class="controls">
										<input id="addendumTitle" type="text" class="form-control "
											ng-model="addendumTitle" data-parsley-group="wizard-step-1"
											required />
									</div>
								</div>

								<button id="activate-step-2"
									class="m-t-5 btn btn-primary btn-block">
									Next <span class="fa fa-arrow-right"></span>
								</button>
							</div>

						</div>
					</fieldset>
				</form>
			</div>

			<!-- Addendum -->
			<div class="setup-content" id="step2">
				<form name="form-wizard-step-2" id="form-wizard-step-2"
					class="form-input-flat ng-pristine ng-valid">
					<fieldset>
						<div class="row">
							<div class="col-md-7 col-md-offset-1">
								<h3 class="form-header form-header-lg m-b-10">
									<span class="icon text-primary"><i
										class="fa fa-shopping-cart"></i></span> Addendum
								</h3>
								<p class="m-b-20">Please input the required fields below.</p>
								<div class="form-group">
									<label>SC Line Type - 
										<strong>{{lineTypes[subcontractorNature]}}</strong>
									</label>
									<!-- <div class="controls">
											<select class="form-control " ng-model="addendum.selected"
												ng-options="obj.value as obj.text for obj in addendum.lineTypes"></select>
										</div> -->
									<div class="btn-group btn-group-justified">
										<label class="btn"
											ng-class="{'btn-primary' : subcontractorNature == 'V1', 'btn-inverse' : subcontractorNature != 'V1'}"
											ng-model="subcontractorNature" uib-btn-radio="'V1'">V1</label>
										<label class="btn"
											ng-class="{'btn-primary' : subcontractorNature == 'V2', 'btn-inverse' : subcontractorNature != 'V2'}"
											ng-model="subcontractorNature" uib-btn-radio="'V2'">V2</label>
										<label class="btn"
											ng-class="{'btn-primary' : subcontractorNature == 'V3', 'btn-inverse' : subcontractorNature != 'V3'}"
											ng-model="subcontractorNature" uib-btn-radio="'V3'">V3</label>
										<label class="btn"
											ng-class="{'btn-primary' : subcontractorNature == 'L1', 'btn-inverse' : subcontractorNature != 'L1'}"
											ng-model="subcontractorNature" uib-btn-radio="'L1'">L1</label>
										<label class="btn"
											ng-class="{'btn-primary' : subcontractorNature == 'L2', 'btn-inverse' : subcontractorNature != 'L2'}"
											ng-model="subcontractorNature" uib-btn-radio="'L2'">L2</label>
										<label class="btn"
											ng-class="{'btn-primary' : subcontractorNature == 'D1', 'btn-inverse' : subcontractorNature != 'D1'}"
											ng-model="subcontractorNature" uib-btn-radio="'D1'">D1</label>
										<label class="btn"
											ng-class="{'btn-primary' : subcontractorNature == 'D2', 'btn-inverse' : subcontractorNature != 'D2'}"
											ng-model="subcontractorNature" uib-btn-radio="'D2'">D2</label>
										<label class="btn"
											ng-class="{'btn-primary' : subcontractorNature == 'CF', 'btn-inverse' : subcontractorNature != 'CF'}"
											ng-model="subcontractorNature" uib-btn-radio="'CF'">CF</label>
									</div>

								</div>
								<div class="form-group">
									<label>Description</label>
									<div class="controls">
										<input id="description" type="text" class="form-control "
											ng-model="addendum.description"
											data-parsley-group="wizard-step-2" required />
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<label>Object Code</label>
											<div class="controls">
												<input type="text" placeholder="" class="form-control "
													ng-model="addendum.objectCode"
													data-parsley-group="wizard-step-2" required />
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Subsidiary Code</label>
											<div class="controls">
												<input type="text" placeholder="" class="form-control "
													ng-model="addendum.subsidiaryCode"
													data-parsley-group="wizard-step-2" required />
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Unit</label>
											<div class="controls">
												<input type="text" placeholder="" class="form-control "
													ng-model="addendum.unit" data-parsley-group="wizard-step-2"
													required />
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label>Quantity</label>
											<div class="controls">
												<input data-parsley-type="number" step="0.01"
													class="form-control" ng-model="addendum.quantity"
													data-parsley-pattern="^[0-9]*\.[0-9]{2}$"
													data-parsley-error-message="Max. 4 decimal places only"
													data-parsley-group="wizard-step-2" required />
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label>SC Rate</label>
											<div class="controls">
												<input type="number" placeholder="" class="form-control "
													ng-model="addendum.scRate"
													data-parsley-group="wizard-step-2" required />
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label>Total Amount</label>
											<div class="controls">
												<input type="number" placeholder="" class="form-control "
													ng-model="addendum.totalAmount"
													data-parsley-group="wizard-step-2" required />
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label>Corresponding SC No.</label>
											<div class="controls">
												<input type="number" placeholder="" class="form-control "
													ng-model="addendum.corrSCNo"
													data-parsley-group="wizard-step-2"
													data-ng-required="lineTypes.selected=='D2'" />
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label>Alternative Object Code</label>
											<div class="controls">
												<input type="number" placeholder="" class="form-control "
													ng-model="addendum.altObjectCode"
													data-parsley-group="wizard-step-2"
													ng-disabled="lineTypes.selected!='D1'"
													data-ng-required="lineTypes.selected=='D1'" />
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<label>Remark</label>
											<div class="controls">
												<input type="text" placeholder="" class="form-control "
													ng-model="addendum.remark"
													data-parsley-group="wizard-step-2" />
											</div>
										</div>
									</div>

								</div>
								<div class="f-s-12 text-muted">
									<div>
										<span class="text-danger">*</span> Corresponding SC No. must
										be provided for D2 and L2.
									</div>
									<div>
										<span class="text-danger">*</span> Alternative Object Code
										must be provided for D1.
									</div>
								</div>

								<button id="activate-step-3"
									class="m-t-5 btn btn-primary btn-block">
									Next <span class="fa fa-arrow-right"></span>
								</button>
							</div>


							<div class="col-md-3 m-l-20">
								<div class="box no-border">
									<div class="box-body">
										<div class="widget widget-stat bg-primary text-white">
											<div class="widget-stat-btn">
												<a href="#" data-click="widget-reload"><i
													class="fa fa-repeat"></i></a>
											</div>
											<div class="widget-stat-icon">
												<i class="fa fa-calculator"></i>
											</div>
											<div class="widget-stat-info">
												<div class="widget-stat-title">Total Addendum Amount</div>
												<div class="widget-stat-number">$10,000.00</div>
												<div class="widget-stat-text">(Not Approved)</div>
											</div>
										</div>
										<ul class="list-group list-group-unbordered">
											<li class="list-group-item"><b>V1</b> <b
												class="pull-right">0</b></li>
											<li class="list-group-item"><b>V2</b> <b
												class="pull-right">10000</b></li>
											<li class="list-group-item"><b>V3</b> <b
												class="pull-right">0</b></li>
											<li class="list-group-item"><b>L1</b> <b
												class="pull-right">0</b></li>
											<li class="list-group-item"><b>L2</b> <b
												class="pull-right">0</b></li>
											<li class="list-group-item"><b>D1</b> <b
												class="pull-right">0</b></li>
											<li class="list-group-item"><b>D2</b> <b
												class="pull-right">0</b></li>
											<li class="list-group-item"><b>CF</b> <b
												class="pull-right">0</b></li>
										</ul>

									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>

			</div>
			
			<!-- Addendum Details  -->
			<div class="setup-content" id="step3">
				<div class="row">
					<div class="col-md-12 m-b-30 m-t-20 ">
						<div ui-grid="gridOptions" ui-grid-selection class="grid "></div>
					</div>

					<div class="col-md-6">
						<button id="activate-step-3" class="m-t-10 btn btn-primary btn-block" ng-click="edit()">
							<span class="fa fa-arrow-left"></span> Edit
						</button>
					</div>

					<div class="col-md-6">
						<button id="activate-step-4" class="m-t-10 btn btn-primary btn-block">
							Next <span class="fa fa-arrow-right"></span>
						</button>
					</div>
				</div>
			</div>
			
			
			<!-- Attachment -->
		<div class="setup-content" id="step4">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">

					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title">Attachment</h3>
						</div>

						<div class="box-body">
							<div class="well">
								<form action="" class="dropzone" id="dropzone" dropzone="">
									<div class="dz-default dz-message"></div>
								</form>
							</div>
							<div class="pull-right">
								<button class="btn btn-success" ng-click="uploadFile()">Upload
									File</button>
								<button class="btn btn-danger" ng-click="reset()">Reset	Dropzone</button>
							</div>
							<div>
								<form>
									<label>File to download</label> <input ng-model="filename"
										type="text" placeholder="Filename" /> <a
										class="btn btn-primary"
										ng-href="{{ partialDownloadLink + filename }}">Download
										File</a>
								</form>
							</div>
						</div>

						<div class="box-footer">
							<!-- <a class="btn btn-twitter btn-block" ui-sref="cert-all-details">Upload <i class="fa fa-save"></i></a> -->
						</div>
					</div>

					<button id="activate-step-5"
						class="m-t-5 btn btn-primary btn-block">
						Next <span class="fa fa-arrow-right"></span>
					</button>

				</div>
			</div>
		</div>
		
			
			<!-- Addendum Summary -->
			<div class="setup-content" id="step5">
				<div class="row">

					<div class="col-lg-10 col-md-offset-1">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="panel-heading-btn">
									<a href="javascript:;"
										class="btn btn-xs btn-icon btn-circle btn-inverse"
										data-click="panel-collapse"> <i class="fa fa-minus"></i>
									</a>
								</div>
								<h3 class="panel-title">Addendum No.5 - Addendum Title 1</h3>

							</div>
							<div class="panel-body">
								<!-- <div class="col-md-6">
									<div class="col-md-6">
										<label>Addendum Title</label>
									</div>
									<div class="col-md-6">
										<label>Addendum 1</label>
									</div>
								</div> -->

								<div class="col-md-6">
									<div class="col-md-6">
										<label>Addendum Status:</label>
									</div>
									<div class="col-md-6"
										ng-class="{'text-danger' : addendum.addendumStatus=='Approved', 'text-green' : addendum.addendumStatus!='Approved'}">
										<b>Pending</b>
									</div>
								</div>


								<div class="col-md-6">
									<div class="col-md-6">
										<label>Prepared by:</label>
									</div>
									<div class="col-md-6">
										<label>Koey Yeung</label>
									</div>
								</div>

								<div class="col-md-6">
									<div class="col-md-6">
										<label>Approval Status:</label>
									</div>
									<div class="col-md-6"
										ng-class="{'text-danger' : addendum.addendumStatus=='Approved', 'text-green' : addendum.addendumStatus!='Approved'}">
										<b>{{addendum.approvalStatus}}</b>
									</div>
								</div>



								<div class="col-md-6">
									<div class="col-md-6">
										<label>Submission Date:</label>
									</div>
									<div class="col-md-6">
										<label></label>
									</div>
								</div>

								<div class="col-md-6">
									<div class="col-md-6">
										<label>Subcontractor No.:</label>
									</div>
									<div class="col-md-6">
										<label>31347</label>
									</div>
								</div>

								<div class="col-md-6">
									<div class="col-md-6">
										<label>Approved Date:</label>
									</div>
									<div class="col-md-6">
										<label></label>
									</div>
								</div>



								<div class="col-md-6">
									<div class="col-md-6">
										<label>Subcontractor Name.:</label>
									</div>
									<div class="col-md-6">
										<label>VSL Limited Company</label>
									</div>
								</div>

							</div>

							<div class="col-md-5 m-l-20">
								<div class="box no-border">
									<div class="box-body">
										<div class="widget widget-stat bg-inverse text-white">
											<div class="widget-stat-icon">
												<i class="fa fa-calculator"></i>
											</div>
											<div class="widget-stat-info">
												<div class="widget-stat-title">Revised Subcontract Sum</div>
												<div class="widget-stat-number">$23,010,000.00</div>
												<div class="widget-stat-text">(Current)</div>
											</div>
										</div>
										<ul class="list-group list-group-unbordered">
											<li class="list-group-item"><b>Remeasured
													Subcontract Sum</b> <b class="pull-right">$23,010,000.00</b></li>
											<li class="list-group-item"><b>Total Addendum Amount</b>
												<b class="pull-right">$0</b></li>

										</ul>

									</div>
								</div>
							</div>

							<div class="col-md-5 m-l-20">
								<div class="box no-border">
									<div class="box-body">
										<div class="widget widget-stat bg-primary text-white">
											<div class="widget-stat-icon">
												<i class="fa fa-calculator"></i>
											</div>
											<div class="widget-stat-info">
												<div class="widget-stat-title ">To be Approved Revised
													Subcontract Sum</div>
												<div class="widget-stat-number ">$23,020,000.00</div>
												<div class="widget-stat-text">(Not Approved)</div>
											</div>
										</div>
										<ul class="list-group list-group-unbordered">
											<li class="list-group-item"><b>Remeasured
													Subcontract Sum</b> <b class="pull-right">$23,010,000.00</b></li>
											<li class="list-group-item text-red"><b>To be
													Approved Total Addendum Amount</b> <b
												class="pull-right text-red">$10,000.00</b></li>
										</ul>

									</div>
								</div>
							</div>
							<button id="activate-step-6"
								class="m-t-5 btn btn-primary btn-block">
								Submit Addendum <span class="fa fa-arrow-right"></span>
							</button>

						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="setup-content" id="step6" class="text-center-md">
			<button id="activate-step-6"class="m-t-5 btn btn-primary btn-block">
								Print Addendum <span class="fa fa-arrow-right"></span>
							</button>
		</div>
	</div>

	<!-- end #wizard -->
</div>

