<!-- <div id="content" class="content"> -->


	<div class="invoice">
		<span class="pull-right hidden-print"> 
			<a href="javascript:;" onclick="window.print()" class="btn btn-sm width-100 btn-rounded btn-danger pull-right hidden-print">
				<i class="fa fa-print m-r-3"></i> Print</a> 
			<!-- <a ui-sref="subcontract.paymentdetails"	class="btn btn-sm width-100 btn-rounded btn-primary pull-right hidden-print">
				<i class="fa fa-arrow-left"></i> Back</a> -->
		</span>

		<div class="invoice-logo m-l-5">
			<img src="image/gammon.bmp" class="logo" style="width: 128px" />
		</div>

		<h5 class="invoice-title" align="center">Subcontract Payment
			Certificate</h5>

		<div class="invoice-header">

			<table class="table">
				<tr>
					<td><b>JOB:</b></td>
					<td class="text-right">13518</td>
					<td>TM-CLK Link Southern Viaduct</td>
				</tr>
				<tr>
					<td><b>SUBCONTRACT:</b></td>
					<td class="text-right">1121</td>
					<td>Topographical Survey for Site Area near Viaduct B and C</td>
				</tr>
				<tr>
					<td><b>SUBCONTRACTOR:</b></td>
					<td class="text-right">299162</td>
					<td>Cheuk Fung Engineering Co Ltd</td>
				</tr>
				<tr>
					<td><b>TELEPHONE:</b></td>
					<td class="text-right">+852-27766877</td>
					<td>
						<address>
							Flat C5, 28/F TML Tower<br /> 3 Hoi Shing Road<br /> Tsuen Wan<br />
							New Territories, Hong Kong
						</address>
					</td>

				</tr>

				<tr>
					<td colspan="2">
						<dl class="dl-horizontal">
							<dt class="text-left">SUBCONTRACT VALUE:</dt>
							<dd class="text-right">220,150.00</dd>

							<dt class="text-left">ADDENDUM:</dt>
							<dd class="text-right">0.00</dd>

							<dt class="text-left">REVISED VALUE:</dt>
							<dd class="text-right">220,150.00</dd>

						</dl>
					</td>
					<td colspan="2">
						<dl class="dl-horizontal">
							<dt class="text-left">PAYMENT NO.:</dt>
							<dd class="text-right">2</dd>

							<dt class="text-left">AS AT DATE:</dt>
							<dd class="text-right">21/05/2014</dd>

							<dt class="text-left">PAYMENT TYPE:</dt>
							<dd class="text-right">Interim</dd>

							<dt class="text-left">CURRENCY:</dt>
							<dd class="text-right">HKD</dd>

							<dt class="text-left">NATURE:</dt>
							<dd class="text-right">Domestic Subcontractor</dd>
						</dl>
					</td>
				</tr>

			</table>
		</div>


		<div class="">
			<table class="table">
				<tbody>
					<tr>
						<td></td>
						<td class="text-right"><b>MOVEMENT (HKD)</b></td>
						<td class="text-right"><b>TOTAL (HKD)</b></td>
					</tr>
					<tr>
						<td>VALUE OF MEASURED WORKS/GOODS</td>
						<td class="text-right">110,075.00</td>
						<td class="text-right">220,150.00</td>
					</tr>
					<tr>
						<td>VALUE OF DAY WORK SHEET</td>
						<td class="text-right">0.00</td>
						<td class="text-right">0.00</td>
					</tr>
					<tr>
						<td>VALUE OF VARIATION</td>
						<td class="text-right">0.00</td>
						<td class="text-right">0.00</td>
					</tr>
					<tr>
						<td>OTHERS</td>
						<td class="text-right">0.00</td>
						<td class="text-right">0.00</td>
					</tr>
					<tr class="subtotal">
						<td></td>
						<td class="text-right value"><b>110,075.00</b></td>
						<td class="text-right value"><b>220,150.00</b></td>
					</tr>
					<tr>
						<td class="text-right text-red">LESS RETENTION</td>
						<td class="text-right text-red">(0.00)</td>
						<td class="text-right text-red">(0.00)</td>
					</tr>
					<tr class="subtotal">
						<td></td>
						<td class="text-right value"><b>110,075.00</b></td>
						<td class="text-right value"><b>220,150.00</b></td>
					</tr>
					<tr>
						<td>VALUE OF MATERIALS ON SITE</td>
						<td class="text-right">0.00</td>
						<td class="text-right">0.00</td>
					</tr>
					<tr>
						<td class="text-right text-red">LESS RETENTION</td>
						<td class="text-right text-red">(0.00)</td>
						<td class="text-right text-red">(0.00)</td>
					</tr>
					<tr class="subtotal">
						<td></td>
						<td class="text-right value"><b>110,075.00</b></td>
						<td class="text-right value"><b>220,150.00</b></td>
					</tr>
					<tr>
						<td class="text-right">VALUE OF ADJUSTMENTS</td>
						<td class="text-right">0.00</td>
						<td class="text-right">0.00</td>
					</tr>
					<tr class="subtotal">
						<td></td>
						<td class="text-right value"><b>110,075.00</b></td>
						<td class="text-right value"><b>220,150.00</b></td>
					</tr>
					<tr>
						<td class="text-right text-red">LESS CONTRA CHARGES</td>
						<td class="text-right text-red">(0.00)</td>
						<td class="text-right text-red">(0.00)</td>
					</tr>
					<tr class="subtotal">
						<td></td>
						<td class="text-right value"><b>110,075.00</b></td>
						<td class="text-right value"><b>220,150.00</b></td>
					</tr>
					<tr>
						<td class="text-right text-red">LESS PREVIOUS CERTIFICATIONS</td>
						<td colspan="2" class="text-right text-red">(99,067.50)</td>
					</tr>
					<tr class="total">
						<td></td>
						<td class="text-right text"><b>AMOUNT DUE (HKD)</b></td>
						<td class="text-right value"><b>110,075.00</b></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>



<!-- </div> -->