	<div class="content-wrapper">
		<section class="content-header">
			<h1>
				{{jobNo}} <small>{{jobDescription}}</small>
			</h1>
			<ol class="breadcrumb">
				<li><a ui-sref = "job.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</section>


		<section class="content">
			<div class="row">
				<div class="col-xs-5">
					<div class="btn-group">
	                  <button type="button" class="btn bg-red-gradient disabled"><span class="">Pending</span></button>
	                  <button type="button" class="btn bg-red-gradient disabled"><span class="">Submitted</span></button>
	                  <button type="button" class="btn bg-red-gradient disabled"><span class="">Waiting for Posting</span></button>
	                  <button type="button" class="btn bg-red-gradient disabled"><span class="">Posted to Finance</span></button>
	                  <button type="button" class="btn bg-red-gradient"><span class="glyphicon glyphicon-th">All</span></button>
	                </div>
				</div>
				<div class="col-xs-6">
					<div class="input-group">
						<input ng-model="searchquery" placeholder="Search Payment here.." class="form-control" ng-click="removeDefaultAnimation()"/> 
						<span class="input-group-btn">
							<button class="btn btn-flat bg-red-gradient" ng-click='filter()'><span class="fa fa-search"></span></button>
						</span>
					</div>
				</div>
				
				<div class="col-xs-1">
					<button type="button" class="btn bg-red-gradient" ng-click="openSubcontractCreateModal()"><span class="glyphicon glyphicon-star">Create</span></button>
				</div>
			</div>
		
			<br>
	
			<div class="row">
				<!-- <div class="col-md-3 animated flipInX" ng-repeat="sc in subcontracts | filter:{packageNo:'1007'}"> -->
				<div class="col-md-4 animated flipInX" ng-repeat="payment in payments | filter:{status:'!Posted to Finance'} | filter:searchquery">
	              <div class="box box-widget sc-panel">
	                <a ui-sref="subcontract.paymentdetails">
		                <div class="sc-panel-header bg-red-gradient">
		                  <div class="sc-panel-icon"> 
		                    <span class="glyphicon glyphicon-ok-sign"></span>
		                  </div>
		                  <h3 class="sc-panel-name"><b>Payment Cert. No. {{payment.paymentNo}}</b><span class="pull-right badge bg-green">{{payment.paymentTerms}}</span></h3>
		                  <h5 class="sc-panel-desc">{{payment.status}}<span class="pull-right badge bg-blue">{{payment.paymentAmount | currency}}</span></h5>
		                </div>
	                </a>
	               <div class="box-footer no-padding">
	                  <ul class="nav nav-stacked">
	                    <li><a ui-sref="subcontract.paymentdetails">Due Date<span class="pull-right badge bg-green">{{payment.dueDate}}</span></a></li>
   	                    <!-- <li><a ui-sref="subcontract.paymentdetails">As At Date<span class="pull-right badge bg-green">{{payment.asAtDate}}</span></a></li> -->
	                  </ul>
	                </div>
	              </div>
	              
	            </div><!-- /.col -->
	        </div><!-- /.row -->    
        
	        <div class="row"><!-- animated flipInX -->
	        	 <div class="col-md-4 animated flipInX" ng-repeat="payment in payments | filter:{status:'Posted to Finance'} | filter:searchquery">
	              <div class="box box-widget sc-panel">
	                <a ui-sref="subcontract.paymentdetails">
		                <div class="sc-panel-header bg-light-blue-gradient">
		                  <div class="sc-panel-icon"> 
		                    <span class="glyphicon glyphicon-remove-sign"></span>
		                  </div>
		                 <h3 class="sc-panel-name"><b>Payment Cert. No. {{payment.paymentNo}}</b><span class="pull-right badge bg-green">{{payment.paymentTerms}}</span></h3>
		                  <h5 class="sc-panel-desc">{{payment.status}}<span class="pull-right badge bg-blue">{{payment.paymentAmount | currency}}</span></h5>
		                </div>
	                </a>
	                <div class="box-footer no-padding">
	                  <ul class="nav nav-stacked">
	                    <li><a ui-sref="subcontract.paymentdetails">Due Date<span class="pull-right badge bg-green">{{payment.dueDate}}</span></a></li>
	                    <!-- <li><a ui-sref="subcontract.paymentdetails">As At Date<span class="pull-right badge bg-green">{{payment.asAtDate}}</span></a></li> -->
	                  </ul>
	                </div>
	              </div>
	              
	            </div><!-- /.col -->
	        </div>
        
     </section><!-- /.content -->
   </div><!-- /.content-wrapper -->

  