<!-- begin #sidebar -->
<div id="sidebar" class="sidebar sidebar-highlight-primary sidebar-light">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="nav-header">{{jobNo}} {{jobDescription}}</li>
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
			
			<li ng-class="{active : activeSubcontractSideMenu == '/subcontract/dashboard'}">
				<a ui-sref="subcontract.dashboard" ng-click="activeSubcontractSideMenu = '/subcontract/dashboard'">
					<i class="fa fa-dashboard"></i> 
					<span>Subcontact Dashboard</span>
				</a>
			</li>
			<li ng-class="{active : activeSubcontractSideMenu == 'Timeline'}">
				<a href="" ng-click="activeSubcontractSideMenu = 'Timeline'">
					<i class="fa fa-calendar-check-o"></i>
					<span>Timeline</span>
				</a>
			</li>
			
			
			<li class="has-sub">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="fa fa-home"></i>
				    <span>General</span>
			    </a>
			    <ul class="sub-menu">
			        <li ng-class="{active : activeSubcontractSideMenu == '/subcontract/header'}">
						<a ui-sref="subcontract.header" ng-click="activeSubcontractSideMenu = '/subcontract/header'">
							Subcontract Header</a></li>
					<li ng-class="{active : activeSubcontractSideMenu == '/subcontract/details'}">
						<a ui-sref="subcontract.details" ng-click="activeSubcontractSideMenu = '/subcontract/details'">
							Subcontract Details</a></li>
					<li ng-class="{active : activeSubcontractSideMenu == '/subcontract/dates'}">
						<a ui-sref="subcontract.dates" ng-click="activeSubcontractSideMenu = '/subcontract/dates'">
						Date</a></li>
					<li ng-class="{active : activeSubcontractSideMenu == '/subcontract/taDetails'}">
						<a ui-sref="subcontract.taDetails" ng-click="activeSubcontractSideMenu = '/subcontract/taDetails'">
						Tender Analysis Details</a></li>
					<li ng-class="{active : activeSubcontractSideMenu == '/subcontract/attachment'}">
						<a ui-sref="subcontract.attachment" ng-click="activeSubcontractSideMenu = '/subcontract/attachment'">
						Attachment</a></li>
			    </ul>
			</li>
						
			<li class="has-sub" ng-class="{active : activeSubcontractSideMenu == '/subcontract/workdone', }">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="fa fa-home"></i>
				    <span>Operation</span>
			    </a>
			    <ul class="sub-menu">
			        <li ng-class="{active : activeSubcontractSideMenu == 'Addendum'}">
						<a ui-sref="subcontract.addendum" ng-click="activeSubcontractSideMenu = 'Addendum'">
						Addendum</a></li>
					<li ng-class="{active : activeSubcontractSideMenu == '/subcontract/workdone'}">
						<a ui-sref="subcontract.workdone" ng-click="activeSubcontractSideMenu = '/subcontract/workdone'">
						Work Done</a></li>
					<li ng-class="{active : activeSubcontractSideMenu == '/subcontract/split'}">
						<a ui-sref="subcontract.split" ng-click="activeSubcontractSideMenu = '/subcontract/split'">
						Split</a></li>
					<li ng-class="{active : activeSubcontractSideMenu == '/subcontract/terminate'}">
						<a ui-sref="subcontract.terminate" ng-click="activeSubcontractSideMenu = '/subcontract/terminate'">
						Terminate</a></li>
					<li ng-class="{active : activeSubcontractSideMenu == '/subcontract/payment'}">
						<a ui-sref="subcontract.payment" ng-click="activeSubcontractSideMenu = '/subcontract/payment'">
						Payment</a></li>
			    </ul>
			</li>			
						
						
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

<script>
	$(document).ready(function() {
		handleSidebarMinify();
		handleSidebarMenu();
	});
</script>

<div ui-view></div>

