<!-- begin #content -->
<div id="content" class="content">
	
	<div ng-show="subcontract.scStatus == 500">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
					Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	
		<h1 class="page-header">
			{{jobNo}}<small> {{jobDescription}}</small>
		</h1>
	</div>
	
		<div class="row">
	         <!-- Contractual Date  -->
	         <div class="col-md-6">
	         	<div class="box box-primary">
	                <div class="box-header with-border">
	                  <h3 class="box-title">Contractual Date</h3>
	                </div>
	                <div class="box-body">
	                  <div class="row">
	                  
						<div class="col-md-8"><label>Subcontract Requisition Approved Date</label></div>
						<div class="form-group col-md-4">
								<div class="input-group" moment-picker="subcontract.requisitionApprovedDate"
									format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}"
										ng-model="subcontract.requisitionApprovedDate">
								</div>
							</div>
						
						
						<div class="col-md-8"><label>Subcontract Tender Analysis Approved Date</label></div>
						<div class="form-group col-md-4">
		                    <div class="input-group" moment-picker="subcontract.tenderAnalysisApprovedDate"
									format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}"
										ng-model="subcontract.tenderAnalysisApprovedDate">
								</div>
						</div>
						
						<div class="col-md-8"><label>Pre-Award Finalization Meeting Date</label></div>
						<div class="form-group col-md-4">
		                    <div class="input-group" moment-picker="subcontract.preAwardMeetingDate"
									format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}"
										ng-model="subcontract.preAwardMeetingDate">
								</div>
						</div>
						
						<div class="col-md-8"><label>Letter of Acceptance Signed by Subcontractor Date</label></div>
						<div class="form-group col-md-4">
						<div class="input-group" moment-picker="subcontract.loaSignedDate"
									format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}"
										ng-model="subcontract.loaSignedDate">
								</div>
						</div>
						
						<div class="col-md-8"><label>Subcontract Document Executed by Subcontractor Date</label></div>
						<div class="form-group col-md-4">
						<div class="input-group" moment-picker="subcontract.scDocScrDate"
									format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}"
										ng-model="subcontract.scDocScrDate">
								</div>
						</div>
						
						<div class="col-md-8"><label>Subcontract Document Executed by Legal Date</label></div>
						<div class="form-group col-md-4">
							<div class="input-group" moment-picker="subcontract.scDocLegalDate"
									format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}"
										ng-model="subcontract.scDocLegalDate">
								</div>
						</div>
						
						<div class="col-md-8"><label>Works Commencement Date</label></div>
						<div class="form-group col-md-4">
							<div class="input-group" moment-picker="subcontract.workCommenceDate"
									format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}"
										ng-model="subcontract.workCommenceDate">
								</div>
						</div>
						
						<div class="col-md-8"><label>Subcontractor Start on-site Date</label></div>
						<div class="form-group col-md-4">
							<div class="input-group" moment-picker="subcontract.onSiteStartDate"
									format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}"
										ng-model="subcontract.onSiteStartDate">
								</div>
						</div>
						
		                
	                	</div><!-- /.row -->
		         	</div><!-- /.box-body -->
		         	<div class="box-footer">
				 	 	<button class="btn btn-primary btn-block" type="button" ng-click="save()"><span class="fa fa-save"></span> Save</button>
				 	</div>
	       		 </div>
	       		
	         </div>
	         
	         
	         <!-- Subcontract Tracking Information  -->
	         <div class="col-md-6" ng-show="subcontract.scStatus == 500">
	       		 <div class="box box-primary">
	       		  	<div class="box-header with-border">
	                  <h3 class="box-title">Subcontract Tracking Information</h3>
	                </div>
	                <div class="box-body box-profile">
	                  <ul class="list-group list-group-unbordered">
	                    <li class="list-group-item">
	                      <b>Subcontract Created Date</b> <b class="pull-right">{{subcontract.subcontractCreatedDate | date}}</b>
	                    </li>
	                    
	                    <li class="list-group-item">
	                      <b>Subcontract Award Approval Request Sent out Date</b> <b class="pull-right">{{subcontract.subcontractAwardApprovalRequestSentOutDate | date}}</b>
	                    </li>
	                    
	                    <li class="list-group-item">
	                      <b>Subcontract Award Approval Date</b> <b class="pull-right">{{subcontract.subcontractAwardApprovalDate | date}}</b>
	                    </li>
	                    
	                     <li class="list-group-item">
	                      <b>Latest Addendum Approval Date</b> <b class="pull-right">{{subcontract.latestAddendumApprovalDate | date}}</b>
	                    </li>
	                    
	                    <li class="list-group-item">
	                      <b>1st Payment Certificate Issued Date</b> <b class="pull-right">{{subcontract.firstPaymentCertificateIssuedDate | date}}</b>
	                    </li>
	                    
	                    <li class="list-group-item">
	                      <b>Latest Payment Certificate Issued Date</b> <b class="pull-right">{{subcontract.latestPaymentCertificateIssuedDate | date}}</b>
	                    </li>
	                    
	                    <li class="list-group-item">
	                      <b>Final Payment Certificate Issued Date</b> <b class="pull-right">{{subcontract.finalPaymentCertificateIssuedDate | date}}</b>
	                    </li>
	                    
	                  </ul>
	
	                </div>
	              </div>
              
	         </div>
	         

        </div>    
   </div>

