<!-- begin #sidebar -->
<div id="sidebar" class="sidebar sidebar-highlight-primary sidebar-light">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="nav-header">{{jobNo}} {{jobDescription}}</li>
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
			
			<li ui-sref-active="active">
				<a ui-sref="subcontract.dashboard">
					<i class="fa fa-dashboard"></i> 
					<span>Subcontact Dashboard</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="subcontract-award.hearder">
					<i class="fa fa-info-circle"></i>
					<span>Subcontract Award Info</span>
				</a>
			</li>
			
			<li class="divider"></li>
						
			 <li ui-sref-active="active">
				<a ui-sref="subcontract.header">
					<i class="fa fa-header"></i>
					<span>Subcontract Header</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="subcontract.details">
					<i class="fa fa-list"></i>
					<span>Subcontract Details</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="subcontract.dates">
					<i class="fa fa-calendar"></i>
					<span>Subcontract Dates</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="subcontract.attachment.first">
					<i class="fa fa-file"></i>
					<span>Attachment</span>
				</a>
			</li>
			
			
			<li class="divider"></li>
			
			<li ui-sref-active="active">
				<a ui-sref="subcontract.payment-select">
					<i class="fa fa-dollar"></i>
					<span>Payment</span>
				</a>
			</li>
			
			<li ui-sref-active="active">
				<a ui-sref="subcontract.addendum-select">
					<i class="fa fa-dollar"></i>
					<span>Addendum</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="subcontract.otherAddendum.detail">
					<i class="fa fa-dollar"></i>
					<span>Addendum(No Approval)</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="subcontract.workdone">
					<i class="fa fa-check-square-o"></i>
					<span>Work Done</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="subcontract.split">
					<i class="fa fa-unlink"></i>
					<span>Split</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="subcontract.terminate">
					<i class="fa fa-ban"></i>
					<span>Terminate</span>
				</a>
			</li>
						
						
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

<script>
	$(document).ready(function() {
		handleSidebarMinify();
		handleSidebarMenu();
	});
</script>

<div ui-view></div>

