<div class="m-t-10 m-l-40 m-r-40">
	<!-- begin breadcrumb -->
	<!-- <ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol> -->
	<!-- end breadcrumb -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small> - Subcontract
		{{subcontractNo}}<small> {{subcontractDescription}}</small>
		 <small class="text-red m-l-30"> <b>{{status}}</b></small>
	</h1>

	<div id="wizard" class="bwizard clearfix ">
		<div class="hidden-print">
			<ul class="bwizard-steps clearfix setup-panel">
				<li ui-sref-active="active" id="subcontractTab1">
					<a ui-sref="subcontract-award.hearder">
						<span class="label badge-inverse">1</span> 
						Subcontract Header <small></small><!-- Add/Edit Subcontract Header here  -->
					</a>
				</li>
				<li ui-sref-active="active"><a ui-sref="subcontract-award.assign" id="subcontractTab2"> <span class="label">2</span>
						Assign Resources <small></small><!-- Assign Resources to Subconract -->
				</a></li>
				<li ui-sref-active="active"><a ui-sref="subcontract-award.ta" id="subcontractTab3"> <span class="label">3</span>
						Tender Analysis <small></small>
				</a></li>
				<li ui-sref-active="active"><a ui-sref="subcontract-award.vendor" id="subcontractTab4"> <span class="label">4</span>
						Tenderer <small></small>
				</a></li>
				<li ui-sref-active="active"><a ui-sref="subcontract-award.variance" id="subcontractTab5"> <span class="label">5</span>
						Tender Variance <small></small>
				</a></li>
				<li ui-sref-active="active"><a ui-sref="subcontract-award.dates" id="subcontractTab6"> <span class="label">6</span>
						Dates<small></small>
				</a></li>
				<li ui-sref-active="active"><a ui-sref="subcontract-award.attachment" id="subcontractTab7"> <span class="label">7</span>
						Attachment <small></small>
				</a></li>
				<li ui-sref-active="active"><a href="" ng-click="paymentRequisition()" id="subcontractTab8"> <span class="label">8</span>
						Payment Requisition <small></small>
				</a></li>
				<li ui-sref-active="active"><a ui-sref="subcontract-award.summary" id="subcontractTab9"> <span class="label">9</span>
						Award Subcontract <small></small>
				</a></li>
				
			</ul>
		</div>

		<div class="tab-content">
			<div ui-view=""></div>
		</div>

		
	</div>

	<!-- end #wizard -->
</div>

