<div class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
	<!-- end breadcrumb -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small> - Subcontract {{subcontractNo}}<small> {{subcontractDescription}}
	</h1>


		<div class="row">
		    <div class="col-md-6 col-xs-12">
		      <!-- small box -->
		      <div class="small-box bg-aqua">
		        <div class="inner">
		          <h3>{{workdone | currency}}</h3>
		
		          <p>Work Done Total Amount</p>
		        </div>
		        <div class="icon">
		          <i class="ion ion-social-usd"></i>
		        </div>
		      </div>
		    </div>
			
			
			<div class="col-md-6 col-xs-12">
		      <!-- small box -->
		      <div class="small-box bg-green">
		        <div class="inner">
		          <h3>{{iv | currency}}</h3>
		          <p>IV Total Amount</p>
		        </div>
		        <div class="icon">
		          <i class="ion ion-social-usd"></i>
		        </div>
		      </div>
		    </div>
		    <!-- ./col -->
	 	</div>
	
	
	
		<div class="row">

			<div class="col-md-6">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Work Done</h3>
					</div>
					<div class="box-body">
						<div id="ipa_grid" ui-grid="gridOptions" ui-grid-selection
							ui-grid-cellnav class="grid"
							style="height: 400px;"></div>
					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">IV</h3>
					</div>
					<div class="box-body">
						<div id="ipa_grid" ui-grid="gridOptions" ui-grid-selection
							ui-grid-cellnav class="grid"
							style="height: 400px;"></div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.row -->


		<button class="btn btn-primary btn-block" type="button"	ng-click="save()">
			<span class="fa fa-save"></span> Save
		</button>
		
</div>

