<div class="invoice">
	<span class="pull-right hidden-print"> <a href="javascript:;"
		onclick="window.print()"
		class="btn btn-sm width-100 btn-rounded btn-danger pull-right hidden-print">
			<i class="fa fa-print m-r-3"></i> Print
	</a> <!-- <a ui-sref="subcontract.paymentdetails"	class="btn btn-sm width-100 btn-rounded btn-primary pull-right hidden-print">
				<i class="fa fa-arrow-left"></i> Back</a> -->
	</span>

	<div class="invoice-logo">
		<img src="image/gammon.bmp" class="logo" style="width: 128px" />
	</div>

	<div class="row">
		<div class="col-md-12 m-t-10">
			<label><b>Gammon Construction Limited</b></label>
			<label class="pull-right"><b>PDS/07/Form 4</b></label>
		</div>
		<div class="col-md-12">
			<label><b>Job No.: {{jobNo}}</b></label>
		</div>
		<div class="col-md-12">
			<label><b>Contract Title: {{jobDescription}}</b></label>
		</div>
		<div class="col-md-12">
			<label class="m-t-10"><b>TRADE: <span class="invoice-underline">{{subcontract.description}}</span></b></label>
		</div>
	</div>
	
	<h5 class= "invoice-title invoice-underline" align="center">DOMESTIC SUB-CONTRACT TENDER ANALYSIS</h5>
	<label>TENDER RESULTS AFTER CHECKING</label>


	<div>
		<table class="table table-border">
			<thead>
				<tr>
					<th class = "t-header">TENDERER</th>
					<th class = "t-header">AMOUNT</th>
					<th class = "t-header">REMARKS</th>
				</tr>
			</thead>
			
				<tr class="row1" ng-repeat="tenderer in tenderList">
					<td class="column1">{{tenderer.nameSubcontractor}}</td>
					<td class="column1">{{tenderer.currencyCode}} {{tenderer.budgetAmount-tenderer.amtBuyingGainLoss | currency}}</td>
					<td class="column1">{{tenderer.remarks}}</td>
				</tr>
				<tr class="row2">
					<td class="column2">RECOMMENDATION FOR AWARD: </td>
					<td class="column2">{{rcmTenderer.currencyCode}} {{rcmTenderer.budgetAmount-rcmTenderer.amtBuyingGainLoss | currency}}</td>
					<td class="column2"></td>
				</tr>
				<tr class="row2">
					<td class="column2">GBCL Budget: </td>
					<td class="column2">{{budgetTender.currencyCode}} {{budgetTender.budgetAmount | currency}}</td>
					<td class="column2"></td>
				</tr>
				<tr class="row2">
					<td class="column2">BUYING GAIN/(LOSS): </td>
					<td class="column2">{{rcmTenderer.currencyCode}} <span class="invoice-underline">{{rcmTenderer.amtBuyingGainLoss | currency}}</span></td>
					<td class="column2"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<label class="text-red">REQUEST FOR APPROVAL TO CHANGE THE MANNER OF EXECUTION OF SUBCONTRACT FROM MAIN CONTRACT(PDS/07/4.5.23. Insert yes or no)</label>
			<label class="text-red label-border">{{rcmTenderer.statusChangeExecutionOfSC}}</label>
		</div>
	</div>
	
	
	<div>
		<label>APPROVAL OF VARIANCES TO STANDARD FORMS OF SUBCONTRACT (<span class="text-primary">PDS/07/4.5.17</span>)</label>
		<table class="table table-border">
			<thead>
				<tr>
					<th class = "t-header" colspan = "4"><div align="left">TENDERER: <span class="invoice-underline">{{rcmTenderer.nameSubcontractor}}</span></div></th>
				</tr>
				<tr>
					<th class = "t-header"></th>
					<th class = "t-header">General Condition of Sub-Contract</th>
					<th class = "t-header">Proposed Variance to the General Condition</th>
					<th class = "t-header">Reason for the Variance</th>
				</tr>
			</thead>
			
				<tr class="row1" ng-repeat="variance in tenderVarianceList">
					<td class="column1">{{variance.clause}}</td>
					<td class="column1">{{variance.generalCondition}}</td>
					<td class="column1">{{variance.proposedVariance}}</td>
					<td class="column1">{{variance.reason}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<div class="row">
		<div class="col-md-12">
		
			<label><span class="icofont icofont-2x" ng-class="{'icofont-tick-boxed' : subcontract.preAwardMeetingDate!=null, 'icofont-close-squared-alt' : subcontract.preAwardMeetingDate ==null}"></span></label>
			<label>Confirmation that the Subcontract Pre-Award Finalization Meeting has been held and minutes recorded (<span class="text-primary">PDS/07/4.5.18/Form 5</span>)</label>
		</div>
	</div>
	
	<table class="table">
		<tr>
			<td align="left">Prepared by: <span class="invoice-underline">{{rcmTenderer.usernamePrepared}}</span></td>
			<td align="left">Date: <span class="invoice-underline">{{rcmTenderer.datePrepared}}</span></td>
		</tr>
	</table>
	<!-- <hr class= "m-t-0" style="border-color: black;"> -->
	
	<table class="table table-border">
		<tr class="row1">
			<td class="column1">
				<div><b>ACTION DECIDED:</b></div>
				<div><b>Award to <span class="invoice-underline" ng-show="subcontract.scStatus==500">{{rcmTenderer.nameSubcontractor}}</span></b></div>
			</td>
			<td class="column1">
				<div >
				<div><b>NOTES:</b></div>
				<div>{{subcontract.notes}}</div>
				</div>
			</td>
		</tr>
	</table>
	
	<div>
		<table class="table table-border">
			</tbody>
				<tr class="row1">
					<td class="column1">
						<div class="m-b-5">Approvals by:</div>
						<div><span class="invoice-underline">_______________________</span></div>
						<div>Commercial Team Leader</div>
						<div>Date: <span class="invoice-underline"></span></div>
					</td>
					<td class="column1" colspan="2">
						<div class="m-b-25"></div>
						<div><span class="invoice-underline">_______________________</span></div>
						<div>Project Leader</div>
						<div>Date: <span class="invoice-underline"></span></div>
					</td>
					<td class="column1">
						<div class="m-b-25"></div>
						<div><span class="invoice-underline">_______________________</span></div>
						<div>BU Commercial Manager</div>
						<div>Date: <span class="invoice-underline"></span></div>
					</td>
				</tr>
				<tr class="row1">
					<td class="column1">
						<div>Extended Approval by:</div>
						<div>[Required only where different </div>
						<div>manner of execution</div> 
						<div> of Subcontract is requested</div> 
						<div>above (<span class="text-primary">PDS/07/4.5.23)</span>]</div>
					</td>
					<td class="column1">
						<div class="m-b-30"></div>
						<div><span class="invoice-underline">_______________________</span></div>
						<div>BU Commercial Manager</div>
						<div>Date: <span class="invoice-underline"></span></div>
					</td>
					<td class="column1">
						<div>Extended Approval by:</div>
						<div>[Required only where different </div>
						<div>manner of execution</div> 
						<div>of Subcontract is requested</div> 
						<div>above (<span class="text-primary">PDS/07/4.5.23)</span>]</div>
					</td>
					<td class="column1">
						<div class="m-b-30"></div>
						<div><span class="invoice-underline">_______________________</span></div>
						<div>BU Commercial Manager</div>
					</td>
				</tr>
				<tr class="row1">
					<td class="column1" colspan="3">
						<div>Extended Approval by:</div>
						<div>[Required only for Buying Loss / Waiver to Bond or Parent Company Guarantee on S/C sum > HK$10M (<span class="text-primary">PDS/07/4.5.17</span>)]</div> 
					</td>
					<td class="column1">
						<div><span class="invoice-underline">Nigel White</span></div>
						<div>Executive Commercial Director</div>
						<div>Nigel White</div>
						<div class="m-t-10">Date: <span class="invoice-underline"></span></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	 <button class="btn btn-primary btn-block hidden-print" ng-click="submit()" ng-hide = "disableButtons" ng-disabled="disableButtons"><span class="fa fa-save"></span> <b>Submit</b></button>
	
</div>

<!-- <div class="animated fadeIn">

		<div class="row">
			<div class="col-md-7 col-md-offset-3">

              <div class="box box-primary">
                <div class="box-body box-profile">
                  <span class="profile-user-img img-responsive icofont icofont-badge icofont-4x text-blue"></span>
                  <h3 class="profile-username text-center">{{vendorNo}}</h3>
                  <p class="text-muted text-center">{{vendorName}}</p>

                  <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                      <b>Budget</b> <b class="pull-right">{{budget | currency}}</b>
                    </li>
                    <li class="list-group-item">
                      <b>Subcontract Sum</b> <b class="pull-right">{{subcontractSum | currency}}</b>
                    </li>
                    <li class="list-group-item">
                      <b>Payment Terms</b> <a class="pull-right">QS2</a>
                    </li>
                    <li class="list-group-item">
                    	<div>
                    		<label class= "text-red"><u>Warning</u></label>
                    	</div>
	                    <label class= "text-red">1. Currency Code is in foreign currency: USD</label>
	                    <label class= "text-red">
	                    2. The subcontractor is under finance hold status. Please contact Finance Dept at 2516-8911 ext 7799 for details.
	                    </label>
                    	<div>
	                    	<input type="checkbox" name="iCheck" ng-model="creditWarning" ng-icheck/>
                    		<label class= "text-red">I agree to the above condition and continue to submit this subcontract.</label>
                    	</div>
	                    
                    </li>
                    <li class="list-group-item">
                    <label>
                      <input type="checkbox" name="iCheck" ng-model="creditWarning" ng-icheck/>
                    		I agree to the above condition and continue to submit this subcontract.</label>
                    </li>
                  </ul>

                  <a href="#" class="btn btn-primary btn-block"><span class="fa fa-save"></span> <b>Submit</b></a>
                </div>/.box-body
              </div>/.box


		</div>
		 
	
	</div>

</div> -->
<!-- div compile="awardHtml"></div -->
