<div class="animated fadeIn">
	<div class="row">
		
		<div class="col-md-5">
			<div class="box box-primary">
				<div class="box-header with-border">
	                  <h3 class="box-title">Resource Summaries </h3>
	                </div>
				<div class="box-body">
					<div ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter class="grid "></div>
				</div>
			</div>
		</div>

		<div class="col-md-2">
		<br/>
			<div class="row">

				<div class="col-md-12 col-md-offset-3">
					<button class="btn btn-app btn-danger" ng-click="addData()">
						<i class="fa fa-plus-circle"></i> Add
					</button>
				</div>

				<div class="col-md-12 col-md-offset-3" >
					<button class="btn btn-app btn-primary" ng-click="copyData()">
						<i class="fa fa-copy"></i> Copy
					</button>
				</div>

				<div class="col-md-12 col-md-offset-3">
					<button class="btn btn-app btn-success" ng-click="deleteData()">
						<i class="fa fa-trash-o"></i> Delete
					</button>
				</div>
			</div>

		</div>

		<div class="col-md-5">
			<div class="box box-primary">
				<div class="box-header with-border">
	                  <h3 class="box-title">Tender Analysis Details</h3>
	                </div>
				<div class="box-body">
					<div ui-grid="gridOptionsTa" ui-grid-selection ui-grid-auto-resize ui-grid-resize-columns ui-grid-edit ui-grid-row-edit ui-grid-cellnav ui-grid-exporter class="grid "></div>
				</div>
			</div>
		</div>     
	         
   </div>
	
	
</div>
<button class="m-t-5 btn btn-primary btn-block" ng-click="save()" ng-hide = "disableButtons" ng-disabled="disableButtons">
	Save <span class="fa fa-save"></span>
</button>
