<div id="content" class="content">
	<!-- <ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol> -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small>
	</h1>
	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;"
							class="btn btn-xs btn-icon btn-circle btn-inverse"
							data-click="panel-expand"><i class="fa fa-expand"></i></a> <a
							href="javascript:;"
							class="btn btn-xs btn-icon btn-circle btn-inverse"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
					</div>
					<h3 class="panel-title">
						<b>Subcontract {{subcontractNo}} - </b>{{subcontractDescription}}
					</h3>
					<h3 class="panel-title">Payment Terms: {{subcontract.paymentTerms}}</h3>
					<h3 class="panel-title" ng-show="subcontract.paymentStatus == 'F'"><b>Finalized</b></h3>
						
				</div>
				<div class="panel-body">
					<div class="panel-option bg-white">
						<div class="dropdown pull-right">
							<a href="javascript:;" class="btn btn-primary btn-rounded btn-sm"
								data-toggle="dropdown">{{selectedYear}} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li ng-repeat="year in yearList">
									<a ng-click="getDashboardDataByYear(year)">{{year}}</a>
								</li>
							</ul>
						</div>
						<div class="text-center">{{startMonth}} {{startYear}} - {{endMonth}} {{endYear}}</div>
					</div>

					<div class="chart">
						<canvas id="line" class="chart chart-line"
							chart-data="lineChartParameters.data"
							chart-labels="lineChartParameters.labels" chart-legend="true"
							chart-series="lineChartParameters.series"
							chart-options="lineChartParameters.options" height="190">
						           	</canvas>
					</div>

					<!-- <div class="col-md-12 col-xs-12">
						<span>Work Done Amount</span> <span class="pull-right"><b>$400K</b>
							out of $53895K</span>

						<div class="progress m-b-10">
							<div class="progress-bar progress-bar-aqua" style="width: 40%"></div>
						</div>
						<span>Payment Amount</span> <span class="pull-right"><b>$280K</b>
							out of $53895K</span>

						<div class="progress m-b-10">
							<div class="progress-bar progress-bar-danger" style="width: 80%"></div>
						</div>
					</div> -->
				</div>
			</div>

		</div>






		<div class="col-md-5">
			<div class="row">
				<div class="col-md-12">
					
					<div class="widget widget-stat bg-primary text-white">
						<div class="widget-stat-icon">
							<i class="fa fa-calculator"></i>
						</div>
						<div class="widget-stat-info">
							<div class="widget-stat-title">Revised Subcontract Sum</div>
							<div class="widget-stat-number">{{revisedSCSum | currency}}</div>
						</div>
					</div>
					
					
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Subcontract Distribution</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="col-md-12">
								<canvas id="doughnut" class="chart chart-doughnut"
									chart-data="subcontractChart.data"
									chart-labels="subcontractChart.labels"
									chart-options="subcontractChart.options"
									chart-colours="subcontractChart.colours" height="80">
									</canvas>
							</div>
							<div class="col-md-12">
								<ul class="chart-legend clearfix">
									<li class="pull-left"><i class="fa fa-circle text-inverse"></i>
										<label>{{subcontractChart.labels[0]}} :
											{{subcontractChart.data[0] | currency}} (Original: {{subcontract.originalSubcontractSum | currency}})</label></li>
									<li class="pull-left"><i class="fa fa-circle text-info"></i>
										<label>{{subcontractChart.labels[1]}}:
											{{subcontractChart.data[1] | currency}}</label></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="box">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Core Subcontract Details Distribution
									(Amount)</h3>
							</div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-6 col-xs-12">
										<!-- <canvas id="doughnut" class="chart chart-doughnut"
										chart-data="bq.data"
										chart-labels="bq.labels" chart-legend="true"
										height="130">
										</canvas> -->
										<canvas id="bar" class="chart chart-bar"
											chart-data="barChartParameters.bqData"
											chart-labels="barChartParameters.labels"
											chart-colours="barChartParameters.colours"
											chart-series="barChartParameters.series"
											chart-options="barChartParameters.options"
											chart-legend="true" height="150">
									</canvas>
										<p class="text-center">
											<strong>BQ</strong>
										</p>
									</div>
									<!-- ./col -->
									<div class="col-md-6 col-xs-12">
										<canvas id="bar" class="chart chart-bar"
											chart-data="barChartParameters.voData"
											chart-labels="barChartParameters.labels"
											chart-colours="barChartParameters.colours"
											chart-series="barChartParameters.series"
											chart-options="barChartParameters.options"
											chart-legend="true" height="150">
									</canvas>
										<p class="text-center">
											<strong>Addendum</strong>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>



</div>