<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
	<!-- end breadcrumb -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small>
	</h1>


	<div class="row">

		<div class="col-md-6">

			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Before Terminate</h3>
				</div>

				<div class="box-body">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div
								class="widget widget-stat widget-stat-right bg-primary text-white">
								<div class="widget-stat-icon">
									<i class="fa fa-bookmark-o"></i>
								</div>
								<div class="widget-stat-info">
									<div class="widget-stat-title">Subcontract Sum</div>
									<div class="widget-stat-number">41,410</div>
								</div>
								<div class="widget-stat-progress">
									<div class="progress">
										<div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
								<div class="widget-stat-footer text-left">BQ, B1</div>
							</div>
						</div>



						<div class="col-md-6 col-sm-6 col-xs-12">
							<div
								class="widget widget-stat widget-stat-right bg-primary text-white">
								<div class="widget-stat-icon">
									<i class="fa fa-thumbs-o-up"></i>
								</div>
								<div class="widget-stat-info">
									<div class="widget-stat-title">Approved Addendum Amount</div>
									<div class="widget-stat-number">41,410</div>
								</div>
								<div class="widget-stat-progress">
									<div class="progress">
										<div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
								<div class="widget-stat-footer text-left">V1, V2, V3, L1,
									L2, D1, D2, CF</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">After Terminate</h3>
				</div>

				<div class="box-body">

					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div
								class="widget widget-stat widget-stat-right bg-green-gradient text-white">
								<div class="widget-stat-icon">
									<i class="fa fa-bookmark-o"></i>
								</div>
								<div class="widget-stat-info">
									<div class="widget-stat-title">Subcontract Sum</div>
									<div class="widget-stat-number">41,410</div>
								</div>
								<div class="widget-stat-progress">
									<div class="progress">
										<div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
								<div class="widget-stat-footer text-left">BQ, B1</div>
							</div>
						</div>



						<div class="col-md-6 col-sm-6 col-xs-12">
							<div
								class="widget widget-stat widget-stat-right bg-green-gradient text-white">
								<div class="widget-stat-icon">
									<i class="fa fa-thumbs-o-up"></i>
								</div>
								<div class="widget-stat-info">
									<div class="widget-stat-title">Approved Addendum Amount</div>
									<div class="widget-stat-number">41,410</div>
								</div>
								<div class="widget-stat-progress">
									<div class="progress">
										<div class="progress-bar" style="width: 100%"></div>
									</div>
								</div>
								<div class="widget-stat-footer text-left">V1, V2, V3, L1,
									L2, D1, D2, CF</div>
							</div>
						</div>

					</div>
				</div>

			</div>


		</div>



	<div class="col-md-12">


		<div class="box box-primary">
			<!-- <div class="box-header with-border">
				<h3 class="box-title"></h3>
			</div> -->

			<div class="box-body">
				<div class="col-md-12">
					<div id="" save-and-restore-grid-state="subcontract_terminate" ui-grid-save-state ui-grid="gridOptions" ui-grid-pagination
						ui-grid-selection ui-grid-cellnav class="grid"
						></div>
				</div>

				<div class="col-md-6">
					<a class="btn btn-primary btn-block">Update <i
						class="fa fa-floppy-o"></i></a>
				</div>
				<div class="col-md-6">
					<a class="btn btn-primary btn-block">Submit for Terminate Approval
						<i class="fa fa-floppy-o"></i>
					</a>
				</div>
			</div>
		</div>

	</div>
</div>

</div>
