<div class="m-t-20 m-l-20 m-r-20">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
	<!-- end breadcrumb -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small>
	</h1>


	<div class="row">
		<div class="col-xs-3">
			<div class="btn-group btn-group-justifie">
				<label class="btn" 
					ng-class="{'btn-primary' : subcontractStatus == 'Award', 'btn-white' : subcontractStatus != 'Award'}"
					ng-model="subcontractStatus" uib-btn-radio="'Award'"><i class="fa fa-check-circle"></i> Award</label> 
				<label class="btn" 
					ng-class="{'btn-inverse' : subcontractStatus == 'nonAward', 'btn-white' : subcontractStatus != 'nonAward'}"
					ng-model="subcontractStatus" uib-btn-radio="'nonAward'"><i class="fa fa-remove"></i> Non-Award</label>
				<label class="btn" 
					ng-class="{'btn-primary' : subcontractStatus == '', 'btn-white' : subcontractStatus != ''}"
					ng-model="subcontractStatus" uib-btn-radio="''"><i class="fa fa-th"></i> All</label>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="input-group bg-purple-active">
				<input ng-model="searchquery"
					placeholder="Search Subcontract here.." class="form-control"
					ng-click="removeDefaultAnimation()" /> <span
					class="input-group-btn">
					<button class="btn btn-flat bg-primary" ng-click='filter()'>
						<span class="fa fa-search"></span>
					</button>
				</span>
			</div>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-2">
			<button type="button" class="btn btn-danger btn-block pull-right" ui-sref="subcontract-award.hearder" ng-click="updateSubcontractNo('', '')">
				<i class="fa fa-plus-circle"></i><span> Create</span>
			</button>

		</div>
	</div>

	<br>

	<div class="fixed-container">
		<div class="row ">
			<!-- <div class="col-md-4 col-lg-3 animated flipInX"
				ng-repeat="sc in (filteredItems = (subcontracts  | filter:{scStatus:'500'} | filter:searchquery))"
				ng-hide ="subcontractStatus=='nonAward'"> -->
			<div class="col-md-4 col-lg-3 animated flipInX"
				ng-repeat="sc in subcontracts | filter:{scStatus:'500'} | filter:searchquery"
				ng-hide ="subcontractStatus=='nonAward'">
				
				<div class="box box-widget sc-panel">
					<a ui-sref="subcontract.dashboard" ng-click="updateSubcontractNo(sc.packageNo, sc.description)">
						<div class="sc-panel-header bg-primary">
							<div class="sc-panel-icon">
								<span class="glyphicon glyphicon-ok-sign"></span>
							</div>
							<h3 class="sc-panel-name">
								<b>{{sc.packageNo}}</b>
								<small><span class="pull-right badge bg-inverse">{{sc.originalSCSum | currency}}</span></small>
							</h3>
							<h3 class="sc-panel-name">
								<small><span class="pull-right badge bg-inverse">{{sc.paymentTerms}}</span></small>
							</h3>
							
							<h5 class="sc-panel-desc">
								{{sc.description}}
								
							</h5>
						</div>
					</a>
					<div class="box-footer no-padding">
						<ul class="nav nav-stacked">
							<li><a ui-sref="subcontract.dashboard" ng-click="updateSubcontractNo(sc.packageNo, sc.description)">{{sc.vendorName}}<span
									class="pull-right badge bg-green">{{sc.vendorNo}}</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->

		<div class="row">
			<!-- animated flipInX -->
			<div class="col-md-4 col-lg-3 animated flipInX"
				ng-repeat="sc in subcontracts | filter:{scStatus:'!500'} | filter:searchquery"
				ng-hide ="subcontractStatus=='Award'">
				<div class="box box-widget sc-panel">
					<a ui-sref="subcontract-award.hearder" ng-click="updateSubcontractNo(sc.packageNo, sc.description)">
						<div class="sc-panel-header bg-inverse text-white">
							<div class="sc-panel-icon">
								<span class="glyphicon glyphicon-remove-sign"></span>
							</div>
							<h3 class="sc-panel-name">
								<b>{{sc.packageNo}}</b>
								<small><span class="pull-right badge">{{sc.originalSCSum | currency}}</span></small>
							</h3>
							<h5 class="sc-panel-desc">
								{{sc.description}}
							</h5>
						</div>
					</a>
					<div class="box-footer no-padding">
						<ul class="nav nav-stacked">
							<li><a ui-sref="subcontract-award.hearder" ng-click="updateSubcontractNo(sc.packageNo, sc.description)">{{sc.vendorName}}<span
									class="pull-right badge bg-green">{{sc.vendorNo}}</span></a></li>
						</ul>
					</div>
				</div>

			</div>
			<!-- /.col -->
		</div>

		<!-- <div>{{filteredItems}}</div> -->

	</div>
</div>
