<!-- begin #content -->
<div id="content" class="content">


	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small> - Subcontract
		{{subcontractNo}}<small> {{subcontractDescription}}</small> <small
			class="text-red m-l-30" ng-show="paymentStatus == 'F'"> <b>Final</b></small>
	</h1>

	<div class="row">

		<!-- Subcontract Tracking Information  -->
		<div class="col-md-6" ng-show="subcontract.scStatus == 500">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Subcontract Tracking Information</h3>
				</div>
				<div class="box-body box-profile">
					<ul class="list-group list-group-unbordered">
						<li class="list-group-item"
							ng-repeat="d in dates | filter: { group: 'STI'} | orderBy: 'order'">
							<b>{{d.description}} Date</b> <b class="pull-right">{{subcontract[d.field]
								| date:GlobalParameter.DATE_FORMAT}}</b>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>