<div id="content" class="content">

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small> - Subcontract
		{{subcontractNo}}<small> {{subcontractDescription}}</small> 
		<small class="text-red m-l-30" ng-show="paymentStatus == 'F'"> <b>Final</b></small>
	</h1>

	<div class="row">


		<div class="row">

			<div class="col-lg-3 col-xs-12">
				<div class="widget widget-stat bg-primary text-white">
					<div class="widget-stat-icon">
						<i class="fa fa-dollar"></i>
					</div>
					<div class="widget-stat-info">
						<div class="widget-stat-title">BQ</div>
						<div class="widget-stat-number">{{subcontract.remeasuredSubcontractSum
							| currency}}</div>
						<div class="widget-stat-text">(Cumulative to date)</div>
					</div>
				</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-xs-12">
				<div class="widget widget-stat bg-danger text-white">
					<div class="widget-stat-icon">
						<i class="fa fa-dollar"></i>
					</div>
					<div class="widget-stat-info">
						<div class="widget-stat-title">Addendum</div>
						<div class="widget-stat-number">{{subcontract.approvedVOAmount
							| currency}}</div>
						<div class="widget-stat-text">(Cumulative to date)</div>
					</div>
				</div>
			</div>
			<!-- ./col -->
			<div class="col-lg-3 col-xs-12">
				<div class="widget widget-stat bg-warning text-white">
					<div class="widget-stat-icon">
						<i class="fa fa-dollar"></i>
					</div>
					<div class="widget-stat-info">
						<div class="widget-stat-title">Contra Charge</div>
						<div class="widget-stat-number">{{subcontract.totalCCPostedCertAmount
							| currency}}</div>
						<div class="widget-stat-text">(Cumulative to date)</div>
					</div>
				</div>

			</div>
			<!-- ./col -->
			<div class="col-md-3 col-xs-12">
				<div class="widget widget-stat bg-success text-white">
					<div class="widget-stat-btn">
						<a href="" ng-click="showRetentionDetails()"><i class="fa fa-info-circle fa-2x"></i></a>
					</div>
					<div class="widget-stat-icon">
						<i class="fa fa-dollar"></i>
					</div>
					<div class="widget-stat-info">
						<div class="widget-stat-title">Retention Balance</div>
						<div class="widget-stat-number">{{subcontract.retentionBalance
							| currency}}</div>
						<div class="widget-stat-text">(Cumulative to date)</div>
					</div>
				</div>

			</div>
		</div>
		
		
		<div class="row">
			<div class="col-md-12">

				<div class="panel panel-white">
					<div class="panel-heading">
						<div class="panel-heading-btn">
							<a href="javascript:;"
								class="btn btn-xs btn-icon btn-circle btn-inverse"
								data-click="panel-expand"><i class="fa fa-expand"></i></a> <a
								href="javascript:;"
								class="btn btn-xs btn-icon btn-circle btn-inverse"
								data-click="panel-collapse"><i class="fa fa-minus"></i></a>
						</div>
					</div>
					<div class="panel-body">
						<div id="" ui-grid="gridOptions" ui-grid-selection ui-grid-grouping
							ui-grid-move-columns ui-grid-resize-columns ui-grid-exporter
							class="grid" resize ng-style="resizeWithOffset(380)"></div>
						<!-- style="height:400px;  width=: 1600px"  -->
						<label class="text-red">* Retention is excluded from the total calculation of Cum. Certified Amount and Posted Certified Amount.</label>
					</div>
					<div class="panel-footer bg-white">
							<button class="btn btn-block btn-primary btn-sm"
								ng-click="recalculateSCSummary()">Recalculate
								Subcontract Summary</button>
					</div>
				</div>
				

			</div>
		</div> 

	</div>
</div>
