<div class="modal-header">
	<div class="row">
		<div class="col-md-11">
			<h4 class="modal-title">Update / Delete Subcontract Detail</h4>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body bg-white">
	<div class="row">

		<!-- Addendum -->
		<div class="animated fadeIn">
			<div class="row">
				<h3 class="form-header form-header-lg m-b-10 m-l-20">
					<span class="icon text-primary"><i class="fa fa-star"></i></span>
				</h3>
				<p class="m-b-20">Please select rows from below to update or
					delete existing Subcontract Details.</p>
				<div class="col-md-12">
					<div id="" save-and-restore-grid-state="subcontract_addendum_detail_update" ui-grid-save-state ui-grid="gridOptions" ui-grid-selection
						ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter
						class="grid "></div>
				</div>
			</div>

		</div>

	</div>
</div>

<div class="modal-footer">
	<div class="col-md-6">
		<button class="btn btn-primary btn-block" ng-click="updateDetail()"
			ng-hide="disableButtons" ng-disabled="disableButtons">
			Update <span class="fa fa-save"></span>
		</button>
	</div>
	<div class="col-md-6">
		<button class="btn btn-success btn-block" ng-click="deleteDetail()"
			ng-hide="disableButtons" ng-disabled="disableButtons">
			Delete <span class="fa fa-remove"></span>
		</button>
	</div>
</div>
