<div class="m-t-20 m-l-20 m-r-20">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
	<!-- end breadcrumb -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small>
	</h1>

	<div class="row">
		<div class="col-md-12">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Repackaging Update</h3>
				</div>

				<div class="box-body">
					<div class="row">

						<div class="col-md-3 col-sm-6 col-xs-12">
							<button type="button"
								class="btn btn-app btn-block bg-aqua-gradient"
								ng-click="open('split')">
								<i class="fa fa-unlink"></i> Split
							</button>
							<!-- <a class="btn btn-app btn-block bg-aqua-gradient">
				                    <i class="fa fa-unlink"></i> Split
				                  </a> -->
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12">
							<button type="button"
								class="btn btn-app btn-block bg-yellow-gradient"
								ng-click="open('merge')">
								<i class="fa fa-link"></i> Merge
							</button>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12">
							<button type="button"
								class="btn btn-app btn-block bg-green-gradient"
								ng-click="open('add')">
								<i class="fa fa-plus-circle"></i> Add
							</button>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12">
							<button type="button"
								class="btn btn-app btn-block bg-red-gradient">
								<i class="fa fa-remove"></i> Delete
							</button>
						</div>
					</div>

					<div class="row m-b-20">
						<div class="col-md-12">
							<div id="" ui-grid="gridOptions" ui-grid-selection
								ui-grid-cellnav ui-grid-edit ui-grid-exporter class="grid"
								style="height: 500px; width =: 1600px"></div>
						</div>
						<div class="col-md-12">
							<!-- <a class="btn btn-twitter btn-block">Update <i class="fa fa-floppy-o"></i></a> -->
							<button type="button" class="btn bg-blue btn-block">
								<i class="fa fa-floppy-o"></i> Update
							</button>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>


</div>
