<div class="m-t-20 m-l-20 m-r-20">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
	<!-- end breadcrumb -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small>
	</h1>
	<div class="row">

		<div class="col-md-12">
			<div class="panel panel-white">
				<div class="panel-heading">
					<div>
						<h4>
							Version {{repackaging.repackagingVersion}}
							<div class="pull-right">
								<button class="btn btn-inverse" ng-click="getHistory()">
									<i class="fa fa-info-circle"></i> History
								</button>
							</div>
						</h4>
					</div>
				</div>
				<div class="box-body">

					<div class="row">

						<div class="process col-md-12">
							<div class="process-row">
								<div class="process-step" ng-show="repackaging == ''">
									<button type="button" class="btn btn-big-circle"
										ng-class="{'btn-primary': repackaging == ''}"
										ng-disabled="repackaging != ''"
										ng-click="click('generateResourceSummaries')">
										<i class="fa fa-clipboard fa-3x"></i>
									</button>
									<p>
										<label>Generate Resource Summaries</label>
									</p>
								</div>
								<div class="process-step">
									<button type="button" class="btn btn-big-circle"
										ng-class="{'btn-primary': latestVersion && repackaging != '' && repackaging.status == '900'}"
										ng-disabled="latestVersion == false || repackaging == '' || repackaging.status != '900'"
										ng-click="click('unlock')">
										<i class="fa fa-unlock-alt fa-3x"></i>
									</button>
									<p>
										<label>Unlock</label>
									</p>
								</div>
								<div class="process-step">
									<button type="button" class="btn btn-big-circle"
										ng-class="{'btn-primary': repackaging.status == '100'}"
										ng-disabled="repackaging.status != '100'"
										ng-click="click('reset')">
										<i class="fa fa-refresh fa-3x"></i>
									</button>
									<p>
										<label>Reset</label>
									</p>
								</div>
								<div class="process-step">
									<button type="button" class="btn btn-big-circle"
										ng-class="{'btn-primary': repackaging != '' && repackaging.status != '900'}"
										ng-disabled="repackaging == '' || repackaging.status == '900'"
										ui-sref="repackaging-update">
										<i class="fa fa-save fa-3x"></i>
									</button>
									<p>
										<label>Update</label>
									</p>
								</div>
								<div class="process-step">
									<button type="button" class="btn btn-big-circle"
										ng-class="{'btn-primary': repackaging.status == '200'}"
										ng-disabled="repackaging.status != '200'"
										ng-click="click('snapshot')">
										<i class="fa fa-camera fa-3x"></i>
									</button>
									<p>
										<label>Generate Snapshot</label>
									</p>
								</div>

								<div class="process-step">
									<button type="button" class="btn btn-big-circle"
										ng-class="{'btn-primary': repackaging.status == '300'}"
										ng-disabled="repackaging.status != '300'"
										ng-click="click('email')">
										<i class="fa fa-envelope fa-3x"></i>
									</button>
									<p>
										<label>Send Email to Approver</label>
									</p>
								</div>

								<div class="process-step">
									<button type="button" class="btn btn-big-circle"
										ng-class="{'btn-primary': repackaging.status == '300' || repackaging.status == '900'}"
										ng-disabled="latestVersion && repackaging.status != '300'"
										ng-click="click('confirm')">
										<i class="fa fa-check-square-o fa-3x"></i>
									</button>
									<p>
										<label>Confirm/Review</label>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div
				class="widget widget-stat widget-stat-right bg-inverse text-white">
				<div class="widget-stat-icon">
					<i class="fa fa-calculator"></i>
				</div>
				<div class="widget-stat-info">
					<div class="widget-stat-title">Total Budget</div>
					<div class="widget-stat-number">
						<small>{{repackaging.totalResourceAllowance | currency}}</small>
					</div>
				</div>
				<div class="widget-stat-progress">
					<div class="progress">
						<div class="progress-bar" style="width: 100%"></div>
					</div>
				</div>
				<div class="widget-stat-footer text-left"></div>
			</div>

			<div class="panel panel-white" >
				<div class="panel-heading">
					Remarks
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="panel-body">
					<form role="form">
						<!-- textarea -->
						<div class="form-group">
							<!-- <label>Remark</label> -->
							<textarea class="form-control" rows="3"
								placeholder="Please enter remarks in here..."
								ng-model="repackaging.remarks"
								ng-disabled="repackaging.status == '900'"></textarea>
						</div>
					</form>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<button class="btn btn-primary btn-block"
						ng-disabled="repackaging.status == '900'"
						ng-click="updateRemarks()">
						Update <i class="fa fa-edit"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Remark -->

		<!-- Attachment -->
		<div class="col-md-8 animated fadeIn">
			<div class="panel panel-inverse">
				<div class="panel-heading">Attachment</div>
				<div class="panel-body" style="padding: 0 !important">
					<div class="table-responsive" resize
						ng-style="resizeWithOffset(550)">
						<form class="form" role="form" id="attachmentForm">
							<table class="table table-hover ">
								<thead>
									<tr class="inverse">
										<th>No.</th>
										<th>File name</th>
										<th>Type</th>
										<th>Created By</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="attach in repackagingAttachments"
										style="cursor: pointer">
										<td><label for="fileRadiobox-{{$index}}">{{$index+1}}</label>
											<input type="checkbox" ng-Icheck id="fileRadiobox-{{$index}}"
											ng-change="checkSelected()" name="fileRadiobox-{{$index}}"
											ng-model="attach.selectedAttachement"></td>
										<td ng-click="attachmentClick()">{{attach.fileName}}</td>
										<td ng-click="attachmentClick()"><span
											class="{{attach.fileIconClass}}"></span></td>
										<td ng-click="attachmentClick()"><img imageonload
											roll-back-image="resources/images/profile.png"
											class="rounded-corner" height="30" width="30"
											data-ng-src="{{attach.user.userIcon}}">
											{{attach.user.UserName}}</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
				<div class="box-footer">
					<div class="col-md-12">
						<div class="col-md-4">
							<form name="uploadAttachmentFiles" id="uploadAttachmentFiles"
								ng-submit="onSubmitAttachmentUpload(uploadAttachmentFiles.files)">
								<label class="btn btn-block btn-primary" ng-disabled="repackaging.status == '900'"> <i
									class="glyphicon glyphicon-upload"></i> Upload File
									Attachment&hellip; <input style="display: none;"
									class="form-control file-loading" type="file" name="files"
									id="attachmentFiles" ng-model="attachmentFiles" ng-disabled="repackaging.status == '900'"
									onChange="angular.element(this).scope().onSubmitAttachmentUpload(uploadAttachmentFiles.files)"
									multiple />
								</label>
							</form>
						</div>

						<div class="col-md-4">
							<label class="btn btn-block btn-success" ng-disabled="repackaging.status == '900'"
								ng-click="repackaging.status != '900' &&deleteAttachment()">
								<i class="glyphicon glyphicon-remove-circle"></i> Delete
								selected Item
							</label>
						</div>
						<div class="col-md-4">
							<button class="btn btn-block btn-danger" ng-disabled="repackaging.status == '900'"
								ng-click="repackaging.status != '900' && addTextAttachment()">
								<i class="glyphicon glyphicon-plus-sign"></i> Add Text
								Attachment
							</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>