<div class="modal-header">
	<div class="row">
		<div class="col-md-11">
			
			<span class="input-group" 
				moment-picker="kpiList[0].period" format="YYYY-MM"
				start-view="year" today="true">
				<span class="input-group-addon">Month Ending <i class="fa fa-calendar"></i></span>
				<input class="form-control" required ng-model="kpiList[0].period" ng-model-options="{ updateOn: 'blur' }">
			</span>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body bg-gray-light">
	<div class="animated fadeIn">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body">
						<div class="row">
							<form name="addForm">
								<div class="form-group">
									<div ng-include src="'view/job/modal/kpiRowTemplate.html'"></div>

									<div class="col-md-12" style="width:100%;padding:5px;border: 0px solid #eee">
										<div class="form-group">
											<!-- label>Remarks</label -->
											<div style="padding: 0px">
												<!-- div class="col-md-9" style="padding-left: 0px">
													<textarea class="form-control" ng-model="kpi.remarks"
														style="height: 35px"></textarea>
												</div -->
												<div class="col-md-12" style="padding-left: 15px"; padding-right: 0px">
													<button type="button"
														class="form-control btn btn-danger btn-block"
														style="color: white" ng-click="onAdd()"
														ng-disabled="!addForm.$valid">
														<i class="fa fa-plus"></i> Add
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>