<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
	<!-- end breadcrumb -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small>
	</h1>

	<div class="row">
		<div class="panel panel-inverse ">
			<div class="panel-heading">
				<div class="panel-heading-btn">
					<a href="javascript:;"
						class="btn btn-xs btn-icon btn-circle btn-white"
						data-click="panel-expand"><i class="fa fa-expand"></i></a> <a
						href="javascript:;"
						class="btn btn-xs btn-icon btn-circle btn-white"
						data-click="panel-collapse"><i class="fa fa-minus"></i></a>
				</div>
				<h4 class="panel-title">
					<b>Job Dates</b>
				</h4>
			</div>
			<div class="panel-body">
				<div class="row">

					<div class="row">

						<!-- JDE Dates  -->
						<div class="col-md-6">
							<div class="col-md-8">
								<label>Planned Start Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group"
									moment-picker="jobDates.plannedStartDate" format="YYYY-MM-DD"
									start-view="day" ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control"
										ng-model="jobDates.plannedStartDate">
								</div>
							</div>


							<div class="col-md-8">
								<label>Planned End Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group" moment-picker="jobDates.plannedEndDate"
									format="YYYY-MM-DD" start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" ng-model="jobDates.plannedEndDate">
								</div>
							</div>

							<div class="col-md-8">
								<label>Actual Start Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group"
									moment-picker="jobDates.actualStartDate" format="YYYY-MM-DD"
									start-view="day" ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control"
										ng-model="jobDates.actualStartDate">
								</div>
							</div>

							<div class="col-md-8">
								<label>Actual End Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group" moment-picker="jobDates.actualEndDate"
									format="YYYY-MM-DD" start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" ng-model="jobDates.actualEndDate">
								</div>
							</div>

							<div class="col-md-8">
								<label>Anticipated Completion Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group"
									moment-picker="jobDates.anticipatedCompletionDate"
									format="YYYY-MM-DD" start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control"
										ng-model="jobDates.anticipatedCompletionDate">
								</div>
							</div>

							<div class="col-md-8">
								<label>Revised Completion Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group"
									moment-picker="jobDates.revisedCompletionDate"
									format="YYYY-MM-DD" start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control"
										ng-model="jobDates.revisedCompletionDate">
								</div>
							</div>

						</div>

						<!-- QS Dates  -->
						<div class="col-md-6">
							<div class="col-md-8">
								<label>Actual PCC Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group" moment-picker="job.actualPCCDate"
									format="YYYY-MM-DD" start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" ng-model="job.actualPCCDate">
								</div>
							</div>

							<h5></h5>

							<div class="col-md-8">
								<label>Actual Making Good Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group"
									moment-picker="job.actualMakingGoodDate" format="YYYY-MM-DD"
									start-view="day" ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control"
										ng-model="job.actualMakingGoodDate">
								</div>
							</div>

							<div class="col-md-8">
								<label>Defect List Issued Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group"
									moment-picker="job.defectListIssuedDate" format="YYYY-MM-DD"
									start-view="day" ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control"
										ng-model="job.defectListIssuedDate">
								</div>
							</div>

							<div class="col-md-8">
								<label>Financial End Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group" moment-picker="job.financialEndDate"
									format="YYYY-MM-DD" start-view="day"
									ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" ng-model="job.financialEndDate">
								</div>
							</div>

							<div class="col-md-8">
								<label>Final A/C Settlement Date</label>
							</div>
							<div class="form-group col-md-4">
								<div class="input-group"
									moment-picker="job.dateFinalACSettlement" format="YYYY-MM-DD"
									start-view="day" ng-model-options="{ updateOn: 'blur' }">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control"
										ng-model="job.dateFinalACSettlement">
								</div>
							</div>

						</div>

					</div>

				</div>

			</div>




			<div class="panel-footer bg-white">
				<button class="btn btn-primary btn-block" type="button"
					ng-click="saveDates()">
					<span class="fa fa-save"></span> Update
				</button>
			</div>
		</div>




	</div>
	<!-- /.row -->
</div>
<!-- /.content-wrapper -->

