
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<li class="header">{{jobNo}}{{jobDescription}}</li>
			<li ng-class="{active : activeJobSideMenu == 'JobDashboard'}">
				<a ui-sref="job.dashboard" ng-click="activeJobSideMenu = 'JobDashboard'">
					<i class="fa fa-dashboard active"></i>
					<span>Job Dashboard</span>
				</a>
			</li>
			<li ><a href="view/selectJob.html"><i class="fa fa-hand-o-right"></i> <span>Select Job</span></a></li>
			<li ng-class="{active : activeJobSideMenu == 'JobInfo'}">
				<a ui-sref="job.info" ng-click="activeJobSideMenu = 'JobInfo'">
					<i class="fa fa-book"></i> 
					<span>Job Information</span>
				</a>
			</li>
			<li ng-class="{active : activeJobSideMenu == 'JobDates'}">
				<a ui-sref="job.dates" ng-click="activeJobSideMenu = 'JobDates'">
					<i class="fa fa-calendar"></i> 
					<span>Job Dates</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>

<div ui-view></div>

