
<div id="content" class="content">


	<div class="m-t-20 m-l-20 m-r-20">

		<div class="row">
			<div class="col-md-12">
				<div class="box box-primary">
					<div class="box-body">
						<div class="row">
							<form name="addForm">
								<div class="form-group">
									<div class="col-md-12">
										<div class="form-group">
											<div style="padding: 0px">
												<div class="col-md-3" style="padding-right: 0px">
													<button type="button"
														class="form-control btn btn-danger btn-block"
														style="color: white" ng-click="onAdd()"
														ng-disabled="!addForm.$valid">
														<i class="fa fa-plus"></i> Add
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>

							</form>
						</div>
						<div class="row m-10">
							<div id="variationKpiGrid" resize ng-style="resizeWithOffset(250)"
								save-and-restore-grid-state="variationKpi" ui-grid-save-state
								ui-grid="gridOptions" ui-grid-selection ui-grid-pagination
								ui-grid-auto-resize ui-grid-resize-columns ui-grid-row-edit
								ui-grid-cellnav ui-grid-edit ui-grid-exporter class="grid">
							</div>
						</div>
						<div class="row">
							<div
								ng-class="getButtonClass('update')">
								<button type="button"
									class="form-control btn btn-primary btn-block"
									style="color: white" ng-click="onUpdate()"
									ng-if="gridDirtyRows.length > 0">
									<i class="fa fa-save"></i> Update
								</button>
							</div>
							<div
								ng-class="getButtonClass('delete')">
								<button type="button"
									class="form-control btn btn-success btn-block"
									style="color: white" ng-click="onDelete()"
									ng-if="gridSelectedRows.length > 0">
									<i class="fa fa-remove"></i> Delete
								</button>
							</div>

						</div>
					</div>


				</div>
			</div>


		</div>
	</div>