<!-- begin #sidebar -->
<div id="sidebar" class="sidebar sidebar-highlight-primary sidebar-light">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar nav -->
		<ul class="nav" id="jobMenuDiv">
			<li class="nav-header">{{jobNo}} {{jobDescription}}</li>
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
			
			<li ui-sref-active="active" ng-hide="!roles['has_QS_ENQ']">
				<a ui-sref="job.dashboard">
					<i class="fa fa-dashboard active"></i>
					<span>Job Dashboard</span>
				</a>
			</li>
			
			<li>
				<a ui-sref="job-select">
					<i class="fa fa-hand-o-right"></i>
					<span>Select Job</span>
				</a>
			</li>
			
			<li ui-sref-active="active" ng-hide="!roles['has_QS_ENQ']">
				<a ui-sref="job.info" >
					<i class="fa fa-book"></i> 
					<span>Job Information</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="job.personnel" >
					<i class="fa fa-user"></i> 
					<span>Personnel</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="job.kpi">
					<i class="fa fa-align-left"></i>
					<span>Variation \ CE KPI</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="job.claim">
					<i class="fa fa-align-left"></i>
					<span>Claims \ CNCE KPI</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="job.forecast">
					<i class="icofont icofont-mathematical-alt-2"></i>
					<span>Monthly Movement</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="job.roc">
					<i class="icofont icofont-mathematical-alt-2"></i>
					<span>ROC</span>
				</a>
			</li>
			<li ui-sref-active="active" ng-hide="!roles['has_QS_ENQ']">
				<a ui-sref="job.attachment.first">
					<i class="fa fa-file"></i>
					<span>Attachment</span>
				</a>
			</li>

			<li ui-sref-active="active" ng-hide="!roles['has_QS_ENQ']">
				<a ui-sref="job.accountMaster">
					<i class="fa fa-plus-circle"></i>
					<span>Create Account Code</span>
				</a>
			</li>

			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

<div ui-view></div>

<script>
	$(document).ready(function() {
		handleSidebarMinify();
		handleSidebarMenu();
	});
</script>