<div id="content" class="content">


<!-- begin section-container -->
<div class="section-container ">
    <!-- begin row -->
		<div class="row">
			<div class="col-md-2 ">

				<div class="input-group" moment-picker="monthYear" format="YYYY-MM"
					start-view="year" today="true">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input class="form-control" ng-model="monthYear"
						ng-model-options="{ updateOn: 'blur' }" >
				</div>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-2" >
				<button type="button" class="btn btn-success btn-block " ng-if = "!editable"
					ng-click="edit()">
					<i class="fa fa-pencil"></i> Edit
				</button>
				<button type="button" class="btn btn-primary btn-block " ng-if = "editable"
					ng-click="update()">
					<i class="fa fa-save"></i> Save
				</button>
			</div>
			
			<div class="col-md-2">
				<button type="button" class="btn btn-primary btn-block "
					ng-click="addForecast()">
					<i class="fa fa-save"></i> Update Forecast
				</button>
				
			</div>
			
			<div class="col-md-3">
				<button type="button" class="btn btn-danger btn-block "
					ng-click="addCriticalProgram()">
					<i class="fa fa-plus"></i> Add/Update  Critical Programme 
				</button>
				
			</div>
		</div>
		<div class="row m-t-15">
			<!-- begin col-10 -->
			<div class="col-md-12">
				<!-- begin panel -->
				<div class="panel panel-inverse">

					<div class="table-responsive">
						<table
							class="table table-bordered table-hover table-striped table-td-valign-middle">
							<thead>
								<tr class="inverse">
									<th class="width-150 text-center">Month</th>
									<th class="width-150 text-center">Monthly Actual ({{period}})</th>
									<th class="width-150 text-center">Monthly Forecast {{data.actualTurnover.forecastMTD.year}} {{data.actualTurnover.forecastMTD.latestForecastLedger}}</th>
									<th class="width-150 text-center">Monthly Movement</th>
									<th class="width-150 text-center">CTD Actual  </th>
									<th class="width-150 text-center">CTD Forecast  {{data.actualTurnover.forecastCTD.year}} {{data.actualTurnover.forecastCTD.latestForecastLedger}}</th>
									<th class="width-150 text-center">CTD Movement</th>
									<th class="text-center">Explanation of Monthly Movement</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td><div ng-hide="true">{{data.actualTurnover.forecast.noJob = jobNo}} {{data.actualTurnover.forecast.forecastFlag = 'RF'}}  {{data.actualTurnover.forecast.forecastType = GlobalParameter.forecast.Actual}} {{data.actualTurnover.forecast.year = year}} {{data.actualTurnover.forecast.month = month}}</div>
									{{data.actualTurnover.forecast.forecastDesc = GlobalParameter.forecast.InternalValuation}}</td>
									<td class="text-center">{{data.actualTurnover.actualMTD.amount |currency:undefined:0}}</td>
									<td class="text-center">{{data.actualTurnover.forecastMTD.amount |currency:undefined:0}}</td>
									<td class="text-center">{{(data.actualTurnover.actualMTD.amount - data.actualTurnover.forecastMTD.amount) |currency:undefined:0}}</td>
									<td class="text-center">{{data.actualTurnover.actualCTD.amount |currency:undefined:0}}</td>
									<td class="text-center">{{data.actualTurnover.forecastCTD.amount |currency:undefined:0}}</td>
									<td class="text-center">{{(data.actualTurnover.actualCTD.amount - data.actualTurnover.forecastCTD.amount) |currency:undefined:0}}</td>
									<td><textarea maxlength="200"
										class="form-control" ng-model="data.actualTurnover.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.actualTurnover.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><div ng-hide="true">{{data.actualCost.forecast.noJob = jobNo}} {{data.actualCost.forecast.forecastFlag = 'RF'}}  {{data.actualCost.forecast.forecastType = GlobalParameter.forecast.Actual}} {{data.actualCost.forecast.year = year}} {{data.actualCost.forecast.month = month}}</div>
									{{data.actualCost.forecast.forecastDesc = GlobalParameter.forecast.Cost}}</td>
									<td class="text-center">{{data.actualCost.actualMTD.amount |currency:undefined:0}}</td>
									<td class="text-center">{{data.actualCost.forecastMTD.amount |currency:undefined:0}}</td>
									<td class="text-center">{{(data.actualCost.actualMTD.amount - data.actualCost.forecastMTD.amount) |currency:undefined:0}}</td>
									<td class="text-center">{{data.actualCost.actualCTD.amount |currency:undefined:0}}</td>
									<td class="text-center">{{data.actualCost.forecastCTD.amount |currency:undefined:0}}</td>
									<td class="text-center">{{(data.actualCost.actualCTD.amount - data.actualCost.forecastCTD.amount) |currency:undefined:0}}</td>
									<td><textarea maxlength="200"
										class="form-control" ng-model="data.actualCost.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.actualCost.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><b>Site Profit</b></td>
									<td class="text-center"><b>{{(data.actualTurnover.actualMTD.amount -
											data.actualCost.actualMTD.amount) | currency:undefined:0}} </b></td>
									<td class="text-center"><b>{{(data.actualTurnover.forecastMTD.amount
											- data.actualCost.forecastMTD.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.actualTurnover.actualMTD.amount
											- data.actualTurnover.forecastMTD.amount) - (data.actualCost.actualMTD.amount -
											data.actualCost.forecastMTD.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.actualTurnover.actualCTD.amount -
											data.actualCost.actualCTD.amount) | currency:undefined:0}} </b></td>
									<td class="text-center"><b>{{(data.actualTurnover.forecastCTD.amount
											- data.actualCost.forecastCTD.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.actualTurnover.actualCTD.amount
											- data.actualTurnover.forecastCTD.amount) - (data.actualCost.actualCTD.amount -
											data.actualCost.forecastCTD.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b></b></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<!-- end panel -->

			<!-- begin col-10 -->
			<div class="col-md-12">
				<!-- begin panel -->
				<div class="panel panel-primary">
					<div class="table-responsive">
						<table
							class="table table-bordered table-hover table-striped table-td-valign-middle">
							<thead>
								<tr class="primary">
									<th class="width-150 text-center">EoJ</th>
									<th class="width-150 text-center">Rolling Forecast
										({{period}})</th>
									<th class="width-150 text-center">Previous Rolling
										Forecast ({{lastPeriod}})</th>
									<th class="width-150 text-center">Monthly Movement</th>
									<th class="width-150 text-center">Latest Forecast {{data.turnover.jdeForecast.latestForecastLedger}}</th>
									<th class="width-150 text-center">Movement from Latest Forecast</th>
									<th class="text-center">Explanation of Monthly Movement</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td><div ng-hide="true">{{data.turnover.forecast.noJob = jobNo}} {{data.turnover.forecast.forecastFlag = 'RF'}}  {{data.turnover.forecast.forecastType = GlobalParameter.forecast.EoJ}} {{data.turnover.forecast.year = year}} {{data.turnover.forecast.month = month}}</div>
									{{data.turnover.forecast.forecastDesc = GlobalParameter.forecast.Turnover}}</td>
									<td class="text-center"><input type="number"
										class="form-control" ng-model="data.turnover.forecast.amount"
										ng-if="editable"  />
										<div ng-if="!editable">{{data.turnover.forecast.amount |
											currency:undefined:0}}</div></td>
									<td class="text-center">{{data.turnover.preForecast.amount |
										currency:undefined:0}}</td>
									<td class="text-center">{{data.turnover.forecast.amount -
										data.turnover.preForecast.amount | currency:undefined:0}}</td>
									<td class="text-center">{{data.turnover.jdeForecast.amount |
										currency:undefined:0}}</td>
									<td class="text-center">{{data.turnover.forecast.amount -
										data.turnover.jdeForecast.amount | currency:undefined:0}}</td>
									<td>
									<textarea maxlength="200"
										class="form-control" ng-model="data.turnover.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.turnover.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><div ng-hide="true">{{data.cost.forecast.noJob = jobNo}} {{data.cost.forecast.forecastFlag = 'RF'}} {{data.cost.forecast.forecastType = GlobalParameter.forecast.EoJ}} {{data.cost.forecast.year = year}} {{data.cost.forecast.month = month}}</div>
									{{data.cost.forecast.forecastDesc = GlobalParameter.forecast.Cost}}</td>
									<td class="text-center"><input type="number"
										class="form-control" ng-model="data.cost.forecast.amount"
										ng-if="editable"  />
										<div ng-if="!editable">{{data.cost.forecast.amount |
											currency:undefined:0}}</div></td>
									<td class="text-center">{{data.cost.preForecast.amount |
										currency:undefined:0}}</td>
									<td class="text-center">{{data.cost.forecast.amount -
										data.cost.preForecast.amount | currency:undefined:0}}</td>
									<td class="text-center">{{data.cost.jdeForecast.amount |
										currency:undefined:0}}</td>
									<td class="text-center">{{data.cost.forecast.amount -
										data.cost.jdeForecast.amount | currency:undefined:0}}</td>
									<td><textarea maxlength="200"
										class="form-control" ng-model="data.cost.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.cost.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><b>Site Profit</b></td>
									<td class="text-center"><b>{{(data.turnover.forecast.amount -
											data.cost.forecast.amount) | currency:undefined:0}} </b></td>
									<td class="text-center"><b>{{(data.turnover.preForecast.amount
											- data.cost.preForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.turnover.forecast.amount
											- data.turnover.preForecast.amount) - (data.cost.forecast.amount -
											data.cost.preForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.turnover.jdeForecast.amount
											- data.cost.jdeForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.turnover.forecast.amount
											- data.turnover.jdeForecast.amount) - (data.cost.forecast.amount -
											data.cost.jdeForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b></b></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- end panel -->

				<!-- begin panel -->
				<div class="panel panel-primary">

					<div class="table-responsive">
						<table
							class="table table-bordered table-hover table-striped table-td-valign-middle">
							<thead>
								<tr class="primary">
									<th class="width-150 text-center">Contingency (Above the
										Line)</th>
									<th class="width-150 text-center">Rolling Forecast
										({{period}})</th>
									<th class="width-150 text-center">Previous Rolling
										Forecast ({{lastPeriod}})</th>
									<th class="width-150 text-center">Monthly Movement</th>
									<th class="width-150 text-center">Latest Forecast {{data.turnover.jdeForecast.latestForecastLedger}}</th>
									<th class="width-150 text-center">Movement from Latest Forecast</th>
									<th class="text-center">Explanation of Monthly Movement</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td><div ng-hide="true">{{data.tenderRisk.forecast.noJob = jobNo}} {{data.tenderRisk.forecast.forecastFlag = 'RF'}}  {{data.tenderRisk.forecast.forecastType = GlobalParameter.forecast.Contingency}} {{data.tenderRisk.forecast.year = year}} {{data.tenderRisk.forecast.month = month}}</div>
									{{data.tenderRisk.forecast.forecastDesc = GlobalParameter.forecast.TenderRisks}}</td>
									<td class="text-center"><input type="number"
										class="form-control" ng-model="data.tenderRisk.forecast.amount"
										ng-if="editable"  />
										<div ng-if="!editable">{{data.tenderRisk.forecast.amount |
											currency:undefined:0}}</div></td>
									<td class="text-center">{{data.tenderRisk.preForecast.amount
										| currency:undefined:0}}</td>
									<td class="text-center">{{data.tenderRisk.forecast.amount -
										data.tenderRisk.preForecast.amount | currency:undefined:0}}</td>
									<td class="text-center">{{data.tenderRisk.firstForecast.amount| currency:undefined:0}}</td>
									<td class="text-center">{{data.tenderRisk.forecast.amount -
										data.tenderRisk.firstForecast.amount | currency:undefined:0}}</td>
									<td>
									<textarea maxlength="200"
										class="form-control" ng-model="data.tenderRisk.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.tenderRisk.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><div ng-hide="true">{{data.tenderOpps.forecast.noJob = jobNo}} {{data.tenderOpps.forecast.forecastFlag = 'RF'}}  {{data.tenderOpps.forecast.forecastType = GlobalParameter.forecast.Contingency}} {{data.tenderOpps.forecast.year = year}} {{data.tenderOpps.forecast.month = month}}</div>
									{{data.tenderOpps.forecast.forecastDesc = GlobalParameter.forecast.TenderOpps}}</td>
									<td class="text-center"><input type="number"
										class="form-control" ng-model="data.tenderOpps.forecast.amount"
										ng-if="editable"  />
										<div ng-if="!editable">{{data.tenderOpps.forecast.amount |
											currency:undefined:0}}</div></td>
									<td class="text-center">{{data.tenderOpps.preForecast.amount
										| currency:undefined:0}}</td>
									<td class="text-center">{{data.tenderOpps.forecast.amount -
										data.tenderOpps.preForecast.amount | currency:undefined:0}}</td>
									<td class="text-center">{{data.tenderOpps.firstForecast.amount| currency:undefined:0}}</td>
									<td class="text-center">{{data.tenderOpps.forecast.amount -
										data.tenderOpps.firstForecast.amount | currency:undefined:0}}</td>
									<td>
									<textarea maxlength="200"
										class="form-control" ng-model="data.tenderOpps.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.tenderOpps.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><div ng-hide="true">{{data.others.forecast.noJob = jobNo}} {{data.others.forecast.forecastFlag = 'RF'}}  {{data.others.forecast.forecastType = GlobalParameter.forecast.Contingency}} {{data.others.forecast.year = year}} {{data.others.forecast.month = month}}</div>
									{{data.others.forecast.forecastDesc = GlobalParameter.forecast.Others}}</td>
									<td class="text-center"><input type="number"
										class="form-control" ng-model="data.others.forecast.amount"
										ng-if="editable"  />
										<div ng-if="!editable">{{data.others.forecast.amount |
											currency:undefined:0}}</div></td>
									<td class="text-center">{{data.others.preForecast.amount |
										currency:undefined:0}}</td>
									<td class="text-center">{{data.others.forecast.amount -
										data.others.preForecast.amount | currency:undefined:0}}</td>
									<td class="text-center">{{data.others.firstForecast.amount| currency:undefined:0}}</td>
									<td class="text-center">{{data.others.forecast.amount -
										data.others.firstForecast.amount | currency:undefined:0}}</td>
									<td>
									<textarea maxlength="200"
										class="form-control" ng-model="data.others.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.others.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><b>Total Contingency<b></td>
									<td class="text-center"><b>{{(data.tenderRisk.forecast.amount +
										data.tenderOpps.forecast.amount + data.others.forecast.amount) |
										currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.tenderRisk.preForecast.amount
										+ data.tenderOpps.preForecast.amount +
										data.others.preForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.tenderRisk.forecast.amount -
										data.tenderRisk.preForecast.amount) +
										(data.tenderOpps.forecast.amount -
										data.tenderOpps.preForecast.amount) + (data.others.forecast.amount -
										data.others.preForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.tenderRisk.firstForecast.amount
										+ data.tenderOpps.firstForecast.amount +
										data.others.firstForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.tenderRisk.forecast.amount -
										data.tenderRisk.firstForecast.amount) +
										(data.tenderOpps.forecast.amount -
										data.tenderOpps.firstForecast.amount) + (data.others.forecast.amount -
										data.others.firstForecast.amount) | currency:undefined:0}}</b></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- end panel -->

				<!-- begin panel -->
				<div class="panel panel-primary">

					<div class="table-responsive">
						<table
							class="table table-bordered table-hover table-striped table-td-valign-middle">
							<thead>
								<tr class="primary">
									<th class="width-150 text-center">Risks (Below the Line)</th>
									<th class="width-150 text-center">Rolling Forecast
										({{period}})</th>
									<th class="width-150 text-center">Previous Rolling
										Forecast ({{lastPeriod}})</th>
									<th class="width-150 text-center">Monthly Movement</th>
									<th class="width-150 text-center">Latest Forecast {{data.turnover.jdeForecast.latestForecastLedger}}</th>
									<th class="width-150 text-center">Movement from Latest Forecast</th>
									<th class="text-center">Explanation of Monthly Movement</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td><div ng-hide="true">{{data.risk.forecast.noJob = jobNo}} {{data.risk.forecast.forecastFlag = 'RF'}}  {{data.risk.forecast.forecastType = GlobalParameter.forecast.Risks}} {{data.risk.forecast.year = year}} {{data.risk.forecast.month = month}}</div>
									{{data.risk.forecast.forecastDesc = GlobalParameter.forecast.Risks}}</td>
									<td class="text-center"><input type="number"
										class="form-control" ng-model="data.risk.forecast.amount"
										ng-if="editable"  />
										<div ng-if="!editable">{{data.risk.forecast.amount |
											currency:undefined:0}}</div></td>
									<td class="text-center">{{data.risk.preForecast.amount |
										currency:undefined:0}}</td>
									<td class="text-center">{{data.risk.forecast.amount -
										data.risk.preForecast.amount | currency:undefined:0}}</td>
									<td class="text-center">{{data.risk.firstForecast.amount| currency:undefined:0}}</td>
									<td class="text-center">{{data.risk.forecast.amount -
										data.risk.firstForecast.amount | currency:undefined:0}}</td>
									<td>
									<textarea maxlength="200"
										class="form-control" ng-model="data.risk.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.risk.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><div ng-hide="true">{{data.opps.forecast.noJob = jobNo}} {{data.opps.forecast.forecastFlag = 'RF'}}  {{data.opps.forecast.forecastType = GlobalParameter.forecast.Risks}} {{data.opps.forecast.year = year}} {{data.opps.forecast.month = month}}</div>
									{{data.opps.forecast.forecastDesc = GlobalParameter.forecast.Opps}}</td>
									<td class="text-center"><input type="number"
										class="form-control" ng-model="data.opps.forecast.amount"
										ng-if="editable"  />
										<div ng-if="!editable">{{data.opps.forecast.amount |
											currency:undefined:0}}</div></td>
									<td class="text-center">{{data.opps.preForecast.amount |
										currency:undefined:0}}</td>
									<td class="text-center">{{data.opps.forecast.amount -
										data.opps.preForecast.amount | currency:undefined:0}}</td>
									<td class="text-center">{{data.opps.firstForecast.amount| currency:undefined:0}}</td>
									<td class="text-center">{{data.opps.forecast.amount -
										data.opps.firstForecast.amount | currency:undefined:0}}</td>
									<td>
									<textarea maxlength="200"
										class="form-control" ng-model="data.opps.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.opps.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><b>Nett R&O</b></td>
									<td class="text-center"><b>{{(data.risk.forecast.amount + data.opps.forecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.risk.preForecast.amount +
										data.opps.preForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.risk.forecast.amount -
										data.risk.preForecast.amount) + (data.opps.forecast.amount -
										data.opps.preForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.risk.firstForecast.amount +
										data.opps.firstForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.risk.forecast.amount -
										data.risk.firstForecast.amount) + (data.opps.forecast.amount -
										data.opps.firstForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- end panel -->

				<!-- begin panel -->
				<div class="panel panel-primary">

					<div class="table-responsive">
						<table
							class="table table-bordered table-hover table-striped table-td-valign-middle">
							<thead>
								<tr class="primary">
									<th class="width-150 text-center">Unsecured EoJ</th>
									<th class="width-150 text-center">Rolling Forecast ({{period}})</th>
									<th class="width-150 text-center">Previous Rolling
										Forecast ({{lastPeriod}})</th>
									<th class="width-150 text-center">Monthly Movement</th>
									<th class="width-150 text-center">Latest Forecast {{data.turnover.jdeForecast.latestForecastLedger}}</th>
									<th class="width-150 text-center">Movement from Latest Forecast</th>
									<th class="text-center">Explanation of Monthly Movement</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td><div ng-hide="true">{{data.unTurnover.forecast.noJob = jobNo}} {{data.unTurnover.forecast.forecastFlag = 'RF'}}  {{data.unTurnover.forecast.forecastType = GlobalParameter.forecast.UnsecuredEoJ}} {{data.unTurnover.forecast.year = year}} {{data.unTurnover.forecast.month = month}}</div>
									{{data.unTurnover.forecast.forecastDesc = GlobalParameter.forecast.UnsecuredTurnover}}</td>
									<td class="text-center"><input type="number"
										class="form-control" ng-model="data.unTurnover.forecast.amount"
										ng-if="editable"  />
										<div ng-if="!editable">{{data.unTurnover.forecast.amount |
											currency:undefined:0}}</div></td>
									<td class="text-center">{{data.unTurnover.preForecast.amount
										| currency:undefined:0}}</td>
									<td class="text-center">{{data.unTurnover.forecast.amount -
										data.unTurnover.preForecast.amount | currency:undefined:0}}</td>
									<td class="text-center">{{data.unTurnover.firstForecast.amount| currency:undefined:0}}</td>
									<td class="text-center">{{data.unTurnover.forecast.amount -
										data.unTurnover.firstForecast.amount | currency:undefined:0}}</td>
									<td>
									<textarea maxlength="200"
										class="form-control" ng-model="data.unTurnover.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.unTurnover.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><div ng-hide="true">{{data.unCost.forecast.noJob = jobNo}} {{data.unCost.forecast.forecastFlag = 'RF'}}  {{data.unCost.forecast.forecastType = GlobalParameter.forecast.UnsecuredEoJ}} {{data.unCost.forecast.year = year}} {{data.unCost.forecast.month = month}}</div>
									{{data.unCost.forecast.forecastDesc = GlobalParameter.forecast.UnsecuredCost}}</td>
									<td class="text-center"><input type="number"
										class="form-control" ng-model="data.unCost.forecast.amount"
										ng-if="editable"  />
										<div ng-if="!editable">{{data.unCost.forecast.amount |
											currency:undefined:0}}</div></td>
									<td class="text-center">{{data.unCost.preForecast.amount |
										currency:undefined:0}}</td>
									<td class="text-center">{{data.unCost.forecast.amount -
										data.unCost.preForecast.amount | currency:undefined:0}}</td>
									<td class="text-center">{{data.unCost.firstForecast.amount| currency:undefined:0}}</td>
									<td class="text-center">{{data.unCost.forecast.amount -
										data.unCost.firstForecast.amount | currency:undefined:0}}</td>
									<td>
									<textarea maxlength="200"
										class="form-control" ng-model="data.unCost.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{data.unCost.forecast.explanation}}</div></td>
								</tr>
								<tr>
									<td><b>Total Unsecured</b></td>
									<td class="text-center"><b>{{(data.unTurnover.forecast.amount -
										data.unCost.forecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.unTurnover.preForecast.amount
										- data.unCost.preForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.unTurnover.forecast.amount -
										data.unTurnover.preForecast.amount) - (data.unCost.forecast.amount -
										data.unCost.preForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.unTurnover.firstForecast.amount
										- data.unCost.firstForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"><b>{{(data.unTurnover.forecast.amount -
										data.unTurnover.firstForecast.amount) - (data.unCost.forecast.amount -
										data.unCost.firstForecast.amount) | currency:undefined:0}}</b></td>
									<td class="text-center"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- end panel -->

				<!-- begin panel -->
				<div class="panel panel-danger">

					<div class="table-responsive">
						<table 
							class="table table-bordered table-hover table-striped table-td-valign-middle">
							<thead>
								<tr class="danger">
									<th class="width-150 text-center">Critical Programme</th>
									<th class="width-150 text-center">Rolling Forecast ({{period}})</th>
									<th class="width-150 text-center">Previous Rolling
										Forecast ({{lastPeriod}})</th>
									<th class="width-150 text-center">Monthly Movement</th>
									<th class="width-150 text-center">Latest Forecast  {{data.turnover.jdeForecast.latestForecastLedger}}</th>
									<th class="width-150 text-center">Movement from Latest Forecast</th>
									<th class="text-center">Explanation of Monthly Movement</th>

								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="cp in data.criticalProgrammeList">
									<td>{{cp.forecast.forecastDesc}}</td>
									<td class="text-center">
										<div class="input-group" moment-picker="cp.forecast.date" start-view="day"
										format="YYYY-MM-DD" ng-model-options="{ updateOn: 'blur' }">
										 <input class="form-control" ng-model="cp.forecast.date" ng-if="editable">
										</div>
										<div ng-if="!editable">{{cp.forecast.date | date:'d-MMM-yyyy'}}</div>
									</td>
									<td class="text-center">
										{{cp.preForecast.date | date:'d-MMM-yyyy'}}
									</td>
									<td>{{dateDiff(cp.forecast.date, cp.preForecast.date)}} Days</td>
									<td class="text-center">
										 {{cp.firstForecast.date | date:'d-MMM-yyyy'}}
									</td>
									<td>{{dateDiff(cp.forecast.date, cp.firstForecast.date)}} Days</td>
									<td>
									<textarea maxlength="200"
										class="form-control" ng-model="cp.forecast.explanation"
										ng-if="editable"/>
										<div ng-if="!editable">{{cp.forecast.explanation}}</div></td>
								</tr>

							</tbody>
						</table>
						<div class="height-200"></div>
					</div>
				</div>
				<hr/>
				<!-- end panel -->
			</div>
			<!-- end col-8 -->

		</div>
		<!-- end row -->
</div>
<!-- end section-container -->


</div>
