<div id="content" class="content">

    <h1 class="page-header">
        {{jobNo}}<small> {{jobDescription}}</small>
    </h1>

    <div class="row">
        <div class="col-md-2">
            <div class="input-group" moment-picker="monthYear" format="YYYY-MM"
                 start-view="year" today="true">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="form-control" ng-model="monthYear"
                       ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block "
                    ng-click="updateAll(data.commercialActionList)">
                <i class="fa fa-save"></i> Save All
            </button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success btn-block "
                    ng-click="toggleEdit()">
                <i class="fa fa-pencil"></i> {{editable ? 'Lock' : 'Unlock'}}
            </button>
        </div>
    </div>

    <!--    editable section-->
    <div class="row m-t-15">
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-danger">
                <div class="table-responsive">
                    <table
                            class="table table-bordered table-hover table-striped table-td-valign-middle">
                        <thead>
                        <tr class="danger">
                            <th class="width-150 text-center">Item No</th>
                            <th class="text-center">Actions</th>
                            <th class="width-150 text-center">Status</th>
                            <th class="width-150 text-center">Date</th>
                            <th class="width-200 text-center">Responsible</th>
                            <th class="width-150 text-center">Button</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" ng-model="commercialAction.itemNo"/></td>
                            <td>
                                <textarea maxlength="150" type="text" class="form-control"
                                          ng-model="commercialAction.actionDesc" rows="2" required></textarea>
                            </td>
                            <td><input type="text" ng-model="commercialAction.actionStatus"/></td>
                            <td>
                                <md-datepicker ng-model="commercialAction.actionDate" md-placeholder="Enter date"
                                               input-aria-describedby="datepicker-description"
                                               input-aria-labelledby="datepicker-header "></md-datepicker>
                            </td>
                            <td>
                                <span ng-include src="'user-template'"></span>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-block" type="button"
                                        ng-click="add()">
                                    <span class="fa fa-plus-circle"></span> Add
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--					<div class="height-200"></div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="row m-t-15">
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-danger">

                <div class="table-responsive">
                    <table
                            class="table table-bordered table-hover table-striped table-td-valign-middle">
                        <thead>
                        <tr class="danger">
                            <th class="width-150 text-center">Item No</th>
                            <th class="text-center">Actions</th>
                            <th class="width-150 text-center">Status</th>
                            <th class="width-150 text-center">Date</th>
                            <th class="width-200 text-center">Responsible</th>
                            <th class="width-150 text-center">Button</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ca in data.commercialActionList | orderBy:'-id'">
                            <td>
                                <div ng-if="!editable">{{ca.itemNo}}</div>
                                <input type="text" ng-model="ca.itemNo" ng-if="editable"/>
                            </td>
                            <td>
                                <div ng-if="!editable" style="white-space: pre-wrap;">{{ca.actionDesc}}</div>
                                <textarea maxlength="150" type="text" class="form-control"
                                          ng-model="ca.actionDesc" rows="2" required ng-if="editable"></textarea>
                            </td>
                            <td>
                                <div ng-if="!editable">{{ca.actionStatus}}</div>
                                <input type="text" ng-model="ca.actionStatus" ng-if="editable"/>
                            </td>
                            <td>
                                <div ng-if="!editable">{{ca.actionDate}}</div>
                                <md-datepicker
                                        ng-model="ca.actionDate"
                                        md-placeholder="Enter date"
                                        input-aria-describedby="datepicker-description"
                                        input-aria-labelledby="datepicker-header "
                                        ng-if="editable"
                                />
                                </md-datepicker>
                            </td>
                            <td>
<!--                                <div ng-if="!editable">{{ca.actionResp}}</div>-->
<!--                                <input type="text" ng-model="ca.actionResp" ng-if="editable" disabled/>-->
                                <md-autocomplete style="text-align:center" class="personnel-user-template"
                                                 md-require-match="true"
                                                 md-delay="300"
                                                 md-autoselect="true"
                                                 md-clear-button="editable"
                                                 ng-disabled="!editable"
                                                 md-selected-item="ca.person"
                                                 md-search-text-change="ctrl.searchTextChange(searchText, person, ca)"
                                                 md-search-text="searchText"
                                                 md-selected-item-change="ctrl.selectedItemChange(item, person, ca)"
                                                 md-items="item in ctrl.querySearch(searchText)"
                                                 md-item-text="item.fullName"
                                                 md-min-length="3"
                                                 placeholder="Input Username..."
                                                 md-menu-class="autocomplete-custom-template"
                                                 md-menu-container-class="custom-container">
                                    <md-item-template>
                                        <span class="item-title">
                                            <span><strong>{{item.fullName}}</strong></span>
                                        </span>
                                                                        <span class="item-metadata">
                                            <span>
                                                <small style="font-weight: 300 !important; position: relative; top: -10px">{{item.email}}</small>
                                            </span>
                                        </span>
                                    </md-item-template>
                                </md-autocomplete>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-block "
                                        ng-click="update(ca.id, ca)" ng-hide="true">
                                    <i class="fa fa-save"></i> Save
                                </button>
                                <button type="button" class="btn btn-warning btn-block "
                                        ng-click="delete(ca.id)">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="height-200"></div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/ng-template" id="user-template">
<!--    <input ng-model="commercialAction.actionResp" disabled />-->
  <md-autocomplete style="text-align:center" class="personnel-user-template"
  	md-require-match="true"
  	md-delay="300"
  	md-autoselect="true"
  	md-clear-button="true"
  	ng-disabled="false"
  	md-selected-item="selectedItem"
  	md-search-text-change="ctrl.searchTextChange(searchText, person, commercialAction)"
  	md-search-text="searchText"
  	md-selected-item-change="ctrl.selectedItemChange(item, person, commercialAction)"
  	md-items="item in ctrl.querySearch(searchText)"
  	md-item-text="item.fullName"
  	md-min-length="3"
    placeholder="Input Username..."
  	md-menu-class="autocomplete-custom-template"
  	md-menu-container-class="custom-container">
  	<md-item-template>
  		<span class="item-title">
  			<span><strong>{{item.fullName}}</strong></span>
  		</span>
  		<span class="item-metadata">
  			<span>
  				<small style="font-weight: 300 !important; position: relative; top: -10px">{{item.email}}</small>
  			</span>
  		</span>
  	</md-item-template>
  </md-autocomplete>
</script>