<!-- Addendum -->
<div class="animated">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3 class="form-header form-header-lg m-b-10">
				<span class="icon text-primary"><i class="fa fa-dollar"></i></span>
				Addendum Detail
			</h3>

			<div class="form-group col-md-12">
				<div class="col-md-8">
					<label>Addendum Detail Header (Optional)</label> <input type="text" class="form-control " ng-model="detailHeader.description"/>
				</div>

				<div class="col-md-2 m-t-20">
					<button class="btn btn-primary btn-block"
						ng-click="saveDetailHeader()" ng-hide="disableButtons" ng-disabled = "disableButtons">
						<span class="fa fa-save"></span> Save Header
					</button>
				</div>
				<div class="col-md-2 m-t-20">
					<button class="btn btn-success btn-block"
						ng-click="deleteDetailHeader()" ng-hide="disableButtons" ng-disabled = "disableButtons">
						<span class="fa fa-remove"></span> Delete Header
					</button>
				</div>
			</div>


			<div class="col-md-12 m-t-10">

				<div class="col-md-4 col-xs-6" id="addendumStep2addNoBudget">
					<button type="button" class="btn btn-lg btn-block btn-danger"
						ng-click="open('noBudget')" ng-hide="disableButtons" ng-disabled = "disableButtons">
						<i class="fa fa-plus-circle"></i> <small>Add Addendum
							(No Budget)</small>
					</button>
				</div>

				<div class="col-md-4 col-xs-6">
					<button type="button" class="btn btn-lg btn-block btn-danger"
						ng-click="open('withBudget')" ng-hide="disableButtons" ng-disabled = "disableButtons">
						<i class="fa fa-plus-circle"></i> <small>Add V1/V3 (With
							Budget)</small>
					</button>
				</div>
				
				<div class="col-md-4 col-xs-6">
					<button type="button" class="btn btn-lg btn-block btn-warning"
						ng-click="open('update')" ng-hide="disableButtons" ng-disabled = "disableButtons">
						<i class="fa fa-edit"></i> <small>Update Approved Addendum</small>
					</button>
				</div>

				<div class="col-md-12 m-b-10 m-t-10">
					<div save-and-restore-grid-state="subcontract_addendum_details" ui-grid-save-state ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-exporter class="grid " resize ng-style="resizeWithOffset(550)"></div>
				</div>

				<div class="col-md-6 col-xs-6">
					<button type="button" class="btn btn-lg btn-block btn-primary"
						ng-click="updateDetail()" ng-hide="disableButtons" ng-disabled = "disableButtons">
						<i class="fa fa-save"></i> <small>Update Detail</small>
					</button>
				</div>
				<div class="col-md-6 col-xs-6">
					<button type="button" class="btn btn-lg btn-block btn-success"
						ng-click="deleteDetail()" ng-hide="disableButtons" ng-disabled = "disableButtons">
						<i class="fa fa-remove"></i> <small>Delete Detail</small>
					</button>
				</div>

			</div>


		</div>



	</div>
</div>

