<!-- Addendum PDS Form 2 -->
<div class="invoice">
	<span class="pull-right hidden-print"> <a href="javascript:;"
		onclick="window.print()" id="printBtn"
		class="btn btn-sm width-100 btn-rounded btn-danger pull-right hidden-print">
			<i class="fa fa-print m-r-3"></i> Print
	</a>
	</span>

	<div class="invoice-logo">
		<img src="image/gammon.bmp" class="logo" style="width: 128px" />
	</div>

	<div class="row">
		<div class="col-md-12 m-t-10">
			<label><b>Gammon Construction Limited</b></label>
			<label class="pull-right"><b>PDS/08/Form 2</b></label>
		</div>
		<div class="col-md-12">
			<label><b>Project.: {{jobNo}} - {{jobDescription}}</b></label>
		</div>
		<div class="col-md-12">
			<label><b>Addendum No.{{addendumNo}} for Subcontract No.{{subcontractNo}}</b></label>
		</div>
		<div class="col-md-12">
			<label><b>Title: {{addendum.title}}</b></label>
		</div>
	</div>
	
	<h6 class= "invoice-title invoice-underline" align="center">Internal Approval</h6>

	
	<div class="" ng-style="{height: 400+'px'}">
		<table class="table table-border" >
			<thead>
				<tr>
					<th class = "t-header">Item</th>
					<th class = "t-header">Description</th>
					<th class = "t-header">Quantity</th>
					<th class = "t-header">Unit</th>
					<th class = "t-header">Rate</th>
					<th class = "t-header">Amount</th>
				</tr>
			</thead>
			
				<tr class="row1" ng-repeat="addendumDetail in addendumDetails">
					<td class="column1 text-right">{{addendumDetail.bpi}}</td>
					<td class="column1 text-right">{{addendumDetail.description}}</td>
					<td class="column1 text-right">{{addendumDetail.quantity}}</td>
					<td class="column1 text-right">{{addendumDetail.unit}}</td>
					<td class="column1 text-right">{{addendumDetail.rateAddendum}}</td>
					<td class="column1 text-right">{{addendumDetail.amtAddendum | currency}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	
	<div class="m-t-30">
		<table class="table">
			</tbody>
				<tr class="row1">
					<td class="column1">
						<div class="m-b-10">Approved by:</div>
						<div><span class="invoice-underline">__________________________</span></div>
						<div>Managing Quantity Surveryor</div>
						<div>Date: <span class="invoice-underline"></span></div>
					</td>
					<td class="column1" colspan="2">
						<div class="m-b-25"></div>
						<div><span class="invoice-underline">__________________________</span></div>
						<div>Project Manager</div>
						<div>Date: <span class="invoice-underline"></span></div>
					</td>
					<td class="column1">
						<div class="m-b-25"></div>
						<div><span class="invoice-underline">__________________________</span></div>
						<div>Contracts Manager</div>
						<div>Date: <span class="invoice-underline"></span></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	 <button class="btn btn-primary btn-block hidden-print" ng-click="submit()" id="submitBtn" ng-hide = "disableButtons" ng-disabled="disableButtons"><span class="fa fa-save"></span> <b>Submit</b></button>
	
</div>


<!-- div compile="form2Html"></div -->