<div class="modal-header">
	<div class="row">
		<div class="col-md-11">
			<h4 class="modal-title">Add New Addendum Detail</h4>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body bg-gray-light">
	<div class="row">

		<!-- Addendum -->
		<div class="animated fadeIn">
			<form name="form-validate" id="form-validate"
				class="ng-pristine ng-valid">
				<fieldset>
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<h3 class="form-header form-header-lg m-b-10">
								<span class="icon text-primary"><i class="fa fa-star"></i></span>
							</h3>
							<p class="m-b-20">Please input the required fields below.</p>
							<div class="form-group">
								<label>Line Type - <strong>{{lineTypes[lineType]}}</strong>
								</label>
								<div class="btn-group btn-group-justified">
									<label class="btn" ng-disabled="disableSelect"
										ng-class="{'btn-primary' : lineType == 'V1', 'btn-inverse' : lineType != 'V1'}"
										ng-model="lineType" uib-btn-radio="'V1'">V1</label>
									<label class="btn" ng-disabled="disableSelect"
										ng-class="{'btn-primary' : lineType == 'V2', 'btn-inverse' : lineType != 'V2'}"
										ng-model="lineType" uib-btn-radio="'V2'">V2</label>
									<label class="btn" ng-disabled="disableSelect"
										ng-class="{'btn-primary' : lineType == 'V3', 'btn-inverse' : lineType != 'V3'}"
										ng-model="lineType" uib-btn-radio="'V3'"
										ng-show="lineType == 'V3'">V3</label>
									<label class="btn" ng-disabled="disableSelect"
										ng-class="{'btn-primary' : lineType == 'L1', 'btn-inverse' : lineType != 'L1'}"
										ng-model="lineType" uib-btn-radio="'L1'">L1</label>
									<label class="btn" ng-disabled="disableSelect"
										ng-class="{'btn-primary' : lineType == 'L2', 'btn-inverse' : lineType != 'L2'}"
										ng-model="lineType" uib-btn-radio="'L2'">L2</label>
									<label class="btn" ng-disabled="disableSelect"
										ng-class="{'btn-primary' : lineType == 'D1', 'btn-inverse' : lineType != 'D1'}"
										ng-model="lineType" uib-btn-radio="'D1'">D1</label>
									<label class="btn" ng-disabled="disableSelect"
										ng-class="{'btn-primary' : lineType == 'D2', 'btn-inverse' : lineType != 'D2'}"
										ng-model="lineType" uib-btn-radio="'D2'">D2</label>
									<label class="btn" ng-disabled="disableSelect"
										ng-class="{'btn-primary' : lineType == 'CF', 'btn-inverse' : lineType != 'CF'}"
										ng-model="lineType" uib-btn-radio="'CF'">CF</label>
								</div>

							</div>
							<div class="form-group">
								<label>Description</label> 
								<input type="text" class="form-control " ng-model="addendumDetail.description" ng-disabled ="disableFields" required />
							</div>

							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label>BQ Item</label> 
										<input type="text"
											class="form-control " ng-model="addendumDetail.bpi" disabled
											required />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Object Code</label>
										<input type="text" class="form-control" ng-model="addendumDetail.codeObject" disabled required />
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label>Subsidiary Code</label> 
										<input type="text" class="form-control"
											ng-model="addendumDetail.codeSubsidiary" 
											ng-disabled="lineType=='CF' || disableFields"
											required />
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Quantity</label> 
										<input class="form-control" data-parsley-type="number"
											ng-model="addendumDetail.quantity"
											ng-change="calculate('quantity')" 
											ng-paste="calculate('quantity')"
											ng-disabled ="disableFields"
											required />
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Subcontract Rate</label> 
										<input  data-parsley-type="number" class="form-control"
												ng-model="addendumDetail.rateAddendum" 
												ng-change="calculate('rate')" 
												ng-paste="calculate('rate')"
												required />
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Total Amount</label> 
										<input  data-parsley-type="number" class="form-control"
											ng-model="addendumDetail.amtAddendum" 
											ng-change="calculate('totalAmount')"
											ng-paste="calculate('totalAmount')"
											required />
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Unit</label> 
										<select class="form-control"
										ng-model="units.selected"
										ng-options="o as o for o in units" ng-disabled ="disableFields" required></select>
									</div>
								</div>


								<div class="col-md-4">
									<div class="form-group">
										<label>Corresponding Subcontract No.</label> 
										<input type="number"
											 class="form-control "
											ng-model="addendumDetail.noSubcontractChargedRef"
											ng-disabled="lineType!='D2' && lineType!='L2'"
											data-ng-required="lineType=='D2' || lineType=='L2'"/>
									</div>
								</div>

								<div class="col-md-4">
									<div class="form-group">
										<label>Alternative Object Code</label> 
										<input type="number"
											 class="form-control "
											ng-model="addendumDetail.codeObjectForDaywork"
											ng-disabled="lineType!='D1' && lineType!='D2'"
											data-ng-required="lineType=='D1' || lineType=='D2'" />
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label>Remark</label> <input type="text" 
											class="form-control " ng-model="addendumDetail.remarks" />
									</div>
								</div>

							</div>
							<div class="f-s-12 text-muted">
								<div>
									<span class="text-danger">*</span> Corresponding Subcontract No. must be
									provided for D2 and L2.
								</div>
								<div>
									<span class="text-danger">*</span> Alternative Object Code must
									be provided for D1 and D2 (Day Work).
								</div>
							</div>

						
						</div>


					</div>
				</fieldset>
			</form>

		</div>

	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary btn-block" type="button"
		ng-click="save()" ng-disabled = "disableButtons">
		<span class="fa fa-save"></span> Save
	</button>
</div>
