<div id="content" class="content">
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small> - Subcontract
		{{subcontractNo}}<small> {{subcontractDescription}} 
	</h1>

	<div id="wizard" class="bwizard clearfix">
		<div class="hidden-print">
			<ul class="bwizard-steps clearfix setup-panel">
				<li ui-sref-active="active">
					<a ui-sref="subcontract.addendum.title">
						<span class="label badge-inverse">1</span> 
						Addendum Title <small>Add/Edit Addendum Title here</small>
					</a>
				</li>
				<li ui-sref-active="active"><a ui-sref="subcontract.addendum.details" > <span class="label">2</span>
						Add Addendum <small>Variation Order, Day Work, Labour, CPF</small>
				</a></li>
				<li ui-sref-active="active"><a ui-sref="subcontract.addendum.detail-list"> <span class="label">3</span>
						Addendum Details <small>View All Addendum Details here</small>
				</a></li>
				<li ui-sref-active="active"><a ui-sref="subcontract.addendum.attachment"> <span class="label">4</span>
						Add Attachment <small></small>
				</a></li>
				<li ui-sref-active="active"><a ui-sref="subcontract.addendum.summary"> <span class="label">5</span>
						Addendum Summary <small></small>
				</a></li>
				<li ui-sref-active="active"><a ui-sref="subcontract.addendum.form2"> <span class="label">6</span>
						PDS/08/Form 2 <small></small>
				</a></li>
			</ul>

		</div>

		<div class="tab-content">
			<div ui-view=""></div>
		</div>

		
	</div>

	<!-- end #wizard -->
</div>

