<!-- Addendum Title -->
<div class="animated fadeIn">
	<form name="form-wizard-step-1" id="form-wizard-step-1"
		class="form-input-flat ng-pristine ng-valid">
		<fieldset>
			<div class="row">
				<div class="col-md-5 col-md-offset-3">
					<h3 class="form-header form-header-lg m-b-10">
						<span class="icon text-primary"><i
							class="fa fa-shopping-cart"></i></span> Addendum Title
					</h3>
					<p class="m-b-20">Please input Addendum Title below.</p>
					<div class="form-group">
						<label>Addendum Title</label>
						<div class="controls">
							<input id="addendumTitle" type="text" class="form-control "
								ng-model="addendumTitle"
								required/>
						</div>
					</div>

					<button class="m-t-5 btn btn-primary btn-block" ui-sref="subcontract.addendumDetails.detail">
						Next <span class="fa fa-arrow-right"></span>
					</button>
				</div>

			</div>
		</fieldset>
	</form>
</div>