<!-- Addendum Title -->
<div >
	<form name="form-validate" id="form-validate"
		class="ng-pristine ng-valid">
		<fieldset>
			<div class="row">
				<div class="col-md-5 col-md-offset-3">
					<h3 class="form-header form-header-lg m-b-10">
						<span class="icon text-primary"><i
							class="fa fa-dollar"></i></span> Addendum No.{{addendum.no}}
					</h3>
					<p class="m-b-20">Please input Addendum Title below.</p>
					<div class="form-group">
						<label>Addendum Title</label>
						<div class="controls">
							<input type="text" class="form-control" id="addendumTitleStep1"
								ng-model="addendum.title"
								required/>
						</div>
					</div>
					<div class="form-group">
						<label>Remarks</label>
						<div class="controls">
							<textarea class="form-control" ng-model="addendum.remarks" id="addendumRemarkStep1"></textarea>
						</div>
					</div>

					<button class="m-t-5 btn btn-primary btn-block" ng-click="save()" ng-disabled = "disableButtons" ng-hide="disableButtons" id="addendumSaveStep1">
						<span class="fa fa-save"></span> Save 
					</button>
				</div>

			</div>
		</fieldset>
	</form>
</div>