
<!-- Addendum Details  -->
<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12 m-b-30 m-t-20 ">
			<div save-and-restore-grid-state="subcontract_addendum_other_list" ui-grid-save-state ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize
				ui-grid-resize-columns ui-grid-exporter class="grid "></div>
		</div>

		<div class="col-md-6">
			<button class="m-t-5 btn btn-primary btn-block" ng-click="edit()" ng-disabled ="disableButton">
				<span class="fa fa-edit" ></span> Edit
			</button>
		</div>
		<div class="col-md-6">
			<button class="m-t-5 btn btn-success btn-block"
				ng-click="deleteDetail()" ng-disabled ="disableButton">
				<span class="fa fa-remove"></span> Delete
			</button>
		</div>

	</div>
</div>