<div class="modal-header bg-primary">
	<div class="row">
		<div class="col-md-11">
		<table class="col-md-12">
		<tr>
		<td><span class="fa fa-stack-overflow"></span> <label>Import Status</label></td>
		</tr>
		</table>
		</div>
		<div class="col-md-1">
			<button class="btn btn-white pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body" ng-init="showPanel('imported')" style="height:600px">
	<div class="row">
        <div class="panel panel-warning">
        <a href="javascript:;" ng-click="showPanel('imported')" class="btn-warning" 
                             data-click="panel-collapse" data-original-title="" title="">
            <div class="panel-heading" >
                         <div class="panel-heading-btn">
                            <i class="fa fa-wa fa-minus btn btn-xs btn-icon btn-circle btn-warning"></i>
                         </div>
                <h4 class="panel-title">Imported</h4>
            </div>
            </a>
            <div class="panel-body" id="importedBody">
	            <table class="table table-striped" style="overflow: auto; height: 300px;display:block">
					<tr>
						<th>No</th>
						<th>Status</th>
						<th>Message</th>
						<th>Description</th>
					</tr>
					<tr ng-repeat="status in statusArray | filter:{importStatus:'Imported'}">
						<td>{{status.rowNum}}</td>
						<td>{{status.importStatus}}</td>
						<td>{{status.message}}</td>
						<td>{{status.rowDescription}}</td>
					</tr>
				</table>
        	</div>
        </div>

        <div class="panel panel-danger">
        <a href="javascript:;" ng-click="showPanel('ignored')" 
                             data-click="panel-collapse" data-original-title="" title="">
            <div class="panel-heading">
                         <div class="panel-heading-btn">
                             <i class="fa fa-wa fa-minus btn btn-xs btn-icon btn-circle btn-danger"></i>
                         </div>
                <h4 class="panel-title">Ignored</h4>
            </div>
            </a>
            <div class="panel-body" id="ignoredBody">
	            <table class="table table-striped" style="overflow: auto; height: 300px; display: block;">
					<tr>
						<th>No</th>
						<th>Status</th>
						<th>Message</th>
					</tr>
					<tr ng-repeat="status in statusArray | filter:{importStatus:'Ignored'}">
						<td>{{status.rowNum}}</td>
						<td>{{status.importStatus}}</td>
						<td>{{status.message}}</td>
					</tr>
				</table>
        	</div>
        </div>
        
        <div class="panel panel-success">
         <a href="javascript:;" ng-click="showPanel('nochange')"
                             data-click="panel-collapse" data-original-title="" title="">
            <div class="panel-heading">
                         <div class="panel-heading-btn">
                            <i class="fa fa-wa fa-minus btn btn-xs btn-icon btn-circle btn-success"></i>
                         </div>
                <h4 class="panel-title">No Change</h4>
            </div>
            </a>
            <div class="panel-body" id="nochangeBody">
	            <table class="table table-striped" style="overflow: auto; height: 300px; display: block;">
					<tr>
						<th>No</th>
						<th>Status</th>
						<th>Message</th>
					</tr>
					<tr ng-repeat="status in statusArray | filter:{importStatus:'No Change'}">
						<td>{{status.rowNum}}</td>
						<td>{{status.importStatus}}</td>
						<td>{{status.message}}</td>
					</tr>
				</table>
        	</div>
        </div>
        
	</div>
</div>