<div class="modal-header" ng-class="{'bg-danger' : status == 'Fail', 'bg-success' : status == 'Success', 'bg-warning' : status == 'Warn'}">
	<div class="row">
		<div class="col-md-11">
			<h4 class="modal-title text-white text-center">{{status}}</h4>
		</div>
		<div class="col-md-1">
			<button class="btn btn-white pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="row">
		<p class="text-center-md" ng-bind-html="message"></p>
	</div>

</div>
<!-- <div class="modal-footer bg-warning">
	<button class="btn btn-warning btn-block" type="button"
		ng-click="cancel()">
		<span class="fa fa-close"></span> Close
	</button>
</div> -->
