<!DOCTYPE html>

<html ng-app="testApp">
<head>
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-store" />
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="expires" content="0" />
<meta charset="utf-8">
<META HTTP-EQUIV="X-UA-Compatible" CONTENT="IE=edge" />
<title>Index</title>
<link rel="stylesheet" href="../plugins/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../plugins/iconfont/1.0.0/css/icofont.css">
<link rel="stylesheet" href="../css/adminLTE.css">
<link rel="stylesheet" href="../plugins/angular-block-ui/v0.2/css/angular-block-ui.min.css"/>
<link href="../css/font.css" rel="stylesheet" id="fontFamilySrc" />
<link href="../css/style.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="../plugins/data-tables/1.10.13/datatables.css"/>
<link rel="stylesheet" type="text/css" href="../plugins/data-tables/1.10.13/Scroller-1.4.2/css/scroller.bootstrap.css"/>
<!-- <link rel="stylesheet" href="../plugins/angular1-datatables/v0.5.7/css/angular-datatables.css"> -->
<script src="../plugins/jquery/jquery-1.9.1.min.js"></script>
<script src="../plugins/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="../plugins/angularjs/1.4.9/angular.js"></script>	
<script src="../plugins/bootstrap-toggle/2.2.1/bootstrap-toggle.min.js"></script>
<script src="../plugins/ui-bootstrap/1.1.2/ui-bootstrap-tpls.min.js"></script>
<script src="../plugins/angular-filter/v0.5.12/angular-filter.js"></script>
<script src="../plugins/angular-block-ui/v0.2/js/angular-block-ui.js"></script>
<script src="../plugins/fullcalendar/lib/moment.min.js"></script>
<script src="../plugins/sourceAdmin/apps.js"></script>
<script src="../plugins/data-tables/1.10.13/datatables.js"></script>
<script src="../plugins/data-tables/1.10.13/Scroller-1.4.2/js/dataTables.scroller.js"></script>
<script src="../plugins/angular1-datatables/v0.5.7/angular-datatables.js"></script>
<script src="../plugins/angular1-datatables/v0.5.7/plugins/scroller/angular-datatables.scroller.js"></script>
<script src="../plugins/chartjs/v2.4.0/Chart.js"></script>
<script src="../plugins/angular-chart/v1.1.1/angular-chart.js"></script>
<script>
var testApp = angular.module('testApp',  ['blockUI', 'angular.filter', 'datatables', 'datatables.scroller', 'chart.js']);
testApp.config(function(blockUIConfig) {		
	blockUIConfig.autoBlock = true;
	blockUIConfig.delay = 1;
	blockUIConfig.autoInjectBodyBlock = true;
	blockUIConfig.requestFilter = function(config) {
	  return 'Test running ...';
	}
});

testApp.controller("ctrl", ['$http', '$scope', '$interval', '$timeout', 'DTOptionsBuilder', '$filter', '$q', 
	function($http, $scope, $interval, $timeout, DTOptionsBuilder, $filter, $q){
	if(window.self !== window.top){
		$scope.iDisplayLength = 5;
	} else {
		$scope.iDisplayLength = 5;
	}
    $scope.dtOptions = {
    		"iDisplayLength": $scope.iDisplayLength,
    		"aLengthMenu": [[$scope.iDisplayLength, 25, 50, 75, -1], [$scope.iDisplayLength, 25, 50, 75, "All"]],
    		
    }
//     	DTOptionsBuilder.newOptions()
//     	.withDisplayLength(7)
//     .withDOM('lfrti')
//     .withScroller()
//     .withOption('deferRender', true)
//     .withOption('scrollY', 400);
	$scope.runningCount = [];
	$scope.successCount = [];
	$scope.failCount = [];
	$scope.successGroupCount = [];
	$scope.failGroupCount = [];
	$scope.testQueue = [];
	$scope.runningQueue = [];
	$scope.panelList = [];
	$scope.categorys = {};
	$scope.testQueueInterval = {};
	
	$http.post('getTestAllTestCase')
	.then(function(response){
		$scope.allTestCase = response.data;
		
		$scope.gsf = $filter('filter')($scope.allTestCase, {details : {GROUP : "GSF"}});
		$scope.jde = $filter('filter')($scope.allTestCase, {details : {GROUP : "JDE"}});
		$scope.ap = $filter('filter')($scope.allTestCase, {details : {GROUP : "AP"}});
		$scope.qs = $filter('filter')($scope.allTestCase, {details : {GROUP : "QS"}});
		
		$scope.pcmsdata = $filter('filter')($scope.allTestCase, {details : {GROUP : "PCMSDATA"}});
		$scope.adl = $filter('filter')($scope.allTestCase, {details : {GROUP : "ADL"}});

		updateFullCheckCount();
		$scope.allTestCase.forEach(function(testCase){
			if(testCase.testResult.message == 'Not implement yet'){
				testCase.isRunning = true;
			}
			if(!testCase.runTimeDisplay){
				testCase.testResult.status = testCase.testResult.message = 'No result';
			}
			$scope.runningCount[testCase.category] = {};
			$scope.successCount[testCase.category] = {};
			$scope.failCount[testCase.category] = {};
			$scope.successGroupCount[testCase.details.GROUP] = {};
			$scope.failGroupCount[testCase.details.GROUP] = {};
			if(!$scope.categorys[testCase.category]) {
				$scope.categorys[testCase.category] = {'name': testCase.category, 'show': true};
				$scope.panelList.push($scope.categorys[testCase.category]);
			}
		});
	})

	$scope.runGroupTest = function(testCaseGroup){
		var deferral = $q.defer();
		testCaseGroup.forEach(function(testCase){
			if(!testCase.isRunning) {
				addToQueue($scope.testQueue, testCase);
			}
		});
		runTestQueue().then(function(response){
			deferral.resolve();
		});
		return deferral.promise;
	}
	$scope.runSingleTest = function(testCase){
		var deferral = $q.defer();
		if(!testCase.isRunning) {
			addToQueue($scope.testQueue, testCase);
		}
		runTestQueue().then(function(response){
			deferral.resolve();
		});
		return deferral.promise;
	}

	function runTestQueue(){
		var deferral = $q.defer();
		$scope.testQueueInterval = $interval(function(){
			for(var k in $scope.testQueue){
				if($scope.runningQueue.length < 5){
					$scope.runTest($scope.testQueue[k]);
					removeFromQueue($scope.testQueue, $scope.testQueue[k]);
				}
			};
			if($scope.runningQueue.length == 0){
				$interval.cancel($scope.testQueueInterval);
				$interval.cancel($scope.fullCheckTimerInterval);
				deferral.resolve();
			}
		}, 1000);
		return deferral.promise;
	}
		
	function addToQueue(queue, testCase){
		if(!queue[getKey(testCase)]){
			queue[getKey(testCase)] = testCase;
			if(!angular.isNumber(queue.length)) {
				queue.length = 1;
			} else {
				queue.length++;
			}
		}
	}

	function removeFromQueue(queue, testCase){
		if(queue[getKey(testCase)]){
			if(!angular.isNumber(queue.length)) {
				queue.length = 0;
			} else {
				queue.length--;
			}
			delete queue[getKey(testCase)];
		}
	}
	
	function getKey(testCase){
		return testCase.category + '-' + testCase.method + '-' + testCase.item;
	}
	
	$scope.runTest = function(testCase){
		var deferral = $q.defer();
// 		console.log("testcase run:" + testCase.id);
		addToQueue($scope.runningQueue, testCase);
		$scope.allTestCase[testCase.id].startTime = new Date();
		$scope.allTestCase[testCase.id].runTimeDisplay = null;
		$scope.allTestCase[testCase.id].testResult = {};
		$scope.allTestCase[testCase.id].isRunning = true;
		$scope.allTestCase[testCase.id].runTime = runTime(testCase.id);
		addToQueue($scope.runningCount[testCase.category], testCase);
	    location.href = '#testCase' + testCase.id;
		$http({
			url: 'runTest',
			method: 'post',
			params: {id: testCase.id, category: testCase.category, method: testCase.method, item: testCase.item}
		})
		.then(function(response){
			removeFromQueue($scope.runningQueue, testCase);
			removeFromQueue($scope.runningCount[testCase.category], testCase);
			if(!$scope.allTestCase[testCase.id].runTimeDisplay) {
				$scope.allTestCase[testCase.id].runTimeDisplay = "00:00:01";
			}
			$scope.allTestCase[testCase.id].testResult = response.data;
			updateCount(testCase);
			$scope.allTestCase[testCase.id].isRunning = false;
			if(angular.isDefined($scope.allTestCase[testCase.id].runTime)){
				$interval.cancel($scope.allTestCase[testCase.id].runTime);
				$scope.allTestCase[testCase.id].runTime = null;
			}
			deferral.resolve();
		}, function(error){
			removeFromQueue($scope.runningQueue, testCase);
			removeFromQueue($scope.runningCount[testCase.category], testCase);
			addToQueue($scope.failCount[testCase.category], testCase);
			removeFromQueue($scope.successCount[testCase.category], testCase);
			addToQueue($scope.failGroupCount[testCase.details.GROUP], testCase);
			removeFromQueue($scope.successGroupCount[testCase.details.GROUP], testCase);
			$scope.allTestCase[testCase.id].testResult = {};
			$scope.allTestCase[testCase.id].testResult.status = false;
			$scope.allTestCase[testCase.id].testResult.message = 'HTTP Error:' + error.status;
			$scope.allTestCase[testCase.id].isRunning = false;
			if(angular.isDefined($scope.allTestCase[testCase.id].runTime)){
				$interval.cancel($scope.allTestCase[testCase.id].runTime);
				$scope.allTestCase[testCase.id].runTime = null;
			}
			deferral.reject();
		});
		return deferral.promise;
	}
	$scope.getCount = function(arr){
		var total = 0;
		for(var k in arr){
				var length = isNaN(arr[k].length)?0:arr[k].length;
				total += length;
		}
		return total;
	}
	
	function updateCount(testCase){
		var addQueue = {};
		var removeQueue = {};
		if(testCase.testResult.status){
			addQueue = $scope.successCount[testCase.category];
			removeQueue = $scope.failCount[testCase.category];
			addGroupQueue = $scope.successGroupCount[testCase.details.GROUP];
			removeGroupQueue =$scope.failGroupCount[testCase.details.GROUP];
		} else {
			addQueue = $scope.failCount[testCase.category];
			removeQueue = $scope.successCount[testCase.category];
			addGroupQueue = $scope.failGroupCount[testCase.details.GROUP];
			removeGroupQueue = $scope.successGroupCount[testCase.details.GROUP];
		}
		addToQueue(addQueue, testCase);
		removeFromQueue(removeQueue, testCase);
		
		addToQueue(addGroupQueue, testCase);
		removeFromQueue(removeGroupQueue, testCase);
		
		updateFullCheckCount();
	}
	
	function updateFullCheckCount(){
		var successGSFLength = $scope.successGroupCount['GSF'] ? $scope.successGroupCount['GSF'].length ? $scope.successGroupCount['GSF'].length : 0 : 0;
		var successJDELength = $scope.successGroupCount['JDE'] ? $scope.successGroupCount['JDE'].length ? $scope.successGroupCount['JDE'].length : 0 : 0;
		var successAPLength = $scope.successGroupCount['AP'] ? $scope.successGroupCount['AP'].length ? $scope.successGroupCount['AP'].length : 0 : 0;
		var successPCMSDATALength = $scope.successGroupCount['PCMSDATA'] ? $scope.successGroupCount['PCMSDATA'].length ? $scope.successGroupCount['PCMSDATA'].length : 0 : 0;
		var successADLLength = $scope.successGroupCount['ADL'] ? $scope.successGroupCount['ADL'].length ? $scope.successGroupCount['ADL'].length : 0 : 0;
		var successQSLength = $scope.successGroupCount['QS'] ? $scope.successGroupCount['QS'].length ? $scope.successGroupCount['QS'].length : 0 : 0;
		var failGSFLength = $scope.failGroupCount['GSF'] ? $scope.failGroupCount['GSF'].length ? $scope.failGroupCount['GSF'].length : 0 : 0;
		var failJDELength = $scope.failGroupCount['JDE'] ? $scope.failGroupCount['JDE'].length ? $scope.failGroupCount['JDE'].length : 0 : 0;
		var failAPLength = $scope.failGroupCount['AP'] ? $scope.failGroupCount['AP'].length ? $scope.failGroupCount['AP'].length : 0 : 0;
		var failPCMSDATALength = $scope.failGroupCount['PCMSDATA'] ? $scope.failGroupCount['PCMSDATA'].length ? $scope.failGroupCount['PCMSDATA'].length : 0 : 0;
		var failADLLength = $scope.failGroupCount['ADL'] ? $scope.failGroupCount['ADL'].length ? $scope.failGroupCount['ADL'].length : 0 : 0;
		var failQSLength = $scope.failGroupCount['QS'] ? $scope.failGroupCount['QS'].length ? $scope.failGroupCount['QS'].length : 0 : 0;
		
		$scope.systemTotal = $scope.gsf.length + $scope.jde.length + $scope.ap.length + $scope.qs.length;
		$scope.databaseTotal = $scope.pcmsdata.length + $scope.adl.length;

		$scope.systemSuccess = successGSFLength + successJDELength + successAPLength + successQSLength;
		$scope.systemFail = failGSFLength + failJDELength + failAPLength + failQSLength;
		$scope.databaseSuccess = successPCMSDATALength + successADLLength;
		$scope.databaseFail = failPCMSDATALength + failADLLength;		
		$scope.systemWaiting = $scope.systemTotal - $scope.systemSuccess - $scope.systemFail;
		$scope.databaseWaiting = $scope.databaseTotal - $scope.databaseSuccess - $scope.databaseFail;
		
		$scope.systemPercent = Math.ceil(($scope.systemTotal - $scope.systemWaiting) / $scope.systemTotal * 100);
		$scope.databasePercent = Math.ceil(($scope.databaseTotal - $scope.databaseWaiting) / $scope.databaseTotal * 100);
		$scope.systemSuccessPercent = Math.ceil($scope.systemPercent - (Math.ceil($scope.systemFail / $scope.systemTotal * 100)));
		$scope.databaseSuccessPercent = Math.ceil($scope.databasePercent - (Math.ceil($scope.databaseFail / $scope.databaseTotal * 100)));
		$scope.systemSuccessPercent = $scope.systemSuccessPercent > 100 ? 100 : $scope.systemSuccessPercent;
		$scope.systemSuccessPercent = $scope.systemSuccessPercent < 0 ? 0 : $scope.systemSuccessPercent;
		$scope.databaseSuccessPercent = $scope.databaseSuccessPercent > 100 ? 100 : $scope.databaseSuccessPercent;
		$scope.databaseSuccessPercent = $scope.databaseSuccessPercent < 0 ? 0 : $scope.databaseSuccessPercent;
		
// 		$scope.systemChartData = [{value:$scope.systemSuccess, color:'#9B59B6', highlight: '#a569bd', label:'Success'}, {value:$scope.systemWaiting, color:'#8E44AD', hightlight: '#9956b5', label: 'Waiting'}, {value:$scope.systemFail, color:'#66317C', highlight: '#754589', label:'Fail'}];
// 		$scope.systemChartOptions = chartOption('#doughnut-system-tooltip');
// 		$scope.databaseChartData = [{value: $scope.databaseSuccess, color:'#3498DB', highlight: '#48a2de', label:'Success'}, {value:$scope.databaseWaiting, color:'#2980B9', hightlight: '#3e8cc0', label: 'Waiting'}, {value:$scope.databaseFail, color:'#1F5F89', highlight: '#356f94', label: 'Fail'}];
// 		$scope.databaseChartOptions = chartOption('#doughnut-database-tooltip');
		$scope.systemChartData = [$scope.systemSuccess, $scope.systemWaiting, $scope.systemFail];
		$scope.databaseChartData = [$scope.databaseSuccess, $scope.databaseWaiting, $scope.databaseFail];
		$scope.systemChartOptions = $scope.databaseChartOptions = ['Success', 'Waiting', 'Fail'];
	}

	$scope.checkLastRun = function(testCase){
		if(!testCase.lastRun) return false;
		return (new Date() - testCase.lastRun) < 60000;
	}
	
	function runTime (testCaseId){
		var tid = testCaseId;
		return $interval(function(){
			var sec = (new Date() - $scope.allTestCase[tid].startTime + 1000) / 1000;
			var time = moment().startOf('day').seconds(sec).format('HH:mm:ss');
			$scope.allTestCase[tid].runTimeDisplay = time;
// 			console.log(tid + ':' + time);
		}, 1000)
	}
	$scope.isTableShowing = false;
	$scope.showFullCheck = true;
	$scope.showingType = '';
	$scope.showPanel = function(panel){
		$scope.panelList.forEach(function(p){
			if(p.name === panel){
				$scope.flipVisiblity(p);
				location.href = '#' + panel;
			}
		})
	}
	$scope.flipVisiblity = function(s){
		if(angular.element('#'+(s.name+'RunGroup').replace('|', '\\|') + ':hover').size() < 1) {
			s.show = false;
			angular.element('#'+(s.name+'Body').replace('|', '\\|')).slideToggle();
		}
	}
	
	$scope.jumpTo = function(){
		location.href = '#' + $scope.jumpItem.name;
	}
	
	$scope.openTable = function(type){
		$scope.isTableShowing = true;
		$scope.showingType = type;
// 		$timeout(function(){
// 		    $('#data-table').DataTable();
// 		},3000);
	}

	$scope.closeTable = function(type){
		$scope.isTableShowing = false;
		$scope.showingType = '';
		if(type === 'fullCheck'){
			$scope.showFullCheck = true;
		} else {
			$scope.showFullCheck = false;
		}
	}

	function TestPanel(id, contentArray, icon, active){
		this.id = id;
		this.title = id.replace(/([A-Z])/g, ' $1')
	    .replace(/^./, function(str){ return str.toUpperCase(); });
		this.contentArray = contentArray;
		this.icon = icon;
		this.active = active || false;
		return this;
	}

	function TestContent(name){
		this.name= name;
		return this;
	}
	function setType(type){
		this.type = type;
		return this;
	}
	function TestContentBtn(name){
		this.name = name;
		this.type = 'btn';
		return this;
	}

	
	function FormDoc (description){
		this.initBaseAddress('/forms/');
		this.description = description;
		return this;
	}
	FormDoc.prototype.initBaseAddress = function(baseAddress){
		this.baseAddress = baseAddress;
		return this;
	}
	
	TestContent.prototype.setType = setType;
	TestContentBtn.__proto__ = TestContent;
	TestContentBtn.prototype.setBtn = function (icon, bg, desc){
		this.icon = icon;
		this.bgClass = bg;
		this.desc = desc;
		return this;
	};
	
	$scope.testPanelArray = [
		new TestPanel('fullCheck', [new TestContent('full')], 'fa fa-align-justify', true),
		new TestPanel('system', [
				new TestContentBtn('GSF').setBtn('fa fa-key', 'btn-success', 'Gammon Security Framework'), 
				new TestContentBtn('JDE').setBtn('fa fa-jsfiddle', 'btn-success', 'JD Edwards'),
				new TestContentBtn('AP').setBtn('fa fa-check', 'btn-success', 'Approval'),
				new TestContentBtn('QS').setBtn('fa fa-connectdevelop fa-pulse', 'btn-success', 'QS')
			], 'fa fa-align-left'),
		new TestPanel('database', [
				new TestContentBtn('PCMSDATA').setBtn('fa fa-database', 'btn-warning', 'PCMSDATA'), 
				new TestContentBtn('ADL').setBtn('fa fa-list-alt', 'btn-warning', 'ADL'),
			], 'fa fa-align-right')
		];

	App.initComponent();
	$scope.filteredResults = [];
	$scope.filterTable = function(item){
		var key = $scope.searchKey ? $scope.searchKey.toLowerCase() : '';
		if(item.item == 'Get Account Ledger'){
			var test = 'test';
		}
		var result = item.details.GROUP === $scope.showingType && (!key || 
			(
				item.item.toLowerCase().indexOf(key)>-1 || 
				item.testResult.message.toLowerCase().indexOf(key) > -1 ||
				(item.testResult.status === true ? 'success'.indexOf(key) > -1 : 'fail'.indexOf(key) > -1 && item.testResult.status != 'No result')
			)
		);
		return result;
	}
	$scope.fullCheckTime = 0;	
	$scope.getFullCheckTime = function(){
		return moment("2015-01-01").startOf('day').seconds($scope.fullCheckTime).format('H:mm:ss');
	}
	function startFullCheckTimer(){
		$scope.fullCheckTime = 0;	
		$scope.fullCheckTimerInterval = $interval(function(){
			$scope.fullCheckTime += 1;
		}, 1000);
	}
	$scope.runFullCheck = function (){
		startFullCheckTimer();
		$scope.systemFail = $scope.systemSuccess = $scope.systemPercent = $scope.systemSuccessPercent = 0;
		$scope.systemWaiting = $scope.gsf.length + $scope.jde.length + $scope.ap.length + $scope.qs.length;
		$scope.databaseFail = $scope.databaseSuccess = $scope.databasePercent = $scope.databaseSuccessPercent = 0;
		$scope.databaseWaiting = $scope.pcmsdata.length + $scope.adl.length;
		
		clearTestResult($scope.gsf);
		clearTestResult($scope.jde);
		clearTestResult($scope.ap);
		clearTestResult($scope.qs);
		clearTestResult($scope.pcmsdata);
		clearTestResult($scope.adl);
		
		$scope.successGroupCount['GSF'] = {};
		$scope.successGroupCount['JDE'] = {};
		$scope.successGroupCount['AP'] = {};
		$scope.successGroupCount['PCMSDATA'] = {};
		$scope.successGroupCount['ADL'] = {};
		$scope.successGroupCount['QS'] = {};
		$scope.failGroupCount['GSF'] = {};
		$scope.failGroupCount['JDE'] = {};
		$scope.failGroupCount['AP'] = {};
		$scope.failGroupCount['PCMSDATA'] = {};
		$scope.failGroupCount['ADL'] = {};
		$scope.failGroupCount['QS'] = {};

		
		$scope.runGroupTest($scope.gsf);
		$scope.runGroupTest($scope.jde);
		$scope.runGroupTest($scope.ap);
		$scope.runGroupTest($scope.qs);	
		$scope.runGroupTest($scope.pcmsdata);
		$scope.runGroupTest($scope.adl);
	}
	function clearTestResult(array){
		array.forEach(function(item){
			if(item.testResult) item.testResult = null;
		});
	}
	
	function isContainFail(array){
		var result = false;
		array.forEach(function(item){
			if(item.testResult.status === false){
				result = false;
			}
		})
		return result;
	}

	$scope.limitSubTaskTo = 1;
	$scope.overrideAndRunAllSubTask=false;
}]); 

</script>
 
</head>
<body ng-controller="ctrl">
	<div class="col-md-12">
		<div class="panel">
			<ul class="nav nav-tabs nav-tabs-primary nav-justified">
				<li ng-click="closeTable(panel.id)" ng-repeat="panel in testPanelArray" ng-class="{'active' : panel.active}"><a href="#"  data-toggle="tab" data-target="#{{panel.id}}Tab"><span class="{{panel.icon}} fa-4x"></span><h5> {{panel.title}}</h5></a></li>
			</ul>
			
			<div class="tab-content m-b-0" style="overflow:auto">
				
				<div ng-show="showFullCheck">
					<div class="panel panel-inverse col-md-8">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							</div>
							<h4 class="panel-title">Full Check</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-6 m-b-20">
		                            <div class="chart-summary-container">
		                                <div class="chart-title text-purple">System</div>
		                                <div class="chart-doughnut">
		                                    <canvas class="chart chart-doughnut" chart-data="systemChartData" chart-labels="systemChartOptions"></canvas>
		                                </div>
		                                <div class="chart-info">
		                                    <div class="chart-summary">
		                                        <div class="text">Success</div>
		                                        <div class="number">{{systemSuccess}} <small>({{systemSuccessPercent||0}}%)</small></div>
		                                    </div>
		                                    <div class="chart-summary">
		                                        <div class="text">Fail</div>
		                                        <div class="number">{{systemFail}}</div>
		                                    </div>
		                                </div>
		                                
										<div id="systemChartBar" class="progress-bar progress-bar-warning m-t-20" style="width: {{systemPercent||0}}%">{{systemPercent||0}}%</div>
		                                
		                            </div>
								</div>
								
								<div class="col-sm-6 m-b-20">
		                            <div class="chart-summary-container">
		                                <div class="chart-title text-purple">Database</div>
		                                <div class="chart-doughnut">
		                                    <canvas class="chart chart-doughnut" chart-data="databaseChartData" chart-labels="databaseChartOptions"></canvas>
		                                </div>
		                                <div class="chart-info">
		                                    <div class="chart-summary">
		                                        <div class="text">Success</div>
		                                        <div class="number">{{databaseSuccess}} <small>({{databaseSuccessPercent||0}}%)</small></div>
		                                    </div>
		                                    <div class="chart-summary">
		                                        <div class="text">Fail</div>
		                                        <div class="number">{{databaseFail}}</div>
		                                    </div>
		                                </div>
		                                <div id="databaseChartBar" class="progress-bar progress-bar-warning m-t-20" style="width: {{databasePercent||0}}%">{{databasePercent||0}}%</div>
		                            </div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="panel panel-inverse col-md-4" style="margin-bottom:0px">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
							</div>
							<h4 class="panel-title">REST</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<table class="table" style="margin-bottom:0px">
									<tr ng-show="!overrideAndRunAllSubTask">
										<td>Limit subtask</td>
										<td>:</td>
										<td><input type="text" ng-model="limitSubTaskTo"></td>
									</tr>
									<tr>
										<td>Run all subtask</td>
										<td>:</td>
										<td><input type="checkbox" ng-model="overrideAndRunAllSubTask"></td>
									</tr>
									<tr>
										<td colspan="3">
											<a href="runTestByRest?limitSubTaskTo={{limitSubTaskTo}}&overrideAndRunAllSubTask={{overrideAndRunAllSubTask}}" target="RESTTEST">
												<label class="btn btn-primary m-r-20 form-control" style="color:white" type="button" id="RestCheckBtn">REST Check</label>
											</a>
										</td>
									</tr>
								</table>
								
								<div>
									
								</div>
							</div>
                            
						</div>

							<div class="widget widget-stat bg-inverse text-white">
                                <div class="widget-stat-number">{{getFullCheckTime()}}<i class="fa fa-caret-up text-success"></i></div>
                                <div class="widget-stat-text">Full Check Time</div>
                            </div>
					</div>
					<div>
						<label class="btn btn-primary m-r-20 form-control" style="color:white" type="button" ng-click="runFullCheck()" id="FullCheckBtn">Full Check</label>
					</div>
				</div>
				<div ng-hide="isTableShowing" ng-repeat="panel in testPanelArray" class="tab-pane fade" ng-class="{'active in' : panel.active}" id="{{panel.id}}Tab">
					<div class="col-md-4" ng-repeat="content in panel.contentArray | filter :{type: 'btn'}">
						<div class="col-md-12">
							<a type="button" class="btn btn-lg {{content.bgClass}}" style="width: 300px" ng-click="openTable(content.name)">
								<i class="{{content.icon}} fa-5x"></i><br> <b>{{content.name}}</b>
							</a>
						</div>
						<div class="col-md-10 m-t-20">
							<p>{{content.desc}}</p>
						</div>
					</div>
				</div>

				<div ng-show="isTableShowing">	
					<div class="panel panel-inverse">
						<div class="panel-heading">
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" title="Back" ng-click="closeTable()"><i class="fa fa-arrow-left"></i></a>
							</div>
							<h4 class="panel-title">Test Case - {{showingType}}</h4>
						</div>
						<div class="panel-body">
							<div id="data-table_wrapper"
								class="dataTables_wrapper form-inline dt-bootstrap no-footer">

								<div class="row">
									<div class="col-sm-12">
										<table id="data-table" datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered dataTable no-footer dtr-inline row-border hover" role="grid" aria-describedby="data-table_info">
											<thead>
												<tr>
													<th width="200">Name</th>
													<th width="500">Result</th>
													<th width="50">Status</th>
													<th width="100">Elapse Time</th>
													<th width="50">Run</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="(itemKey, itemValue) in filteredResults = (allTestCase | filter: filterTable)" ng-class="{'bg-warning-light' : itemValue.isRunning === true, 'bg-success-light' : itemValue.testResult.status === true, 'bg-danger-light' : itemValue.testResult.status === false }" class="gradeA even" role="row">
													<td ng-if="itemValue.category != 'DB'">{{itemValue.item}}</td>
													<td style="cursor: pointer" ng-if="itemValue.category == 'DB'" title="{{itemValue.details.SQL.split(':')[1].replace('`','').replace('`','').replace('}','')}}">{{itemValue.item}}</td>
													<td ng-style="itemValue.testResult.result != '' ? {'cursor' : 'pointer' } : ''" title="{{itemValue.testResult.result}}">{{itemValue.testResult.message}}<span ng-if="categoryKey == 'FUNCTION|SECURITY' && itemValue.testResult.message != 'No result'"><i class="fa fa-dot-circle-o" ng-class="{'text-success' : itemValue.testResult.message.indexOf('is ENABLE') > 0, 'text-warning' : itemValue.testResult.message.indexOf('is DISABLE') > 0, 'text-danger' : itemValue.testResult.message.indexOf('not found') > 0 }"></i></span></td>
													<td><i ng-class="{'fa fa-check-circle fa-2x text-success' : itemValue.testResult.status === true, 'fa fa-times-circle fa-2x text-danger' : itemValue.testResult.status === false}" title="{{itemValue.testResult.status?'Success':itemValue.testResult.message==''?'No Result':'Fail'}}"></i></td>
													<td>{{itemValue.runTimeDisplay}} <i ng-show="itemValue.isRunning" class="fa fa-spinner fa-pulse"></i></td>
													<td><label class="btn btn-primary" style="width:100%" type="button" ng-disabled="itemValue.isRunning" ng-click="!itemValue.isRunning && runSingleTest(itemValue)">Run</label></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		
</div>

<div class="wrapper container" ng-if="false">
<div class="navbar navbar-fixed-bottom p-b-40" style="margin-bottom:-40px">
	<div class="bg-white" style="bgColor:#ff00ff;height:140px" >
		<div class="col-md-10 m-t-20 m-b-10" style="padding-right:0px">
			<label class="form-control btn btn-primary" style="color:white;" type="button" ng-click="runGroupTest(allTestCase)">Run All</label>
		</div>
	 	<div class="col-md-2 m-t-20 m-b-10" style="padding-left:0px">
	 		<a href="runTestByRest?limitSubTaskTo=2&overrideAndRunAllSubTask=false" target="RESTTEST"><label class="form-control btn btn-warning col-md-3;" style="color:white">Run with REST</label></a>
	 	</div>
		<div >
			<div class="col-md-10">All Task: {{allTestCase.length ? allTestCase.length : 0}} | Success: {{getCount(successCount)}} | Fail: {{getCount(failCount)}} | Test Queue: {{testQueue.length}} | Running: {{getCount(runningCount)}}</div> 
			<div class="col-md-2">
				<label for="jumpMenu">JUMP TO: </label><select id="jumpMenu" class="form-control input-sm" ng-model="jumpItem" ng-options="category.name for category in categorys" ng-change="jumpTo()"></select>
			</div>
		</div>
	</div>
</div>
<div class="row" style="padding-bottom:100px">
		<div ng-repeat="(categoryKey, categoryValue) in allTestCase | groupBy: 'category'">
		<div class="panel panel-inverse">
            <a href="javascript:;" name="{{categoryKey}}" ng-click="showPanel(categoryKey)" data-click="panel-collapse">
            <div class="panel-heading">
                 <div class="panel-heading-btn">
                     <label class="btn btn-primary m-r-20" type="button" ng-click="runGroupTest(categoryValue)" id="{{categoryKey}}RunGroup">Run Group</label>
                     <i class="fa fa-wa fa-minus btn btn-xs btn-icon btn-circle btn-inverse"></i>
                  </div>
                <h4 class="panel-title">{{categoryKey}} | Total Task: {{categoryValue.length}} | Success: {{successCount[categoryKey].length ? successCount[categoryKey].length : 0}} | Fail: {{failCount[categoryKey].length ? failCount[categoryKey].length : 0}} <span ng-show="runningCount[categoryKey].length>0">| Running: {{runningCount[categoryKey].length}}</span></h4>
            </div>
            </a>
            <div class="panel-body p-b-15" id="{{categoryKey}}Body">
                <div ng-repeat="(methodKey, methodValue) in categoryValue | groupBy: 'method'">
                    <ul class="feeds">{{methodKey}}
                        <li ng-repeat="(itemKey, itemValue) in methodValue" ng-class="{'bg-warning-light' : itemValue.isRunning === true, 'bg-success-light' : itemValue.testResult.status === true, 'bg-danger-light' : itemValue.testResult.status === false }">
                                <a name="testCase{{itemValue.id}}" class="text-black"><div class="col-md-3">{{itemValue.item}}</div>
                                <div class="col-md-3">Message:<br>{{itemValue.testResult.message}} <span ng-if="categoryKey == 'FUNCTION|SECURITY' && itemValue.testResult.message != 'No result'"><i class="fa fa-dot-circle-o" ng-class="{'text-success' : itemValue.testResult.message.indexOf('is ENABLE') > 0, 'text-warning' : itemValue.testResult.message.indexOf('is DISABLE') > 0, 'text-danger' : itemValue.testResult.message.indexOf('not found') > 0 }"></i></span></div>
                                <div class="col-md-3">Status: <i ng-class="{'fa fa-link text-success' : itemValue.testResult.status === true, 'fa fa-chain-broken text-danger' : itemValue.testResult.status === false}" title="{{itemValue.testResult.status?'Success':itemValue.testResult.message==''?'No Result':'Fail'}}"></i></div>
                                <div class="col-md-3">Last run: {{itemValue.runTimeDisplay}} <i ng-show="itemValue.isRunning" class="fa fa-spinner fa-pulse"></i></div>
                                <div class="pull-right"><label class="btn btn-primary" type="button" ng-disabled="itemValue.isRunning" ng-click="!itemValue.isRunning && runTest(itemValue)">Run</label></div>
                                </a>
                        </li>
                    </ul>
                </div>
           </div>
      </div>
      </div>
		</div>
		<div></div>
		</div>
</body>
</html>