<div class="modal-header bg-primary">
	<div class="row">
		<div class="col-md-11">
			<h4 class="modal-title text-white">{{vendor.vendorNo}} {{vendor.vendorName}}</h4>
		</div>
		<div class="col-md-1">
			<button class="btn btn-white pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body">

		<div class="row">
			<section class="box box-primary">
				<ul class="nav nav-tabs text-info">
					<li role="presentation" ng-class="{active:isSelected('info')}">
						<a href ng-click="selectTab('info')"><span class="fa fa-2x fa-user"></span> Information</a>
					</li>
					<li role="presentation" ng-class="{active:isSelected('awarded')}" ng-hide="showInfoOnly">
						<a href ng-click="selectTab('awarded')"><span class="fa fa-2x fa fa-trophy"></span> Awarded Subcontracts</a>
					</li>
					<li role="presentation" ng-class="{active:isSelected('history')}" ng-hide="showInfoOnly">
						<a href ng-click="selectTab('history')"><span class="fa fa-2x fa-history"></span> Tender Analysis History</a>
					</li>
					<li role="presentation" ng-class="{active:isSelected('workscope')}" ng-hide="showInfoOnly">
						<a href ng-click="selectTab('workscope')"><span class="fa fa-2x fa-calculator"></span> Work Scope</a>
					</li>
					<li role="presentation" ng-class="{active:isSelected('attachment')}" ng-hide="showInfoOnly">
						<a href ng-click="selectTab('attachment')"><span class="fa fa-2x fa-paperclip"></span> Attachment</a>
					</li>
				</ul>
				
				<div ng-show="isSelected('info')" style="height:350px;overflow:auto">
					<div class="box col-md-12" style="padding-left:0px; padding-right:0px">
					<div ng-class="{'col-md-7' : !showInfoOnly, 'col-md-12' : showInfoOnly}" style="padding-left:0px">
						<table class="table table-striped">
							<thead class="thead-inverse"><tr><th colspan="2"><span class="fa fa-info-circle"></span>  Contact Information</th></tr></thead>
							<tbody>
							<tr>
								<td>Contact Person</td>
								<td><div ng-repeat="contactPerson in vendor.vendorContactPerson | filter:{nameAlpha: '!' + vendor.vendorName}">{{contactPerson.nameAlpha + ' (' + contactPerson.contactTitle + ')'}}</div></td>
							</tr>
							<tr>
								<td>Phone</td>
								<td><div ng-repeat="phone in vendor.vendorPhoneNumber | filter: {phoneNumberType: 'OFF'}">{{phone.phoneNumber}}</div></td>
							</tr>
							<tr>
								<td>Fax</td>
								<td><div ng-repeat="phone in vendor.vendorPhoneNumber | filter: {phoneNumberType: 'FAX'}">{{phone.phoneNumber}}</div></td>
							</tr>
							<tr>
								<td>Mobile</td>
								<td><div ng-repeat="phone in vendor.vendorPhoneNumber | filter: {phoneNumberType: 'MOB'}">{{phone.phoneNumber}}</div></td>
							</tr>
							<tr ng-repeat="address in vendor.vendorAddress">
								<td colspan="2">
									<table class="table col-md-12">
										<tr ng-if="$index==0">
											<td class="col-md-8">Address</td>
											<td class="col-md-4">Beginning Effective</td>
										</tr>
										<tr>
											<td class="col-md-8">
												<table>
													<tr ng-repeat="(property, value) in addressLineField(address)">
														<td>{{value}}</td>
													</tr>
												</table>
											</td>
											<td class="col-md-4">{{getEffectiveDate(address)}}</td>
										</tr>
									</table>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-5" style="padding-right:0px" ng-hide="showInfoOnly">
						<table class="table table-striped panel panel-inverse">
							<thead><tr><th colspan="2"><span class="fa fa-pie-chart"></span> Statistics</th></tr></thead>
							<tbody>
							<tr>
								<td>Total No. of Quotation Returned</td>
								<td>{{statistics[0]}}</td>
							</tr>
							<tr>
								<td>Total No. of Award</td>
								<td>{{statistics[1]}}</td>
							</tr>
							<tr>
								<td>Revised Subcontract Sum <br><i>({{startYear}} - today)</i></td>
								<td>{{statistics[2] | currency}}</td>
							</tr>
							<tr>
								<td>Balance To Complete <br><i>({{startYear}} - today)</i></td>
								<td>{{statistics[3] | currency}}</td>
							</tr>
							</tbody>
						</table>
					</div>
					</div>
				</div>

				<div ng-show="isSelected('awarded')" style="height:350px;overflow:auto">
					<div class="box col-md-12">
						<div ng-if="isSelected('awarded')" id="awardedGrid" save-and-restore-grid-state="subcontractorDetailModal_awarded" ui-grid-save-state ui-grid="awardedGridOptions" external-scopes="clickHandler" ui-grid-resize-columns
							ui-grid-exporter ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid" style="height:320px"></div>
					</div>
				</div>
				<div  ng-show="isSelected('history')" style="height:350px;overflow:auto">
					<div class="box col-md-12">
						<div ng-if="isSelected('history')" id="tenderAnalysisGrid" save-and-restore-grid-state="subcontractorDetailModal_tenderAnalysis" ui-grid-save-state ui-grid="tenderAnalysisGridOptions" external-scopes="clickHandler" ui-grid-resize-columns
							ui-grid-exporter ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid" style="height:320px"></div>
					</div>
				</div>
				<div ng-show="isSelected('workscope')" style="height:350px;overflow:auto">
					<div class="box col-md-12">
						<div ng-if="isSelected('workscope')" id="workscopeGrid" save-and-restore-grid-state="subcontractorDetailModal_workscope" ui-grid-save-state ui-grid="workscopeGridOptions" external-scopes="clickHandler" ui-grid-resize-columns
							ui-grid-exporter ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid" style="height:320px"></div>
					</div>
				</div>
				<div ng-show="isSelected('attachment')" style="height:350px;overflow:auto">

								<div class="panel-body">
									<div class="table-responsive" style="height:250px">
										<form class="form" role="form" id="attachmentForm">
											<table class="table table-hover ">
												<thead>
													<tr class="inverse">
														<th>No.</th>
														<th>File name</th>
														<th>Type</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="attach in attachments" style="cursor: pointer">
														<td><label for="fileRadiobox-{{$index}}">{{$index+1}}</label>
															<input type="checkbox" ng-Icheck id="fileRadiobox-{{$index}}"
															ng-change="checkSelected()" name="fileRadiobox-{{$index}}"
															ng-model="attach.selectedAttachement"></td>
														<td ng-click="attachmentClick()">{{attach.nameFile}}</td>
														<td ng-click="attachmentClick()"><span
															class="{{attach.fileIconClass}}"></span></td>
													</tr>
												</tbody>
											</table>
										</form>
									</div>
								</div>
								<div class="box-footer">
									<div class="col-md-12">
										<div class="col-md-4">
											<form name="uploadAttachmentFilesAddressBook" id="uploadAttachmentFilesAddressBook"
												ng-submit="onSubmitAttachmentUpload(uploadAttachmentFilesAddressBook)">
												<label class="btn btn-block btn-primary"> <i
													class="glyphicon glyphicon-upload"></i> Upload File
													Attachment&hellip; <input style="display: none;"
													class="form-control file-loading" type="file" name="files"
													id="uploadAttachmentFilesAddressBook" ng-model="uploadAttachmentFilesAddressBook"
													onChange="angular.element(this).scope().onSubmitAttachmentUpload(uploadAttachmentFilesAddressBook)"
													multiple />
												</label>
											</form>
										</div>
				
										<div class="col-md-4">
											<label class="btn btn-block btn-success" ng-disabled="!isUpdatable"
												ng-click="isUpdatable &&deleteAttachment()">
												<i class="glyphicon glyphicon-remove-circle"></i> Delete
												selected Item
											</label>
										</div>
										<div class="col-md-4">
											<button class="btn btn-block btn-danger"
												ng-click="addTextAttachment()">
												<i class="glyphicon glyphicon-plus-sign"></i> Add Text
												Attachment
											</button>
										</div>
									</div>
								</div>

				</div>
			</section>
		</div>

</div>

