<div class="modal-header bg-primary">
	<div class="row">
		<div class="col-md-11">
			<h4 class="modal-title text-white text-center">{{modalOptions.headerText}}</h4>
		</div>
		<div class="col-md-1">
			<button class="btn btn-white pull-right" type="button"
				data-ng-click="modalOptions.close()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-2"></div>
		<p class="col-md-10" ng-bind-html="modalOptions.bodyText"></p>
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" data-ng-click="modalOptions.yes()">{{modalOptions.actionButtonText}}</button>
	<button type="button" class="btn" data-ng-click="modalOptions.no()">{{modalOptions.closeButtonText}}</button>
</div>
