<div class="modal-header bg-primary">
	<div class="row">
		<div class="col-md-11">
		<table class="col-md-12"><tr>
		<td>
			<h4 class="modal-title text-white">Tips:</h4> 
		</td>
		<td>
			<select class="form-control input-sm" ng-model="selectedTips" ng-change="showTip()" ng-options="tip.name as tip.header group by tip.group for tip in tips | orderBy: ['group', 'order']">
				<option value="">-- Show All --</option>
			</select>
		</td>
		</tr></table>
		</div>
		<div class="col-md-1">
			<button class="btn btn-white pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body" style="height: 600px; overflow:auto">
	<div class="row">
		<table class="col-md-12 table table-bordered">
			<tr ng-repeat="tip in tips | orderBy:['group', 'order'] | filter:{visible: true}">
					<td>
					<div class="panel panel-primary" id="{{tip.name}}">
						<div class="panel-heading">{{tip.header}}</div>
						<div class="panel-body">
							<table class="table table-striped table-bordered">
								<tr>
									<td ng-if="tip.flowHtmlString.length>0" colspan="{{$parent.columnLength+1}}" ng-bind-html="trustAsHtml(tip.flowHtmlString)"></td>
								</tr>
								<tr>
									<th  ng-repeat="(key, value) in tip.columnNames" ng-init="$parent.columnLength = $index">{{value}}</th>
								</tr>
								<tr ng-repeat="item in tip.items | orderBy: 'id'">
									<td ng-repeat="(key, value) in tip.columnNames">{{item[key]}}</td>
								</tr>
							</table>
						</div>
					</div>
					</td>
			</tr>
		</table>
	</div>

</div>
