<div class="m-t-20 m-l-20 m-r-20">


	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb pull-right">
				<li><a><i class="fa fa-dashboard"></i>
						QS 2.0</a></li>
			</ol>
		</div>
		<div class="col-md-4">
			<div class="btn-group btn-group-justifie" id="divisionDiv">

				<label class="btn"
					ng-class="{'btn-primary' : selectedDivision == 'BDG', 'btn-white' : selectedDivision != 'BDG'}"
					ng-model="selectedDivision" uib-btn-radio="'BDG'"><i
					class="icofont icofont-building-alt"></i> BDG</label> <label class="btn"
					ng-class="{'btn-warning' : selectedDivision == 'CVL', 'btn-white' : selectedDivision != 'CVL'}"
					ng-model="selectedDivision" uib-btn-radio="'CVL'"><i
					class="icofont icofont-barricade"></i> CVL</label> <label class="btn"
					ng-class="{'btn-success' : selectedDivision == 'E&M', 'btn-white' : selectedDivision != 'E&M'}"
					ng-model="selectedDivision" uib-btn-radio="'E&M'"><i
					class="icofont icofont-energy-oil"></i> E&M</label> <label class="btn"
					ng-class="{'btn-inverse' : selectedDivision == 'FDN', 'btn-white' : selectedDivision != 'FDN'}"
					ng-model="selectedDivision" uib-btn-radio="'FDN'"><i
					class="icofont icofont-mining"></i> FDN</label> <label class="btn"
					ng-class="{'btn-purple' : selectedDivision == 'SGP', 'btn-white' : selectedDivision != 'SGP'}"
					ng-model="selectedDivision" uib-btn-radio="'SGP'"><i
					class="icofont icofont-cur-dollar-true"></i> SGP</label> <label class="btn"
					ng-class="{'btn-primary' : selectedDivision == '', 'btn-white' : selectedDivision != ''}"
					ng-model="selectedDivision" uib-btn-radio="''"><i
					class="fa fa-th"></i> All</label>
			</div>
		</div>
		<div class="col-md-4">
			<div class="input-group" id="searchJobHereDiv">
				<input type="text" ng-model="searchquery" placeholder="Search Job here.." id="searchJobField"
					class="form-control" ng-click="removeDefaultAnimation()" /> <span
					class="input-group-btn">
					
					
					<button class="btn btn-flat bg-primary m-r-10" ng-click="searchJob()">
						<span class="fa fa-search"></span>
						
					</button>
					
					<input type="checkbox" class="form-control" data-ios-toggle="toggle" 
							id="showCompleted" data-style="ios" data-onstyle="primary"
							data-offstyle="warning" data-on="Include completed" data-width="150px"
							data-off="Only on going" ng-model="showCompleted" ng-change="updateJobList()">
				</span>
			</div>
		</div>

		<div class="col-md-2" ng-hide="!roles['has_QS_ENQ']">
			<button type="button" class="btn btn-inverse btn-block pull-right" ng-click="transitEnquiry()">
				<i class="fa fa-info-circle"></i><span> Transit Status Enquiry</span>
			</button>
		</div>
		<div class="col-md-2" ng-hide="!roles['has_QS_ENQ']">
			<button type="button" class="btn btn-danger btn-block pull-right" ng-click="createJob()">
				<i class="fa fa-plus-circle"></i><span> Create New Job</span>
			</button>
		</div>
	</div>

	<br>

	<div resize ng-style="resizeWithOffset(jobListOffset)" id="job-list">
		<div class="row" id="joblabelDiv">
			<div class="col-md-4 col-lg-3 animated fadeIn"
				ng-repeat="job in jobs | filter:searchquery | filter:{division: selectedDivision} | orderBy : jobNo : true">
				<div class="box box-widget sc-panel" id="joblabelDiv{{$index}}">
					<a ng-click="updateJobInfo(job.jobNo, job.description)">
						<div class="sc-panel-header text-white" 
								ng-class="	job.division == 'BDG' ? 'bg-primary' : 
											job.division == 'CVL' ?	'bg-orange' : 
											job.division == 'E&M' ? 'bg-success' :  
											job.division == 'FDN' ? 'bg-inverse' : 
											job.division == 'SGP' ? 'bg-purple' : 'bg-primary'">
							<div class="sc-panel-icon">
								<span class="icofont" 
										ng-class="	job.division == 'BDG' ? 'icofont-building-alt' : 
													job.division == 'CVL' ?	'icofont-barricade' : 
													job.division == 'E&M' ? 'icofont-energy-oil' :  
													job.division == 'FDN' ? 'icofont-mining' : 
													job.division == 'SGP' ? 'icofont-cur-dollar-true' : 'icofont-engineer'"></span>
							</div>
							
							<h3 class="job-panel-no">
								<b>{{job.jobNo}}</b>
								<b ng-show="job.completionStatus !='1'">
									<span class="pull-right badge"
										ng-class="job.division == 'FDN' ? 'bg-white text-black' : 'bg-inverse'">
										Completed
									</span>
								</b>
							</h3>
							<h3 class="job-panel-name">
								<b>{{job.description}}</b>
							</h3>
						</div>
					</a>
				</div>
			</div>
			
		</div>
	</div>
</div>
