<div class="modal-header bg-warning">
	<div class="row">
		<div class="col-md-11">
			<h4 class="modal-title text-white">Oops...</h4>
		</div>
		<!-- <div class="col-md-1">
			<button class="btn btn-white pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div> -->
	</div>
</div>
<div class="modal-body">
	<div class="row">
		<p>{{message}}</p>
	</div>

</div>
<!-- <div class="modal-footer bg-warning">
	<button class="btn btn-warning btn-block" type="button"
		ng-click="cancel()">
		<span class="fa fa-close"></span> Close
	</button>
</div> -->
