<!--  <img alt="Brand" src="image/gammon.png" style="width: 128px"> -->
<div>
	<div class="login-box">
		<div class="login-box-body">
			<div align="center">
				<!-- <h4><b>Input Job Number</b></> -->
			</div>
			<br>
			<form>
				<div class="input-group margin">
					<input type="text" class="form-control" placeholder="Job Number">
					<span class="input-group-btn">
						<button ng-click="reset()" class="btn btn-info btn-flat ">Go!</button>
						<!-- btn-dropbox -->
					</span>
				</div>
				<br>
				<div class="col-md-12">
					<a ui-sref="job.dashboard" ng-click="reset()"
						class="btn btn-info btn-block ">Create new Job</a>
				</div>
				<br> <br>
				<div>
					<a href="#">Not looking for a particular job?</a>
				</div>
				<br>
				<!-- <p>{{user}}</p><p>{{master}}</p> -->
				<!-- <div class="row">
					<div class="col-md-12">
						<button ng-click="reset()" class="btn btn-primary btn-block">Go</button>
					</div>
				</div> -->
			</form>
		</div>
	</div>
</div>