<div block-ui="blockEnquiryPurchaseOrderDetail">
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.info"><i class="fa fa-dashboard"></i>
					Enquiry</a></li>
			<li class="active">Purchase Order Detail</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content" style="margin-left: 0px !important">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading bg-purple">Purchase Order Detail</div>
						<div class="panel-body">
						<div class="col-md-12">
								<div id="" save-and-restore-grid-state="enquiry_purchaseOrderDetail" ui-grid-save-state ui-grid="gridOptions" external-scopes="clickHandler" ui-grid-resize-columns
									ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid" ui-grid-move-columns
									style="height:450px"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

</div>
