<div>
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.info"><i class="fa fa-dashboard"></i>
					Enquiry</a></li>
			<li class="active">Main Contract Certificate Payment Status (Customer Ledger)</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content" style="margin-left: 0px !important">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading bg-inverse">Main Contract Certificate Payment Status (Customer Ledger)</div>
					<div class="panel-body">
						<form role="form" name="searchCustomerLedgerForm" id="searchCustomerLedgerForm" ng-submit="loadGridData()" class="form-input-flat">
							<div>
								<div class="col-md-2">
									<label for="searchJobNo">Job No.</label> 
									<input type="text" class="form-control" id="searchJobNo" name="searchJobNo" ng-model="searchJobNo" required pattern=".{5,5}" title="Please enter 5 characters">
									<p ng-show="searchCustomerLedgerForm.searchJobNo.$error.pattern" class="red">Please enter 5 characters</p>
								</div>
								
								<div class="col-md-2">
									<label for="searchReference">Reference</label> 
									<input type="text" class="form-control" id="searchReference" name="searchReference" ng-model="searchReference" pattern="[0-9]+" title="Please enter number only">
									<p ng-show="searchCustomerLedgerForm.searchReference.$error.pattern" class="red">Please input number only</p>
								</div>

								<div class="col-md-2">
									<label for="searchCustomerNo">Customer No.</label> 
									<input type="text" class="form-control" id="searchCustomerNo" name="searchCustomerNo" ng-model="searchCustomerNo" pattern="[0-9]+" title="Please enter number only">
									<p ng-show="searchCustomerLedgerForm.searchCustomerNo.$error.pattern" class="red">Please input number only</p>
								</div>
								
								<div class="col-md-2">
									<label for="searchDocumentNo">Document No.</label> 
									<input type="text" class="form-control" id="searchDocumentNo" name="searchDocumentNo" ng-model="searchDocumentNo" pattern="[0-9]+" title="Please enter number only">
									<p ng-show="searchCustomerLedgerForm.searchDocumentNo.$error.pattern" class="red">Please input number only</p>
								</div>
								
								<div class="col-md-2">
									<label for="searchSubcontractNo">Document Type</label> 
									<input type="text" class="form-control" id="searchDocumentType" name="searchDocumentType" ng-model="searchDocumentType">
								</div>
								
								<div class="col-md-2">
										<label>&nbsp;</label>
										<button type="submit" class="btn btn-block btn-primary"><span class="fa fa-search"></span> Search</button>
									</div>
								</div>
							</form>
						<div class="col-md-12"><br>
								<div id="" save-and-restore-grid-state="enquiry_customerLedger" ui-grid-save-state ui-grid="gridOptions" external-scopes="clickHandler" ui-grid-pinning ui-grid-resize-columns ui-grid-exporter
									ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid"ui-grid-move-columns
									style="height:450px"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</div>
