<div>
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.info"><i class="fa fa-dashboard"></i>
					Enquiry</a></li>
			<li class="active">Subcontract</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content" style="margin-left: 0px !important">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">Subcontract</div>
				<div class="panel-body">
					<form role="form" name="searchSubcontractForm"
						id="searchSubcontractForm" ng-submit="loadGridData()"
						class="form-input-flat">

						<div>
							<div class="col-md-1">
								<label for="searchJobNo">Job No.</label> 
								<input type="text"
									class="form-control" id="searchJobNo" name="searchJobNo"
									ng-model="commonKeyValue['jobInfo.jobNumber']" pattern=".{5,5}"
									title="Please enter 5 characters"
									ng-model-options="{ updateOn: 'blur' }">
								<p ng-show="searchSubcontractForm.searchJobNo.$error.pattern"
									class="red">Please enter 5 characters</p>
							</div>
							<div class="col-md-2">
								<label for="searchCompany">Company</label> 
								<select-box selected-item="commonKeyValue['jobInfo.company']" item-type="company"></select-box>
							</div>
							<div class="col-md-2">
								<label for="searchDivision">Division</label> 
								<select-box selected-item="commonKeyValue['jobInfo.division']" item-type="division"></select-box>
							</div>
							<div class="col-md-2">
								<label for="searchSubcontractorNo">Subcontractor No.</label> 
								<input type="text"
									class="form-control" id="searchSubcontractorNo" name="searchSubcontractorNo"
									ng-model="commonKeyValue['vendorNo']">
							</div>
							<div class="col-md-2">
								<label for="searchParentJobNo">Parent Job No.</label> 
								<input type="text"
									class="form-control" id="searchParentJobNo" name="searchParentJobNo"
									ng-model="commonKeyValue['jobInfo.parentJobNo']">
							</div>
							<div class="col-md-2">
								<label for="searchPeriod">Period</label>
								<div class="input-group" moment-picker="searchPeriod"
									format="YYYY-MM" start-view="month" today="true">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i>
									</span> <input class="form-control" id="searchPeriod" name="searchPeriod"
										ng-model="searchPeriod" pattern=".{7,7}"
										title="Please select Period from the date picker"
										ng-model-options="{ updateOn: 'blur' }">
								</div>
							</div>
							<div class="col-md-1">
								<label>&nbsp;</label>
								<button type="submit" class="btn btn-block btn-primary">
									<span class="fa fa-search"></span> Search
								</button>
							</div>
						</div>

					</form>
					<div class="col-md-12">
						<br>
						<div id="" save-and-restore-grid-state="enquiry_subcontract" ui-grid-save-state ui-grid="gridOptions" external-scopes="clickHandler"
							ui-grid-resize-columns ui-grid-exporter ui-grid-selection
							ui-grid-cellnav ui-grid-edit class="grid" ui-grid-move-columns>
						</div>
						<button class="btn btn-block btn-primary btn-sm"
							ng-click="recalculateSCSummary()">Recalculate
							Subcontract Summary By Job</button>
					</div>

				</div>
			</div>
	
		</div>
	</section>

</div>
