@media print {
	.header, .sidebar, .footer, .page-header, .breadcrumb, .pace {
		display: none;
	}
	.page-container, .content, .invoice {
		margin: 0;
		padding: 0;
	}
	.invoice {
		padding-top: 5px;
	}
	.invoice label {
		font-size: 9px;
	}
	.invoice-title {
		padding-bottom: 5px;
		/* border-bottom: 2px solid #ebeced; */
		font-size: 12px;
		text-decoration: underline;
		margin-bottom: 5px;
	}
	.invoice .table-border {
    border: 2px solid black !important;
}
.invoice .table-border .t-header {
	 /* border: 1px solid black !important;
    border-color: black !important;
    border-top-color: black !important;
    border-bottom-color: black !important; */
     font-size: 10px;
    font-weight: bold !important;
    background: #fff !important;
    text-align: center;
    border: 2px solid black !important;
   	border-top-color: black !important;
    border-bottom-color: black !important;
    border-color: black !important;
}
.invoice .table-border .row1 {
   	border: 1px solid black !important;
}
.invoice .table-border .row2{
    border: 2px solid black !important;
    border-color: black !important;
}
.invoice .table-border .column1{
	font-size: 9px;
    border: 1px solid black !important;
    border-color: black !important;
    border-top-color: black !important;
    border-bottom-color: black !important;
}
.invoice .table-border .column2{
	font-size: 9px;
	font-weight: bold;
    border: none;
    border-top-color: black !important;
   	padding-top: 5px;
    padding-bottom: 5px;
}
	.invoice-underline {
		text-decoration: underline;
	}
	.invoice-header {
		margin-bottom: 10px;
	}
	.invoice-header .col-md-3 {
		float: left;
	}
	.invoice-header .col-md-6 {
		float: right;
	}
	.invoice-header .dl-horizontal dt {
		float: left;
		width: 150px;
	}
	.invoice-header .dl-horizontal dd {
		margin-left: 20px;
	}
	@page {
		margin: 0;
	}
}