animate-show,
.animate-hide {
  -webkit-transition:all linear 5s;
  -moz-transition:all linear 5s;
  -ms-transition:all linear 5s;
  -o-transition:all linear 5s;
  transition:all linear 5s;
}
.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.login-background{
	 /* background-color:#F8E0E0; */
	background-image: url("../image/background.png");
	background-position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.bg-white{
	background-color: #ffffff
}

.loading { border:1px solid #ddd; padding:20px; margin:40px 5px; width:80px;}


.fixed-container {
  height: 600px;
  width:100%;
  overflow-y: scroll;
}


/* Font color */
.blue {
	color: blue;
}
.red {
	color: red;
}

.wrap {
  white-space: normal;
}

/* Modal Position  */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* .vcenter {
 display: table-cell;
    text-align: center;
    vertical-align: middle;
} */


/*------------------Main Cert stepwizard ------------------START*/
.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}

.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.liner {
    height: 2px;
    background: #d2d6de;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
}
/*------------------stepwizard ------------------END*/


/*------------------ Subcontract Process--------------------*/
.process-step .btn:focus {
	outline: none
}

.process {
	display: table;
	width: 100%;
	position: relative
}

.process-row {
	display: table-row
}

.process-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important
}

.process-row:before {
	top: 60px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 98%;
	height: 2px;
	background-color: #ccc;
	z-order: 0;
}

.process-step {
	display: table-cell;
	text-align: center;
	position: relative
}

.process-step p {
	margin-top: 4px
}

.btn-big-circle {
	width: 120px;
	height: 120px;
	text-align: center;
	font-size: 12px;
	border-radius: 50%
}
/*------------------ Subcontract Process (END)--------------------*/



/* Subcontract Panel */
.sc-panel .sc-panel-header {
  padding: 20px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.sc-panel:hover,
.sc-panel:focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  position: relative;
  z-index: 5;
}
.sc-panel .sc-panel-name {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 22px;
  font-weight: 300;
}
.sc-panel .sc-panel-desc {
  margin-top: 0;
  height:20px;
  font-size: 12px;
}
.sc-panel .job-panel-name {
  margin-top: 0;
  height: 20px;
  font-size: 15px;
}
.sc-panel .job-panel-no {
   margin-top: 2px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 300;
}
.sc-panel .sc-panel-name,
.sc-panel .sc-panel-desc,
.sc-panel .job-panel-name,
.sc-panel .job-panel-no {
  margin-left: 75px;
}
.sc-panel .sc-panel-icon {
  width: auto;
  height: auto;
  float: left;
  font-size: 45px;
}


/* Subcontractor Compare */
.select-trigger {
    display: block;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid transparent;
    cursor: pointer;
    height: 230px;
    margin: 0px;
    border-radius: 10px;
}
.select-trigger.selected {
    background-color: #fff;
    border-color: #00a904;
}
.select-trigger.selected .check {
    background-repeat: no-repeat;
    background-size: 22px 22px;
    height: 22px;
    width: 22px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../image/check_large.png");
}
.select-trigger .check {
    background-repeat: no-repeat;
    background-size: 22px 22px;
    height: 22px;
    width: 22px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../image/circle_large.png");
    margin-bottom: 13px;
}

button.enquiryInfoBtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	padding: 20px 20px 30px 20px;
	background: -moz-linear-gradient(
		top,
		#8cbef7 0%,
		#8bc1ff 10%,
		#5080bb 85%,
		#476a8f 90%,
		#0f518a);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#8cbef7),
		color-stop(0.10, #8bc1ff),
		color-stop(0.85, #5080bb),
		color-stop(0.90, #476a8f),
		to(#0f518a));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #171717;
	-moz-box-shadow:
		1px 1px 5px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(087,087,087,0.6);
	-webkit-box-shadow:
		1px 1px 5px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(087,087,087,0.6);
	box-shadow:
		1px 1px 5px rgba(000,000,000,0.5),
		inset 0px 0px 10px rgba(087,087,087,0.6);
	text-shadow:
		0px -1px 0px rgba(080,130,186,0.4),
		0px 1px 0px rgba(059,098,148,0.3);
}

.gridHeaderText{
	color:white;
}
.gridHeaderText select{
	color:black;
}

