<div class="row well">
    <form name="RevisionsMonthlyMovementSearch"
          ng-submit="onSubmitMonthlyMovementSearch()" class="form">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Job Number:" required pattern="[0-9]{5,5}"
                   ng-change="canAdminJob(monthlyMovementSearch.jobNo)"
                   id="monthlyMovementSearch_jobNo" ng-model="monthlyMovementSearch.jobNo">
        </div>
        <div class="col-md-2">
            <input type="number" class="form-control" placeholder="Year:" required
                   id="monthlyMovementSearch_year" ng-model="monthlyMovementSearch.year">
        </div>
        <div class="col-md-2">
            <input type="number" class="form-control" placeholder="Month:" required
                   id="monthlyMovementSearch_month" ng-model="monthlyMovementSearch.month">
        </div>
        <div class="col-md-2">
            <select class="form-control"
                    id="monthlyMovementSearch_forecastFlag"
                    ng-model="monthlyMovementSearch.forecastFlag"
                    ng-options="o.value as o.id for o in forecastFlagOptions" required></select>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-block btn-primary"
                    id="monthlyMovementSearch_submit" ng-disabled="!adminSearchBtn">Search
            </button>
        </div>
    </form>
</div>
<div class="col-md-12"><br>
    <div id="" save-and-restore-grid-state="admin_revisions_tender_detail" ui-grid-save-state ui-grid="gridOptions"
         external-scopes="clickHandler" ui-grid-resize-columns ui-grid-move-columns
         ui-grid-row-edit ui-grid-exporter ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid"
         resize ng-style="resizeWithOffset(365)">
    </div>
    <div class="row">
        <button ng-show="showQSAdmin" ng-click="updateGrid()" type="button" class="btn btn-block btn-primary"
                ng-disabled="!adminSearchBtn">Update Monthly Movement
        </button>
    </div>
    <div class="row">
        <button ng-show="showQSAdmin && gridApi.selection.getSelectedRows().length > 0" ng-click="deleteRows()" type="button" class="btn btn-block btn-success"
                ng-disabled="!adminSearchBtn">Delete {{gridApi.selection.getSelectedRows().length}} rows
        </button>
    </div>
</div>
