<div class="content-wrapper" ng-controller="EnquiryPaymentCtrl">
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.info"><i class="fa fa-dashboard"></i>
					Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Payment</h3>
						<div class="col-md-12">
							<form role="form" class="form-input-flat form-horizatial"
								name="enquiryPaymentForm">
								<div class="form-group">
								<div class="col-md-3">
									<label for="searchJobNo">Job Number:</label> <input type="text"
										class="form-control" id="searchJobNo" name="searchJobNo" ng-model="searchJobNo"
										pattern=".{5,5}" required title="Please enter 5 characters" ng-model-options="{ updateOn: 'blur' }">
										<p ng-show="enquiryPaymentForm.searchJobNo.$error.pattern" class="red">Please enter 5 characters</p>
								</div>					
									<div class="col-md-3">
									<label for="searchDueDateType">Due Date:</label>
										<select ng-model="searchDueDateType" class="form-control">
											<option value="onOrBefore">On Or Before</option>
											<option value="exactDate">Exact Date</option>
										</select>
									</div>
									<div class="col-md-3">
									<label>&nbsp;</label>
										<div class="input-group block" moment-picker="searchDueDate"
											format="DD MMM YYYY" start-view="year" min-view="year" today="true">
											<span class="input-group-addon"> <i
												class="fa fa-calendar"></i>
											</span> <input class="form-control" id="searchDueDate"
												ng-model="searchDueDate">
										</div>
									</div>
									<div class="col-md-3">
									<label >&nbsp;</label>
										<button class="btn btn-block btn-primary" type="submit"
											ng-click="loadGridData()"><span class="fa fa-search"></span> Search</button>
									</div>
								</div>
								<div class="clearfix"></div>
								<div block-ui="blockEnquiryPayment"><br>
									<div id="" ui-grid="gridOptions" external-scopes="clickHandler"
										ui-grid-resize-columns ui-grid-pagination ui-grid-selection
										ui-grid-exporter ui-grid-cellnav ui-grid-edit class="grid" resize
										ng-style="resizeWithOffset(305)"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
