<div class="content-wrapper">
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.info"><i class="fa fa-dashboard"></i>
					Enquiry</a></li>
			<li class="active">Job Information</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content" style="margin-left: 0px !important">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Job Information</h3>
						
						<div class="col-md-12">
								<div id="" ui-grid="gridOptions" external-scopes="clickHandler" 
								ui-grid-grouping ui-grid-auto-resize ui-grid-resize-columns ui-grid-exporter
						ui-grid-cellnav ui-grid-edit class="grid" resize ng-style="resizeWithOffset(215)"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

</div>
