<div>
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.info"><i class="fa fa-dashboard"></i>
					Enquiry</a></li>
			<li class="active">Purchase Order</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content" style="margin-left: 0px !important">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading bg-purple">Purchase Order</div>
					<div class="panel-body">
						<form role="form" name="searchPOForm" id="searchPOForm" ng-submit="loadGridData()" class="form-input-flat">
						
						<div class="form-group">
								<div class="col-md-2">
									<label for="searchJobNo">Job No.:</label> <input type="text"
										class="form-control" id="searchJobNo" name="searchJobNo" ng-model="searchJobNo" disabled>
								</div>					
						
								<div class="col-md-2">
									<label for="searchSupplierNo">Supplier No.:</label> <input type="number"
										class="form-control" id="searchSupplierNo" name="searchSupplierNo" ng-model="searchSupplierNo">
								</div>					
						
								<div class="col-md-2">
									<label for="searchOrderNo">Order No.:</label> <input type="number"
										class="form-control" id="searchOrderNo" name="searchOrderNo" ng-model="searchOrderNo">
								</div>					
						
								<div class="col-md-2">
									<label for="searchOrderType">Order Type:</label> 									
									<select class="form-control" id="searchOrderType" name="searchOrderType" 
										ng-options="v.id as (v.id + ' - ' + v.value) for v in GlobalParameter.PurchaseOrderType | orderBy: 'id'" ng-model="searchOrderType">
										<option value="">All</option>
									</select>
								</div>
								
								<div class="col-md-4">
									<label>&nbsp;</label>
									<button type="submit" class="btn btn-block btn-primary"><span class="fa fa-search"></span> Search</button>
								</div>
							</div>	
						
						</form>
						
						<div class="col-md-12"><br>
								<div id="" save-and-restore-grid-state="enquiry_purchaseOrder" ui-grid-save-state ui-grid="gridOptions" external-scopes="clickHandler" ui-grid-resize-columns ui-grid-exporter 
									ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid" ui-grid-move-columns
									style="height:450px"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

</div>
