
						<form role="form" name="searchJobCostForm" id="searchJobCostForm" ng-submit="loadGridData()" class="form-input-flat">
							<div class="form-group">
								<div class="col-md-2">
									<label for="searchJobNo">Job No.:</label> <input type="text"
										class="form-control" id="searchJobNo" name="searchJobNo" ng-model="searchJobNo"
										pattern=".{5,5}" required title="Please enter 5 characters" ng-model-options="{ updateOn: 'blur' }">
										<p ng-show="searchJobCostForm.searchJobNo.$error.pattern" class="red">Please enter 5 characters</p>
								</div>
								<div class="col-md-2">
									<label for="searchSubcontractNo">Subcontract No.:</label> <input
										type="text" class="form-control" id="searchSubcontractNo" name="searchSubcontractNo"
										ng-model="searchSubcontractNo" pattern=".{4,4}" title="Please enter 4 characters or leave it blank" ng-model-options="{ updateOn: 'blur' }">
										<p ng-show="searchJobCostForm.searchSubcontractNo.$error.pattern" class="red">Please enter 4 characters or leave it blank</p>
								</div>
								<div class="col-md-2">
									<label for="searchFrom" ng-if="!showCumulative">From:</label>
									<label for="searchFrom" ng-if="showCumulative">Period:</label>
									<div class="input-group" moment-picker="searchFrom"
										format="YYYY-MM" start-view="year" today="true">
										<span class="input-group-addon"> <i
											class="fa fa-calendar"></i>
										</span> <input class="form-control" id="searchFrom" name="searchFrom"
											ng-model="searchFrom"
											pattern=".{7,7}" required title="Please select Year from the date picker" ng-model-options="{ updateOn: 'blur' }">
									</div>
									<p ng-show="searchJobCostForm.searchYear.$error.pattern" class="red">Please select Year from the date picker</p>
								</div>
								<div class="col-md-2" ng-show="!showCumulative">
									<label for="searchTo">To:</label>
									<div class="input-group" moment-picker="searchTo"
										format="YYYY-MM" start-view="year" today="true">
										<span class="input-group-addon"> <i
											class="fa fa-calendar"></i>
										</span> <input class="form-control" id="searchTo" name="searchTo"
											ng-model="searchTo"
											pattern=".{7,7}" required title="Please select Month from the date picker" ng-model-options="{ updateOn: 'blur' }">
									</div>
									<p ng-show="searchJobCostForm.searchMonth.$error.pattern" class="red">Please select Month from the date picker</p>
								</div>
								<div class="col-md-2">
									<label for="showCumulative">&nbsp;</label><br> <input
										type="checkbox" data-ios-toggle="toggle"
										id="showCumulative" data-style="ios" data-onstyle="primary"
										data-offstyle="warning" data-on="Cumulative"
										data-off="Movement" ng-model="showCumulative" data-width="100%"
										ng-change="triggerShowCumulative()">
								</div>

								<div ng-class="{'col-md-2':!showCumulative, 'col-md-4':showCumulative}">
									<label>&nbsp;</label><br>
									<div class="col-md-6">
										<input
										type="checkbox" data-ios-toggle="toggle"
										id="showZero" data-style="ios" data-onstyle="primary"
										data-offstyle="warning" data-on="Show Zero Amount"
										data-off="Hide Zero Amount" ng-model="showZero" data-width="100%"
										ng-change="loadGridData()">
									</div>
									<div class="col-md-6">
										<button type="submit" class="btn btn-block btn-primary"><span class="fa fa-search"></span> Search</button>
									</div>
								</div>
							</div>
						</form>
						<div class="clearfix"></div>
						<br>
					<div class="col-md-12">
						<div id="" ui-grid="gridOptions" external-scopes="clickHandler" style="height: 400px"
							ui-grid-resize-columns ui-grid-selection ui-grid-move-columns
							ui-grid-exporter ui-grid-cellnav ui-grid-edit class="grid"></div>
					</div>

