<div class="content-wrapper">
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
					Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Subcontract Provision Postion Enquiry</h3>
						
						<div class="col-md-12">
								<div id="" ui-grid="gridOptions" external-scopes="clickHandler" ui-grid-resize-columns ui-grid-pagination
									ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid"
									resize ng-style="resizeWithOffset(215)"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

</div>
