<div class="content-wrapper">
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="job.dashboard" ng-click="activeMenu = ''"><i class="fa fa-dashboard"></i>
					Dashboard</a></li>
			<li class="active">Enquiry</li>
		</ol>
	</section>
	<div class="clearfix"></div>
	<!-- Main content -->
	<section class="content" style="margin-left: 0px !important">
	<div class="row col-md-8 col-md-push-2">
	<table class="table">
	<tr ng-repeat="btn in btns">
	<td class="col-md-3" style="text-align:right">
	<button type="button" name="{{btn.name}}" id="{{btn.name}}" value="" class="enquiryInfoBtn" style="width:200px"
uib-popover-html="btn.popoverHtml" 
popover-placement="right"
popover-trigger="outsideClick" ng-mouseover="showPopover(btn.name)"
popover-is-open="{{btn.name}}.show"
>{{btn.title}}<br></button>
	</td>
	<td class="col-md-9">
		<div class="box box-primary" style="padding:3px;height:70px" ng-bind-html="btn.description">
		</div>
	</td>
	</tr>
	</table>
	</div>
	</section>

</div>
