<div>
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.info"><i class="fa fa-dashboard"></i>
					Enquiry</a></li>
			<li class="active">Internal Valuation History</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content" style="margin-left: 0px !important">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading bg-inverse">Internal Valuation History</div>
					<div class="panel-body">
						<form role="form" name="searchIVPostingHistForm" id="searchIVPostingHistForm" ng-submit="loadGridData()" class="form-input-flat">
						
						<div>
								<div class="col-md-3">
									<label for="searchJobNo">Job No.</label> 
									<input type="text" class="form-control" id="searchJobNo" name="searchJobNo" ng-model="searchJobNo" pattern=".{5,5}" title="Please input 5 characters">
								</div>

								<div class="col-md-3">
									<date-range-picker ng-model="searchDate"></date-range-picker>
								</div>

								<div class="col-md-5"></div>
								
								<div class="col-md-1">
									<label>&nbsp;</label>
									<button type="submit" class="btn btn-block btn-primary"><span class="fa fa-search"></span> Search</button>
								</div>
							</div>	
						
						</form>
						<div class="col-md-12" block-ui="blockEnquiryIvHistory"><br>
								<div id="" save-and-restore-grid-state="enquiry_ivHistory" ui-grid-save-state ui-grid="gridOptions" external-scopes="clickHandler" ui-grid-resize-columns ui-grid-move-columns
									ui-grid-exporter ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid"
									></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

</div>
