<div class="content-wrapper" block-ui="blockEnquiryPurchaseOrderDetail">
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.info"><i class="fa fa-dashboard"></i>
					Enquiry</a></li>
			<li class="active">Purchase Order Detail</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content" style="margin-left: 0px !important">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Purchase Order Detail</h3>
						
						<div class="col-md-12">
								<div id="" ui-grid="gridOptions" external-scopes="clickHandler" ui-grid-resize-columns
									ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid"
									style="height:450px"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

</div>
