<div class="content-wrapper" ng-controller="EnquiryClientCtrl">
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.subcontractor"><i class="fa fa-dashboard"></i>
					Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Client</h3>
						<form role="form" class="form-input-flat" ng-submit="loadGridData()">
							<div class="form-group">
								<div class="col-md-6">
									<label for="searchClient">Client No. / Name:</label>
									<input type="text" id="searchClient" class="form-control" ng-model="searchClient">
								</div>
								<div class="col-md-6">
									<label for="searchSubmit">&nbsp;</label>
									<button = type="submit" class="btn btn-block btn-primary"><span class="fa fa-search"></span> Search</button>
								</div>
							</div>
						</form>
						<div class="col-md-12" block-ui="blockEnquiryClient">
								<div id="" ui-grid="gridOptions" external-scopes="clickHandler" ui-grid-resize-columns ui-grid-pagination
									ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid"
									resize ng-style="resizeWithOffset(290)"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

</div>
