<div>
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.info"><i class="fa fa-dashboard"></i>
					Enquiry</a></li>
			<li class="active">Job Cost</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content" style="margin-left: 0px !important">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading bg-inverse">Job Cost</div>
					<div class="panel-body">
						<form role="form" name="searchJobCostForm" id="searchJobCostForm" ng-submit="loadGridData()" class="form-input-flat">
							<div class="form-group">
								<div class="col-md-2">
									<label for="searchJobNo">Job No.:</label> <input type="text"
										class="form-control" id="searchJobNo" name="searchJobNo" ng-model="searchJobNo"
										pattern=".{5,5}" required title="Please enter 5 characters" ng-model-options="{ updateOn: 'blur' }">
										<p ng-show="searchJobCostForm.searchJobNo.$error.pattern" class="red">Please enter 5 characters</p>
								</div>
								<div class="col-md-2">
									<label for="searchSubcontractNo">Subcontract No.:</label> <input
										type="text" class="form-control" id="searchSubcontractNo" name="searchSubcontractNo"
										ng-model="searchSubcontractNo" pattern=".{4,4}" title="Please enter 4 characters or leave it blank" ng-model-options="{ updateOn: 'blur' }">
										<p ng-show="searchJobCostForm.searchSubcontractNo.$error.pattern" class="red">Please enter 4 characters or leave it blank</p>
								</div>
								<div class="col-md-2">
									<label for="searchYear">Year:</label>
									<div class="input-group" moment-picker="searchYear"
										format="YY" start-view="year" today="true">
										<span class="input-group-addon"> <i
											class="fa fa-calendar"></i>
										</span> <input class="form-control" id="searchYear" name="searchYear"
											ng-model="searchYear"
											pattern=".{2,2}" required title="Please select Year from the date picker" ng-model-options="{ updateOn: 'blur' }">
									</div>
									<p ng-show="searchJobCostForm.searchYear.$error.pattern" class="red">Please select Year from the date picker</p>
								</div>
								<div class="col-md-2">
									<label for="searchMonth">Month:</label>
									<div class="input-group" moment-picker="searchMonth"
										format="M" start-view="month" today="true">
										<span class="input-group-addon"> <i
											class="fa fa-calendar"></i>
										</span> <input class="form-control" id="searchMonth" name="searchMonth"
											ng-model="searchMonth"
											pattern=".{1,2}" required title="Please select Month from the date picker" ng-model-options="{ updateOn: 'blur' }">
									</div>
									<p ng-show="searchJobCostForm.searchMonth.$error.pattern" class="red">Please select Month from the date picker</p>
								</div>
								<div class="col-md-2">
									<label for="showCumulative">&nbsp;</label><br> <input
										type="checkbox" data-ios-toggle="toggle"
										id="showCumulative" data-style="ios" data-onstyle="primary"
										data-offstyle="warning" data-on="Cumulative"
										data-off="Movement" ng-model="showCumulative"
										ng-change="triggerShowCumulative()">
								</div>

								<div class="col-md-2">
									<label>&nbsp;</label>
									<button type="submit" class="btn btn-block btn-primary"><span class="fa fa-search"></span> Search</button>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-12">
						<div id="" ui-grid="gridOptions" external-scopes="clickHandler"
							ui-grid-resize-columns ui-grid-selection ui-grid-move-columns
							ui-grid-exporter ui-grid-cellnav ui-grid-edit class="grid"></div>
					</div>

				</div>
			</div>
		</div>

	</section>

</div>
