.selete-container {
  height: calc(100vh - 56px);
  overflow:hidden;
  display: flex;
  flex-direction: column;
  .selete-header {
    height: 56px;
    margin: 0;
    padding: 10px 10px 0;
    flex: 0;
    .e-btn-group {
      width: auto;
      padding: 0;
      .e-btn {
        padding: 6px 8px;
        &.bdg {
          color: var(--white);
          background-color: var(--primary);
        }
        &.cvl {
          color: var(--white);
          background-color: var(--orange);
        }
        &.em {
          color: var(--white);
          background-color: var(--green);
        }
        &.fdn {
          color: var(--white);
          background-color: var(--black);
        }
        &.sgp {
          color: var(--white);
          background-color: var(--purple);
        }
        &.all {
          color: var(--white);
          background-color: var(--primary);
        }
      }
      .icon {
        margin-right: 5px;
      }
    }
  }
  .selete-body {
    padding: 0;
    margin: 0;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
    align-items: start;
  }
}