.selete-container {
  height: calc(100vh - 56px);
  overflow:hidden;
  display: flex;
  flex-direction: column;
  .selete-header {
    height: 56px;
    margin: 0;
    padding: 10px 10px 0;
    flex: 0;
    .row {
      align-items: center;
    }
    .e-btn-group {
      width: auto;
      padding: 0;
      .e-btn {
        padding: 6px 8px;
        &.bdg {
          color: var(--white);
          background-color: var(--primary);
        }
        &.cvl {
          color: var(--white);
          background-color: var(--orange);
        }
        &.em {
          color: var(--white);
          background-color: var(--green);
        }
        &.fdn {
          color: var(--white);
          background-color: var(--black);
        }
        &.sgp {
          color: var(--white);
          background-color: var(--purple);
        }
        &.all {
          color: var(--white);
          background-color: var(--primary);
        }
      }
      .icon {
        margin-right: 5px;
      }
    }
    .switch-search {
      flex-wrap: nowrap;
      align-items: stretch;
      overflow: hidden;
      position: relative;
      padding: 2px 0;
      margin-left: -5px;
      border-left: 10px solid #fff;
      border-right: 10px solid #fff;
      .col-12 {
        text-align: right;
        transition: all 0.3s ease-in-out;
        transform: translateZ(0);
        margin: 0;
        button {
          width: 100%;
          height: 36px;
          margin-left: 3px;
        }
      }
      &.on .col-12:first-child {
        margin-left: -100%;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 5px;
        z-index: 1;
        transform: translateY(-50%);
        width: 10px;
        height: 36px;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        box-shadow: 0 0 5px rgba(0, 0, 0, .5);
        overflow: hidden;
        transition: all 0.3s ease-in-out;
      }
      &.on::after {
        right: calc(100% - 20px);
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .selete-body {
    padding: 0;
    margin: 0;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
    align-items: flex-start;
    align-content: flex-start;
  }
}