<div class="content-wrapper">
	<section class="content-header">
		<h1>
			{{JobNo}} <small>{{JobDescription}}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a ui-sref = "job.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>
	
	<section class="content">
		<div class="row">
           <div class="col-md-12">
              <!-- Horizontal Form -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Horizontal Form</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">Main Contractor Amount</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-md-2 control-label">NSC / NDSC Amount</label>
                     <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">MOS Amount</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">Main Contractor Retention Released</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">Retention for NSC / NDSC Released</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">MOS Retention Released</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">Adjustment Amount</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">Advance Payment</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">CPF Amount</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">Main Contractor Retention</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">Retention for NSC / NDSC</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-md-2 control-label">MOS Retention</label>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
		                    <!-- <span class="input-group-addon">.00</span> -->
	                  	</div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
		                    <span class="input-group-addon">$</span>
		                    <input type="text" class="form-control input-sm">
	                  	</div>
                      </div>
                    </div>
                    <div class="form-group">
                     <label for="inputEmail3" class="col-md-2 control-label">Contra Charge Amount</label>
                     <div class="col-md-5">
                       <div class="input-group">
	                    <span class="input-group-addon">$</span>
	                    <input type="text" class="form-control input-sm">
	                    <!-- <span class="input-group-addon">.00</span> -->
                  	</div>
                     </div>
                     <div class="col-md-5">
                       <div class="input-group">
	                    <span class="input-group-addon">$</span>
	                    <input type="text" class="form-control input-sm">
                  	</div>
                     </div>
                   </div>
                    
                </div><!-- /.box-body -->
                <div class="box-footer">
                  <a class="btn btn-twitter btn-block" ui-sref="cert.details">Save <i class="fa fa-floppy-o"></i></a>
                </div><!-- /.box-footer -->
              </form>
            </div><!-- /.box -->
         </div>
        </div>    
              
              
     </section><!-- /.content -->
   </div><!-- /.content-wrapper -->


