<div class="m-t-10 m-l-20 m-r-20">
	<div class="col-md-9">
		<h1 class="page-header">
			{{jobNo}}<small> {{jobDescription}}</small>
		</h1>
	</div>

	<div class="col-md-3">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="job.dashboard"><i class="fa fa-home"></i>
					Home</a></li>
		</ol>
	</div>

	<div class="row">
		<div class="col-md-7">
			<div class="panel panel-purple ">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;"
							class="btn btn-xs btn-icon btn-circle btn-white"
							data-click="panel-expand"><i class="fa fa-expand"></i></a> <a
							href="javascript:;"
							class="btn btn-xs btn-icon btn-circle btn-white"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
					</div>
					<h4 class="panel-title">
						<b>Main Contract Certificate Monthly Summary</b>
					</h4>
				</div>
				<div class="panel-body">
					<div class="panel-option bg-purple-light">
						<div class="dropdown pull-right">
							<a href="javascript:;" class="btn btn-white btn-rounded btn-sm"
								data-toggle="dropdown">{{selectedYear}} <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li ng-repeat="year in yearList"><a
									ng-click="getMainCertDashboardData(year)">{{year}}</a></li>
							</ul>
						</div>
						<div class="text-center text-white">Jan {{selectedYear}} -
							Dec {{selectedYear}}</div>
					</div>

					<div>
						<canvas id="line" class="chart chart-line"
							chart-data="linChartParameters.data"
							chart-labels="linChartParameters.labels"
							chart-series="linChartParameters.series"
							chart-options="linChartParameters.options" chart-legend="true"
							resize ng-style="resizeWithOffset(400)">
						           		</canvas>
					</div>
				</div>
				<div class="panel-footer bg-white">
					<a class="btn btn-primary btn-block" ui-sref="main-cert-select">More
						Info <i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>

		</div>

		<div class="col-md-5">
			<div class="panel panel-purple ">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;"
							class="btn btn-xs btn-icon btn-circle btn-white"
							data-click="panel-expand"><i class="fa fa-expand"></i></a> <a
							href="javascript:;"
							class="btn btn-xs btn-icon btn-circle btn-white"
							data-click="panel-collapse"><i class="fa fa-minus"></i></a>
					</div>
					<h4 class="panel-title">
						<b>Retention Release Schedule</b>
					</h4>
				</div>
				<div class="panel-body">
					<div class="col-md-6 col-xs-12">
						<div class="widget widget-stat bg-inverse text-white">
							<div class="widget-stat-icon">
								<i class="fa fa-dollar"></i>
							</div>
							<div class="widget-stat-info">
								<div class="widget-stat-title">Project Contract Value</div>
								<div class="widget-stat-number">{{ projectedContractValue
									| currency}}</div>
								<div class="widget-stat-text">Max Retention: {{
									maxRetPercent | number: 2}}%</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-xs-12">
						<div class="widget widget-stat bg-primary text-white">
							<div class="widget-stat-icon">
								<i class="fa fa-dollar"></i>
							</div>
							<div class="widget-stat-info">
								<div class="widget-stat-title">Cumulative Retention Amount</div>
								<div class="widget-stat-number">{{ cert.amount_cumulativeRetention |
									currency}}</div>
								<div class="widget-stat-text">(Cumulative to date)</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div id="" save-and-restore-grid-state="maincert_dashboard"
							ui-grid-save-state ui-grid="gridOptions" ui-grid-selection
							ui-grid-resize-columns ui-grid-exporter class="grid" resize
							ng-style="resizeWithOffset(380)"></div>
					</div>

				</div>
				<!-- <div class="panel-footer bg-white">
					<a class="btn btn-primary btn-block" ng-click="openRetentionReleaseSchedule()">Edit Schedule 
						<i class="fa fa-calendar"></i>
					</a>
				</div> -->
			</div>

		</div>
	</div>
</div>