
<!-- begin #sidebar -->
<div id="sidebar" class="sidebar sidebar-highlight-primary sidebar-light">
	<div data-scrollbar="true" data-height="100%">
		<ul class="nav">
			<li class="nav-header">{{jobNo}} {{jobDescription}}</li>
			<li class="divider has-minify-btn">
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
			</li>
			
			<li ui-sref-active="active">
				<a ui-sref="cert-dashboard">
					<i class="fa fa-dashboard"></i> 
					<span>Main Cert Dashboard</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="main-cert-select">
					<i class="fa fa-calendar-check-o"></i>
					<span>Main Contract Certificates</span>
				</a>
			</li>
			
			
						
			<!-- <li class="has-sub" ui-sref-active="active">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="fa fa-home"></i>
				    <span>Operation</span>
			    </a>
			    <ul class="sub-menu">
			        <li ui-sref-active="active"><a ><i	class="fa fa-info-circle"></i> Account Receivable Details</a></li>
					<li ui-sref-active="active"><a ><i	class="fa fa-circle-o"></i> Contra Charge</a></li>
					<li ui-sref-active="active"><a href=""><i class="fa fa-files-o"></i> Attachment</a></li>
			    </ul>
			</li>	 -->		
						
						
			<li class="divider has-minify-btn">
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
			</li>
		</ul>
	</div>
</div>
<div class="sidebar-bg"></div>

<script>
	$(document).ready(function() {
		handleSidebarMinify();
		handleSidebarMenu();
	});
</script>


<div ui-view></div>

