

<div class="content-wrapper">
	<section class="content-header">
		<h1>
			{{JobNo}} <small>{{JobDescription}}</small>
		</h1>
		<ol class="breadcrumb">
			<li><a ui-sref = "job.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</section>
	
	<section class="content">
		              <!-- Custom Tabs -->
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_ipa" data-toggle="tab" target="_self">IPA</a></li>
            <li><a href="#tab_ipc" data-toggle="tab" target="_self">IPC</a></li>
            <li><a href="#tab_posting_amount" data-toggle="tab" target="_self">Posting Amount</a></li>
            <li class="pull-right"><a href="" class="text-muted"><i class="fa fa-gear"></i></a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab_ipa">
               	<!-- <input ng-model='filterValue'/><button ng-click='filter()'>Filter</button> -->
     				<div id="ipa_grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection  class="grid"  style="height:500px;  width=: 1600px"></div>
     				<a class="btn btn-twitter btn-block" ui-sref="details.cert">Add New Main Contract Certificate <i class="fa fa-arrow-circle-right"></i></a>
            </div><!-- /.tab-pane -->
            <div class="tab-pane" id="tab_ipc">
              	 <div ui-grid="gridOptions1" ui-grid-pagination ui-grid-edit class="grid" style="height:500px;  width=: 1600px"></div>
     				<a class="btn btn-twitter btn-block" ui-sref="details.cert">Add New Main Contract Certificate <i class="fa fa-arrow-circle-right"></i></a>
            </div><!-- /.tab-pane -->
            <div class="tab-pane" id="tab_posting_amount">
              	<!-- <div id="posting_amount_grid" ui-grid="gridOptions" class="grid"  style="height:500px;  width=: 1600px"></div> -->
     				<a class="btn btn-twitter btn-block" ui-sref="details.cert">Add New Main Contract Certificate <i class="fa fa-arrow-circle-right"></i></a>
            </div><!-- /.tab-pane -->
          </div><!-- /.tab-content -->
        </div><!-- nav-tabs-custom -->
       </section>
</div>
<!-- /.content-wrapper -->
