<div class="m-t-20 m-l-20 m-r-20">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
	<!-- end breadcrumb -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small>
	</h1>

	<div class="row">
		<div class="col-md-8">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Monthly Statistics</h3>


				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="row">
						<div class="col-md-8">
							<p class="text-center">
								<strong>1 Jan, 2014 - 30 Jul, 2014</strong>
							</p>

							<div class="chart">
								<canvas id="line" class="chart chart-line"
									chart-data="linChartParameters.data"
									chart-labels="linChartParameters.labels"
									chart-series="linChartParameters.series"
									chart-options="linChartParameters.options">
						           	</canvas>
							</div>
							<!-- /.chart-responsive -->
						</div>
						<!-- /.col -->
						<div class="col-md-4">
							<p class="text-center">
								<strong>Goal Completion</strong>
							</p>

							<div>
								<span>IPA</span> <span class="pull-right"><b>160</b>/200</span>

								<div class="progress m-b-10">
									<div class="progress-bar progress-bar-aqua" style="width: 40%"></div>
								</div>
							</div>


							<div>
								<span>IPC</span> <span class="pull-right"><b>310</b>/400</span>
								<div class="progress m-b-10">
									<div class="progress-bar progress-bar-danger"
										style="width: 40%"></div>
								</div>
							</div>

							<div>
								<span>CC(IPA)</span> <span class="pull-right"><b>160</b>/200</span>

								<div class="progress m-b-10">
									<div class="progress-bar progress-bar-success"
										style="width: 40%"></div>
								</div>
							</div>

							<div>
								<span>CC(IPC)</span> <span class="pull-right"><b>310</b>/400</span>

								<div class="progress m-b-10">
									<div class="progress-bar progress-bar-warning"
										style="width: 40%"></div>
								</div>
							</div>


						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<a class="btn btn-primary btn-block" ui-sref="cert-all-details">More
					Info <i class="fa fa-arrow-circle-right"></i>
				</a>
				<!-- ./box-body -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->

		<!-- Main row -->
		<!-- Left col -->
		<div class="col-md-4">
			<!-- TABLE: LATEST ORDERS -->
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Retention Release Schedule</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool"
							data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="table-responsive">
						<table class="table no-margin">
							<thead>
								<tr>
									<th>Sequence</th>
									<th>Cert No.</th>
									<th>Contractual Due Date</th>
									<th>Forecast/Actual Due Date</th>
									<th>Release Amount</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>1</td>
									<td>14-01-2016</td>
									<td>14-01-2016</td>
									<td>100</td>
									<td><span class="label label-success">Actual</span></td>
								</tr>
								<tr>
									<td>2</td>
									<td>2</td>
									<td>14-01-2016</td>
									<td>14-01-2016</td>
									<td>200</td>
									<td><span class="label label-warning">Actual</span></td>
								</tr>
								<tr>
									<td>3</td>
									<td>3</td>
									<td>14-01-2016</td>
									<td>14-01-2016</td>
									<td>300</td>
									<td><span class="label label-danger">Actual</span></td>
								</tr>
								<tr>
									<td>4</td>
									<td>4</td>
									<td>14-01-2016</td>
									<td>14-01-2016</td>
									<td>400</td>
									<td><span class="label label-info">Forecast</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /.table-responsive -->
				</div>
				<!-- /.box-body -->
				<!-- /.box-footer -->
			</div>
			<!-- /.box -->
		</div>
		<!-- /.col -->


		<!-- Info boxes -->
		<div class="col-md-12">
			<div class="box box-primary box-solid">
				<div class="box-header with-border">
					<h3 class="box-title">Reports</h3>
				</div>
				<div class="box-body">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<h5 class="m-t-0">Main Contract Certificate Report</h5>
						<div class="clearfix m-b-25">
							<button class="btn btn-danger btn-icon btn-lg">
								<i class="fa fa-file-pdf-o"></i>
							</button>
							<button class="btn btn-success btn-icon btn-lg">
								<i class="fa fa-file-excel-o"></i>
							</button>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<h5 class="m-t-0">Retention Release Report</h5>
						<div class="clearfix m-b-25">
							<button class="btn btn-danger btn-lg"> 
								<i class="fa fa-file-pdf-o"></i>
							</button>
							<button class="btn btn-success btn-icon btn-lg">
								<i class="fa fa-file-excel-o"></i>
							</button>
						</div>
					</div>
					<!-- /.col -->

					<!-- fix for small devices only -->
					<div class="clearfix visible-sm-block"></div>

					<div class="col-md-3 col-sm-6 col-xs-12">
						<h5 class="m-t-0">Contra Charge Report</h5>
						<div class="clearfix m-b-25">
							<button class="btn btn-danger btn-lg">
								<i class="fa fa-file-pdf-o"></i>
							</button>
							<button class="btn btn-success btn-icon btn-lg">
								<i class="fa fa-file-excel-o"></i>
							</button>
						</div>
					</div>
					<!-- /.col -->
					<div class="col-md-3 col-sm-6 col-xs-12">
						<h5 class="m-t-0">All in One</h5>
						<div class="clearfix m-b-25">
							<button class="btn btn-danger btn-lg">
								<i class="fa fa-file-pdf-o"></i>
							</button>
							<button class="btn btn-success btn-icon btn-lg">
								<i class="fa fa-file-excel-o"></i>
							</button>
						</div>
					</div>
					<!-- /.row -->
				</div>
			</div>
		</div>
	</div>
</div>