<div class="content">
	<!-- <h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small>
	</h1> -->

	<div class="row">

		<div class="stepwizard">
			<div class="stepwizard-row">
				<div class="liner"></div>
				<div class="stepwizard-step">
					<button class="btn icon-btn btn-primary"
						ng-disabled="disableButtons || cert.status !=100">
						<span
							class="glyphicon btn-glyphicon glyphicon-open img-circle text-primary"></span>Send
						out IPA
					</button>
					<!-- <p>
						<small class="text-muted"><i
							class="glyphicon glyphicon-info-sign"></i> Status <strong>120</strong></small>
					</p> -->
				</div>
				<div class="stepwizard-step">
					<button class="btn icon-btn btn-primary"
						ng-disabled="disableButtons || cert.status !=120">
						<span
							class="glyphicon btn-glyphicon glyphicon-ok img-circle text-primary"></span>Confirm IPC
					</button>
					<!-- <p>
						<small class="text-muted"><i
							class="glyphicon glyphicon-info-sign"></i> Status <strong>150</strong></small>
					</p> -->
				</div>
				<div class="stepwizard-step">
					<button class="btn icon-btn btn-primary"
						ng-disabled="disableButtons || cert.status !=150">
						<span
							class="glyphicon btn-glyphicon glyphicon-refresh img-circle text-primary"></span>Reset IPC
					</button>
				</div>
				<!-- <div class="stepwizard-step">
					<button class="btn icon-btn btn-primary"
						ng-disabled="disableButtons || cert.status !=150">
						<span
							class="glyphicon btn-glyphicon glyphicon-check img-circle text-primary"></span>Send out Approval
					</button>
					<p>
						<small class="text-muted"><i
							class="glyphicon glyphicon-info-sign"></i> Status <strong>200</strong></small>
					</p>
				</div> -->
				<div class="stepwizard-step">
					<button class="btn icon-btn btn-primary"
						ng-disabled="disableButtons || cert.status !=150">
						<span
							class="glyphicon btn-glyphicon glyphicon-saved img-circle text-primary"></span>Post IPC
					</button>
					<!-- <p>
						<small class="text-muted"><i
							class="glyphicon glyphicon-info-sign"></i> Status <strong>300</strong></small>
					</p> -->
				</div>
			</div>
		</div>

		<div class="m-t-15">
			<div class="col-lg-3 col-xs-12">
				<div class="widget widget-stat bg-success text-white">
					<div class="widget-stat-icon">
						<i class="fa fa-file"></i>
					</div>
					<div class="widget-stat-info">
						<div class="widget-stat-title">IPA Net Amount</div>
						<!-- <div class="widget-stat-number">{{cert.appNetAmount |
							currency}}</div> -->
						<div class="widget-stat-number">
							{{cert.appliedMainContractorAmount 
							+ cert.appliedNSCNDSCAmount
							+ cert.appliedMOSAmount
							+ cert.appliedMainContractorRetentionReleased
							+ cert.appliedRetentionforNSCNDSCReleased
							+ cert.appliedMOSRetentionReleased
							+ cert.appliedAdvancePayment
							+ cert.appliedAdjustmentAmount
							+ cert.appliedCPFAmount
							- cert.appliedMainContractorRetention
							- cert.appliedRetentionforNSCNDSC
							- cert.appliedMOSRetentionReleased
							- cert.appliedContraChargeAmount
							| currency}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-xs-12">
				<div class="widget widget-stat bg-success text-white">
					<div class="widget-stat-icon">
						<i class="fa fa-file"></i>
					</div>
					<div class="widget-stat-info">
						<div class="widget-stat-title">IPA Gross Amount</div>
						<div class="widget-stat-number">
							{{cert.appliedMainContractorAmount 
							+ cert.appliedNSCNDSCAmount
							+ cert.appliedMOSAmount
							+ cert.appliedAdvancePayment
							+ cert.appliedAdjustmentAmount
							+ cert.appliedCPFAmount
							| currency}}
						</div>
						<!-- <div class="widget-stat-number">{{cert.appGrossAmount |
							currency}}</div> -->
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-xs-12">
				<div class="widget widget-stat bg-purple text-white">
					<div class="widget-stat-icon">
						<i class="fa fa-bookmark"></i>
					</div>
					<div class="widget-stat-info">
						<div class="widget-stat-title">IPC Net Amount</div>
						<div class="widget-stat-number">
							{{cert.certifiedMainContractorAmount 
							+ cert.certifiedNSCNDSCAmount
							+ cert.certifiedMOSAmount
							+ cert.certifiedMainContractorRetentionReleased
							+ cert.certifiedRetentionforNSCNDSCReleased
							+ cert.certifiedMOSRetentionReleased
							+ cert.certifiedAdvancePayment
							+ cert.certifiedAdjustmentAmount
							+ cert.certifiedCPFAmount
							- cert.certifiedMainContractorRetention
							- cert.certifiedRetentionforNSCNDSC
							- cert.certifiedMOSRetentionReleased
							- cert.certifiedContraChargeAmount
							| currency}}
						</div>
						<!-- <div class="widget-stat-number">{{cert.certNetAmount |
							currency}}</div> -->
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-xs-12">
				<div class="widget widget-stat bg-purple text-white">
					<div class="widget-stat-icon">
						<i class="fa fa-bookmark"></i>
					</div>
					<div class="widget-stat-info">
						<div class="widget-stat-title">IPC Gross Amount</div>
						<div class="widget-stat-number">
							{{cert.certifiedMainContractorAmount 
							+ cert.certifiedNSCNDSCAmount
							+ cert.certifiedMOSAmount
							+ cert.certifiedAdvancePayment
							+ cert.certifiedAdjustmentAmount
							+ cert.certifiedCPFAmount
							| currency}}
						</div>
						<!-- <div class="widget-stat-number">{{cert.certGrossAmount |
							currency}}</div> -->
					</div>
				</div>
			</div>
		</div>

		<!-- Certificate Info -->
		<div class="col-md-12">
			<div class="panel panel-inverse ">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;"
							class="btn btn-xs btn-icon btn-circle btn-white"
							data-click="panel-expand"><i class="fa fa-expand"></i> </a> <a
							href="javascript:;"
							class="btn btn-xs btn-icon btn-circle btn-white"
							data-click="panel-collapse"><i class="fa fa-minus"></i> </a>
					</div>
					<div class="panel-title">
						<b>Certificate No.: {{cert.certificateNumber}}</b>
						<label class="m-l-10"><b>Client Cert No.:</b></label>
						<label class="m-l-10" ng-show="disableButtons"><b>{{cert.clientCertNo}}</b></label>
						 <input
							type="text" number-format
							class=" input-sm  text-black text-right"
							ng-model="cert.clientCertNo" ng-hide="disableButtons">
					</div>
				</div>

				<div class="panel-body">
					<div class="col-md-8">
						<div class="form-group">
							<label class="col-md-4 "></label> <label
								class="text-light-blue col-md-4">IPA</label> <label
								class="text-light-blue col-md-4">IPC</label>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Main Contractor
								Amount</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedMainContractorAmount"
										ng-disabled="disableButtons">
									<!-- <span class="input-group-addon">.00</span> -->
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedMainContractorAmount"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">+ NSC / NDSC Amount</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedNSCNDSCAmount"
										ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedNSCNDSCAmount"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">+ MOS Amount</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedMOSAmount" ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedMOSAmount"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">+ Main Contractor
								Retention Released</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedMainContractorRetentionReleased"
										ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedMainContractorRetentionReleased"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">+ Retention for NSC
								/ NDSC Released</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedRetentionforNSCNDSCReleased"
										ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedRetentionforNSCNDSCReleased"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">+ MOS Retention
								Released</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedMOSRetentionReleased"
										ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedMOSRetentionReleased"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">+ Adjustment Amount</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedAdjustmentAmount"
										ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedAdjustmentAmount"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">+ Advance Payment</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedAdvancePayment"
										ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedAdvancePayment"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">+ CPF Amount</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedCPFAmount" ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format
										class="form-control input-sm text-right text-right"
										ng-model="cert.certifiedCPFAmount"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label text-red">- Main
								Contractor Retention</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										class="form-control input-sm text-right text-right"
										number-format ng-model="cert.appliedMainContractorRetention"
										ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedMainContractorRetention"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label text-red">-
								Retention for NSC / NDSC</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedRetentionforNSCNDSC"
										ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedRetentionforNSCNDSC"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label text-red">- MOS
								Retention</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedMOSRetention"
										ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedMOSRetention"
										ng-disabled="disableButtons">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label text-red">- Contra
								Charge Amount</label>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.appliedContraChargeAmount"
										ng-disabled="disableButtons">
								</div>
							</div>
							<div class="col-md-4">
								<div class="input-group">
									<span class="input-group-addon">$</span> <input type="text"
										number-format class="form-control input-sm text-right"
										ng-model="cert.certifiedContraChargeAmount"
										ng-disabled="disableButtons">
								</div>
							</div>

						</div>

					</div>

					<div class="col-md-4">
						<!-- GST -->
						<div class="col-md-12" ng-show="jobNo.indexOf('14')>-1">
							<div class="box box-primary">
								<div class="box-body">
									<div class="row">
										<div class="form-group col-md-6">
											<label>GST Amount (Receivable)</label>
											<div class="input-group">
												<span class="input-group-addon">$</span> <input type="text"
													number-format class="form-control input-sm text-right"
													ng-model="cert.gstReceivable">
											</div>
										</div>
										<div class="form-group col-md-6">
											<label>GST Contra Charge (Payable)</label>
											<div class="input-group">
												<span class="input-group-addon">$</span> <input type="text"
													number-format class="form-control input-sm text-right"
													ng-model="cert.gstPayable">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Date  -->
						<div class="col-md-12">
							<div class="box box-primary">
								<div class="box-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label>IPA Submission Date:</label>
												<div class="input-group"
													moment-picker="cert.ipaSubmissionDate"
													ng-model="cert.ipaSubmissionDate" format="YYYY-MM-DD"
													ng-model-options="{ updateOn: 'blur' }">
													<span class="input-group-addon"> <i
														class="fa fa-calendar"></i>
													</span> <input class="form-control"
														ng-model="cert.ipaSubmissionDate"
														ng-disabled="disableButtons" required>

												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Certificate Issue Date:</label>
												<div class="input-group" moment-picker="cert.certIssueDate"
													ng-model="cert.certIssueDate" format="YYYY-MM-DD"
													ng-model-options="{ updateOn: 'blur' }">
													<span class="input-group-addon"> <i
														class="fa fa-calendar"></i>
													</span> <input class="form-control" ng-model="cert.certIssueDate"
														ng-disabled="disableButtons" required>

												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<label> Certificate As At Date:</label>
												<div class="input-group" moment-picker="cert.certAsAtDate"
													ng-model="cert.certAsAtDate" format="YYYY-MM-DD"
													ng-model-options="{ updateOn: 'blur' }">
													<span class="input-group-addon"> <i
														class="fa fa-calendar"></i>
													</span> <input class="form-control" ng-model="cert.certAsAtDate"
														ng-disabled="disableButtons" required>

												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label>Certificate Due Date:</label>
												<div class="input-group" moment-picker="cert.certDueDate"
													ng-model="cert.certDueDate" format="YYYY-MM-DD"
													ng-model-options="{ updateOn: 'blur' }">
													<span class="input-group-addon"> <i
														class="fa fa-calendar"></i>
													</span> <input class="form-control" ng-model="cert.certDueDate"
														ng-disabled="disableButtons" required>

												</div>
											</div>
										</div>
										<div class="col-md-6" ng-show="disableButtons">
											<div class="form-group">
												<label>Actual Receipt Date:</label>
												<div class="input-group"
													moment-picker="cert.actualReceiptDate"
													ng-model="cert.actualReceiptDate" format="YYYY-MM-DD"
													ng-model-options="{ updateOn: 'blur' }">
													<span class="input-group-addon"> <i
														class="fa fa-calendar"></i>
													</span> <input class="form-control"
														ng-model="cert.actualReceiptDate"
														ng-disabled="disableButtons" required>

												</div>
											</div>
										</div>


										<div class="col-md-12">
											<button class="btn btn-warning btn-block"
												ng-disabled="disableButtons" ng-hide="disableButtons">
												Retention Release Schedule <i class="fa fa-calendar"></i>
											</button>
										</div>


									</div>
								</div>
							</div>
						</div>

						<!-- Remark -->
						<div class="col-md-12">
							<div class="box box-primary">
								<div class="box-body">
									<div class="form-group">
										<label>Remark</label>
										<textarea class="form-control" rows="2"
											ng-model="cert.remark"
											ng-style="{height: 50 + 'px'}" 
											ng-disabled="disableButtons"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="panel-footer bg-white">
					<div class="row">
						<div class=" col-md-6">
							<button class="btn btn-primary btn-block" ui-sref="cert.details">
								Attachment <i class="fa fa-file-text"></i>
							</button>
						</div>
						<div class=" col-md-6">
							<button class="btn btn-primary btn-block" ui-sref="cert.details"
								ng-disabled="disableButtons" ng-hide="disableButtons"
								ng-click="save()">
								Save <i class="fa fa-floppy-o"></i>
							</button>

						</div>
					</div>
				</div>


			</div>
		</div>






	</div>
</div>