<div class="m-t-20 m-l-20 m-r-20">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>
	<!-- end breadcrumb -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small>
	</h1>

	<!-- <div class="row">
		<div class="col-xs-6">
			<div class="btn-group">
				<button class="btn btn-primary" id="button_ipa" ng-click="showIPA()">IPA</button>
				<button class="btn btn-primary" id="button_ipc" ng-click="showIPC()">IPC</button>
				<button class="btn btn-primary" id="button_posting_amount"
					ng-click="showPostingAmount()">Posting Amount</button>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="input-group margin">
				<input ng-model='filterValue' class="form-control"
					ng-paste="filter()" ng-change="filter()" /> <span
					class="input-group-btn">
					<button class="btn btn-primary btn-flat" ng-click='filter()'>Filter</button>
				</span>

			</div>
		</div>
	</div> -->

	<div class="box">
		<div class="box-header with-border">
			<div class="row">
		<div class="col-xs-6">
			<div class="btn-group">
				<button class="btn btn-primary" id="button_ipa" ng-click="showIPA()">IPA</button>
				<button class="btn btn-primary" id="button_ipc" ng-click="showIPC()">IPC</button>
				<button class="btn btn-primary" id="button_posting_amount"
					ng-click="showPostingAmount()">Posting Amount</button>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="input-group">
				<input ng-model='filterValue' class="form-control"
					ng-paste="filter()" ng-change="filter()" /> <span
					class="input-group-btn">
					<button class="btn btn-primary btn-flat" ng-click='filter()'>Filter</button>
				</span>

			</div>
		</div>
	</div>
		</div>
		<div class="box-body">
			<div id="ipa_grid" ui-grid="gridOptions" ui-grid-pagination
				ui-grid-selection ui-grid-cellnav class="grid"
				></div> <!-- style="height: 500px; width =: 1600px" -->
			<a class="btn btn-primary btn-block" ui-sref="cert.details">Add
				New Main Contract Certificate <i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
</div>


<!-- <div class="hold-transition skin-blue layout-top-nav" ng-style="{height: 800 + 'px'}">
	<div class="content-wrapper">
		<section class="content-header">
			<h1>
				{{JobNo}} <small>{{JobDescription}}</small>
			</h1>
			<ol class="breadcrumb">
				<li><a ui-sref="cert.details"><i class="fa fa-dashboard"></i> Home</a></li>
				<li class="active">Dashboard</li>
			</ol>
		</section>
		
		<section class="content">
			              Custom Tabs
	        <div class="nav-tabs-custom">
	          <ul class="nav nav-tabs">
	            <li class="active"><a href="#tab_ipa" data-toggle="tab" target="_self">IPA</a></li>
	            <li><a href="#tab_ipc" data-toggle="tab" target="_self">IPC</a></li>
	            <li><a href="#tab_posting_amount" data-toggle="tab" target="_self">Posting Amount</a></li>
	            <li class="pull-right"><a href="" class="text-muted"><i class="fa fa-gear"></i></a></li>
	          </ul>
	          <div class="tab-content">
	            <div class="tab-pane active" id="tab_ipa">
	               	<input ng-model='filterValue'/><button ng-click='filter()'>Filter</button>
      				<div id="ipa_grid" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection  class="grid"  style="height:500px;  width=: 1600px"></div>
      				<a class="btn btn-twitter btn-block" ui-sref="cert.details">Add New Main Contract Certificate <i class="fa fa-arrow-circle-right"></i></a>
	            </div>
	            <div class="tab-pane" id="tab_ipc">
	              	 <div ui-grid="gridOptions1" ui-grid-pagination ui-grid-edit class="grid" style="height:500px;  width=: 1600px"></div>
      				<a class="btn btn-twitter btn-block" ui-sref="cert.details">Add New Main Contract Certificate <i class="fa fa-arrow-circle-right"></i></a>
	            </div>/.tab-pane
	            <div class="tab-pane" id="tab_posting_amount">
      				<a class="btn btn-twitter btn-block" ui-sref="cert.details">Add New Main Contract Certificate <i class="fa fa-arrow-circle-right"></i></a>
	            </div>
	          </div>
	        </div>
        </section>
	</div>
</div>
 -->