<div class=" m-b-0">
	
	<!-- <p class="text-purple-light">
		<span class="icofont icofont-emo-angry icofont-2x"></span> Attention!
		You will <u>NOT</u> be able to adjust the BQ Items and Resources after
		completing the Transit.
	</p> -->
		<div class="row offset-15">
			<div class="col-md-9">

				<form name="form-validate" id="form-validate"
					class="ng-pristine ng-valid">
					<div class="row">

						<div class="m-t-10">
							<div class="col-lg-5 col-xs-12">
								<div class="widget widget-stat bg-success text-white">
									<div class="widget-stat-icon">
										<i class="fa fa-file"></i>
									</div>
									<div class="widget-stat-info">
										<div class="widget-stat-title">IPA Net Amount</div>
										<!-- <div class="widget-stat-number">{{cert.appNetAmount |
							currency}}</div> -->
										<div class="widget-stat-number">
											{{cert.appliedMainContractorAmount +
											cert.appliedNSCNDSCAmount + cert.appliedMOSAmount +
											cert.appliedMainContractorRetentionReleased +
											cert.appliedRetentionforNSCNDSCReleased +
											cert.appliedMOSRetentionReleased + cert.appliedAdvancePayment
											+ cert.appliedAdjustmentAmount + cert.appliedCPFAmount -
											cert.appliedMainContractorRetention -
											cert.appliedRetentionforNSCNDSC - cert.appliedMOSRetention -
											cert.appliedContraChargeAmount | currency}}</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5 col-xs-12">
								<div class="widget widget-stat bg-success text-white">
									<div class="widget-stat-icon">
										<i class="fa fa-file"></i>
									</div>
									<div class="widget-stat-info">
										<div class="widget-stat-title">IPA Gross Amount</div>
										<div class="widget-stat-number">
											{{cert.appliedMainContractorAmount +
											cert.appliedNSCNDSCAmount + cert.appliedMOSAmount +
											cert.appliedAdvancePayment + cert.appliedAdjustmentAmount +
											cert.appliedCPFAmount | currency}}</div>
										<!-- <div class="widget-stat-number">{{cert.appGrossAmount |
							currency}}</div> -->
									</div>
								</div>
							</div>
						</div>

						<!-- Certificate Info -->
						<div class="col-md-12">
							<div class="panel panel-inverse ">
								<div class="panel-heading">
									<div class="panel-heading-btn">
										<a href="javascript:;"
											class="btn btn-xs btn-icon btn-circle btn-white"
											data-click="panel-expand"><i class="fa fa-expand"></i> </a> <a
											href="javascript:;"
											class="btn btn-xs btn-icon btn-circle btn-white"
											data-click="panel-collapse"><i class="fa fa-minus"></i> </a>
									</div>
									<div class="panel-title">
										<b>Certificate No.: {{cert.certificateNumber}}</b> <label
											class="m-l-10"><b>Client Cert No.:</b></label> <label
											class="m-l-10" ng-show="disableButtons"><b>{{cert.clientCertNo}}</b></label>
										<input type="text" class=" input-sm  text-black text-right"
											ng-model="cert.clientCertNo" ng-hide="disableButtons">
									</div>
								</div>

								<div class="panel-body">
									<div class="col-md-8">
										<div class="form-group">
											<label class="col-md-7 "></label> <label
												class="text-light-blue col-md-5">IPA</label>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label">Main Contractor
												Amount</label>
											<div class="col-md-5">
												<div class="input-group">
													<!-- <span class="input-group-addon">$</span> -->
													<input type="text" class="form-control input-sm text-right"
														ng-currency ng-required="true"
														ng-model="cert.appliedMainContractorAmount"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
													<!-- <span class="input-group-addon">.00</span> -->
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label">+ NSC / NDSC
												Amount</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedNSCNDSCAmount"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label">+ MOS Amount</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedMOSAmount"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label">+ Main
												Contractor Retention Released</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedMainContractorRetentionReleased"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label">+ Retention for
												NSC / NDSC Released</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedRetentionforNSCNDSCReleased"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label">+ MOS Retention
												Released</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedMOSRetentionReleased"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label">+ Adjustment
												Amount</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedAdjustmentAmount"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label">+ Advance
												Payment</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedAdvancePayment"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label">+ CPF Amount</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedCPFAmount"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label text-red">- Main
												Contractor Retention</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text"
														class="form-control input-sm text-right text-right"
														ng-currency ng-required="true"
														ng-model="cert.appliedMainContractorRetention"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label text-red">-
												Retention for NSC / NDSC</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedRetentionforNSCNDSC"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label text-red">- MOS
												Retention</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedMOSRetention"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-7 control-label text-red">-
												Contra Charge Amount</label>
											<div class="col-md-5">
												<div class="input-group">
													<input type="text" ng-currency ng-required="true"
														class="form-control input-sm text-right"
														ng-model="cert.appliedContraChargeAmount"
														ng-disabled="disableButtons || cert.certificateStatus >= 120">
												</div>
											</div>
										</div>
									</div>

									<div class="col-md-4">

										<!-- Date  -->
										<div class="col-md-12">
											<div class="box box-primary">
												<div class="box-body">
													<div class="row">
														<div class="col-md-8">
															<div class="form-group">
																<label>IPA Submission Date:</label>

																<div class="input-group"
																	moment-picker="cert.ipaSubmissionDate"
																	format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
																	start-view="day"
																	ng-model-options="{ updateOn: 'blur' }">
																	<span class="input-group-addon"> <i
																		class="fa fa-calendar"></i>
																	</span> <input class="form-control"
																		ng-model="cert.ipaSubmissionDate"
																		ng-disabled="disableButtons || cert.certificateStatus >= 120"
																		data-parsley-required>

																</div>
															</div>
														</div>


													</div>
												</div>
											</div>
										</div>

										<!-- Remark -->
										<div class="col-md-12">
											<div class="box box-primary">
												<div class="box-body">
													<div class="form-group">
														<label>Remark</label>
														<textarea class="form-control" rows="2"
															ng-model="cert.remark" ng-style="{height: 100 + 'px'}"
															ng-disabled="disableButtons || cert.certificateStatus >= 150"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row ">
										<div class=" col-md-12 m-t-10">
											<button class="btn btn-primary btn-block"
												ng-disabled="disableButtons || cert.certificateStatus >100"
												ng-hide="disableButtons" ng-click="save()">
												Save <i class="fa fa-floppy-o"></i>
											</button>

										</div>
									</div>
								</div>


							</div>
						</div>


					</div>
				</form>
			</div>
		</div>



</div>
