<div class="tab-content m-b-0">
	<p class="lead m-b-10">
		<small>Please verify the IPA amount before sending it to JDE Finance.</small>
		<p class="text-purple-light"><b><span class="icofont icofont-emo-angry icofont-2x"></span>
			Attention! You will <u>NOT</u> be able to amend IPA once it has been sent to JDE finance.</b></p>
	</p>
	<div class="tab-pane fade active in" id="profile-tab">

		<div class="row offset-35 m-t-40">
				<div class="col-md-12">
					<button type="button" class="btn btn-lg btn-primary" ng-disabled="disableButtons || cert.certificateStatus !=100"
						style="width: 400px" ng-click="insertIPA()">
						<i class="icofont icofont-upload-alt fa-5x"></i><br> <b>Send Out IPA</b>
					</button>
				</div>
				<div class="col-md-10 m-t-20">
					<p></p>
				</div>
		</div>
	</div>



</div>
