<div class="tab-content m-b-0">
	<div class = "col-md-12" ng-hide="mainCertStatus == '150'">
		<p class="lead m-b-10">
			<small>At this stage, system will validate IPC values and retention release schedule.</small>
		<p class="text-purple-light">
			<b><span class="icofont icofont-emo-simple-smile icofont-2x"></span>
				No worries. You can still edit IPC by resetting it.</b>
		</p>
		</p>
		<div class="tab-pane fade active in" id="profile-tab">

			<div class="row offset-35 m-t-40">
				<div class="col-md-12">
					<button type="button" class="btn btn-lg btn-primary"
						ng-disabled="disableButtons || cert.certificateStatus !=120" style="width: 400px"
						ng-click="confirmIPC()">
						<i class="icofont icofont-checked fa-5x"></i><br> <b>Confirm
							IPC</b>
					</button>
				</div>
				<div class="col-md-10 m-t-20">
					<p></p>
				</div>
			</div>
		</div>
	</div>

	<div class = "col-md-12" ng-if="mainCertStatus == '150'">
		<p class="lead m-b-10">
			<small></small>
		<p class="text-purple-light">
			<b><span class="icofont icofont-emo-simple-smile icofont-2x"></span>
				No worries. You can still edit IPC by resetting it.</b>
		</p>
		</p>
		<div class="tab-pane fade active in" id="profile-tab">

			<div class="row offset-35 m-t-40">
				<div class="col-md-12">
					<button type="button" class="btn btn-lg btn-primary"
						ng-disabled="disableButtons || cert.certificateStatus !=150" style="width: 400px"
						ng-click="resetIPC()">
						<i class="icofont icofont-undo fa-5x"></i><br> <b>Reset
							IPC</b>
					</button>
				</div>
				<div class="col-md-10 m-t-20">
					<p></p>
				</div>
			</div>
		</div>
	</div>

</div>
