<div class="m-t-10 m-l-20 m-r-20">
	<div class="row">
		<div class="col-md-8">
			<h1 class="page-header">
				{{jobNo}}<small> {{jobDescription}}</small> - Main Contract
				Certificate No.{{mainCertNo}} - Status: <small>{{convertCertStatus(mainCertStatus)}}</small>
			</h1>
		</div>

		<div class="col-md-4">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="cert-dashboard"><i class="fa fa-dashboard"></i>
					Main Contract Certificate Dashboard </a></li>
			<li class="active"><a ui-sref="main-cert-select"> <i
					class="fa fa-list-ul"></i> Main Contract Certificates
			</a></li>
		</ol>
	</div>
	</div>


	<div id="wizard" class="bwizard clearfix">
		<div class="hidden-print">
			<ul class="bwizard-steps clearfix setup-panel">
				<li ui-sref-active="active" id="mainCertTab1"><a
					ui-sref="mainCert.ipa"><span class="label badge-inverse">1</span>
						Input IPA<small></small> </a></li>
				<li ui-sref-active="active" id="mainCertTab2"><a
					ui-sref="mainCert.sendIPA"> <span class="label">2</span> Send
						Out IPA <small>to JDE Finance</small>
				</a></li>
				<li ui-sref-active="active" id="mainCertTab3"><a
					ui-sref="mainCert.ipc"> <span class="label">3</span> Input IPC
				</a></li>
				<li ng-if="mainCertStatus <= 200" ui-sref-active="active" id="mainCertTab4"><a
					ui-sref="mainCert.rr" ng-click="loadData()"> 
					<span class="label" ng-if="mainCertStatus <= 200">4</span>
					 Retention Release Schedule
				</a></li>
				<li ui-sref-active="active" id="mainCertTab5"><a
					ui-sref="mainCert.confirmIPC"> 
					<span class="label" ng-if="mainCertStatus <= 200">5</span>
					<span class="label" ng-if="mainCertStatus > 200">4</span>
						Confirm IPC
				</a></li>
				<li ui-sref-active="active" id="mainCertTab6"><a
					ui-sref="mainCert.attachment({mainCertStatus: mainCertStatus})"> 
					<span class="label" ng-if="mainCertStatus <= 200">6</span>
					<span class="label" ng-if="mainCertStatus > 200">5</span>
						Add Attachment
				</a></li>
				<li ui-sref-active="active" id="mainCertTab7"><a
					ui-sref="mainCert.postIPC"> 
					<span class="label" ng-if="mainCertStatus <= 200">7</span>
					<span class="label" ng-if="mainCertStatus > 200">6</span> 
					Post IPC<small>to JDE Finance</small>
				</a></li>
			</ul>
		</div>

		<div class="tab-content">
			<div ui-view=""></div>
		</div>


	</div>

	<!-- end #wizard -->
</div>

