<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="admin.session"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">System Information</li>
	</ol>
	<!-- end breadcrumb -->		
	<div class="clearfix"></div>
	<div class="row">
		<!-- ng-style="{height: 800 + 'px'}" -->
		<div class="col-md-12">
		<!-- Main content -->
			<div class="row">
				<section class="box box-primary">
					<ul class="nav nav-tabs">
						<li role="presentation" ng-class="{active:isSelected('System Information')}"><a
								href ui-sref="admin.SystemInformation.info" ng-click="selectTab('System Information')">Information</a></li>
					</ul>
					<div class="box col-md-12" ui-view></div>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- end #content -->
