<!-- Attachment -->
<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">

			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Attachment</h3>
				</div>

				<div class="box-body">
					<div class="well">
						<form action="" class="dropzone" id="dropzone" dropzone="">
							<div class="dz-default dz-message"></div>
						</form>
					</div>
					<div class="pull-right">
						<button class="btn btn-success" ng-click="uploadFile()">Upload
							File</button>
						<button class="btn btn-danger" ng-click="reset()">Reset
							Dropzone</button>
					</div>
					<div>
						<form>
							<label>File to download</label> <input ng-model="filename"
								type="text" placeholder="Filename" /> <a
								class="btn btn-primary"
								ng-href="{{ partialDownloadLink + filename }}">Download File</a>
						</form>
					</div>
				</div>

				<div class="box-footer">
					<!-- <a class="btn btn-twitter btn-block" ui-sref="cert-all-details">Upload <i class="fa fa-save"></i></a> -->
				</div>
			</div>

			<button class="m-t-5 btn btn-primary btn-block"
				ng-hide="disableButtons" ng-disabled="disableButtons">
				Next <span class="fa fa-arrow-right"></span>
			</button>

		</div>
	</div>
</div>

