<div id="content" class="content">
	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small> - Subcontract
		{{subcontractNo}}<small> {{subcontractDescription}} </small>
		<small class="text-red m-l-30" ng-show="paymentStatus == 'F'"> <b>Final</b></small>
	</h1>

	<div id="wizard" class="bwizard clearfix">
		<div class="hidden-print">
			<ul class="bwizard-steps clearfix setup-panel">
				<li ui-sref-active="active" id="paymentTab1">
					<a ui-sref="subcontract.payment.certificate"><span class="label badge-inverse">1</span> 
						Certificate Header<small></small>
					</a>
				</li>
				<li ui-sref-active="active" id="paymentTab2"><a ui-sref="subcontract.payment.details" > <span class="label">2</span>
						Details <small></small>
				</a></li>
				<li ui-sref-active="active" id="paymentTab3"><a ui-sref="subcontract.payment.summary" > <span class="label">3</span>
						Summary <small></small>
				</a></li>
				<li ui-sref-active="active" id="paymentTab4"><a ui-sref="subcontract.payment.attachment"> <span class="label">4</span>
						Attachment <small></small>
				</a></li>
				<li ui-sref-active="active" id="paymentTab5"><a ui-sref="subcontract.payment.erp-approval-summary"> <span class="label">5</span>
						ERP Approval Summary <small></small>
				</a></li>
				<li ui-sref-active="active" id="paymentTab6"><a ui-sref="subcontract.payment.invoice"> <span class="label">6</span>
					Certificate <small>Submit Payment</small>
				</a></li>
			</ul>
		</div>

		<div class="tab-content">
			<div ui-view=""></div>
		</div>

		
	</div>

	<!-- end #wizard -->
</div>

