<!-- Payment Details  -->
<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12 m-b-30 m-t-20 ">
			<div id="" ui-grid="gridOptions" ui-grid-selection
				ui-grid-auto-resize ui-grid-cellnav ui-grid-edit ui-grid-row-edit
				ui-grid-exporter class="grid "></div>
		</div>


		<div class="col-md-12">
			<button class="m-t-5 btn btn-primary btn-block"
				ng-hide="disableButtons" ng-click="update()" ng-disabled="disableButtons">
				Update <span class="fa fa-save"></span>
			</button>
		</div>
	</div>
</div>


<!-- <div id="content" class="content">
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol>

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small> - Subcontract
		{{subcontractNo}}<small> {{subcontractDescription}} 
	</h1>

	<div id="wizard" class="bwizard clearfix">
		<div class="hidden-print">
			<ul class="bwizard-steps clearfix setup-panel">
				<li class="active"><a href="#step1"> 
					<span class="label badge-inverse">1</span> Payment Certificate 
					<small>Add/Edit	Payment Certificate here</small>
				</a></li>
				<li class="disabled" ng-click="triggerPaymentDetails()"><a href="#step2"> <span class="label">2</span>
						Payment Details<small>Input movement amount here</small>
				</a></li>
				<li class="disabled"><a href="#step3"> <span class="label">3</span>
						Add Attachment <small>Add attachment here</small>
				</a></li>
				<li class="disabled"><a href="#step4"> <span class="label">4</span>
						Payment Invoice <small>Print Payment Invoice here</small>
				</a></li>
			</ul>
		</div>

		<div class="tab-content">
			Payment Certificate
			<div class="setup-content" id="step1">
				<form name="form-wizard-step-1" id="form-wizard-step-1"
					class="form-input-flat ng-pristine ng-valid">
					<fieldset>
						<div class="row">
							<div class="col-md-11 col-md-offset-1">
								<h3 class="form-header form-header-lg m-b-10">
									<span class="icon text-primary"><i
										class="fa fa-shopping-cart"></i></span> Payment  <small>Certificate No.{{paymentCertNo}}</small>
								</h3>

								<p class="m-b-20">Please input the required fields below.</p>


								<div class="col-md-7">

									<div class="form-group">
										<label>Payment Type</label>
										<div class="btn-group btn-group-justified">
											<label class="btn"
												ng-class="{'btn-primary' : payment.intermFinalPayment == 'I', 'btn-inverse' : payment.intermFinalPayment != 'I'}"
												ng-model="payment.intermFinalPayment" uib-btn-radio="'Interim'">Interim</label>
											<label class="btn"
												ng-class="{'btn-primary' : payment.intermFinalPayment == 'F', 'btn-inverse' : payment.intermFinalPayment != 'F'}"
												ng-model="payment.intermFinalPayment" uib-btn-radio="'Final'">Final</label>
										</div>

									</div>

									<div class="form-group">
										<label>Main Certificate No.</label>
										<div class="controls">
											<select class="form-control " ng-model="mainCertNo.selected"
												ng-options="o as o for o in mainCertNo.options"></select>
										</div>
									</div>

									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label>Due Date</label>
												<div class="input-group" moment-picker="payment.dueDate" format="{{GlobalParameter.MOMENT_DATE_FORMAT}}">
													<span class="input-group-addon"> 
														<i class="fa fa-calendar"></i>
													</span>
													 <input class="form-control" ng-model="payment.dueDate" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}" data-parsley-group="wizard-step-1" required>
												</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="form-group">
												<label>As At Date</label>
												<div class="input-group" moment-picker="payment.asAtDate" format="{{GlobalParameter.MOMENT_DATE_FORMAT}}">
													<span class="input-group-addon"> 
														<i class="fa fa-calendar"></i>
													</span>
													 <input class="form-control" ng-model="payment.asAtDate" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}" data-parsley-group="wizard-step-1" required>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group" ng-show="payment.ipaOrInvoiceReceivedDate != null">
												<label>Invoice Received Date</label>
												<div class="input-group" moment-picker=payment.invoiceReceivedDate format="{{GlobalParameter.MOMENT_DATE_FORMAT}}">
													<span class="input-group-addon"> 
														<i class="fa fa-calendar"></i>
													</span>
													 <input class="form-control" ng-model="payment.invoiceReceivedDate" timestamp-to-string="{{GlobalParameter.DATE_FORMAT}}" data-parsley-group="wizard-step-1" ng-required = "payment.ipaOrInvoiceReceivedDate != null">
												</div>
											</div>
										</div>


										<div class="col-md-4">
											<div class="form-group">
												<label>GST Payable</label>
												<div class="controls">
													<input type="number" placeholder="" class="form-control "
														ng-model="payment.gstPayable"
														data-parsley-group="wizard-step-1" />
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<div class="form-group">
												<label>GST Receivable</label>
												<div class="controls">
													<input type="number" placeholder="" class="form-control "
														ng-model="payment.gstReceivable"
														data-parsley-group="wizard-step-1" />
												</div>
											</div>
										</div>

									</div>
									
									<button id="activate-step-2" class="m-t-5 btn btn-primary btn-block" ng-hide = "disableButtons" ng-disabled="disableButtons">
										Next <span class="fa fa-arrow-right"></span>
									</button>

								</div>


								<div class="col-md-4 m-l-10">
									<div class="box no-border">
										<div class="box-body">
											<div class="widget widget-stat bg-primary text-white">
												<div class="widget-stat-btn">
													<a href="#" data-click="widget-reload"><i
														class="fa fa-repeat"></i></a>
												</div>
												<div class="widget-stat-icon">
													<i class="fa fa-calculator"></i>
												</div>
												<div class="widget-stat-info">
													<div class="widget-stat-title">Certificate Amount</div>
													<div class="widget-stat-number">{{payment.certAmount | currency}}</div>
													<div class="widget-stat-text"></div>
												</div>
											</div>

											<ul class="list-group list-group-unbordered">
												<li class="list-group-item"><b>Payment Terms</b> <b
													class="pull-right">{{paymentTerms}}</b></li>
												<li class="list-group-item"><b>Payment Requisition</b>
													<b class="pull-right">{{payment.directPayment==='N' ? 'No':'Yes'}}</b></li>
												<li class="list-group-item"><b>Payment Status</b> <b
													class="pull-right">{{convertPaymentStatus(payment.paymentStatus)}}</b></li>
												<li class="list-group-item"><b>Certificate Issue
														Date</b> <b class="pull-right">{{payment.certIssueDate}}</b></li>
											</ul>

										</div>
									</div>
								</div>

							</div>




						</div>
					</fieldset>
				</form>

			</div>

			Payment Details 
			<div class="setup-content" id="step2">
				<div class="row">
					<div class="col-md-12 m-b-30 m-t-20 ">
						<div id="" ui-grid="gridOptions" ui-grid-selection ui-grid-auto-resize ui-grid-auto-resize ui-grid-edit ui-grid-exporter class="grid "></div>
					</div>


					<div class="col-md-12">
						<button id="activate-step-3"
							class="m-t-10 btn btn-primary btn-block" ng-hide = "disableButtons" ng-disabled="disableButtons">
							Next <span class="fa fa-arrow-right"></span>
						</button>
					</div>
				</div>
			</div>


			Attachment
			<div class="setup-content" id="step3">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">

						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Attachment</h3>
							</div>

							<div class="box-body">
								<div class="well">
									<form action="" class="dropzone" id="dropzone" dropzone="">
										<div class="dz-default dz-message"></div>
									</form>
								</div>
								<div class="pull-right">
									<button class="btn btn-success" ng-click="uploadFile()">Upload
										File</button>
									<button class="btn btn-danger" ng-click="reset()">Reset
										Dropzone</button>
								</div>
								<div>
									<form>
										<label>File to download</label> <input ng-model="filename"
											type="text" placeholder="Filename" /> <a
											class="btn btn-primary"
											ng-href="{{ partialDownloadLink + filename }}">Download
											File</a>
									</form>
								</div>
							</div>

							<div class="box-footer">
							</div>
						</div>

						<button id="activate-step-4"
							class="m-t-5 btn btn-primary btn-block" ng-hide = "disableButtons" ng-disabled="disableButtons">
							Next <span class="fa fa-arrow-right"></span>
						</button>

					</div>
				</div>
			</div>


			Payment Summary
			<div class="setup-content" id="step4">
				<div ng-include="'view/subcontract/payment/payment-invoice.html'"></div> ng-style = "{height: 500 + 'px', 'overflow': 'auto'}"
				<div class="col-md-12 hidden-print">
					<button id="activate-step-6"
						class="btn btn-primary btn-block" ng-hide = "disableButtons" ng-disabled="disableButtons">
						Submit Payment <span class="fa fa-arrow-right"></span>
					</button>
				</div>

			</div>
		</div>

	</div>

</div>

 -->