<div class="invoice">
	<span class="pull-right hidden-print"> 
		<a href="javascript:;"
			onclick="window.print()"
			class="btn btn-sm width-100 btn-rounded btn-danger pull-right hidden-print">
				<i class="fa fa-print m-r-3"></i> Print
		</a>
	</span>

	<div class="invoice-logo m-l-5">
		<img src="image/gammon.bmp" class="logo" style="width: 128px" />
	</div>

	<h5 class="invoice-title" align="center">Subcontract Payment
		Certificate</h5>

	<div class="invoice-header">

		<table class="table">
			<tr>
				<td><b>JOB:</b></td>
				<td class="text-right">{{paymentCertSummary.jobNumber}}</td>
				<td>{{paymentCertSummary.jobDescription}}</td>
			</tr>
			<tr>
				<td><b>SUBCONTRACT:</b></td>
				<td class="text-right">{{paymentCertSummary.subContractNo}}</td>
				<td>{{paymentCertSummary.subContractDescription}}</td>
			</tr>
			<tr>
				<td><b>SUBCONTRACTOR:</b></td>
				<td class="text-right">{{paymentCertSummary.subcontractorNo}}</td>
				<td>{{paymentCertSummary.subcontractorDescription}}</td>
			</tr>
			<tr>
				<td><b>TELEPHONE:</b></td>
				<td class="text-right">{{paymentCertSummary.phone}}</td>
				<td>
					<address>
						{{paymentCertSummary.address1}}<br />
						{{paymentCertSummary.address2}}<br />
						{{paymentCertSummary.address3}}<br />
						{{paymentCertSummary.address4}}
					</address>
				</td>

			</tr>

			<tr>
				<td colspan="2">
					<dl class="dl-horizontal">
						<dt class="text-left">SUBCONTRACT VALUE:</dt>
						<dd class="text-right">{{paymentCertSummary.subcontractSum |
							currency}}</dd>

						<dt class="text-left">ADDENDUM:</dt>
						<dd class="text-right">{{paymentCertSummary.addendum |
							currency}}</dd>

						<dt class="text-left">REVISED VALUE:</dt>
						<dd class="text-right">{{paymentCertSummary.revisedValue |
							currency}}</dd>

					</dl>
				</td>
				<td colspan="2">
					<dl class="dl-horizontal">
						<dt class="text-left">PAYMENT NO.:</dt>
						<dd class="text-right">{{paymentCertSummary.paymentCertNo}}</dd>

						<dt class="text-left">AS AT DATE:</dt>
						<dd class="text-right">{{paymentCertSummary.asAtDate}}</dd>

						<dt class="text-left">PAYMENT TYPE:</dt>
						<dd class="text-right">{{paymentCertSummary.paymentType}}</dd>

						<dt class="text-left">CURRENCY:</dt>
						<dd class="text-right">{{paymentCertSummary.currency}}</dd>

						<dt class="text-left">NATURE:</dt>
						<dd class="text-right">{{paymentCertSummary.subcontractorNature}}</dd>
					</dl>
				</td>
			</tr>

		</table>
	</div>


	<div class="">
		<table class="table">
			<tbody>
				<tr>
					<td></td>
					<td class="text-right"><b>MOVEMENT (HKD)</b></td>
					<td class="text-right"><b>TOTAL (HKD)</b></td>
				</tr>
				<tr>
					<td>VALUE OF MEASURED WORKS/GOODS</td>
					<td class="text-right">{{paymentCertSummary.measuredWorksMovement
						| currency}}</td>
					<td class="text-right">{{paymentCertSummary.measuredWorksTotal
						| currency}}</td>
				</tr>
				<tr>
					<td>VALUE OF DAY WORK SHEET</td>
					<td class="text-right">{{paymentCertSummary.dayWorkSheetMovement
						| currency}}</td>
					<td class="text-right">{{paymentCertSummary.dayWorkSheetTotal
						| currency}}</td>
				</tr>
				<tr>
					<td>VALUE OF VARIATION</td>
					<td class="text-right">{{paymentCertSummary.variationMovement
						| currency}}</td>
					<td class="text-right">{{paymentCertSummary.variationTotal |
						currency}}</td>
				</tr>
				<tr>
					<td>OTHERS</td>
					<td class="text-right">{{paymentCertSummary.otherMovement |
						currency}}</td>
					<td class="text-right">{{paymentCertSummary.otherTotal |
						currency}}</td>
				</tr>
				<tr class="subtotal">
					<td></td>
					<td class="text-right value"><b>{{paymentCertSummary.subMovement1
							| currency}}</b></td>
					<td class="text-right value"><b>{{paymentCertSummary.subTotal1
							| currency}}</b></td>
				</tr>
				<tr>
					<td class="text-right text-red">LESS RETENTION</td>
					<td class="text-right text-red">({{paymentCertSummary.lessRetentionMovement1
						| currency}})</td>
					<td class="text-right text-red">({{paymentCertSummary.lessRetentionTotal1
						| currency}})</td>
				</tr>
				<tr class="subtotal">
					<td></td>
					<td class="text-right value"><b>{{paymentCertSummary.subMovement2
							| currency}}</b></td>
					<td class="text-right value"><b>{{paymentCertSummary.subTotal2
							| currency}}</b></td>
				</tr>
				<tr>
					<td>VALUE OF MATERIALS ON SITE</td>
					<td class="text-right">{{paymentCertSummary.materialOnSiteMovement
						| currency}}</td>
					<td class="text-right">{{paymentCertSummary.materialOnSiteTotal
						| currency}}</td>
				</tr>
				<tr>
					<td class="text-right text-red">LESS RETENTION</td>
					<td class="text-right text-red">({{paymentCertSummary.lessRetentionMovement2
						| currency}})</td>
					<td class="text-right text-red">({{paymentCertSummary.lessRetentionTotal2
						| currency}})</td>
				</tr>
				<tr class="subtotal">
					<td></td>
					<td class="text-right value"><b>{{paymentCertSummary.subMovement3
							| currency}}</b></td>
					<td class="text-right value"><b>{{paymentCertSummary.subTotal3
							| currency}}</b></td>
				</tr>
				<tr>
					<td class="text-right">VALUE OF ADJUSTMENTS</td>
					<td class="text-right">{{paymentCertSummary.adjustmentMovement
						| currency}}</td>
					<td class="text-right">{{paymentCertSummary.adjustmentTotal |
						currency}}</td>
				</tr>
				<tr class="subtotal">
					<td></td>
					<td class="text-right value"><b>{{paymentCertSummary.subMovement4
							| currency}}</b></td>
					<td class="text-right value"><b>{{paymentCertSummary.subTotal4
							| currency}}</b></td>
				</tr>
				<tr>
					<td class="text-right text-red">LESS CONTRA CHARGES</td>
					<td class="text-right text-red">({{paymentCertSummary.lessContraChargesMovement
						| currency}})</td>
					<td class="text-right text-red">({{paymentCertSummary.lessContraChargesTotal
						| currency}})</td>
				</tr>
				<tr class="subtotal">
					<td></td>
					<td class="text-right value"><b>{{paymentCertSummary.subMovement5
							| currency}}</b></td>
					<td class="text-right value"><b>{{paymentCertSummary.subTotal5
							| currency}}</b></td>
				</tr>
				<tr>
					<td class="text-right text-red">LESS PREVIOUS CERTIFICATIONS</td>
					<td colspan="2" class="text-right text-red">({{paymentCertSummary.lessPreviousCertificationsMovement
						| currency}})</td>
				</tr>
				<tr class="total">
					<td></td>
					<td class="text-right text"><b>AMOUNT DUE (HKD)</b></td>
					<td class="text-right value"><b>{{paymentCertSummary.amountDueMovement
							| currency}}</b></td>
				</tr>
			</tbody>
		</table>
	</div>


</div>