<!-- begin #content -->
<div id="content" class="content">
	<!-- <ol class="breadcrumb pull-right">
		<li><a ui-sref="job.dashboard"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Dashboard</li>
	</ol> -->

	<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small> - Subcontract {{subcontractNo}}<small> {{subcontractDescription}}</small>
		<small class="text-red m-l-30" ng-show="latestPaymentType == 'F'"> <b>Final</b></small>
	</h1>

	<div class="col-xs-12 col-md-5 col-lg-5">
		<div class="panel panel-primary ">
			<div class="panel-heading">
				<div class="panel-heading-btn">
					<a href="javascript:;"
						class="btn btn-xs btn-icon btn-circle btn-white"
						data-click="panel-expand"><i class="fa fa-expand"></i></a> <a
						href="javascript:;"
						class="btn btn-xs btn-icon btn-circle btn-white"
						data-click="panel-collapse"><i class="fa fa-minus"></i></a>
				</div>
				<h4 class="panel-title">
					Payment Resource Distribution <small></small>
				</h4>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-7" ng-hide="paymentResourceDistributionChart.data[0] + paymentResourceDistributionChart[1] == 0">
						<canvas id="doughnut" class="chart chart-doughnut"
							chart-data="paymentResourceDistributionChart.data"
							chart-labels="paymentResourceDistributionChart.labels"
							chart-colours="paymentResourceDistributionChart.colours">
						</canvas>
					</div>
					<div class="col-md-7" ng-show="paymentResourceDistributionChart.data[0] + paymentResourceDistributionChart[1] == 0">
						<h4 class="text-center">No Data</h4>
					</div>
					<div class="col-md-5">
						<ul class="chart-legend text-left">
							<li class="col-md-12"><i class="fa fa-circle text-primary"></i>
								<label>{{paymentResourceDistributionChart.labels[0]}}:
									{{paymentResourceDistributionChart.data[0] | currency}}</label></li>
							<li class="col-md-12"><i class="fa fa-circle text-danger-light"></i>
								<label>{{paymentResourceDistributionChart.labels[1]}}:
									{{paymentResourceDistributionChart.data[1] | currency}}</label></li>
							<li class="col-md-12"><i class="fa fa-circle text-warning-light"></i>
								<label>{{paymentResourceDistributionChart.labels[2]}}:
									{{paymentResourceDistributionChart.data[2] | currency}}</label></li>
							<li class="col-md-12"><i class="fa fa-circle text-success-light"></i>
								<label>{{paymentResourceDistributionChart.labels[3]}}:
									{{paymentResourceDistributionChart.data[3] | currency}}</label></li>
							<li class="col-md-12"><i
								class="fa fa-circle text-purple-light"></i> <label>{{paymentResourceDistributionChart.labels[4]}}:
									{{paymentResourceDistributionChart.data[4] | currency}}</label></li>
							<li class="col-md-12"><i class="fa fa-circle text-muted"></i>
								<label>{{paymentResourceDistributionChart.labels[5]}}:
									{{paymentResourceDistributionChart.data[5] | currency}}</label></li>
						</ul>
					</div>
				</div>
			</div>
		</div>


		<div class="fullcalendar vertical-box" resize ng-style="resizeWithOffset(300)">
			<div class="fullcalendar-container vertical-box-column">
				<div id='calendar'></div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-7 col-lg-7">
		<div class="col-md-12">
			<div class="widget widget-stat text-white bg-primary">
				<div class="widget-stat-btn">
					<a href="javascript:;" data-click="widget-reload"><i
						class="fa fa-repeat"></i></a>
				</div>
				<div class="widget-stat-content">
					<div class="widget-stat-title">
						<h4>
							<i class="fa fa-trophy fa-fw"></i> Total Posted Certificate
							Amount
						</h4>
					</div>
					<div class="widget-stat-text m-b-10">Payment Terms:
						{{paymentTerms}}</div>
					<div class="widget-stat-number m-b-10">{{totalCertificateAmount
						| currency}}</div>
					<div class="widget-stat-chart">
						<div id="sparkline-line-chart"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-12" id="createPaymentDiv"
			ng-if="(latestPaymentStatus=='APR' || latestPaymentStatus=='') && latestPaymentType!='F' &&!disableButton">
			<a
				ui-sref="subcontract.payment.certificate({paymentCertNo: '0', paymentTermsDesc: paymentTerms})"
				class="btn btn-danger btn-block"> <i
				class="fa fa-plus-circle fa-2x "></i> Create New Payment
			</a> <br> <br>
		</div>
		
		
		<div class="fixed-container" resize ng-style="resizeWithOffset(300)">

			<div class="col-lg-12 animated fadeInUp"
				ng-repeat="payment in payments | orderBy:'paymentCertNo':true">

				<div class="panel"	ng-class="{'panel-grey' : payment.paymentStatus=='APR', 'panel-primary' : payment.paymentStatus!='APR'}">
					<div class="panel-heading">
						<div class="panel-heading-btn">
							<a href="javascript:;"
								class="btn btn-xs btn-icon btn-circle btn-inverse"
								data-click="panel-collapse"> <i class="fa fa-minus"></i>
							</a>
						</div>
						<h3 class="panel-title">Certificate No. {{payment.paymentCertNo}}
							- Certificate Amount {{payment.certAmount| currency}}</h3>

					</div>
					<!-- /.box-header -->
					<div class="panel-body"
						ng-style="{display: (payment.paymentCertNo != maxPaymentNo ? 'none' : 'block')}">

						<!-- <div class="timeline-body"> -->
						<!-- <div> -->
						<div class="row">
							<div class="col-lg-12">
								<div class="m-b-md pull-right">
									<a class="btn" ui-sref="subcontract.payment.certificate({paymentCertNo: payment.paymentCertNo, paymentTermsDesc: paymentTerms})" 
									ng-class="{'btn-grey' : payment.paymentStatus=='APR', 'btn-primary' : payment.paymentStatus!='APR'}">
									View details</a>
									<label class="btn btn-grey" ng-if="false" ng-click="showPaymentHistory(payment)">
									Payment Status</label>
								</div>
								<dl class="dl-horizontal">
									<dt>Payment Status:</dt>
									<dd>
										<div ng-class="{'text-black' : payment.paymentStatus=='APR', 'text-blue' : payment.paymentStatus!='APR'}">
											<b>{{convertPaymentStatus(payment.paymentStatus)}}</b>
										</div>
									</dd>
								</dl>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-12 col-lg-5">
								<dl class="dl-horizontal">

									<!-- <dt>Created by:</dt> <dd>Koey Yeung</dd> -->
									<dt>Main Certificate No.:</dt>
									<dd>{{payment.mainContractPaymentCertNo}}</dd>
									<dt>Due Date:</dt>
									<dd>{{payment.dueDate | jsonDate : 'ddMMM,yyyy'}}</dd>
									<dt>As At Date:</dt>
									<dd>{{payment.asAtDate | jsonDate : 'ddMMM,yyyy'}}</dd>
									<dt>Cert Issue Date:</dt>
									<dd>{{payment.certIssueDate | jsonDate : 'ddMMM,yyyy'}}</dd>
								</dl>
							</div>
							<div class="col-xs-12 col-md-12 col-lg-7">
								<dl class="dl-horizontal">
									<dt>Payment Type:</dt>
									<dd>{{payment.intermFinalPayment==='F' ? 'Final':'Interim'}}</dd>
									<dt ng-show="paymentTerms== 'QS3' || paymentTerms== 'QS4' || paymentTerms =='QS5' || paymentTerms =='QS6' || paymentTerms =='QS7'">
										<label ng-hide="paymentTerms== 'QS3'">Invoice Received Date</label>
										<label ng-show="paymentTerms== 'QS3'"> IPA Received Date</label>
									</dt>
									<dd>{{payment.ipaOrInvoiceReceivedDate}}</dd>
									<dt>Payment Requisition:</dt>
									<dd>{{payment.directPayment==='N' ? 'No':'Yes'}}</dd>
								</dl>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<dl class="dl-horizontal">
									<dt>Completed:</dt>
									<dd>
										<div class="progress progress-striped  m-b-sm"
										ng-class="{'active' : payment.paymentStatus!='APR'}">
											<div class="progress-bar" 
												ng-style="{width: progress_bar(payment.paymentStatus)}"
												ng-class="{'progress-bar-grey' : payment.paymentStatus=='APR'}">
											{{progress_bar(payment.paymentStatus)}}</div>
										</div>
									</dd>
								</dl>
							</div>
						</div>
					</div>


				</div>

			</div>

		</div>
	</div>




</div>

<!-- /.content -->