<div class="row well">
	<form name="RevisionsAddendumDetailSearch"
		ng-submit="onSubmitAddendumDetailSearch()" class="form">
		<div class="col-md-3">
			<input type="number" class="form-control" placeholder="Job Number:" required
				id="addendumDetailSearch_jobNo" ng-model="addendumDetailSearch.jobNo">
		</div>
		<div class="col-md-3">
			<input type="number" class="form-control" placeholder="Subcontract Number:" required
				id="addendumDetailSearch_subcontractNo" ng-model="addendumDetailSearch.subcontractNo">
		</div>
		<div class="col-md-3">
			<input type="number" class="form-control" placeholder="Addendum Number:" required
				id="addendumDetailSearch_addendumNo" ng-model="addendumDetailSearch.addendumNo">
		</div>
		<div class="col-md-3">
			<button type="submit" class="btn btn-block btn-primary"
				id="addendumDetailSearch_submit">Search</button>
		</div>
	</form>
</div>
<div class="col-md-12"><br>
	<div id="" save-and-restore-grid-state="admin_revisions_addendum_detail" ui-grid-save-state ui-grid="gridOptions" external-scopes="clickHandler" ui-grid-resize-columns ui-grid-move-columns 
		ui-grid-row-edit ui-grid-exporter ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid"
		resize ng-style="resizeWithOffset(365)">
	</div>
	<div class="row">
		<button ng-show="showQSAdmin" ng-click="updateGrid()" type="button" class="btn btn-block btn-primary">Update Addendum Detail</button>
	</div>
</div>