<div id="sidebar" class="sidebar sidebar-highlight-primary sidebar-light">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="nav-header">{{jobNo}} {{jobDescription}}</li>
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
			
			<li ng-class="{active : activeAdminSideMenu == '/admin/session'}">
				<a ui-sref="admin.session" ng-click="activeAdminSideMenu = '/admin/session'">
					<i class="glyphicon glyphicon-random"></i>
					<span>Session</span>
				</a>
			</li>
			<li ng-class="{active : activeAdminSideMenu == '/admin/ManualProcedures'}">
				<a ui-sref="admin.ManualProcedures" ng-click="activeAdminSideMenu = '/admin/ManualProcedures'">
					<i class="glyphicon glyphicon-tasks"></i>
					<span>Manual Procedures</span>
				</a>
			</li>		
			<li ng-class="{active : activeAdminSideMenu == '/admin/Revisions'}">
				<a ui-sref="admin.Revisions" ng-click="activeAdminSideMenu = '/admin/Revisions'">
					<i class="glyphicon glyphicon-sunglasses"></i>
					<span>Revisions</span>
				</a>
			</li>		
			<li ng-class="{active : activeAdminSideMenu == '/admin/TransitUOMMaintenance'}">
				<a ui-sref="admin.TransitUOMMaintenance" ng-click="activeAdminSideMenu = '/admin/TransitUOMMaintenance'">
					<i class="glyphicon glyphicon-retweet"></i>
					<span>Transit UOM Maintenance</span>
				</a>
			</li>		
			<li ng-class="{active : activeAdminSideMenu == '/admin/TransitResourceCodeMaintenance'}">
				<a ui-sref="admin.TransitResourceCodeMaintenance" ng-click="activeAdminSideMenu = '/admin/TransitResourceCodeMaintenance'">
					<i class="glyphicon glyphicon-list"></i>
					<span>Transit Resource Code Maintenance</span>
				</a>
			</li>		
			<li ng-class="{active : activeAdminSideMenu == '/admin/SubcontractStandardTermsMaintenance'}">
				<a ui-sref="admin.SubcontractStandardTermsMaintenance" ng-click="activeAdminSideMenu = '/admin/SubcontractStandardTermsMaintenance'">
					<i class="glyphicon glyphicon-book"></i>
					<span style="padding:20px">Subcontract Standard Terms Maintenance</span>
				</a>
			</li>		
			<li ng-class="{active : activeAdminSideMenu == '/admin/SchedulerMaintenance'}">
				<a ui-sref="admin.SchedulerMaintenance" ng-click="activeAdminSideMenu = '/admin/SchedulerMaintenance'">
					<i class="glyphicon glyphicon-calendar"></i>
					<span>Scheduler Maintenance</span>
				</a>
			</li>		
						
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>

<div ui-view></div>

<script>
	$(document).ready(function() {
		handleSidebarMinify();
		handleSidebarMenu();
	});
</script>


