<div>
	<div class="row well">
		<form name="RevisionsPaymentCertSearch"
			ng-submit="onSubmitPaymentCertSearch()" class="form">
			<div class="col-md-3">
				<input type="number" class="form-control" placeholder="Job Number:"
					id="PaymentCertSearch_jobNo" ng-model="PaymentCertSearch.jobNo">
			</div>
			<div class="col-md-3">
				<input type="number" class="form-control"
					placeholder="Subcontract Number:" id="PaymentCertSearch_packageNo"
					ng-model="PaymentCertSearch.packageNo">
			</div>
			<div class="col-md-3">
				<input type="number" class="form-control"
					placeholder="Payment Certificate No:"
					id="PaymentCertSearch_paymentCertNo"
					ng-model="PaymentCertSearch.paymentCertNo">
			</div>
			<div class="col-md-3">
				<button type="submit" class="btn btn-block btn-primary"
					id="PaymentCertSearch_submit">Search</button>
			</div>
		</form>
	</div>

	<form name="RevisionsPaymentCertRecord">
		<div class="row" style="padding: 20px" ng-show="PaymentCertRecord.paymentCertNo"
			ng-show="true || PaymentCertRecord.paymentCertNo !== undefined">
			<div class="row" resize ng-style="resizeWithOffset(330)">

				<fieldset>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_jobNo" class="control-label">Job Number</label>
							<div>
								<input type="text" class="form-control"
									id="PaymentCertRecord_jobNo"
									value="{{PaymentCertRecord.jobNo}}" readonly>
							</div>
						</div>
					</div>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_packageNo" class="control-label">Subcontract Number</label>
							<div>
								<input type="text" class="form-control"
									id="PaymentCertRecord_packageNo"
									value="{{PaymentCertRecord.packageNo}}" readonly>
							</div>
						</div>
					</div>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_paymentCertNo"
								class="control-label">Payment Certificate Number</label>
							<div>
								<input type="text" class="form-control"
									id="PaymentCertRecord_paymentCertNo"
									value="{{PaymentCertRecord.paymentCertNo}}" readonly>
							</div>
						</div>
					</div>

				</fieldset>

				<fieldset>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_directPayment"
								class="control-label">Direct Payment</label>
							<div>
								<select class="form-control"
									ng-options="v.id as v.value for v in GlobalParameter.directPayment"
									id="PaymentCertRecord_directPayment"
									ng-model="PaymentCertRecord.directPayment">
									<option></option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_paymentStatus"
								class="control-label">Payment Status</label>
							<div>
								<select class="form-control"
									ng-options="v.id as v.value for v in GlobalParameter.paymentStatus"
									id="PaymentCertRecord_paymentStatus"
									ng-model="PaymentCertRecord.paymentStatus">
									<option></option>
								</select>
							</div>
						</div>
					</div>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_intermFinalPayment"
								class="control-label">Interm Final Payment</label>
							<div>
								<select class="form-control"
									ng-options="v.id as v.value for v in GlobalParameter.intermFinalPayment"
									id="PaymentCertRecord_intermFinalPayment"
									ng-model="PaymentCertRecord.intermFinalPayment">
									<option></option>
								</select>
							</div>
						</div>
					</div>

				</fieldset>

				<fieldset>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_addendumAmount"
								class="control-label">Addendum Amount</label><span
								ng-show="RevisionsPaymentCertRecord.PaymentCertRecord_addendumAmount.$error.pattern"
								class="text-danger"> Not a valid number!</span>
							<div class="input-group">
								<span class="input-group-addon">$</span> <input type="number" step="0.01"
									class="form-control" 
									id="PaymentCertRecord_addendumAmount"
									name="PaymentCertRecord_addendumAmount"
									ng-model="PaymentCertRecord.addendumAmount"
									ng-model-options="{ updateOn: 'blur' }">
							</div>
						</div>
					</div>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_certAmount" class="control-label">Certificate
								Amount</label> <span
								ng-show="RevisionsPaymentCertRecord.PaymentCertRecord_certAmount.$error.pattern"
								class="text-danger"> Not a valid number!</span>
							<div class="input-group">
								<span class="input-group-addon">$</span> <input type="number" step="0.01"
									class="form-control"
									id="PaymentCertRecord_certAmount"
									name="PaymentCertRecord_certAmount"
									ng-model="PaymentCertRecord.certAmount"
									ng-model-options="{ updateOn: 'blur' }">
							</div>
						</div>
					</div>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_remeasureContractSum"
								class="control-label">Remeasure Contract Sum</label><span
								ng-show="RevisionsPaymentCertRecord.PaymentCertRecord_remeasureContractSum.$error.pattern"
								class="text-danger"> Not a valid number!</span>
							<div class="input-group">
								<span class="input-group-addon">$</span> <input type="number" step="0.01"
									class="form-control" 
									id="PaymentCertRecord_remeasureContractSum"
									name="PaymentCertRecord_remeasureContractSum"
									ng-model="PaymentCertRecord.remeasureContractSum"
									ng-model-options="{ updateOn: 'blur' }">
							</div>
						</div>
					</div>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_mainContractPaymentCertNo"
								class="control-label">Main Contract Payment Cert No</label>
							<div>
								<input type="number" class="form-control"
									id="PaymentCertRecord_mainContractPaymentCertNo"
									ng-model="PaymentCertRecord.mainContractPaymentCertNo">
							</div>
						</div>
					</div>

				</fieldset>

				<fieldset>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_asAtDate" class="control-label">As
								at Date</label>
							<div>
								<div class="input-group"
									moment-picker="PaymentCertRecord.asAtDate" format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="hour" today="true">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i></span> <input class="form-control"
										id="PaymentCertRecord_asAtDate" 
										ng-model="PaymentCertRecord.asAtDate">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_certIssueDate"
								class="control-label">Certificate Issue Date</label>
							<div>
								<div class="input-group"
									moment-picker="PaymentCertRecord.asAtDate" format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="hour" today="true">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i></span> <input class="form-control"
										id="PaymentCertRecord_certIssueDate" 
										ng-model="PaymentCertRecord.certIssueDate">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_certIssueDate"
								class="control-label">Due Date</label>
							<div>
								<div class="input-group"
									moment-picker="PaymentCertRecord.dueDate" format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
									start-view="hour" today="true">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i></span> <input class="form-control"
										id="PaymentCertRecord_dueDate" 
										ng-model="PaymentCertRecord.dueDate">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4" style="padding: 5px">
						<div class="form-group">
							<label for="PaymentCertRecord_ipaOrInvoiceReceivedDate"
								class="control-label">IPA or Invoice Received Date</label>
							<div>
								<div class="input-group"
									moment-picker="PaymentCertRecord.ipaOrInvoiceReceivedDate"
									format="{{GlobalParameter.MOMENT_DATE_FORMAT}}" start-view="hour" today="true">
									<span class="input-group-addon"> <i
										class="fa fa-calendar"></i></span> <input class="form-control"
										id="PaymentCertRecord_ipaOrInvoiceReceivedDate" 
										ng-model="PaymentCertRecord.ipaOrInvoiceReceivedDate">
								</div>
							</div>
						</div>
					</div>

				</fieldset>

			</div>

			<div class="row"
				ng-show="true || PaymentCertRecord.paymentCertNo !== undefined">
				<div ng-show="showQSAdmin" ng-class="{'col-md-6':PaymentCertRecord.paymentStatus == 'PND', 'col-md-12':PaymentCertRecord.paymentStatus != 'PND'}">
					<button ng-click="onSubmitPaymentCertRecord()" type="button" class="btn btn-block btn-primary"">Update</button>
				</div>
				<div class="col-md-6" ng-show="showQSAdmin && PaymentCertRecord.paymentStatus == 'PND'" >
					<button ng-click="deletePendingPaymentAndDetails()" type="button" class="btn btn-block btn-danger">Delete</button>
				</div>
			</div>

		</div>
	</form>
</div>