<div class="row well">
	<form name="AttachmentSearch" ng-submit="onSubmitAttachmentSearch()" class="form">
		<div class="col-md-2">
			<select class="form-control" ng-model="attachmentSearch.nameObject" ng-options="nameObject.value as nameObject.display for nameObject in GlobalParameter.nameObjectTable" ng-change="checkParam(attachmentSearch.nameObject, {{attachmentSearch.nameObject}})"></select>
		</div>		
		<div class="col-md-2" ng-if="showVendor">
			<input type="number" class="form-control" placeholder="Vendor Number:" ng-required="showVendor" 
				id="AttachmentSearch_vendorNo" ng-model="attachmentSearch.vendorNo">
		</div>
		<div class="col-md-2" ng-if="showJobParam">
			<input type="text" class="form-control" placeholder="Job Number:" ng-required="showJobParam" pattern="[0-9]{5,5}" ng-change="canAdminJob(attachmentSearch.jobNo)" 
				id="AttachmentSearch_jobNo" ng-model="attachmentSearch.jobNo">
		</div>
		<div class="col-md-2" ng-if="showSubParam">
			<input type="number" class="form-control" placeholder="Subcontract Number:" ng-required="showSubParam" 
				id="AttachmentSearch_SubcontractNo" ng-model="attachmentSearch.subcontractNo">
		</div>
		<div class="col-md-2" ng-if="showAltParam">
			<input type="number" class="form-control" placeholder="{{altParamString}}" ng-required="showAltParam" 
				id="AttachmentSearch_AltParam" ng-model="attachmentSearch.altParam">
		</div>
		<div ng-class="{'col-md-4': show4Col, 'col-md-6': show6Col, 'col-md-8': show8Col}">
			<button type="submit" class="btn btn-block btn-primary"
				id="AttachmentSearch_submit" ng-disabled="!adminSearchBtn">Search</button>
		</div>
	</form>
</div>
<div class="col-md-12"><br>
	<div id="" save-and-restore-grid-state="admin_revisions_attachment" ui-grid-save-state ui-grid="gridOptions" external-scopes="clickHandler" ui-grid-resize-columns ui-grid-move-columns
		ui-grid-row-edit ui-grid-exporter ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid"
		resize ng-style="resizeWithOffset(365)">
	</div>
	<div class="row">
		<button ng-show="showQSAdmin && selected" ng-click="onDeleteAttachmentRecord()" type="button" class="btn btn-block btn-primary" ng-disabled="!adminSearchBtn">Delete</button>
	</div>
</div>
