<!-- begin #content -->
<div id="content" class="content"
	ng-controller="AdminSubcontractStandardTermsMaintenanceCtrl as standardTerms">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="admin.session"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Subcontract Standard Terms Maintenance</li>
	</ol>
	<!-- end breadcrumb -->

	<div class="row col-md-12">
		<!-- ng-style="{height: 800 + 'px'}" -->
<under-construction></under-construction>
		<!-- Main content -->
		<div class="row col-md-12">
			<div class="box box-primary">
				<table class="table">
					<tr class="box box-primary">
						<td colspan="2"><button
								class="btn btn-block btn-primary glyphicon glyphicon-edit">
								Update</button></td>
						<td colspan="2"><button
								class="btn btn-block btn-primary glyphicon glyphicon-remove-sign">
								Delete</button></td>
						<td colspan="2"><button
								class="btn btn-block btn-primary glyphicon glyphicon-plus-sign">
								Add</button></td>
					</tr>
				</table>

			</div>
		</div>

		<div class="row col-md-12">
			<div id="" ui-grid="standardTerms.gridOptions"
				external-scopes="clickHandler" ui-grid-selection ui-grid-cellnav
				ui-grid-edit class="grid" style="height: 500px; width =: 1600px"></div>
		</div>

	</div>
</div>
<!-- end #content -->
