<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="admin.session"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Revisions</li>
	</ol>
	<!-- end breadcrumb -->		
	<div class="row">
		<!-- ng-style="{height: 800 + 'px'}" -->
	
		<!-- Main content -->
		<div class="row">
			<section class="box box-primary">
				<ul class="nav nav-tabs">
					<li role="presentation" ng-class="{active:isSelected('Subcontract')}"><a
						href ng-click="selectTab('Subcontract')">Subcontract</a></li>
					<li role="presentation" ng-class="{active:isSelected('Payment')}"><a
						href ng-click="selectTab('Payment')">Payment</a></li>
					<li role="presentation" ng-class="{active:isSelected('Addendum'), disabled:true} "><a
						href ng-click="false && selectTab('Addendum')">Addendum</a></li>
					<li role="presentation" ng-class="{active:isSelected('MainCert')}"><a
						href ng-click="selectTab('MainCert')">Main Certificate</a></li>
					<li role="presentation" ng-class="{active:isSelected('Repackaging')}"><a
						href ng-click="selectTab('Repackaging')">Repackaging</a></li>
				</ul>
				
				<div ng-show="isSelected('Subcontract')">
					<div class="box col-md-12" ng-include="'view/admin/admin-Revisions-Subcontract.html'">
					</div>
				</div>

				<div ng-show="isSelected('Payment')">
					<div class="box col-md-12" ng-include="'view/admin/admin-Revisions-Payment.html'">
					</div>
				</div>

				<div  ng-show="isSelected('Addendum')">
					<div class="box col-md-12" ng-include="'view/admin/admin-Revisions-Addendum.html'">
					</div>
				</div>
				<div ng-show="isSelected('MainCert')">
					<div class="box col-md-12" ng-include="'view/admin/admin-Revisions-MainCert.html'">
					</div>
				</div>
				<div ng-if="isSelected('Repackaging')" ng-controller="AdminRevisionRepackagingCtrl">
					<div class="box col-md-12" compile="repackagingGridHTML">
					</div>
				</div>
			</section>
		</div>


	</div>
</div>
<!-- end #content -->
