<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="admin.session"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Transit Resource Code Maintenance</li>
	</ol>
	<!-- end breadcrumb -->
	<div class="clearfix"></div>
	<!-- ng-style="{height: 800 + 'px'}" -->

	<!-- Main content -->

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary" resize ng-style="resizeWithOffset(215)">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class="fa fa-info-circle"></i> Resource code matching
					</h3>
				</div>
				<div class="panel-body">
					<article>
						<div class="caption">
							<h3>Lexical pattern matchers provide excellent performance
								and ease of use,</h3>
						</div>
						but have a limited vocabulary. Syntactic matchers provide more
						precision, but may sacrifice performance, robustness, or power. To
						achieve more of the benefits of both models, we extend the pattern
						syntax of AWK to support matching of abstract syntax trees, as
						demonstrated in a tool called TAWK. Its pattern syntax is
						language-independent, based on abstract tree patterns. As in AWK,
						patterns can have associated actions, which in TAWK are written in
						this for generality, familiarity, and performance. The use of this
						is simplified by high-level libraries and dynamic linking. To
						allow processing of program files containing non-syntactic
						constructs such as textual macros, mechanisms have been designed
						that allow matching of ""language-like" macros in a syntactic
						fashion
					</article>
				</div>
			</div>
		</div>
		<div class="col-md-8"  block-ui="blockCodeMaintenance">
			<div id="" ui-grid="gridOptions"
				external-scopes="clickHandler" ui-grid-exporter ui-grid-selection ui-grid-selection ui-grid-cellnav
				ui-grid-edit class="grid" resize ng-style="resizeWithOffset(215)"></div>
		</div>
	</div>
	<div class="row">
		<form name="uploadResourceCodeForm" id="uploadResourceCodeForm" ng-submit="onSubmit()">
		<div class="form-group horizontal">
			<label class="btn btn-block btn-primary">
                <i class="glyphicon glyphicon-upload"></i> Upload&hellip; 
				<input style="display: none;" type="file" name="files" id="uploadFile1" ng-model="uploadFile1" onChange="angular.element(this).scope().onSubmit()"/>	
			</label>
		</div>
		</form>
	</div>
	<!-- end #content -->
</div>