<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="admin.session"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Manual Procedures</li>
	</ol>
	<!-- end breadcrumb -->
	<div class="clearfix"></div>
	<div class="row col-md-12 col-sm-12" vertilize-container>
		<!-- ng-style="{height: 800 + 'px'}" -->

		<!-- Main content -->

		<div class="col-md-4 col-sm-12">
			<form id="auditHousekeepForm"
				ng-submit="onSubmitAuditHousekeep()">
				<div class="panel panel-primary panel" vertilize >
					<div class="panel-heading">
						<h3 class="panel-title">Audit Table Housekeep</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="jobNumber">Audit Table:</label> 
							<select class="form-control"
									ng-options="v.name as v.name for v in auditTables | orderBy:'name'"
									id="auditTableName"
									ng-model="auditTableName"></select>
						</div>
						<button ng-show="showIMSAdmin" type="submit" class="btn btn-block btn-primary">Housekeep</button>
					</div>
				</div>
			</form>
		</div>
		
		<div class="col-md-4 col-sm-12">
			<form id="provisionPostingForm"
				ng-submit="onSubmitProvisionPosting()">
				<div class="panel panel-primary panel" vertilize >
					<div class="panel-heading">
						<h3 class="panel-title">Provision Posting</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="jobNumber">Job Number:</label> <input type="text"
								class="form-control" id="jobNumber" ng-model="provisionJobNumber">
						</div>
						<div class="form-group">
							<label for="glDate">GL Date:</label>
								<div class="input-group">
									<span class="input-group-addon" ng-click="openDropdown($event)"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
									<input class="form-control" type="text" name="provisionGlDate.singleDate" ng-model="provisionGlDate"/>
								</div>
						</div>
						<button ng-show="showIMSAdmin" type="submit" class="btn btn-block btn-primary">Post</button>
					</div>
				</div>
			</form>
		</div>

		<div class="col-md-4 col-sm-12" ng-include src="'view/admin/admin-RocCutoff.html?@PROJECT_VERSION@'"></div>
		
		
		
		
		<div class="col-md-4 col-sm-12">
			<form id="updateCEDApprovalForm"
				ng-submit="onSubmitCEDApproval()">
				<div class="panel panel-primary panel" vertilize >
					<div class="panel-heading">
						<h3 class="panel-title">Update CED Approval</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="jobNumber">Job Number:</label> <input type="text"
								class="form-control" id="jobNo" ng-model="CEDApprovalJobNo">
						</div>
						<div class="form-group">
							<label for="jobNumber">Package Number:</label> <input type="text"
								class="form-control" id="packageNo" ng-model="CEDApprovalPackageNo">
						</div>
						<button ng-show="showIMSAdmin" type="submit" class="btn btn-block btn-primary">Post</button>
					</div>
				</div>
			</form>
		</div>
		
		
		
		
		<div class="col-md-4 col-sm-12">
			<form name="generateSubcontractSnapshotForm"
				ng-submit="onSubmitGenerateSubcontractSnapshot()">
				<div class="panel panel-primary  panel" vertilize >
					<div class="panel-heading">
						<h3 class="panel-title">Generate Subcontract Package Snapshot</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tr>
								<td>ALL Subcontract Package data will be cloned to
									Subcontract Package Snapshot Table serving for Month End
									History enquiry in Subcontract Enquiry Page.</td>
							</tr>
							<tr>
								<td>
									<button ng-show="showIMSAdmin" type="submit" class="btn btn-block btn-primary">Generate
										Snapshot</button>
								</td>
							</tr>
						</table>

					</div>
				</div>
			</form>
		</div>
	
		<div class="col-md-4 col-sm-12">
			<form name="postSubcontractPaymentForm"
				ng-submit="onSubmitPostSubcontractPayment()">
				<div class="panel panel-primary  panel" vertilize >
					<div class="panel-heading">
						<h3 class="panel-title">Post Subcontract Payment</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tr>
								<td>Subcontract Payments with status 'Waiting For Posting'
									will be posted to Finance Account Payable Ledger</td>
							</tr>
							<tr>
								<td>
									<button ng-show="showIMSAdmin" type="submit" class="btn btn-block btn-primary">Post</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</form>
		</div>

		<div class="col-md-4 col-sm-12">
			<form name="f58001Form" ng-submit="onSubmitF58001()">
				<div class="panel panel-primary  panel" vertilize>
					<div class="panel-heading">
						<h3 class="panel-title">Synchronize F58001 From Subcontract
							Package</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tr>
								<td>Missing records will be inserted into F58001(JDE) from
									Subcontract Package(QS System). For mis-matched records,
									F58001(JDE) will be updated as well.</td>
							</tr>
							<tr>
								<td>
									<button ng-show="showIMSAdmin" class="btn btn-block btn-primary">Synchronize</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</form>
		</div>

		<div class="col-md-4 col-sm-12">
		<form name="f58011Form" ng-submit="onSubmitF58011()">
			<div class="panel panel-primary  panel" vertilize  >
				<div class="panel-heading">
					<h3 class="panel-title">Synchronize F58011 From Subcontract
						Payment Certificate</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td>Missing records will be inserted into F58011(JDE) from
								Subcontract Payment Certificate(QS System)</td>
						</tr>
						<tr>
							<td>
								<button ng-show="showIMSAdmin" class="btn btn-block btn-primary">Synchronize</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			</form>
		</div>

		<div class="col-md-4 col-sm-12">
		<form name="syncMainCertForm" ng-submit="onSubmitSyncMainCert()">
			<div class="panel panel-primary  panel" vertilize  >
				<div class="panel-heading">
					<h3 class="panel-title">Synchronize Main Contract Certificate
						From JDE(F03B14)</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td>Actual Recipet Date of Main Contract Certificate will be
								mirrored from JDE(F03B14).</td>
						</tr>
						<tr>
							<td>
								<button ng-show="showIMSAdmin" class="btn btn-block btn-primary">Synchronize</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			</form>
		</div>
		
		<div class="col-md-4 col-sm-12">
		<form name="recalculateJobSummaryForm" ng-submit="recalculateJobSummary()">
			<div class="panel panel-primary  panel" vertilize  >
				<div class="panel-heading">
					<h3 class="panel-title">Recalculate Job Summary</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td>All Job Summaries will be recalculated.</td>
						</tr>
						<tr>
							<td>
								<button ng-show="showIMSAdmin" class="btn btn-block btn-primary">Recalculate</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
			</form>
		</div>
		
		
		
		
	</div>
	<!-- end #content -->
</div>