<!-- begin #content -->
<div id="content" class="content">
											<a href="admintest" target="HealthCheck">
												<label class="btn btn-primary m-r-20" style="color:white" type="button" ng-click="runGroupTest()" id="RestCheckBtn">Open in new window</label>
											</a>
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="admin.session"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">Health Check</li>
	</ol>
	<!-- end breadcrumb -->		
	<div class="clearfix"></div>
	<div class="row">
		<!-- ng-style="{height: 800 + 'px'}" -->
		<div class="col-md-12">
		<!-- Main content -->
			<div class="row">
				<section class="box box-primary">
					<iframe style="width:100%;height:550px" src="admintest/"></iframe>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- end #content -->
