<!-- begin #content -->
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a ui-sref="admin.session"><i class="fa fa-dashboard"></i>
				Home</a></li>
		<li class="active">System Information</li>
	</ol>
	<!-- end breadcrumb -->		
	<div class="clearfix"></div>
	<div class="row">
		<!-- ng-style="{height: 800 + 'px'}" -->
		<div class="col-md-12">
		<!-- Main content -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title pull-right">System Information</h3>
				</div>
				<div class="box-body">
					<table class="table">
						<tr>
							<td><i class="fa fa-calendar"></i> Deployment Date</td>
							<td>{{properties.versionDate}}</td>
						</tr>
						<tr>
							<td><i class="fa fa-leaf"></i> JDE</td>
							<td>{{properties.jdeUrl}}</td>
						</tr>
						<tr>
							<td><i class="fa fa-check"></i> AP</td>
							<td>{{properties.apUrl}}</td>
						</tr>
						<tr>
							<td><i class="fa fa-unlock-alt"></i> GSF</td>
							<td>{{properties.gsfUrl}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end #content -->
