<div id="sidebar" class="sidebar sidebar-highlight-primary sidebar-light">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="nav-header">{{jobNo}} {{jobDescription}}</li>
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
			
			<li ui-sref-active="active" ng-if="showIMSEnquiry || showIMSAdmin" >
				<a ui-sref="admin.session">
					<i class="glyphicon glyphicon-random"></i>
					<span>Session</span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="showIMSEnquiry || showIMSAdmin" >
				<a ui-sref="admin.ManualProcedures">
					<i class="glyphicon glyphicon-tasks"></i>
					<span>Manual Procedures</span>
				</a>
			</li>
			<li ng-class="{'active': activeAdminSideMenu.indexOf('Revisions/')>0}">
				<a ui-sref="admin.Revisions.Subcontract({activeTab:'Subcontract'})">
					<i class="glyphicon glyphicon-sunglasses"></i>
					<span>Revisions</span>
				</a>
			</li>		
			<li class="has-sub" ui-sref-active="active">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="fa fa-file-text"></i>
				    <span>Transit</span>
			    </a>
			 <ul class="sub-menu">
			<li ng-class="{active : activeAdminSideMenu == '/admin/TransitUOMMaintenance'}" >
				<a ui-sref="admin.TransitUOMMaintenance" ng-click="activeAdminSideMenu = '/admin/TransitUOMMaintenance'">
					<i class="fa fa-circle-o"></i>
					<span>UOM Maintenance</span>
				</a>
			</li>		
			<li ng-class="{active : activeAdminSideMenu == '/admin/TransitResourceCodeMaintenance'}">
				<a ui-sref="admin.TransitResourceCodeMaintenance" ng-click="activeAdminSideMenu = '/admin/TransitResourceCodeMaintenance'">
					<i class="fa fa-circle-o"></i>
					<span>Resource Code Maintenance</span>
				</a>
			</li>		
			 </ul>
			 </li>
			 <li class="has-sub" ui-sref-active="active">
				<a href="javascript:;">
				    <b class="caret pull-right"></b>
				    <i class="fa fa-trophy"></i>
				    <span>Subcontract</span>
			    </a> 
			<ul class="sub-menu">	
			<li ng-class="{active : activeAdminSideMenu == '/admin/SubcontractStandardTermsMaintenance'}">
				<a ui-sref="admin.SubcontractStandardTermsMaintenance" ng-click="activeAdminSideMenu = '/admin/SubcontractStandardTermsMaintenance'">
					<i class="fa fa-circle-o"></i>
					<span>Standard Terms Maintenance</span>
				</a>
			</li>		
			</ul>
			</li>
			<li ui-sref-active="active" ng-if="showIMSEnquiry || showIMSAdmin">
				<a ui-sref="admin.SchedulerMaintenance">
					<i class="glyphicon glyphicon-calendar"></i>
					<span>Scheduler Maintenance</span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="showIMSEnquiry || showIMSAdmin" >
				<a ui-sref="admin.announcementSetting">
					<i class="icofont icofont-alarm"></i>
					<span>Announcement Setting</span>
				</a>
			</li>	
			<li ng-if="showIMSEnquiry || showIMSAdmin" ng-class="{'active': activeAdminSideMenu.indexOf('SystemInformation/')>0}">
				<a ui-sref="admin.SystemInformation">
					<i class="glyphicon glyphicon-info-sign"></i>
					<span>System Information</span>
				</a>
			</li>	
			<li ng-if="showIMSEnquiry || showIMSAdmin" ng-class="{'active': activeAdminSideMenu.indexOf('healthCheck/')>0}">
				<a ui-sref="admin.HealthCheck">
					<i class="fa fa-medkit"></i>
					<span>Health Check</span>
				</a>
			</li>	
				
					
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>

<div ui-view></div>

<script>
	$(document).ready(function() {
		handleSidebarMinify();
		handleSidebarMenu();
	});
</script>
