<div class="row well">
    <form name="RevisionsRocDetailSearch"
          ng-submit="onSubmitRocDetailSearch()" class="form">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Job Number:" pattern="[0-9]{5,5}"
                   ng-change="canAdminJob(RocDetailSearch.jobNo)"
                   id="RocDetailSearch_jobNo" ng-model="RocDetailSearch.jobNo">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control"
                   placeholder="Item No (Optional):" id="RocDetailSearch_itemNo"
                   ng-model="RocDetailSearch.itemNo">
        </div>
        <div class="col-md-3">
            <div class="input-group" moment-picker="RocDetailSearch.period" format="YYYY-MM"
                 start-view="year" today="true">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="form-control" ng-model="RocDetailSearch.period"
                       ng-model-options="{ updateOn: 'blur' }">
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-block btn-primary" id="RocDetailSearch_submit"
                    ng-disabled="!adminSearchBtn">Search
            </button>
        </div>
    </form>
</div>
<div class="col-md-12">
    <br>
    <div id="" save-and-restore-grid-state="admin_revisions_roc_detail" ui-grid-save-state ui-grid="gridOptions"
         external-scopes="clickHandler" ui-grid-resize-columns ui-grid-move-columns
         ui-grid-row-edit ui-grid-exporter ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid"
         resize ng-style="resizeWithOffset(365)">
    </div>
    <div class="row">
        <button ng-show="showQSAdmin" ng-click="updateGrid()" type="button" class="btn btn-block btn-primary"
                ng-disabled="!adminSearchBtn">Update Roc Detail
        </button>
    </div>
    <div class="row">
        <button ng-show="showQSAdmin && gridApi.selection.getSelectedRows().length > 0" ng-click="deleteRows()" type="button" class="btn btn-block btn-success"
                ng-disabled="!adminSearchBtn">Delete {{gridApi.selection.getSelectedRows().length}} rows
        </button>
    </div>
</div>
