			<div >
				<div >
					<h3 class="box-title pull-right">System Information</h3>
				</div>
				<div class="box-body">
					<table class="table">
						<tr>
							<td><i class="fa fa-calendar"></i> Deployment Date</td>
							<td>{{properties.versionDate}}</td>
						</tr>
						<tr>
							<td><i class="fa fa-file-code-o"></i> Revision</td>
							<td>{{properties.revision}}</td>
						</tr>
						<tr>
							<td><i class="fa fa-mixcloud"></i> Environment</td>
							<td>{{properties.deployEnvironment}}</td>
						</tr>
						<tr>
							<td><i class="fa fa-leaf"></i> JDE</td>
							<td>{{properties.jdeUrl}}</td>
						</tr>
						<tr>
							<td><i class="fa fa-check"></i> AP</td>
							<td>{{properties.apUrl}}</td>
						</tr>
						<tr>
							<td><i class="fa fa-unlock-alt"></i> GSF</td>
							<td>{{properties.gsfUrl}}</td>
						</tr>
					</table>
				</div>
			</div>