<div class="modal-header">
	<div class="row">
		<div class="col-md-11">
			<h4 class="modal-title">Add Variation KPI</h4>
		</div>
		<div class="col-md-1">
			<button class="btn btn-default pull-right" type="button"
				ng-click="cancel()">
				<span class="fa fa-remove"></span>
			</button>
		</div>
	</div>
</div>
<div class="modal-body bg-gray-light">
	<form name="form-validate" id="form-validate" class="ng-pristine ng-valid">
		<div class="row m-t-15  offset-5">
			<div class="col-md-11">
				<div class="panel panel-danger">
					<table
							class="table table-responsive table-bordered table-hover table-striped table-td-valign-middle">
						<thead>
						<tr class="danger">
							<th class="width-250 text-center">New Variation KPI</th>
							<th class="width-100 text-center">Action </th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<span class="input-group"
									  moment-picker="kpiList[0].period" format="YYYY-MM"
									  start-view="year" today="true">
										<span class="input-group-addon">Month Ending <i class="fa fa-calendar"></i></span>
										<input class="form-control" required ng-model="kpiList[0].period" ng-model-options="{ updateOn: 'blur' }">
									</span>
							</td>
							<td>
								<button class="btn btn-danger btn-block" type="button"
										ng-click="onAdd()">
									<span class="fa fa-plus-circle"></span> Add
								</button>
							</td>
						</tr>
						</tbody>
					</table>
<!--						 <div class="height-100"></div>-->
				</div>
			</div>
			<!-- end col-8 -->
		</div>
		<!-- end row -->
	</form>
</div>