<div class="tab-content m-b-0">
	<p class="lead m-b-10">
		<small>Please print out the reports and verify the data before
			completing the transit.</small>
	</p>
	<p class="text-purple-light">
		<b><span class="icofont icofont-emo-simple-smile icofont-2x"></span>
			No worries. You can still re-import/modify the BQ Items and Resources
			after printing the reports.</b>
	</p>


	<div class="tab-pane fade active in" id="profile-tab">

		<div class="row offset-10 m-t-40">
			<div class="col-md-6">
				<div class="col-md-12">
					<button type="button" class="btn btn-lg btn-danger"
						ng-disabled="disablePrintReport || transitLocked" style="width: 400px"
						ng-click="openPrintReport('service/report/printBQMasterReconciliationReport?jobNumber='+jobNo)">
						<i class="icofont icofont-file-pdf fa-5x"></i><br> <b>BQ
							Master Reconciliation Report</b>
					</button>
				</div>
				<div class="col-md-10 m-t-20">
					<p>PDF will be generated</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-12">
					<button type="button" class="btn btn-lg btn-danger"
						ng-disabled="disablePrintReport || transitLocked" style="width: 400px"
						ng-click="openPrintReport('service/report/printBQRecourseReconciliationReport?jobNumber='+jobNo)">
						<i class="icofont icofont-file-pdf fa-5x"></i><br> <b>BQ
							Resource Reconciliation Report</b>
					</button>
				</div>
				<div class="col-md-10 m-t-20">
					<p>PDF will be generated</p>
				</div>
			</div>
		</div>
	</div>



</div>
