<div class="col-md-12">
	<div class="panel">
		<ul class="nav nav-tabs nav-tabs-primary nav-justified">
			<li class="active"><a href="#" data-target="#causeway-tab"
				data-toggle="tab" target="_self"><h7>
						<span class="icofont icofont-road icofont-2x"></span> CAUSEWAY
					</h7></a></li>
			<li class=""><a href="#" data-target="#candy-tab"
				data-toggle="tab" target="_self"><h7>
						<span class="icofont icofont-candy icofont-2x"></span> CANDY
					</h7></a></li>
		</ul>
		<div class="tab-content m-b-0">

			<div class="tab-pane fade active in" id="causeway-tab">
				<div class="row">
					<h6 class="text-red">
						<span class="icofont icofont-star"></span>Excel Header must follow
						the below sequence. (Column A to T)
					</h6>
					<div class="col-md-6">
						<b>BQ (Column A to H)</b>
						<ul>
							<li>BQ Header: Keep all columns blank besides "Description"
								(Column D).</li>
							<li>Bill (Column A) : first 2 digits refer to Bill No. while
								the rest will be the Sub-bill No.</li>
							<li>Bill, Page, Item should be unique.</li>
							<li>Description, Quantity, Units, Rate, Value must not be
								blank for BQ item.</li>
						</ul>
					</div>

					<div class="col-md-6">
						<b>Resources (Column I to T)</b>
						<ul>
							<li>Resources must refer to a BQ item.</li>
							<li>Resource Code, Type, Description, Total Qty, Units,
								Rate, Total must not be blank.</li>
							<li>Object, Subsidiary code should be provided if they
								cannot be found in Resource Code Matching Table.</li>
							<li class="text-red"><b>Package No (Column T) can be
									manually input now and must follow the rules below.</b>
								<ul>
									<li>Package No. should start with '6' for object code
										'13xxx' (Material Package).</li>
									<li>Package No. should start with '3' for object code
										'14xxx' and subsidiary code '3xxxxxxx' (NSC).</li>
									<li>Package No. should start with '1' or '2' for object
										code '14xxx' (DSC, NDSC).</li>
								</ul></li>
						</ul>

					</div>
					<div class="col-md-12 m-l-40">
						<a href = {{causewayGuide}} target="_blank"><img ng-src="{{causewayGuide}}"
							ng-style="{height: 90 + '%', width: 90 + '%',  'overflow': 'auto'}"></a>
					</div>

				</div>
			</div>




			<div class="tab-pane fade" id="candy-tab">

				<div class="row">
					<h6 class="text-red">
						<span class="icofont icofont-star"></span>Please follow the below instructions to convert Candy version to Causeway version for import<br>
						<span class="icofont icofont-star"></span>Excel Header must follow the sequence in Converted version. (Column A to T)
					</h6>

					<div class="col-md-6">
						<b>BQ (Column A to H)</b>
						<ul>
							<li>All the rules from Causeway apply to Candy as well.</li>
							
						</ul>
					</div>
					
					<div class="col-md-6">
						<b>Resources (Column I to T)</b>
						<ul>
							<li>All the rules from Causeway apply to Candy as well.</li>
							<li class = "text-red"><b>Object Code & Subsidiary Code are compulsory since resource code of Candy cannot be recognized in system</b></li>
						</ul>

					</div>
					<div class="col-md-12 m-l-40">
						<a href = {{candyGuide}}  target="_blank"><img ng-src="{{candyGuide}}"
							ng-style="{height: 90 + '%', width: 100 + '%',  'overflow': 'auto'}"></a>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>




