<div class="m-t-10 m-l-20 m-r-20">
	<div class="row">
		<div class="col-md-6">
			<h1 class="page-header">
		{{jobNo}}<small> {{jobDescription}}</small>
		 - Transit Status: <small> {{transitStatus}}</small>
	</h1>
		</div>
	
		<div class="col-xs-2" id="editTransitHeader">
			<button type="button" class="btn btn-success btn-block pull-right" ng-click="editTransitHeader()">
				<i class="fa fa-pencil"></i><span> Edit Transit Header</span>
			</button>
		</div>

		<div class="col-xs-2" id="createSubcontractDiv">
			<button type="button" class="btn btn-primary btn-block pull-right" ng-click="openWindow('Resource')">
				<i class="fa fa-search"></i><span> Resource Code Matching</span>
			</button>
		</div>
		<div class="col-xs-2" id="createSubcontractDiv">
			<button type="button" class="btn btn-primary btn-block pull-right" ng-click="openWindow('Unit')">
				<i class="fa fa-search"></i><span> Unit Code Matching</span>
			</button>
		</div>
	</div>
	

	<div id="wizard" class="bwizard clearfix">
		<div class="hidden-print">
			<ul class="bwizard-steps clearfix setup-panel">
				<li ui-sref-active="active" id="transitTab1">
					<a ui-sref="transit.userGuide"><span class="label badge-inverse">0</span> 
						User Guide<small></small>
					</a>
				</li>
				<li ui-sref-active="active" id="transitTab2"><a ui-sref="transit.bq" > <span class="label">1</span>
						Import BQ <small></small>
				</a></li>
				<li ui-sref-active="active" id="transitTab3"><a ui-sref="transit.resources" > <span class="label">2</span>
						Import Resources <small></small>
				</a></li>
				
				<li ui-sref-active="active" id="transitTab5"><a ui-sref="transit.confirm" > <span class="label">3</span>
						Confirm Total Budget <small></small>
				</a></li>
				<li ui-sref-active="active" id="transitTab6"><a ui-sref="transit.report"> <span class="label">4</span>
						Print Report <small></small>
				</a></li>
				<li ui-sref-active="active" id="transitTab7"><a ui-sref="transit.attachment"> <span class="label">5</span>
						Attachment <small></small>
				</a></li>
				<li ui-sref-active="active" id="transitTab8"><a ui-sref="transit.complete"> <span class="label">6</span>
						Complete Transit <small>Post Budget</small>
				</a></li>
			</ul>
		</div>

		<div class="tab-content">
			<div ui-view=""></div>
		</div>

		
	</div>
	<!-- end #wizard -->
	

	
</div>

