<div class="row">
<h6 class="text-red"><span class="icofont icofont-star"></span>Description highlighted in blue is the BQ Header.</h6>
	<div class="col-md-12"  >
	
		<div id="bqGrid" name="bqGrid" save-and-restore-grid-state="transit_dashboard_bq" ui-grid-save-state ui-grid="bqGridOptions"
			resize ng-style="resizeWithOffset(350)"
			external-scopes="clickHandler" ui-grid-exporter ui-grid-selection
			></div>
	</div>

	<div class="col-md-12 m-t-10" ng-if = "transit.status != 'Transit Completed'">
		<form name="importBQCauseway" id="importBQCauseway">
			<div class="form-group horizontal">
				<label class="btn btn-block btn-primary"
					uib-popover="All exisitng BQs and resources will be deleted"
					popover-trigger="mouseenter" popover-title="Import BQ"
					popover-animation="true" type="button"> <i
					class="icofont icofont-upload-alt"></i> Import BQ
					<input
					style="display: none;" class="form-control file-loading"
					type="file" name="files" id="reimportBqFile"
					onChange="angular.element(this).scope().onSubmitTransitUpload(importBQCauseway.files, 'BQ')" 
					/>
				</label>
			</div>
		</form>
	</div>

</div>
