<div class="tab-content m-b-0">
	<p class="lead m-b-10">
		<small>Please verify the imported BQ and resources before completing the transit.</small>
		<p class="text-red">
		<b><span class="icofont icofont-emo-angry icofont-2x"></span>
			Attention! You will <u>NOT</u> be able to adjust the BQ Items and Resources
			after completing the Transit.</b>
	</p>
	</p>
	<div class="tab-pane fade active in" id="profile-tab">

		<div class="row offset-35 m-t-40">
				<div class="col-md-12">
					<button type="button" class="btn btn-lg btn-primary" ng-disabled="disableCompleteTransit"
						style="width: 400px" ng-click="completeTransit()">
						<i class="icofont icofont-check-circled fa-5x"></i><br> <b>Complete Transit</b>
					</button>
				</div>
				<div class="col-md-10 m-t-20">
					<p><span class="icofont icofont-thumbs-up icofont-2x text-primary"></span> You are good to go! <br> Budget will be posted to JDE finance automatically after Transit is completed.</p>
				</div>
		</div>
	</div>



</div>
