<div class="tab-content m-b-0">
	<p class="lead m-b-10">
		<small>Please verify the imported BQ and resources before completing the transit.</small>
		<p class="text-red"><span class="icofont icofont-star"></span>BQ items and resources will NOT be able to be imported again when the transit has been completed.</p>
	</p>
	<div class="tab-pane fade active in" id="profile-tab">

		<div class="row offset-35 m-t-40">
				<div class="col-md-12">
					<button type="button" class="btn btn-lg btn-primary" ng-disabled="disableCompleteTransit"
						style="width: 400px" ng-click="completeTransit()">
						<i class="icofont icofont-check-circled fa-5x"></i><br> <b>Complete Transit</b>
					</button>
				</div>
				<div class="col-md-10 m-t-20">
					<p>Budget will be posted to JDE finance.</p>
				</div>
		</div>
	</div>



</div>
