html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro','Helvetica Neue', Helvetica,Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 14px;
}

.e-btn, .e-tab-text {
  text-transform: none !important;
}

.e-float-input.e-control-wrapper {
  background-color: #fff !important;
  .e-label-bottom .e-float-text-content{
    line-height: 18px !important;
    white-space: normal !important;
    margin-top: 18px !important;
  }
}