
<div ng-controller="NavMenuCtrl">
	<div class="wrapper">

		<header class="main-header">

			<!-- Logo -->
			<a class="logo" ui-sref="job.dashboard" ng-click="activeMenu = ''">
				<img alt="Brand" src="image/gammon.png" style="width: 128px">
			</a>

			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar-collapse">
					<i class="fa fa-bars"></i>
				</button>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
					<ul class="nav navbar-nav">
						<li ng-class="{active : activeMenu == 'Repackaging'}"><a
							ui-sref="repackaging" class="pcms-icon fa-codepen"
							ng-click="activeMenu = 'Repackaging'"> Repackaging </a></li>
						<li ng-class="{active : activeMenu == 'Certificate'}"><a
							ui-sref="cert-dashboard" class="pcms-icon fa-certificate"
							ng-click="activeMenu = 'Certificate'"> Main Contract
								Certificate </a></li>
						<!-- ui-sref-opts="{location:false}" -->
						<li ng-class="{active : activeMenu == 'Subcontract'}"><a
							ui-sref="subcontract-select" class="pcms-icon fa-trophy"
							ng-click="activeMenu = 'Subcontract'"> Subcontract </a></li>
						<li ng-class="{active : activeMenu == 'IV'}"><a
							ui-sref="iv.update" class="pcms-icon fa-line-chart"
							ng-click="activeMenu = 'IV'"> Internal Valuation </a></li>
						<li ng-class="{active : activeMenu == 'Enquiry'}"><a
							ui-sref="enquiry" class="pcms-icon fa-info-circle"
							ng-click="activeMenu = 'Enquiry'"> Enquiry </a></li>
						<li ng-class="{active : activeMenu == 'Transit'}"><a
							ui-sref="transit" class="pcms-icon fa-file-text"
							ng-click="activeMenu = 'Transit'"> Transit </a></li>
					</ul>
				</div>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href=""
							class="dropdown-toggle" data-toggle="dropdown"> <img
								src="image/horace.jpg" class="user-image" alt="User Image">
								<span class="hidden-xs">Horace Chu</span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img src="image/horace.jpg"
									class="img-circle" alt="User Image">

									<p>
										Horace Chu <small>Head of IMS</small>
									</p></li>
								<!-- Menu Body -->
								<li class="user-body">
									<div class="row">
										<div class="col-xs-12">
											<a href="#">Last login time:</a>
										</div>
										<!--  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div> -->
									</div>
									<div class="row">
										<div class="col-xs-12">
											<a href="#">10:03 AM, February 29, 2016</a>
										</div>
									</div> <!-- /.row -->
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<!-- <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div> -->
									<div class="pull-right">
										<a class="btn btn-default btn-flat" ng-click="logout()">Sign out</a>
									</div>
								</li>
							</ul></li>
						<!-- Control Sidebar Toggle Button -->
						<li><a href="#" data-toggle="control-sidebar"><i
								class="fa fa-gears"></i></a></li>
					</ul>
				</div>

			</nav>
		</header>


		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-light">
			<!-- Create the tabs -->
			<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				<li class="active"><a href="#control-sidebar-home-tab"
					data-toggle="tab" target="_self"><i class="fa fa-home"></i></a></li>
				<li><a href="#control-sidebar-system-tab" data-toggle="tab"
					target="_self"><i class="fa fa-gears"></i></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- Home tab content -->
				<div class="tab-pane active" id="control-sidebar-home-tab">
					<h3 class="control-sidebar-heading">Useful Links</h3>
					<ul class="control-sidebar-menu">
						<li><a href="http://helpdesk/helpdesk.aspx?System=QS"> <i
								class="menu-icon fa fa-question bg-red"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Helpdesk</h4>
									<p>Description</p>
								</div>
						</a></li>
						<li><a href="http://gammon/hk/ims/Pages/QSELearning.aspx">
								<i class="menu-icon fa fa-book bg-yellow"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">User Manual</h4>
									<p>Description</p>
								</div>
						</a></li>
						<li><a href="javascript::;"> <i
								class="menu-icon fa fa-bullhorn bg-light-blue"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Announcement</h4>
									<p>Description</p>
								</div>
						</a></li>
						<li><a href="javascript::;"> <i
								class="menu-icon fa fa-code-fork bg-green"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Workflow</h4>
									<p>Description</p>
								</div>
						</a></li>
						<li><a href="javascript::;"> <i
								class="menu-icon fa fa-lightbulb-o bg-purple"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Tips</h4>
									<p>Description</p>
								</div>
						</a></li>
					</ul>
					<!-- /.control-sidebar-menu -->
				</div>
				<!-- /.tab-pane -->

				<!-- Settings tab content -->
				<div class="tab-pane" id="control-sidebar-system-tab">
					<h3 class="control-sidebar-heading">Systems</h3>
					<ul class="control-sidebar-menu">
						<li><a href="http://erpwls02:7105/ap"> <i
								class="menu-icon fa fa-question bg-red"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Approval System</h4>
									<p>Description</p>
								</div>
						</a></li>
						<li><a href="http://eportal/IDMS/?name=IDMS"> <i
								class="menu-icon fa fa-book bg-yellow"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">IDMS</h4>
									<p>Description</p>
								</div>
						</a></li>
						<li><a href="http://gammon/hk/ims/Pages/QSELearning.aspx">
								<i class="menu-icon fa fa-bullhorn bg-light-blue"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">GEP</h4>
									<p>Description</p>
								</div>
						</a></li>
						<li><a href="http://erp/jde/?name=JDE"> <i
								class="menu-icon fa fa-code-fork bg-green"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">JDE</h4>
									<p>Description</p>
								</div>
						</a></li>
						<li><a href="javascript::;"> <i
								class="menu-icon fa fa-lightbulb-o bg-purple"></i>
								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Invoice Enquiry</h4>
									<p>Description</p>
								</div>
						</a></li>
					</ul>
				</div>
				<!-- /.tab-pane -->
			</div>
		</aside>
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
		<!--  <div id="main">    
       // angular templating : This is where content will be injected    
        <div ng-view></div>
    </div>   -->

		<div ui-view></div>
	</div>
</div>

<!-- AdminLTE App -->
<script src="plugins/adminLte/2.3.0/js/app.min.js"></script>
