<div ng-controller="NavMenuCtrl">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-fixed-top" ng-class="{'navbar-primary': (env !== 'DEV' && env !== 'UAT'), 'navbar-inverse': (env === 'DEV' || env === 'UAT') }">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<table class="col-md-12">
					<tr>
						<td>
							<!-- begin mobile sidebar expand / collapse button -->
							<div class="navbar-header">
								<a ui-sref="job.dashboard" class="navbar-brand" ng-click="activeMenu = ''">
									<div ng-if="env != 'PRO'" style="position:absolute; 
									text-align:right; 
									top:15px;bottom:15px;
									left:-5px;right:15px;
									width:160px;height:35px;
									border: 0px solid white;
									font-size: 10px;"
									class="text-white">{{env}}</div>
									<img src="image/gammon.png" class="logo"  style="width: 128px"/>
								</a>
								<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<!-- end mobile sidebar expand / collapse button -->
						</td>
						<td>
							<div class="animated fadeIn" ng-show="!hideNavMenu && menuScroll>0 && menuBarWidth < menuWidth" 
							ng-class="{'btn btn-primary': (env !== 'DEV' && env !== 'UAT'), 'btn btn-inverse': (env === 'DEV' || env === 'UAT') }"
							ng-mouseenter="scrollLeft()" ng-mouseleave="stopScrolLeft()">
							<span class="fa fa-2x fa-angle-left text-white"> </span></div>
						</td>
						<td id="menubarTd">
							<div resize ng-style="resizeMenuBarWithWOffset(490, 150)" style="border: 0px solid red" id="menubar">
								<ul class="nav navbar-nav" style="width:1000px;border: 0px solid white" id="innerMenu">
									<li ng-class="{'bg-primary-light' : activeMenu == 'Repackaging' && env !== 'DEV', 'bg-inverse-light' : activeMenu == 'Repackaging' && env == 'DEV'}" 
										ng-hide = "hideNavMenu">
										<a ui-sref="repackaging" ng-click="activeMenu = 'Repackaging'"> 
											<i class="fa fa-cube"></i>
											Repackaging
										</a></li>
									<li ng-class="{'bg-primary-light' : activeMenu == 'Certificate' && env !== 'DEV', 'bg-inverse-light' : activeMenu == 'Certificate' && env == 'DEV'}" 
										ng-hide = "hideNavMenu">
										<a 	ui-sref="cert-dashboard" ng-click="activeMenu = 'Certificate'">
											<i class="fa fa-bookmark"></i>
											Main Contract Certificate
										</a>
									</li>
									<li ng-class="{'bg-primary-light' : activeMenu == 'Subcontract' && env !== 'DEV', 'bg-inverse-light' : activeMenu == 'Subcontract' && env == 'DEV'}" 
										ng-hide = "hideNavMenu">
										<a	ui-sref="subcontract-select" ng-click="activeMenu = 'Subcontract'"> 	
											<i class="fa fa-trophy"></i>
											Subcontract
										</a></li>
									<li ng-class="{'bg-primary-light' : activeMenu == 'IV' && env !== 'DEV', 'bg-inverse-light' : activeMenu == 'IV' && env == 'DEV'}" 
										ng-hide = "hideNavMenu">
										<a ui-sref="iv.resource-summary.update" ng-click="activeMenu = 'IV'"> 
											<i class="fa fa-line-chart"></i>
											Internal Valuation
										</a>
									</li>
									<li ng-class="{'bg-primary-light' : activeMenu == 'Enquiry' && env !== 'DEV', 'bg-inverse-light' : activeMenu == 'Enquiry' && env == 'DEV'}" 
										ng-hide = "hideNavMenu">
										<a ui-sref="enquiry.info" ng-click="activeMenu = 'Enquiry'"> 
											<i class="fa fa-info-circle"></i>
											Enquiry
										</a>
									</li>
										<li ng-class="{'bg-primary-light' : activeMenu == 'Reports' && env !== 'DEV', 'bg-inverse-light' : activeMenu == 'Reports' && env == 'DEV'}" 
										ng-hide = "hideNavMenu">
										<a ui-sref="reports" ng-click="activeMenu = 'Reports'"> 
											<i class="fa fa-book"></i>
											Reports
										</a>
									</li>
									<li ng-class="{'bg-primary-light' : activeMenu == 'Transit' && env !== 'DEV', 'bg-inverse-light' : activeMenu == 'Transit' && env == 'DEV'}" 
										ng-hide = "hideNavMenu">
										<a ui-sref="transit" ng-click="activeMenu = 'Transit'"> 
											<i class="fa fa-file-text"></i>
											Transit 
										</a>
									</li>
									<li ng-class="{'bg-primary-light' : activeMenu == 'Admin' && env !== 'DEV', 'bg-inverse-light' : activeMenu == 'Admin' && env == 'DEV'}" 
										ng-hide = "hideNavMenu || !showAdminMenu">
										<a ui-sref="admin.session" ng-click="activeMenu = 'Admin'">
											<i class="fa fa-user"></i>
											Admin 
										</a>
									</li>
								</ul>
							</div>
						</td>
						<td>
							<div class="animated fadeIn" ng-show="!hideNavMenu && (menuBarWidth + menuScroll) < menuWidth && menuBarWidth < menuWidth" 
							ng-class="{'btn btn-primary': (env !== 'DEV' && env !== 'UAT'), 'btn btn-inverse': (env === 'DEV' || env === 'UAT') }"
							ng-mouseenter="scrollRight()" ng-mouseleave="stopScrollRight()">
							<span class="fa fa-2x fa-angle-right text-white"></span></div>
						</td>
						<td>
							<!-- begin navbar-right -->
<div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          
          
            
          
          
          <li class="dropdown user user-menu navbar-user" style="height:56px;width: 90px;margin-top: 0px;border-top-width: 0px;">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding-right: 0px;" ng-click="selectTab('profile')">
 <span class="image" id="userImage">
              <img data-ng-src="{{userIcon}}"  alt="" imageonload roll-back-image="resources/images/profile.png"/>
   </span>
              <b class="caret"></b>

            </a>
            <ul class="dropdown-menu" id="userDropPanel" style="top: 62px;">
              <!-- User image -->
              <li ng-show="isSelected('profile')" class="user-header bg-primary" style="height:160px;font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif">
               <span class="image" id="userImage">
               <img data-ng-src="{{userIcon}}" style="border:3px solid; border-color:rgba(255,255,255,0.2);width:84px;height:84px;" class="img-circle" alt="" imageonload roll-back-image="resources/images/profile.png"/>
               </span>

                <p>
                  {{user.fullname}} - {{user.title}}
                  <small>Staff ID: {{user.StaffID}}</small>
                </p>
              </li>
              <li ng-show="isSelected('preference')" class="user-header bg-primary" style="height:160px;font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif">
              </li>
              <li ng-show="isSelected('defaultJob')" class="user-header bg-primary" style="height:160px;font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif">
					<select size="5" id="defaultJobList" class="form-control text-info" ng-model="defaultJobNo" ng-options="job.jobNo as (job.jobNo + ' - ' + job.description) for job in jobs"></select>
					<label class="btn btn-block btn-inverse" ng-click="settingDefaultJobNo()">
						<i class="fa fa-hand-o-right"></i> Set default job
					</label>
					<label ng-show="showDefaultJobStatus" ng-class="{'animated fadeIn':showDefaultJobStatus, 'animated fadeOut':!showDefaultJobStatus}">Default job updated</label>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="javascript:;" ng-click="selectTab('preference')">Preference</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="javascript:;" ng-click="selectTab('defaultJob')">Default&nbsp;Job</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="javascript:;" ng-click="selectTab('profile')" class="btn btn-default btn-flat" style="box-shadow: none;border: 1px solid #ddd;">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="javascript:;" ng-click="logout()" ng-hide="user.authType === 'Kerberos'" class="btn btn-default btn-flat" style="box-shadow: none;border: 1px solid #ddd;">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
   									<li>
										<a href="javascript:;" data-click="right-sidebar-toggled" id="control-sidebar" style="padding-right: 0px;">
											<i class="fa fa-align-left"></i>
										</a>
									</li>       
        </ul>
      </div>									


							<!-- end navbar-right -->
						</td>
					</tr>
				</table>
			</div>
			<!-- end container-fluid -->			
		</div>
		<!-- end #header -->

		<!-- begin #sidebar-right -->
		<div id="sidebar-right" class="sidebar sidebar-right sidebar-highlight-primary sidebar-light" >
		    <!-- begin sidebar scrollbar -->
		    <div data-scrollbar="true" data-height="100%">
		        <!-- begin sidebar-nav -->
		        <ul class="nav nav-tabs" role="tablist">
		            <li class="width-50 active"><a href="#" data-target="#links" data-toggle="tab" target="_self">Links</a></li>
		            <li class="width-100"><a href="#" data-target="#AccountCode" data-toggle="tab" target="_self" ng-click="showCodePanel('Account')">Account Code</a></li>
		            <li class="width-100"><a href="#" data-target="#AddressBook" data-toggle="tab" target="_self" ng-click="showCodePanel('Address')">Address Book</a></li>
		        </ul>
		        <div class="tab-content">
		            <div class="tab-pane active" id="links">
		                <ul class="nav">
		                    <li class="nav-header">Useful Links</li>
		                    <li>
		                        <ul class="notification-list">
		                         	<li>
		                                <div class="media bg-grey-light"><i class="fa fa-question text-white"></i></div>
		                                <div class="info">
		                                    <div class="title"><a href="{{properties.HELPDESK}}">Helpdesk</a></div>
		                                    <div class="desc" uib-popover="The fastest way to get help from IMS! Tell us about your problem so we can help ASAP!" popover-trigger="mouseenter" popover-title="Helpdesk">The fastest way to get help from IMS! Tell us about your problem so we can help ASAP!</div>
		                                </div>
		                            </li>
		                             <li>
		                                <div class="media bg-success-light"><i class="fa fa-book text-white"></i></div>
		                                <div class="info">
		                                    <div class="title"><a href="{{properties.GUIDE_LINES}}">Guidelines</a></div>
		                                    <div class="desc" uib-popover="Step-by-Step video to guide you through the core workflows and comprehensive documentation of PCMS" popover-trigger="mouseenter" popover-title="Guidelines">Step-by-Step video to guide you through the core workflows and comprehensive documentation of PCMS</div>
		                                </div>
		                            </li>
		                            <li>
		                                <div class="media bg-lime-light"><i class="fa fa-bullhorn text-white"></i></div>
		                                <div class="info">
		                                    <div class="title"><a href="{{properties.ANNOUNCEMENT}}">Announcement</a></div>
		                                    <div class="desc">Description <div class="badge bg-lime-light text-white">Coming soon!</div></div>
		                                </div>
		                            </li>
		                            <li>
		                                <div class="media bg-primary-light"><i class="fa fa-file-text text-white"></i></div>
		                                <div class="info">
		                                    <div class="title"><a href="{{properties.FORMS}}">Forms</a></div>
		                                    <div class="desc">Description <div class="badge bg-lime-light text-white">Coming soon!</div></div>
		                                </div>
		                            </li>
		                            <li ng-click="openTips()" style="cursor:pointer;">
		                                <div class="media bg-purple-light"><i class="fa fa-user-plus text-white"></i></div>
		                                <div class="info">
		                                    <div class="title">Tips</div>
		                                    <div class="desc">Information and tips </div>
		                                </div>
		                            </li>
		                        </ul>
		                    </li>
		                    <li class="divider"></li>
		                     <li class="nav-header">Useful Systems</li>
		                    <li>
		                        <ul class="notification-list">
		                         	<li>
		                                <div class="media bg-danger-light"><i class="fa fa-check text-white"></i></div>
		                                <div class="info">
		                                    <div class="title"><a href="{{properties.AP_HOME}}">Approval System</a></div>
		                                    <div class="desc" uib-popover="To review and enquire Subcontract, Procurement, Subcontract Appraisal Approvals" popover-trigger="mouseenter" popover-title="BMS">To Review and Enquiry Subcontract, Procurement, Subcontract Appraisal Approvals</div>
		                                </div>
		                            </li>
		                            <li>
		                             	<div class="media bg-warning-light"><i class="fa fa-cog text-white"></i></div>
		                                <div class="info">
		                                    <div class="title"><a href="{{properties.ERP_HOME}}">Gammon ERP Portal</a></div>
		                                    <div class="desc">Gammon ERP Portal</div>
		                                </div>
		                            </li>
		                            <li>
		                                <div class="media bg-success-light"><i class="fa fa-leaf text-white"></i></div>
		                                <div class="info">
		                                    <div class="title"><a href="{{properties.JDE_HOME}}">JDE</a></div>
		                                    <div class="desc">Oracle JD Edwards</div>
		                                </div>
		                            </li>
		                            <li>
		                                <div class="media bg-info-light"><i class="fa fa-file text-white"></i></div>
		                                <div class="info">
		                                    <div class="title"><a href="{{properties.BMS_HOME}}">Business Management System</a></div>
		                                    <div class="desc" uib-popover="Documents for Pre-Contract, Project Delivery, Group Wide and Business Support" popover-trigger="mouseenter" popover-title="BMS">Documents for Pre-Contract, Project Delivery, Group Wide and Business Support</div>
		                                </div>
		                            </li>
		                            <li>
		                             	<div class="media bg-warning-light"><i class="fa fa-plus-square text-white"></i></div>
		                                <div class="info">
		                                    <div class="title"><a href="{{properties.OTHER_HOME}}">Other Gammon Systems</a></div>
		                                    <div class="desc">Full list of Gammon Systems</div>
		                                </div>
		                            </li>
		                        </ul>
		                    </li>
		                    <li class="divider"></li>
		                </ul>
		            </div>
				<div class="tab-pane box box-primary" id="AccountCode">
					<ul class="nav">
						<div class="tab-content">
							<ul class="nav nav-tabs" role="tablist">
								<li class="width-half active"><a href
									data-target="#AccountCodeObjectCode" data-toggle="tab" 
									target="_self" ng-click="showCodePanel('Object')" ng-init="showSubsidiaryCode=false">Object Code</a></li>
									
								<li class="width-half"><a href
									data-target="#AccountCodeSubsidiaryCode" data-toggle="tab" 
									target="_self" ng-click="showCodePanel('Subsidiary')" ng-init="showObjectCode=false">Subsidiary Code</a></li>
							</ul>
							<div class="tab-pane active" id="AccountCodeObjectCode">
								<div id="objectCodePanel" ng-if="showObjectCode == true" ui-grid="ObjectCodeGridOptions" external-scopes="clickHandler" ui-grid-exporter ui-grid-resize-columns class="grid"
									resize ng-style="resizeWithOffset(160)"></div>
							</div>
							<div class="tab-pane" id="AccountCodeSubsidiaryCode">
							<div id="subsidiaryCodePanel" ng-if="showSubsidiaryCode == true" ui-grid="SubsidiaryCodeGridOptions" external-scopes="clickHandler" ui-grid-exporter ui-grid-resize-columns class="grid"
									resize ng-style="resizeWithOffset(160)"></div>
							</div>
						</div>
					</ul>
				</div>
				<div class="tab-pane box box-primary" id="AddressBook">
					<ul class="nav">
						<div class="tab-content">
								<div id="addressBookPanel" ng-if="showAddressBook == true" ui-grid="AddressBookGridOptions" external-scopes="clickHandler" ui-grid-exporter ui-grid-resize-columns class="grid"
									resize ng-style="resizeWithOffset(120)"></div>
						</div>
					</ul>
				</div>
				</div>
		        <!-- end sidebar-nav -->
		    </div>
		    <!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg sidebar-right"></div>
		<!-- end #sidebar-right -->
	</div>

<script>
	$(document).ready(function() {
		App.initSidebar();
	});
</script>

<div ui-view></div>
