<div id="sidebar" class="sidebar sidebar-highlight-primary sidebar-light">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="nav-header">{{jobNo}} {{jobDescription}}</li>
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
			
			<li ng-class="{active : activeIVSideMenu == 'IVUpdate'}">
				<a ui-sref="iv.update" ng-click="activeIVSideMenu = 'IVUpdate'">
					<i class="fa fa-dashboard"></i> 
					<span>IV Update</span>
				</a>
			</li>
			<li ng-class="{active : activeIVSideMenu == 'IVPost'}">
				<a ui-sref="iv.post" ng-click="activeIVSideMenu = 'IVPost'">
					<i class="fa fa-calendar-check-o"></i>
					<span>IV Post</span>
				</a>
			</li>
			
						
			<li class="divider has-minify-btn">
                      <!-- begin sidebar minify button -->
                      <a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-left"></i></a>
                      <!-- end sidebar minify button -->
			</li>
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>

<script>
	$(document).ready(function() {
		handleSidebarMinify();
		handleSidebarMenu();
	});
</script>


<div ui-view></div>

