<div class="row">

	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<div class="col-md-6">
					<p class="text-red">
						<span class="icofont icofont-star-alt-2"></span>Resources of <b>Finalized
							Subcontract</b> can be updated in here directly and do the final IV
						posting in Step 3.
					</p>
				</div>
				<div class="box-title pull-right col-md-6">

					<div class="col-md-4 animated fadeIn" style="text-align: right">
						<button ng-show="statusArray.length>0"
							class="btn btn-sm btn-block btn-primary" ng-click="showStatus()">Show
							import status</button>
					</div>
					<div class="col-md-4">
						<input type="number" class="form-control input-group-sm input-sm"
							placeholder="Input %" ng-model="percent" min="0.0000"
							max="100.0000" step="1.0000">
					</div>
					<div class="col-md-4" style="text-align: right">
						<button class="btn btn-block btn-primary btn-sm"
							ng-click="applyPercentage()">Apply % for IV</button>
					</div>
				</div>

			</div>
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div id="grid" save-and-restore-grid-state="iv_update"
							ui-grid-save-state ui-grid="gridOptions" ui-grid-selection
							ui-grid-importer external-scopes="clickHandler"
							ui-grid-resize-columns ui-grid-cellnav ui-grid-validate
							ui-grid-row-edit ui-grid-edit ui-grid-exporter class="grid"
							resize ng-style="resizeWithOffset(360)"></div>
					</div>
					<div class="col-md-12">
						<div class="col-md-4">
							<button type="button" class="btn bg-primary btn-block"
								ng-show="repackaging.status === '900'"
								ng-click="recalculateIV()">
								<i class="fa fa-floppy-o"></i> Recalculate IV by Job
							</button>
						</div>
						<div class="col-md-4">
							<button type="button" class="btn bg-primary btn-block"
								ng-show="repackaging.status === '900'" ng-click="update()">
								<i class="fa fa-floppy-o"></i> Update
							</button>
						</div>
						<div class="col-md-4">
							<button type="button" class="btn bg-warning btn-block text-white"
								ng-show="repackaging.status === '900'" ng-click="reset()">
								<i class="fa fa-refresh"></i> Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>