<div class="row">
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div
			class="widget widget-stat widget-stat-right bg-primary text-white">
			<div class="widget-stat-icon">
				<i class="fa fa-calculator"></i>
			</div>
			<div class="widget-stat-info">
				<div class="widget-stat-title">Posted IV</div>
				<div class="widget-stat-number">
					<small>{{postedIVAmount | currency}}</small>
				</div>
			</div>
			<div class="widget-stat-progress">
				<div class="progress">
					<div class="progress-bar" style="width: 100%"></div>
				</div>
			</div>
			<div class="widget-stat-footer text-left"></div>
		</div>


	</div>
	<!-- /.col -->

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div
			class="widget widget-stat widget-stat-right bg-primary text-white">
			<div class="widget-stat-icon">
				<i class="fa fa-calculator"></i>
			</div>
			<div class="widget-stat-info">
				<div class="widget-stat-title">Cumulative IV</div>
				<div class="widget-stat-number">
					<small>{{cumulativeIVAmount | currency}}</small>
				</div>
			</div>
			<div class="widget-stat-progress">
				<div class="progress">
					<div class="progress-bar" style="width: 100%"></div>
				</div>
			</div>
			<div class="widget-stat-footer text-left"></div>
		</div>
	</div>
	<!-- /.col -->

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div
			class="widget widget-stat widget-stat-right bg-primary text-white">
			<div class="widget-stat-icon">
				<i class="fa fa-calculator"></i>
			</div>
			<div class="widget-stat-info">
				<div class="widget-stat-title">Movement</div>
				<div class="widget-stat-number">
					<small>{{ivMovement | currency}}</small>
				</div>
			</div>
			<div class="widget-stat-progress">
				<div class="progress">
					<div class="progress-bar" style="width: 100%"></div>
				</div>
			</div>
			<div class="widget-stat-footer text-left">Non - Finalized
				Subcontract</div>
		</div>

	</div>
	<!-- /.col -->

	<div class="col-md-3 col-sm-6 col-xs-12">
		<div
			class="widget widget-stat widget-stat-right bg-primary text-white">
			<div class="widget-stat-icon">
				<i class="fa fa-calculator"></i>
			</div>
			<div class="widget-stat-info">
				<div class="widget-stat-title">Movement</div>
				<div class="widget-stat-number">
					<small>0</small>
				</div>
			</div>
			<div class="widget-stat-progress">
				<div class="progress">
					<div class="progress-bar" style="width: 100%"></div>
				</div>
			</div>
			<div class="widget-stat-footer text-left">Finalized Subcontract</div>
		</div>


	</div>
	<!-- /.col -->
</div>

<div class = "row">
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<div class="box-title pull-right col-md-6">
				<div class="col-md-4">
					<div class="input-group-btn">
						  <button ng-show="statusArray.length>0" type="button" class="pull-right btn btn-primary dropdown-toggle" style="line-height:18px !important;padding-top:5px !important;padding-bottom:5px !important" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul ng-show="statusArray.length>0" class="pull-right dropdown-menu">
					    <li><a href ng-click="showStatus()">Show Import Status</a></li>
					  </ul>
					  <label class="btn btn-sm pull-right btn-primary"  style="padding-top:5px !important;padding-bottom:5px !important;border-top-right-radius:0px !important;border-bottom-right-radius:0px !important;">
					                <i class="fa fa-file-excel-o"></i> Import&hellip; 
									<input style="display:none" type="file" accept=".xls,.xlsx,.csv" js-xls onread="readXls" onreadcsv="readCsv" onerror="error">
								</label>
					</div>
				</div>

					<div class="col-md-5">
						<input type="number" step="0.01"
							class="form-control input-group-sm input-sm"
							placeholder="Input %" ng-model="percent">
					</div>
					<div class="col-md-3">
						<button class="btn btn-primary btn-sm" ng-click="applyPercentage()">Apply % for IV</button>
					</div>
				</div>
			</div>
			<div class="box-body">
				<div id="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-importer
					ui-grid-auto-resize ui-grid-resize-columns ui-grid-cellnav ui-grid-validate
					ui-grid-row-edit ui-grid-edit ui-grid-exporter class="grid" style="height:250px"></div>

				<div class="col-md-12">
					<!-- <a class="btn btn-twitter btn-block">Update <i class="fa fa-floppy-o"></i></a> -->
					<table class="col-md-12"><tr>
					<td>
					<button type="button" class="btn bg-primary btn-block" ng-show="gridDirtyRows.length > 0"
						ng-click="update()">
						<i class="fa fa-floppy-o"></i> Update
					</button>
					</td>
					<td>
					<button type="button" class="btn bg-warning btn-block" style="color:white" ng-show="gridDirtyRows.length > 0"
						ng-click="reset()">
						<i class="fa fa-refresh"></i> Reset
					</button>
					</td>
					</tr></table>
				</div>
			</div>
		</div>
	</div>
</div>