<div ng-controller="EnquiryClientCtrl">
	<section class="content-header">
		<ol class="breadcrumb pull-right">
			<li><a ui-sref="enquiry.info"><i class="fa fa-dashboard"></i>
					Enquiry</a></li>
			<li class="active">Client</li>
		</ol>
	</section>
	<div class="clearfix"></div>

	<!-- Main content -->
	<section class="content" style="margin-left: 0px !important">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading bg-warning">Client</div>
						<div class="panel-body">
						<div class="col-md-12" ><br>
								<div id="" ui-grid="gridOptions" external-scopes="clickHandler" ui-grid-resize-columns ui-grid-move-columns
									ui-grid-exporter ui-grid-selection ui-grid-cellnav ui-grid-edit class="grid"
									style="height:550px"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

</div>
