html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro','Helvetica Neue', Helvetica,Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 14px;
}

.e-btn, .e-tab-text {
  text-transform: none !important;
}

.e-float-input.e-control-wrapper {
  background-color: #fff !important;
}

.e-float-input.e-control-wrapper .e-label-bottom .e-float-text-content {
  line-height: 18px !important;
  white-space: normal !important;
  margin-top: 18px !important;
}

.e-grid .e-ccdlg .e-dlg-content {
  padding: 16px 18px 13px 9px !important;
}

.e-grid .e-headercelldiv span {
  font-size: 12px;
}

.row {
  padding: 10px;
}

.nopadding {
  padding: 0 !important;
}