html, body {
  height: 100%;
}
body {
  --red: #F04B46;
  --lightRed: #F36F6B;
  --blue: #2184DA;
  --lightBlue: #4D9CE1;
  --green: #17B6A4;
  --lightGreen: #98ded7;
  --yellow: #fcaf41;
  --lightYellow: #FCBF67;
  --grey: #aab3ba;
  --lightGrey: #BBC2C7;
  --purple: #9b59b6;
  --lightPurple: #cfafdc;
  --pink: #f94877;
  --lightPink: #f71752;
  --primary: #2184DA;
  --lime: #65C56F;
  --lightLime: #83D08B;
  --info: #38AFD3;
  --lightInfo: #5FBFDB;
  --white: #fff;
  --black: #3C454D;
  margin: 0;
  font-family: 'Source Sans Pro','Helvetica Neue', Helvetica,Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 14px;
}

.e-btn, .e-tab-text {
  text-transform: none !important;
}

.e-float-input.e-control-wrapper {
  background-color: #fff !important;
}

.e-float-input.e-control-wrapper .e-label-bottom .e-float-text-content {
  line-height: 18px !important;
  white-space: normal !important;
  margin-top: 18px !important;
}

.e-grid .e-ccdlg .e-dlg-content {
  padding: 16px 18px 13px 9px !important;
}

.e-grid .e-headercelldiv span {
  font-size: 12px;
}

.e-table tr:nth-of-type(even) {
  background-color: #eee;
}

.row {
  padding: 10px;
}

.nopadding {
  padding: 0 !important;
}

.e-spinner-pane .e-spinner-inner .e-spin-material {
  stroke: var(--blue);
}