<form name="formValidate" id="formValidate" class="ng-valid">
  <fieldset>
    <div class="row">
      <div class="col-md-9 col-md-offset-2">
        <div
          class="form-group"
          resize
          ng-style="resizeWithOffset(310)"
          id="subcontractStep1OuterBox"
        >
          <div class="box box-solid">
            <div class="box-body">
              <div class="col-md-12">
                <div class="box box-primary" id="subcontractStep1Box1">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-3">
                        <label>Subcontract Number</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="input-group col-md-12">
                          <input
                            type="text"
                            class="form-control"
                            data-parsley-minlength="4"
                            data-parsley-maxlength="4"
                            data-parsley-error-message="Must be in 4 digits"
                            ng-model="subcontract.packageNo"
                            ng-disabled="disableSubcontactNo"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <label>Description</label>
                      </div>
                      <div class="form-group col-md-9">
                        <textarea
                          class="form-control"
                          rows="1"
                          placeholder="Subcontract Description ..."
                          ng-model="subcontract.description"
                          ng-disabled="disableButtons"
                          required
                        ></textarea>
                      </div>
                      <div class="col-md-3">
                        <label>Work Scope</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="input-group col-md-12">
                          <select
                            class="form-control"
                            ng-disabled="disableButtons"
                            data-parsley-minlength="3"
                            data-parsley-error-message="Please select work scope"
                            required
                            ng-model="subcontract.workscope"
                            ng-options="v.codeWorkscope.trim() as (v.codeWorkscope.trim() + ' - ' + v.workscopeDescription.trim()) for v in allWorkScopes"
                          ></select>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label>Approval Sub-type</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="input-group col-md-12">
                          <input
                            type="text"
                            class="form-control"
                            data-parsley-maxlength="5"
                            data-parsley-pattern="^[A-Za-z0-9]+$"
                            data-parsley-error-message="Max. length: 5 (A-Z, a-z or numbers)"
                            ng-model="subcontract.approvalRoute"
                            ng-disabled="disableButtons"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <label>Notes</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="input-group col-md-12">
                          <textarea
                            class="form-control"
                            rows="1"
                            ng-model="subcontract.notes"
                            ng-disabled="disableButtons"
                          ></textarea>
                        </div>
                      </div>
                    </div>

                    <!-- Subcontractor Nature -->
                    <div class="row">
                      <div class="col-md-3">
                        <label>Subcontractor Nature</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="btn-group btn-group-justified">
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.subcontractorNature == 'DSC', 'btn-inverse' : subcontract.subcontractorNature != 'DSC'}"
                            ng-model="subcontract.subcontractorNature"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'DSC'"
                            >DSC</label
                          >
                          <!-- ng-change="updateApprovalSubType('')" -->
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.subcontractorNature == 'NDSC', 'btn-inverse' : subcontract.subcontractorNature != 'NDSC'}"
                            ng-model="subcontract.subcontractorNature"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'NDSC'"
                            >NDSC</label
                          >
                          <!-- ng-change="updateApprovalSubType('')" -->

                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.subcontractorNature == 'NSC', 'btn-inverse' : subcontract.subcontractorNature != 'NSC'}"
                            ng-model="subcontract.subcontractorNature"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'NSC'"
                            >NSC</label
                          >
                          <!-- ng-change ="updateApprovalSubType('NSC')" -->
                        </div>
                      </div>
                    </div>

                    <!-- Subcontract Type -->

                    <div class="row">
                      <div class="col-md-3">
                        <label>Subcontract Type</label>
                      </div>

                      <div class="form-group col-md-9">
                        <div class="btn-group btn-group-justified">
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.labourIncludedContract == true, 'btn-inverse' : subcontract.labourIncludedContract != true}"
                            ng-model="subcontract.labourIncludedContract"
                            ng-disabled="disableButtons"
                            ng-click="updateLabour()"
                            >Labour</label
                          >
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.plantIncludedContract == true, 'btn-inverse' : subcontract.plantIncludedContract != true}"
                            ng-model="subcontract.plantIncludedContract"
                            ng-disabled="disableButtons"
                            ng-click="updatePlant()"
                            >Plant</label
                          >
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.materialIncludedContract == true, 'btn-inverse' : subcontract.materialIncludedContract != true}"
                            ng-model="subcontract.materialIncludedContract"
                            ng-disabled="disableButtons"
                            ng-click="updateMaterial()"
                            >Material</label
                          >
                        </div>
                      </div>
                    </div>
                    <!-- Subcontract Term -->

                    <div class="row">
                      <div class="col-md-3">
                        <label>Subcontract Term</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="btn-group btn-group-justified">
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.subcontractTerm == 'Lump Sum', 'btn-inverse' : subcontract.subcontractTerm != 'Lump Sum'}"
                            ng-model="subcontract.subcontractTerm"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'Lump Sum'"
                            >Lump Sum</label
                          >
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.subcontractTerm == 'Re-measurement', 'btn-inverse' : subcontract.subcontractTerm != 'Re-measurement'}"
                            ng-model="subcontract.subcontractTerm"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'Re-measurement'"
                            >Re-measurement</label
                          >
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <label>Form of Subcontract</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="btn-group btn-group-justified">
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.formOfSubcontract == 'Major', 'btn-inverse' : subcontract.formOfSubcontract != 'Major'}"
                            ng-model="subcontract.formOfSubcontract"
                            ng-change="updateStandardTerms('Major')"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'Major'"
                            ng-click="resetInternalJob()"
                            >Major</label
                          >
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.formOfSubcontract == 'Minor', 'btn-inverse' : subcontract.formOfSubcontract != 'Minor'}"
                            ng-model="subcontract.formOfSubcontract"
                            ng-change="updateStandardTerms('Minor')"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'Minor'"
                            ng-click="resetInternalJob()"
                            >Minor</label
                          >
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.formOfSubcontract == 'Consultancy Agreement', 'btn-inverse' : subcontract.formOfSubcontract != 'Consultancy Agreement'}"
                            ng-model="subcontract.formOfSubcontract"
                            ng-change="updateStandardTerms('Consultancy Agreement')"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'Consultancy Agreement'"
                            ng-click="resetInternalJob()"
                            >Consultancy Agreement</label
                          >
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.formOfSubcontract.toLowerCase() == 'internal trading', 'btn-inverse' : subcontract.formOfSubcontract.toLowerCase() != 'internal trading'}"
                            ng-model="subcontract.formOfSubcontract"
                            ng-change="updateStandardTerms('Internal Trading')"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'Internal Trading'"
                            >Internal Trading</label
                          >
                          <label
                            class="btn"
                            ng-hide="true"
                            ng-class="{'btn-primary' : isOtherFormOfContract(), 'btn-inverse' : !isOtherFormOfContract()}"
                            ng-model="subcontract.formOfSubcontract"
                            ng-change="updateStandardTerms('Others')"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'Others'"
                            >Others</label
                          >
                        </div>
                      </div>
                    </div>

                    <div
                      class="row"
                      ng-show="subcontract.formOfSubcontract.toLowerCase() == 'internal trading'"
                    >
                      <div class="col-md-9"></div>
                      <div class="form-group col-md-3">
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Internal Job No."
                            ng-model="subcontract.internalJobNo"
                            ng-disabled="disableButtons"
                            name="internalJobTextField"
                            data-ng-required="subcontract.formOfSubcontract.toLowerCase() == 'internal trading'"
                            ng-pattern="internalJobCheck"
                          />
                          <span
                            ng-show="formValidate.internalJobTextField.$error.pattern"
                            class="text-danger"
                            >Invalid internal job number</span
                          >
                        </div>
                      </div>
                    </div>

                    <div class="row" ng-show="isOtherFormOfContract()">
                      <div class="col-md-9"></div>
                      <div class="form-group col-md-3">
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="description"
                            ng-model="subcontract.otherFormDescription"
                            data-ng-required="isOtherFormOfContract()"
                            ng-disabled="disableButtons"
                            name="otherFormOfSubcontract"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <label>Status</label>
                      </div>
                      <div class="form-group col-md-9">
                        {{subcontractStatus}}
                      </div>
                    </div>

                    <div
                      class="row"
                    >
                      <div class="col-md-3">
                        <label>Subcontract duration</label>
                      </div>
                      <div class="form-group col-md-9">
                        <date-range-picker ng-hide="disableButtons && !duration.startDate"
                          ng-model="duration"
                          ng-class="{'disabled-picker': disableButtons}"
                        ></date-range-picker>
                        <div class="input-group col-md-12">
                          <input ng-show="disableButtons && !duration.startDate"
                            type="number"
                            class="form-control"
                            ng-class="{'disabled-picker': disableButtons}"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <label>Package Stretch Target Amount</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="input-group col-md-12">
                          <span class="input-group-addon">$</span>
                          <input
                            type="number"
                            class="form-control"
                            ng-class="{'disabled-picker': disableButtons}"
                            ng-model="subcontract.amountPackageStretchTarget"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Retention -->
              <div class="col-md-12">
                <div class="box box-primary" id="subcontractStep1Retention">
                  <div class="box-body">
                    <div class="row">
                      <label class="col-md-3">Retention</label>

                      <div class="col-md-9">
                        <div class="form-group">
                          <div class="btn-group btn-group-justified">
                            <label
                              class="btn"
                              ng-class="{'btn-primary' : subcontract.retentionTerms == 'No Retention', 'btn-inverse' : subcontract.retentionTerms != 'No Retention'}"
                              ng-click="resetRetentionOptions()"
                              ng-model="subcontract.retentionTerms"
                              ng-disabled="disableButtons"
                              uib-btn-radio="'No Retention'"
                              >No Retention</label
                            >
                            <label
                              class="btn"
                              ng-class="{'btn-primary' : subcontract.retentionTerms == 'Lump Sum', 'btn-inverse' : subcontract.retentionTerms != 'Lump Sum'}"
                              ng-click="resetRetentionOptions()"
                              ng-model="subcontract.retentionTerms"
                              ng-disabled="disableButtons"
                              uib-btn-radio="'Lump Sum'"
                              >Lump Sum Retention</label
                            >
                            <label
                              class="btn"
                              ng-class="{'btn-primary' : subcontract.retentionTerms == 'Percentage', 'btn-inverse' : subcontract.retentionTerms != 'Percentage'}"
                              ng-click="resetRetentionOptions()"
                              ng-model="subcontract.retentionTerms"
                              ng-disabled="disableButtons"
                              uib-btn-radio="'Percentage'"
                              >Percentage</label
                            >
                          </div>

                          <br />

                          <div
                            class="btn-group btn-group-justified"
                            ng-show="subcontract.retentionTerms == 'Percentage'"
                          >
                            <label
                              class="btn"
                              ng-class="{'btn-primary' : percentageOption == 'Original', 'btn-inverse' : percentageOption != 'Original'}"
                              ng-model="percentageOption"
                              ng-disabled="disableButtons"
                              uib-btn-radio="'Original'"
                              >Original</label
                            >
                            <label
                              class="btn"
                              ng-class="{'btn-primary' : percentageOption == 'Revised', 'btn-inverse' : percentageOption != 'Revised'}"
                              ng-model="percentageOption"
                              ng-disabled="disableButtons"
                              uib-btn-radio="'Revised'"
                              >Revised</label
                            >
                          </div>

                          <br />
                          <div
                            class="col-md-4 col-xs-12 text-center"
                            ng-show="subcontract.retentionTerms == 'Lump Sum'"
                          >
                            <div class="col-md-12">
                              <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input
                                  step="0.01"
                                  data-parsley-type="number"
                                  class="form-control"
                                  ng-model="subcontract.retentionAmount"
                                  ng-disabled="disableButtons"
                                  data-ng-required="subcontract.retentionTerms == 'Lump Sum'"
                                />
                              </div>
                            </div>
                            <label>Lump Sum Amount</label>
                          </div>

                          <div
                            class="col-md-4 col-xs-12 text-center"
                            ng-show="subcontract.retentionTerms == 'Percentage'"
                          >
                            <div class="col-md-12">
                              <input
                                type="text"
                                class="knob"
                                value="30"
                                data-width="60"
                                data-height="60"
                                data-fgColor="#f56954"
                                data-step="0.01"
                                ng-model="subcontract.maxRetentionPercentage"
                                ng-disabled="disableButtons"
                                ng-knob
                              />
                            </div>
                            <label>Maximum (%)</label>
                          </div>

                          <div
                            class="col-md-4 col-xs-12 text-center"
                            ng-hide="subcontract.retentionTerms == 'No Retention'"
                          >
                            <div class="col-md-12">
                              <input
                                type="text"
                                class="knob"
                                value="30"
                                data-width="60"
                                data-height="60"
                                data-fgColor="#3c8dbc"
                                data-step="0.01"
                                ng-model="subcontract.interimRentionPercentage"
                                ng-disabled="disableButtons"
                                ng-knob
                              />
                            </div>
                            <label class="text-center">Interim (%)</label>
                          </div>

                          <div
                            class="col-md-4 col-xs-12 text-center"
                            ng-hide="subcontract.retentionTerms == 'No Retention'"
                          >
                            <div class="col-md-12">
                              <input
                                type="text"
                                class="knob"
                                value="30"
                                data-width="60"
                                data-height="60"
                                data-fgColor="#3c8dbc"
                                data-step="0.01"
                                ng-model="subcontract.mosRetentionPercentage"
                                ng-disabled="disableButtons"
                                ng-knob
                              />
                            </div>
                            <label>MOS (%)</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Payment Terms  -->
              <div class="col-md-12" id="subcontractStep1Terms">
                <div class="box box-primary">
                  <div class="box-body">
                    <div class="row">
                      <label class="col-md-3">Payment Terms</label>
                      <div class="col-md-9">
                        <div class="btn-group btn-group-justified">
                          <label
                            class="btn"
                            ng-click="!disableButtons && setPaymentTermsDescription('QS0')"
                            ng-class="{'btn-primary' : subcontract.paymentTerms == 'QS0', 'btn-inverse' : subcontract.paymentTerms != 'QS0'}"
                            ng-model="subcontract.paymentTerms"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'QS0'"
                            >QS0</label
                          >
                          <label
                            class="btn"
                            ng-click="!disableButtons && setPaymentTermsDescription('QS1')"
                            ng-class="{'btn-primary' : subcontract.paymentTerms == 'QS1', 'btn-inverse' : subcontract.paymentTerms != 'QS1'}"
                            ng-model="subcontract.paymentTerms"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'QS1'"
                            >QS1</label
                          >
                          <label
                            class="btn"
                            ng-click="!disableButtons && setPaymentTermsDescription('QS2')"
                            ng-class="{'btn-primary' : subcontract.paymentTerms == 'QS2', 'btn-inverse' : subcontract.paymentTerms != 'QS2'}"
                            ng-model="subcontract.paymentTerms"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'QS2'"
                            >QS2</label
                          >
                          <label
                            class="btn"
                            ng-click="!disableButtons && setPaymentTermsDescription('QS3')"
                            ng-class="{'btn-primary' : subcontract.paymentTerms == 'QS3', 'btn-inverse' : subcontract.paymentTerms != 'QS3'}"
                            ng-model="subcontract.paymentTerms"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'QS3'"
                            >QS3</label
                          >
                          <label
                            class="btn"
                            ng-click="!disableButtons && setPaymentTermsDescription('QS4')"
                            ng-class="{'btn-primary' : subcontract.paymentTerms == 'QS4', 'btn-inverse' : subcontract.paymentTerms != 'QS4'}"
                            ng-model="subcontract.paymentTerms"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'QS4'"
                            >QS4</label
                          >
                          <label
                            class="btn"
                            ng-click="!disableButtons && setPaymentTermsDescription('QS5')"
                            ng-class="{'btn-primary' : subcontract.paymentTerms == 'QS5', 'btn-inverse' : subcontract.paymentTerms != 'QS5'}"
                            ng-model="subcontract.paymentTerms"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'QS5'"
                            >QS5</label
                          >
                          <label
                            class="btn"
                            ng-click="!disableButtons && setPaymentTermsDescription('QS6')"
                            ng-class="{'btn-primary' : subcontract.paymentTerms == 'QS6', 'btn-inverse' : subcontract.paymentTerms != 'QS6'}"
                            ng-model="subcontract.paymentTerms"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'QS6'"
                            >QS6</label
                          >
                          <label
                            class="btn"
                            ng-click="!disableButtons && setPaymentTermsDescription('QS7')"
                            ng-class="{'btn-primary' : subcontract.paymentTerms == 'QS7', 'btn-inverse' : subcontract.paymentTerms != 'QS7'}"
                            ng-model="subcontract.paymentTerms"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'QS7'"
                            >QS7</label
                          >
                          <label
                            class="btn"
                            ng-click="!disableButtons && setPaymentTermsDescription('QS8')"
                            ng-class="{'btn-primary' : subcontract.paymentTerms == 'QS8', 'btn-inverse' : subcontract.paymentTerms != 'QS8'}"
                            ng-model="subcontract.paymentTerms"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'QS8'"
                            >QS8</label
                          >
                        </div>
                        <label class="p-t-5"
                          >{{paymentTermsHints.id + ' - ' +
                          paymentTermsHints.value}}</label
                        >
                        <br />
                        <textarea
                          class="col-md-12"
                          rows="1"
                          id="paymentTermsDescriptionTextarea"
                          placeholder="Payment Terms Description ..."
                          ng-model="subcontract.paymentTermsDescription"
                          ng-style="{height : 35 + 'px'}"
                          data-ng-required="subcontract.paymentTerms == 'QS0'"
                          ng-disabled="disableButtons"
                        ></textarea>
                      </div>
                    </div>

                    <div class="row" style="margin-bottom: 20px">
                      <div class="col-md-3">
                        <label>Payment Method</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="btn-group btn-group-justified">
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.paymentMethod == 'Work Done', 'btn-inverse' : subcontract.paymentMethod != 'Work Done'}"
                            ng-model="subcontract.paymentMethod"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'Work Done'"
                            >Work Done</label
                          >
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.paymentMethod == 'IPS', 'btn-inverse' : subcontract.paymentMethod != 'IPS'}"
                            ng-model="subcontract.paymentMethod"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'IPS'"
                            >IPS</label
                          >
                          <label
                            class="btn"
                            ng-class="{'btn-primary' : subcontract.paymentMethod == 'Milestone', 'btn-inverse' : subcontract.paymentMethod != 'Milestone'}"
                            ng-model="subcontract.paymentMethod"
                            ng-disabled="disableButtons"
                            uib-btn-radio="'Milestone'"
                            >Milestone</label
                          >
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <label>Period for Payment</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="input-group col-md-12">
                          <textarea
                            class="form-control"
                            rows="1"
                            ng-model="subcontract.periodForPayment"
                            ng-disabled="disableButtons"
                          ></textarea>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- CPF -->
              <div class="col-md-12" id="subcontractStep1CPF">
                <div class="box box-warning">
                  <div class="box-body">
                    <div class="row">
                      <label class="col-md-3">CPF</label>

                      <div class="row col-md-9">
                        <div class="col-md-12">
                          <input
                            type="checkbox"
                            data-ios-toggle="toggle"
                            name="cpfCalculation"
                            data-style="ios"
                            data-onstyle="primary"
                            data-offstyle="warning"
                            data-on="Subject to CPF"
                            data-off="No CPF"
                            ng-model="subcontract.cpfCalculation"
                            ng-disabled="disableCPFButton || disableButtons"
                          />
                        </div>

                        <div class="col-md-6">
                          <div
                            class="form-group"
                            ng-show="subcontract.cpfCalculation == true"
                          >
                            <label>CPF Base Period</label>
                            <div class="input-group col-md-12">
                              <input
                                data-parsley-type="number"
                                class="form-control"
                                name="cpfBasePeriod"
                                data-parsley-minlength="1"
                                data-parsley-maxlength="2"
                                ng-model="subcontract.cpfBasePeriod"
                                data-ng-required="subcontract.cpfCalculation == true"
                                ng-disabled="disableButtons"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div
                            class="form-group"
                            ng-show="subcontract.cpfCalculation == true"
                          >
                            <label>CPF Base Year</label>
                            <div class="input-group col-md-12">
                              <input
                                data-parsley-type="number"
                                class="form-control"
                                name="cpfBaseYear"
                                data-parsley-minlength="4"
                                data-parsley-maxlength="4"
                                ng-model="subcontract.cpfBaseYear"
                                data-ng-required="subcontract.cpfCalculation == true"
                                ng-disabled="disableButtons"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" id="subcontractRelaxation">
                <div class="box box-warning">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-3">
                        <label
                          >Reason for relaxation to three minimum quotations
                          requirement</label
                        >
                      </div>
                      <div class="form-group col-md-9">
                        <div class="input-group col-md-12">
                          <textarea
                            class="form-control"
                            rows="1"
                            ng-model="subcontract.reasonQuotation"
                            ng-disabled="disableButtons"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" id="subcontractManner">
                <div class="box box-warning">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-3">
                        <label
                          >Reason for change manner of execution from main
                          contract</label
                        >
                      </div>
                      <div class="form-group col-md-9">
                        <div class="input-group col-md-12">
                          <textarea
                            class="form-control"
                            rows="1"
                            ng-model="subcontract.reasonManner"
                            ng-disabled="disableButtons"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Method of execution of main certificate</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="input-group col-md-12">
                          <textarea
                            class="form-control"
                            rows="1"
                            ng-model="subcontract.executionMethodMainContract"
                            ng-disabled="disableButtons"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">
                        <label>Proposed method of execution</label>
                      </div>
                      <div class="form-group col-md-9">
                        <div class="input-group col-md-12">
                          <textarea
                            class="form-control"
                            rows="1"
                            ng-model="subcontract.executionMethodPropsed"
                            ng-disabled="disableButtons"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12" id="subcontractLoa">
                <div class="box box-warning">
                  <div class="box-body">
                    <div class="row">
                      <div class="row">
                        <div class="col-md-3">
                          <label>Reason for use of LoA</label>
                        </div>
                        <div class="form-group col-md-9">
                          <div class="input-group col-md-12">
                            <textarea
                              class="form-control"
                              rows="1"
                              ng-model="subcontract.reasonLoa"
                              ng-disabled="disableButtons"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <label>Target date for subcontract execution</label>
                        </div>
                        <div class="form-group col-md-9">
                          <div class="input-group col-md-12">
                            <div
                              class="input-group"
                              moment-picker="subcontract.dateScExecutionTarget"
                              format="{{GlobalParameter.MOMENT_DATE_FORMAT}}"
                              ng-class="{'disabled-picker': disableButtons}"
                              start-view="day"
                              ng-model-options="{ updateOn: 'blur' }"
                            >
                              <span class="input-group-addon">
                                <i class="fa fa-calendar"></i
                              ></span>
                              <input
                                class="form-control"
                                ng-model="subcontract.dateScExecutionTarget"
                              />
                              <span class="input-group-addon">
                                <i class="fa fa-close" ng-click="subcontract.dateScExecutionTarget=null"></i
                              ></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button
          class="m-t-5 btn btn-primary btn-block"
          ng-click="formValidate.$valid && save()"
          id="subcontractStep1Save"
          ng-hide="disableButtons"
          ng-disabled="disableButtons"
        >
          Save <span class="fa fa-save"></span>
        </button>
      </div>
    </div>
  </fieldset>
</form>
